docker/drone1-nodejs/src/nodered/lib/flows/drone2.0.json
[{"id":"73cf7f10.4feef","type":"function","z":"e48aa939.408118","name":"","func":"if (!flow.get('x')) {\n    flow.set('x', 0);\n    flow.set('y', 0);\n    flow.set('z', 0);\n}\n\nvar x1 = flow.get('x');\nvar y1 = flow.get('y');\nvar z1 = flow.get('z');\n\nvar x2 = x1 + (Math.random() * 10);\nvar y2 = y1 + (Math.random() * 3);\nvar z2 = z1 + (Math.random() * 10);\n\nmsg.payload = { \"x\": x2, \"y\": y2, \"z\": z2 }\n\nif (flow.get('x') >= 25000 || flow.get('y') >= 10000) {\n    flow.set('x', 0);\n    flow.set('y', 0);\n    flow.set('z', 0);\n} else {\n    flow.set('x', x2);\n    flow.set('y', y2);\n    flow.set('z', z2);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["a1cced89.72685"]]},{"id":"ceef7f.3fc3f08","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":680,"y":380,"wires":[]},{"id":"43c221bf.0762c","type":"http in","z":"e48aa939.408118","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":400,"wires":[["fa7bbe07.5514c"]]},{"id":"a2a2a5c3.b9f278","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"z\":0,\"scan\":false},{\"x\":1000,\"y\":10000,\"z\":0,\"scan\":false},{\"x\":10000,\"y\":20000,\"z\":0,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["fa7bbe07.5514c"]]},{"id":"7cb01ce.501f4e4","type":"function","z":"e48aa939.408118","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":680,"wires":[["21fb73d3.27ee2c"]]},{"id":"5ac0c7ff.f7a1b8","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"23c7eb1d.a07324","x":1460,"y":780,"wires":[]},{"id":"6c021c62.a7e764","type":"json","z":"e48aa939.408118","name":"","property":"payload","action":"","pretty":false,"x":590,"y":680,"wires":[["7cb01ce.501f4e4"]]},{"id":"a4ddff24.99a18","type":"switch","z":"e48aa939.408118","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":680,"wires":[["6c021c62.a7e764"]]},{"id":"21fb73d3.27ee2c","type":"switch","z":"e48aa939.408118","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":680,"wires":[["f54b9b04.11a998"],["abbd305d.8c3f3"]]},{"id":"abbd305d.8c3f3","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"23c7eb1d.a07324","x":1100,"y":720,"wires":[]},{"id":"6ffb8bcc.0b1f04","type":"comment","z":"e48aa939.408118","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":740,"wires":[]},{"id":"ca9c301d.eb373","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":800,"wires":[]},{"id":"839ede4e.6ecf5","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"23c7eb1d.a07324","x":100,"y":800,"wires":[["b91333e0.6adef"]]},{"id":"b91333e0.6adef","type":"function","z":"e48aa939.408118","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":800,"wires":[["ca9c301d.eb373"]]},{"id":"ce5be9e9.ddd668","type":"change","z":"e48aa939.408118","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":640,"wires":[["5ac0c7ff.f7a1b8"]]},{"id":"f54b9b04.11a998","type":"switch","z":"e48aa939.408118","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":640,"wires":[["ce5be9e9.ddd668"]]},{"id":"e59169bd.1c7c58","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"23c7eb1d.a07324","x":390,"y":1120,"wires":[["44643a35.2b2054"]]},{"id":"61efd0e3.08644","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"23c7eb1d.a07324","x":70,"y":980,"wires":[["6d9bd1a8.6414c"]]},{"id":"4ef07395.ce215c","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"23c7eb1d.a07324","x":390,"y":1000,"wires":[["44643a35.2b2054"]]},{"id":"70e122c0.8c4b7c","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"23c7eb1d.a07324","x":410,"y":1040,"wires":[["44643a35.2b2054"]]},{"id":"99f3fb50.2b76e8","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"23c7eb1d.a07324","x":400,"y":1080,"wires":[["44643a35.2b2054"]]},{"id":"828e26d7.b688e8","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["df63eb88.5d1328"]]},{"id":"df63eb88.5d1328","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/speed","qos":"","retain":"","broker":"23c7eb1d.a07324","x":310,"y":180,"wires":[]},{"id":"eca2c962.b1b328","type":"function","z":"e48aa939.408118","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1000,"wires":[["cbcd32ff.b7e69","62fa166f.3ee468"]]},{"id":"a69ebf2b.18697","type":"function","z":"e48aa939.408118","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1000,"wires":[["eca2c962.b1b328"]]},{"id":"8124b596.b0a918","type":"inject","z":"e48aa939.408118","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["9e4efd74.4b796"]]},{"id":"9e4efd74.4b796","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/battery","qos":"","retain":"","broker":"23c7eb1d.a07324","x":310,"y":240,"wires":[]},{"id":"f33ec7d8.b5c288","type":"http in","z":"e48aa939.408118","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1800,"wires":[["b8e23bab.6b8cc8"]]},{"id":"b8e23bab.6b8cc8","type":"function","z":"e48aa939.408118","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1800,"wires":[["4af24237.d8d49c"]]},{"id":"c613051b.d9a648","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":740,"y":1840,"wires":[]},{"id":"721fb41a.6b4c0c","type":"function","z":"e48aa939.408118","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1880,"wires":[["4af24237.d8d49c"]]},{"id":"cbcd32ff.b7e69","type":"websocket out","z":"e48aa939.408118","name":"","server":"9c2912c7.f63fb","client":"","x":1170,"y":1000,"wires":[]},{"id":"33731f16.10173","type":"http in","z":"e48aa939.408118","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1880,"wires":[["721fb41a.6b4c0c"]]},{"id":"942c00d9.9076c","type":"http in","z":"e48aa939.408118","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1920,"wires":[["74a089a8.8aeb38"]]},{"id":"74a089a8.8aeb38","type":"function","z":"e48aa939.408118","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1920,"wires":[["4af24237.d8d49c"]]},{"id":"4af24237.d8d49c","type":"function","z":"e48aa939.408118","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1840,"wires":[["a9068b8d.1062d8","c613051b.d9a648"]]},{"id":"5710839b.fc0aac","type":"inject","z":"e48aa939.408118","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":80,"wires":[["b614be18.9971c"]]},{"id":"ed23a3e1.95b5b","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":120,"wires":[["93cddb92.6209d8"]]},{"id":"b614be18.9971c","type":"function","z":"e48aa939.408118","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1190,"y":80,"wires":[[]]},{"id":"93cddb92.6209d8","type":"function","z":"e48aa939.408118","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1180,"y":120,"wires":[[]]},{"id":"4d4974d1.d2bdac","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":160,"wires":[["80ee02bd.54975"]]},{"id":"80ee02bd.54975","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"23c7eb1d.a07324","x":690,"y":120,"wires":[]},{"id":"ff70b665.afdd38","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":120,"wires":[["80ee02bd.54975"]]},{"id":"9a3673cb.b7bb5","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":80,"wires":[["80ee02bd.54975"]]},{"id":"a1cced89.72685","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/position","qos":"","retain":"","broker":"23c7eb1d.a07324","x":320,"y":100,"wires":[]},{"id":"e661d9bb.505278","type":"inject","z":"e48aa939.408118","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["a1cced89.72685"]]},{"id":"d38b5b28.790e88","type":"inject","z":"e48aa939.408118","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["a1cced89.72685"]]},{"id":"9800715c.3dd1a","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1240,"wires":[["f515a216.ac1d9"]]},{"id":"6bd48041.534b2","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1280,"wires":[["f515a216.ac1d9"]]},{"id":"9591c4cc.f50678","type":"http in","z":"e48aa939.408118","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1200,"wires":[["66e09e0d.62b0b"]]},{"id":"f515a216.ac1d9","type":"function","z":"e48aa939.408118","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1240,"wires":[["38b34957.53c606","a69ebf2b.18697","b4afa221.401b9"]]},{"id":"66e09e0d.62b0b","type":"template","z":"e48aa939.408118","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":1200,"wires":[["f515a216.ac1d9","d7dcd1b8.a0ebe"]]},{"id":"38b34957.53c606","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1240,"wires":[]},{"id":"44643a35.2b2054","type":"json","z":"e48aa939.408118","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":1000,"wires":[["a69ebf2b.18697"]]},{"id":"2b3e32b0.a7c12e","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1800,"wires":[]},{"id":"a9068b8d.1062d8","type":"change","z":"e48aa939.408118","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1800,"wires":[["2b3e32b0.a7c12e"]]},{"id":"1932e736.fb0b59","type":"http in","z":"e48aa939.408118","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1840,"wires":[["4af24237.d8d49c"]]},{"id":"86942a6d.b9a968","type":"inject","z":"e48aa939.408118","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":160,"wires":[["fa773fa6.8363"]]},{"id":"afddec61.46ffa","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":160,"wires":[]},{"id":"fa773fa6.8363","type":"change","z":"e48aa939.408118","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":160,"wires":[["afddec61.46ffa"]]},{"id":"62fa166f.3ee468","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":960,"wires":[]},{"id":"dc894088.2bc0f","type":"link in","z":"e48aa939.408118","name":"drone/position","links":["6d9bd1a8.6414c"],"x":155,"y":680,"wires":[["71582c3e.72cd44"]]},{"id":"6d9bd1a8.6414c","type":"link out","z":"e48aa939.408118","name":"","links":["dc894088.2bc0f","667b61af.6cd4c"],"x":215,"y":980,"wires":[]},{"id":"667b61af.6cd4c","type":"link in","z":"e48aa939.408118","name":"","links":["6d9bd1a8.6414c"],"x":455,"y":940,"wires":[["44643a35.2b2054"]]},{"id":"d7dcd1b8.a0ebe","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1180,"wires":[]},{"id":"e2b5c2a6.419ee","type":"mqtt in","z":"e48aa939.408118","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"23c7eb1d.a07324","x":410,"y":900,"wires":[["9f8c1b56.2a9968"]]},{"id":"9f8c1b56.2a9968","type":"json","z":"e48aa939.408118","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":900,"wires":[["3b598e8d.8579f2"]]},{"id":"3b598e8d.8579f2","type":"function","z":"e48aa939.408118","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":900,"wires":[["eca2c962.b1b328"]]},{"id":"b4afa221.401b9","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":640,"y":1280,"wires":[]},{"id":"795f4ded.d8edd4","type":"http in","z":"e48aa939.408118","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1480,"wires":[["1cb56337.bd7afd"]]},{"id":"751ea972.672208","type":"http in","z":"e48aa939.408118","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1580,"wires":[["8a56590c.a520f8"]]},{"id":"8a56590c.a520f8","type":"function","z":"e48aa939.408118","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1580,"wires":[["a30eac83.c5662","888426b6.1d1a48"]]},{"id":"d8e61e6.804dce","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"23c7eb1d.a07324","x":840,"y":1420,"wires":[]},{"id":"1cb56337.bd7afd","type":"switch","z":"e48aa939.408118","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1480,"wires":[["cca4a5fc.529728"],["2e1e427f.1c721e"]]},{"id":"2e1e427f.1c721e","type":"http response","z":"e48aa939.408118","name":"","statusCode":"500","headers":{},"x":520,"y":1500,"wires":[]},{"id":"cca4a5fc.529728","type":"function","z":"e48aa939.408118","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1460,"wires":[["d8e61e6.804dce","a055eda5.b442b","5dffe370.38d51c"]]},{"id":"a30eac83.c5662","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":540,"y":1560,"wires":[]},{"id":"71582c3e.72cd44","type":"switch","z":"e48aa939.408118","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":680,"wires":[["a4ddff24.99a18"]]},{"id":"888426b6.1d1a48","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"23c7eb1d.a07324","x":550,"y":1600,"wires":[]},{"id":"fa7bbe07.5514c","type":"function","z":"e48aa939.408118","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["ceef7f.3fc3f08","657fcd4e.d2c394","43326ed8.17cc3"]]},{"id":"a055eda5.b442b","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/start","qos":"1","retain":"","broker":"23c7eb1d.a07324","x":830,"y":1380,"wires":[]},{"id":"62366070.ce077","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":280,"wires":[]},{"id":"657fcd4e.d2c394","type":"change","z":"e48aa939.408118","name":"waypoints","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[["62366070.ce077"]]},{"id":"4de0c896.04eb58","type":"debug","z":"e48aa939.408118","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":320,"wires":[]},{"id":"43326ed8.17cc3","type":"change","z":"e48aa939.408118","name":"destination","rules":[{"t":"set","p":"payload","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":320,"wires":[["4de0c896.04eb58"]]},{"id":"afe2fb42.b0d1f8","type":"http in","z":"e48aa939.408118","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1400,"wires":[["f156ac3b.1b492"]]},{"id":"f156ac3b.1b492","type":"function","z":"e48aa939.408118","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1400,"wires":[["b8123fcd.947d6"]]},{"id":"b8123fcd.947d6","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":510,"y":1400,"wires":[]},{"id":"5480e63c.342198","type":"http request","z":"e48aa939.408118","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":440,"wires":[["f7ff9054.1786","e50cfa49.cf1cc8"]]},{"id":"45e48f53.a65d6","type":"http in","z":"e48aa939.408118","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":440,"wires":[["5480e63c.342198"]]},{"id":"981cb313.5989","type":"function","z":"e48aa939.408118","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":400,"wires":[["761d91e8.920ba"]]},{"id":"f7ff9054.1786","type":"switch","z":"e48aa939.408118","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":440,"wires":[["981cb313.5989"],["75e65434.949b1c"]]},{"id":"75e65434.949b1c","type":"function","z":"e48aa939.408118","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["9c296d40.09289"]]},{"id":"761d91e8.920ba","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":1160,"y":400,"wires":[]},{"id":"9c296d40.09289","type":"http response","z":"e48aa939.408118","name":"","statusCode":"500","headers":{},"x":1160,"y":460,"wires":[]},{"id":"5dffe370.38d51c","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":820,"y":1480,"wires":[]},{"id":"e50cfa49.cf1cc8","type":"debug","z":"e48aa939.408118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":500,"wires":[]},{"id":"471abe00.8cd674","type":"http in","z":"e48aa939.408118","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1660,"wires":[["80b5c645.c6ec08"]]},{"id":"80b5c645.c6ec08","type":"function","z":"e48aa939.408118","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1660,"wires":[["3206aa64.7d0366","da185ac0.d97ba8"]]},{"id":"3206aa64.7d0366","type":"http response","z":"e48aa939.408118","name":"","statusCode":"200","headers":{},"x":500,"y":1660,"wires":[]},{"id":"da185ac0.d97ba8","type":"mqtt out","z":"e48aa939.408118","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"23c7eb1d.a07324","x":490,"y":1700,"wires":[]},{"id":"128354c3.589e6b","type":"inject","z":"e48aa939.408118","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.05","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["73cf7f10.4feef"]]},{"id":"23c7eb1d.a07324","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c2912c7.f63fb","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]