docker/drone1-nodejs/src/nodered/lib/flows/Flightpath.json
[{"id":"6527894e.6f6348","type":"http request","z":"4c98b734.8ca4a8","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":310,"y":180,"wires":[["12d8e27.6a8161e"]]},{"id":"c170e86f.e09b4","type":"http response","z":"4c98b734.8ca4a8","name":"","statusCode":"200","headers":{},"x":640,"y":160,"wires":[]},{"id":"12d8e27.6a8161e","type":"switch","z":"4c98b734.8ca4a8","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":180,"wires":[["c170e86f.e09b4","76810713.32d988"],["354c23e4.124394"]]},{"id":"4a0da4c0.46e47c","type":"http in","z":"4c98b734.8ca4a8","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["6527894e.6f6348"]]},{"id":"354c23e4.124394","type":"http response","z":"4c98b734.8ca4a8","name":"","statusCode":"500","headers":{},"x":640,"y":200,"wires":[]},{"id":"c9ff5eb0.cf4b18","type":"inject","z":"4c98b734.8ca4a8","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":120,"wires":[["76810713.32d988"]]},{"id":"82a9b094.58e708","type":"mqtt out","z":"4c98b734.8ca4a8","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"191c5eee.e98871","x":840,"y":120,"wires":[]},{"id":"76810713.32d988","type":"function","z":"4c98b734.8ca4a8","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["82a9b094.58e708"]]},{"id":"bb44f839.58818","type":"mqtt in","z":"4c98b734.8ca4a8","name":"","topic":"drone/position","qos":"1","datatype":"auto","broker":"191c5eee.e98871","x":100,"y":300,"wires":[["f57519a4.f2d538"]]},{"id":"5664b94b.4d40e","type":"function","z":"4c98b734.8ca4a8","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["8327c765.2dac","117d7b6d.6aafd5","cbca05e7.be814","ecc4b356.b5f8a8","d3500ca8.0a386","3229ebc7.9e1bb4","b6ad467f.d8d648","66d5f488.1540cc"]]},{"id":"f5fb0000.0df26","type":"mqtt out","z":"4c98b734.8ca4a8","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"191c5eee.e98871","x":1300,"y":260,"wires":[]},{"id":"33c815bb.f1fbe2","type":"json","z":"4c98b734.8ca4a8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":300,"wires":[["5664b94b.4d40e"]]},{"id":"d7be2a5f.bfb7e8","type":"comment","z":"4c98b734.8ca4a8","name":"Moveteller!!","info":"fout in de moveteller kan voor problemen zorgen\n(naar verkeerde coo vliegen -> opvangen met collision)","x":330,"y":60,"wires":[]},{"id":"f57519a4.f2d538","type":"switch","z":"4c98b734.8ca4a8","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["33c815bb.f1fbe2"]]},{"id":"8327c765.2dac","type":"switch","z":"4c98b734.8ca4a8","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":300,"wires":[["cfc50ae.1c693f8"],["7a4a81cd.449ec"]]},{"id":"7a4a81cd.449ec","type":"mqtt out","z":"4c98b734.8ca4a8","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"191c5eee.e98871","x":960,"y":340,"wires":[]},{"id":"bac8baa3.27bce8","type":"comment","z":"4c98b734.8ca4a8","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":360,"wires":[]},{"id":"5866ade3.e1f12c","type":"debug","z":"4c98b734.8ca4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":420,"wires":[]},{"id":"117d7b6d.6aafd5","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["95a00992.350d7","46242e73.896178"]]},{"id":"cbca05e7.be814","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":500,"wires":[["ec69b9e.6b5dec8"]]},{"id":"ecc4b356.b5f8a8","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["80ddac5d.a10c"]]},{"id":"d3500ca8.0a386","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":580,"wires":[["3b381fb2.d93e9"]]},{"id":"3229ebc7.9e1bb4","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":620,"wires":[["1a06604f.ff4e9"]]},{"id":"95a00992.350d7","type":"debug","z":"4c98b734.8ca4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":420,"wires":[]},{"id":"46242e73.896178","type":"debug","z":"4c98b734.8ca4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1080,"y":460,"wires":[]},{"id":"ec69b9e.6b5dec8","type":"debug","z":"4c98b734.8ca4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1080,"y":500,"wires":[]},{"id":"80ddac5d.a10c","type":"debug","z":"4c98b734.8ca4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1060,"y":540,"wires":[]},{"id":"3b381fb2.d93e9","type":"debug","z":"4c98b734.8ca4a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1080,"y":580,"wires":[]},{"id":"1a06604f.ff4e9","type":"debug","z":"4c98b734.8ca4a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1060,"y":620,"wires":[]},{"id":"b6ad467f.d8d648","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["5f94bc6b.e23844"]]},{"id":"5f94bc6b.e23844","type":"debug","z":"4c98b734.8ca4a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1060,"y":660,"wires":[]},{"id":"66d5f488.1540cc","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":700,"wires":[["26af6fb6.c70d4"]]},{"id":"26af6fb6.c70d4","type":"debug","z":"4c98b734.8ca4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1060,"y":700,"wires":[]},{"id":"801a1913.4237b8","type":"mqtt in","z":"4c98b734.8ca4a8","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"191c5eee.e98871","x":100,"y":420,"wires":[["4fea665.7d12698"]]},{"id":"4fea665.7d12698","type":"function","z":"4c98b734.8ca4a8","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[["5866ade3.e1f12c"]]},{"id":"1d2ef060.eecf3","type":"change","z":"4c98b734.8ca4a8","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":260,"wires":[["f5fb0000.0df26"]]},{"id":"cfc50ae.1c693f8","type":"switch","z":"4c98b734.8ca4a8","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":260,"wires":[["1d2ef060.eecf3"]]},{"id":"191c5eee.e98871","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]