docker/drone1-nodejs/src/nodered/lib/flows/mergedFlows.json
[{"id":"e13344dc.a5c6a8","type":"http request","z":"989473b6.d7f71","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":330,"y":320,"wires":[["2ebf14e5.9f35bc"]]},{"id":"bdea8410.ae0108","type":"http response","z":"989473b6.d7f71","name":"","statusCode":"200","headers":{},"x":660,"y":300,"wires":[]},{"id":"2ebf14e5.9f35bc","type":"switch","z":"989473b6.d7f71","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":320,"wires":[["bdea8410.ae0108","b6a44cbf.cb136"],["231da42b.7f784c"]]},{"id":"18f3e118.337c9f","type":"http in","z":"989473b6.d7f71","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["e13344dc.a5c6a8"]]},{"id":"231da42b.7f784c","type":"http response","z":"989473b6.d7f71","name":"","statusCode":"500","headers":{},"x":660,"y":340,"wires":[]},{"id":"51bee7e.e651818","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":260,"wires":[["b6a44cbf.cb136"]]},{"id":"ec7f0d95.062a7","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"54ec6fd8.83c09","x":860,"y":260,"wires":[]},{"id":"b6a44cbf.cb136","type":"function","z":"989473b6.d7f71","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["ec7f0d95.062a7"]]},{"id":"2d38afbb.d39e3","type":"function","z":"989473b6.d7f71","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["f1324af.bb630b8","c31afec0.9dd64","504b76f6.373358","fe86cadb.af8fd8","4bad9bcb.7533d4","f50f6680.53cab8","ed01142d.6f1618","b258cb2d.329da8"]]},{"id":"72f30e34.3bd54","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"54ec6fd8.83c09","x":1320,"y":400,"wires":[]},{"id":"12ffbc9b.556613","type":"json","z":"989473b6.d7f71","name":"","property":"payload","action":"","pretty":false,"x":470,"y":440,"wires":[["2d38afbb.d39e3"]]},{"id":"a2b13a95.7144f8","type":"switch","z":"989473b6.d7f71","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["12ffbc9b.556613"]]},{"id":"f1324af.bb630b8","type":"switch","z":"989473b6.d7f71","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":440,"wires":[["c3f2411e.cd8f1"],["b61d9637.c9a018"]]},{"id":"b61d9637.c9a018","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"54ec6fd8.83c09","x":980,"y":480,"wires":[]},{"id":"4ab8f5e8.217eac","type":"comment","z":"989473b6.d7f71","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":240,"y":500,"wires":[]},{"id":"e992222a.84ed5","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":560,"wires":[]},{"id":"c31afec0.9dd64","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":600,"wires":[["c34fdafc.17a1d8","abbd533c.502b5"]]},{"id":"504b76f6.373358","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":640,"wires":[["a6413f9d.c0c2d"]]},{"id":"fe86cadb.af8fd8","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":680,"wires":[["c48aa793.291118"]]},{"id":"4bad9bcb.7533d4","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":720,"wires":[["2f59a49b.f4c1dc"]]},{"id":"f50f6680.53cab8","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":760,"wires":[["b2e6b8b2.b8b5f8"]]},{"id":"c34fdafc.17a1d8","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":560,"wires":[]},{"id":"abbd533c.502b5","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1100,"y":600,"wires":[]},{"id":"a6413f9d.c0c2d","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1100,"y":640,"wires":[]},{"id":"c48aa793.291118","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1080,"y":680,"wires":[]},{"id":"2f59a49b.f4c1dc","type":"debug","z":"989473b6.d7f71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1100,"y":720,"wires":[]},{"id":"b2e6b8b2.b8b5f8","type":"debug","z":"989473b6.d7f71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1080,"y":760,"wires":[]},{"id":"ed01142d.6f1618","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":800,"wires":[["c92bb61e.195b58"]]},{"id":"c92bb61e.195b58","type":"debug","z":"989473b6.d7f71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1080,"y":800,"wires":[]},{"id":"b258cb2d.329da8","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":840,"wires":[["44ad8880.78e428"]]},{"id":"44ad8880.78e428","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1080,"y":840,"wires":[]},{"id":"80d874ec.d9c128","type":"mqtt in","z":"989473b6.d7f71","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"54ec6fd8.83c09","x":120,"y":560,"wires":[["ea69b65c.4de7e8"]]},{"id":"ea69b65c.4de7e8","type":"function","z":"989473b6.d7f71","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["e992222a.84ed5"]]},{"id":"a6d31199.1ef98","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":400,"wires":[["72f30e34.3bd54"]]},{"id":"c3f2411e.cd8f1","type":"switch","z":"989473b6.d7f71","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":400,"wires":[["a6d31199.1ef98"]]},{"id":"fcc76e0f.6b6d3","type":"mqtt in","z":"989473b6.d7f71","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"5bc9e263.45f9fc","x":390,"y":1100,"wires":[["bbc48db0.7afcf"]]},{"id":"99e6858b.9c75c8","type":"mqtt in","z":"989473b6.d7f71","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"5bc9e263.45f9fc","x":110,"y":700,"wires":[["f16388d9.baa468"]]},{"id":"c16eb148.dd624","type":"mqtt in","z":"989473b6.d7f71","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"5bc9e263.45f9fc","x":370,"y":980,"wires":[["bbc48db0.7afcf"]]},{"id":"c2512535.f029d8","type":"mqtt in","z":"989473b6.d7f71","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"5bc9e263.45f9fc","x":390,"y":1020,"wires":[["bbc48db0.7afcf"]]},{"id":"b109011.52faf","type":"mqtt in","z":"989473b6.d7f71","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"5bc9e263.45f9fc","x":380,"y":1060,"wires":[["bbc48db0.7afcf"]]},{"id":"d3861a35.bc1148","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["26b8fdfd.357e42"]]},{"id":"26b8fdfd.357e42","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/speed","qos":"","retain":"","broker":"5bc9e263.45f9fc","x":310,"y":140,"wires":[]},{"id":"692cc538.bb83fc","type":"function","z":"989473b6.d7f71","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":980,"wires":[["8019e4f.f783418","381b1e19.bbed12"]]},{"id":"f10b817d.4e315","type":"function","z":"989473b6.d7f71","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":980,"wires":[["692cc538.bb83fc"]]},{"id":"e63b24fc.521df8","type":"inject","z":"989473b6.d7f71","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["2cb8f077.e403b"]]},{"id":"2cb8f077.e403b","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/battery","qos":"","retain":"","broker":"5bc9e263.45f9fc","x":310,"y":200,"wires":[]},{"id":"764f2d7a.22ea44","type":"http in","z":"989473b6.d7f71","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1320,"wires":[["d2948d10.f4666"]]},{"id":"d2948d10.f4666","type":"function","z":"989473b6.d7f71","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1320,"wires":[["1321fda4.1fc202"]]},{"id":"8d988e52.f9603","type":"http response","z":"989473b6.d7f71","name":"","statusCode":"200","headers":{},"x":760,"y":1360,"wires":[]},{"id":"a2e6c5fc.32eb68","type":"function","z":"989473b6.d7f71","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":1400,"wires":[["1321fda4.1fc202"]]},{"id":"8019e4f.f783418","type":"websocket out","z":"989473b6.d7f71","name":"","server":"a0baebab.cf2698","client":"","x":1150,"y":980,"wires":[]},{"id":"f9b674b.e937a88","type":"http in","z":"989473b6.d7f71","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1400,"wires":[["a2e6c5fc.32eb68"]]},{"id":"bad10f7a.dd1a5","type":"http in","z":"989473b6.d7f71","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":110,"y":1440,"wires":[["7869e19a.cf3c6"]]},{"id":"7869e19a.cf3c6","type":"function","z":"989473b6.d7f71","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1440,"wires":[["1321fda4.1fc202"]]},{"id":"1321fda4.1fc202","type":"function","z":"989473b6.d7f71","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1360,"wires":[["113cd717.35c589","8d988e52.f9603"]]},{"id":"d88c9167.b0e56","type":"inject","z":"989473b6.d7f71","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":40,"wires":[["c2b51b53.9099a8"]]},{"id":"b39018f0.c69388","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":80,"wires":[["3e97aea0.269382"]]},{"id":"c2b51b53.9099a8","type":"function","z":"989473b6.d7f71","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1190,"y":40,"wires":[[]]},{"id":"3e97aea0.269382","type":"function","z":"989473b6.d7f71","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1180,"y":80,"wires":[[]]},{"id":"de503845.0796e8","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":120,"wires":[["dbbd6477.194888"]]},{"id":"dbbd6477.194888","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"5bc9e263.45f9fc","x":690,"y":80,"wires":[]},{"id":"c632bf87.f9902","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":80,"wires":[["dbbd6477.194888"]]},{"id":"4581e0b0.d6e98","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":40,"wires":[["dbbd6477.194888"]]},{"id":"7fee89f9.3b3f78","type":"mqtt out","z":"989473b6.d7f71","name":"","topic":"drone/position","qos":"","retain":"","broker":"5bc9e263.45f9fc","x":320,"y":60,"wires":[]},{"id":"d12edfd6.b2288","type":"inject","z":"989473b6.d7f71","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["7fee89f9.3b3f78"]]},{"id":"f836f8ad.f5bca8","type":"inject","z":"989473b6.d7f71","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["7fee89f9.3b3f78"]]},{"id":"58d9cce4.2b2484","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1200,"wires":[["a6638dc4.91ff2"]]},{"id":"fadc90b4.6d0ca","type":"inject","z":"989473b6.d7f71","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1240,"wires":[["a6638dc4.91ff2"]]},{"id":"bea30e39.8d639","type":"http in","z":"989473b6.d7f71","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1160,"wires":[["8e43612d.7999d"]]},{"id":"a6638dc4.91ff2","type":"function","z":"989473b6.d7f71","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1200,"wires":[["ed9cbd8b.8aede","f10b817d.4e315"]]},{"id":"8e43612d.7999d","type":"template","z":"989473b6.d7f71","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":1160,"wires":[["a6638dc4.91ff2"]]},{"id":"ed9cbd8b.8aede","type":"debug","z":"989473b6.d7f71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1200,"wires":[]},{"id":"bbc48db0.7afcf","type":"json","z":"989473b6.d7f71","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":980,"wires":[["f10b817d.4e315"]]},{"id":"747a7a44.42fe54","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1280,"wires":[]},{"id":"113cd717.35c589","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1280,"wires":[["747a7a44.42fe54"]]},{"id":"1c9344f4.8f22bb","type":"http in","z":"989473b6.d7f71","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1360,"wires":[["1321fda4.1fc202"]]},{"id":"6379aade.490624","type":"inject","z":"989473b6.d7f71","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":120,"wires":[["55b30af.2bac4f4"]]},{"id":"313a309e.70888","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":120,"wires":[]},{"id":"55b30af.2bac4f4","type":"change","z":"989473b6.d7f71","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":120,"wires":[["313a309e.70888"]]},{"id":"381b1e19.bbed12","type":"debug","z":"989473b6.d7f71","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":940,"wires":[]},{"id":"6fb8e0e9.6096e","type":"link in","z":"989473b6.d7f71","name":"drone/position","links":["f16388d9.baa468"],"x":175,"y":440,"wires":[["a2b13a95.7144f8"]]},{"id":"f16388d9.baa468","type":"link out","z":"989473b6.d7f71","name":"","links":["6fb8e0e9.6096e","afdd5ed4.54431"],"x":255,"y":700,"wires":[]},{"id":"afdd5ed4.54431","type":"link in","z":"989473b6.d7f71","name":"","links":["f16388d9.baa468"],"x":435,"y":920,"wires":[["bbc48db0.7afcf"]]},{"id":"54ec6fd8.83c09","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5bc9e263.45f9fc","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0baebab.cf2698","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]