project/backend/management-server/nodered/lib/flows/datasubscriptions instellen.json
[{"id":"f8f34a93.bf38f8","type":"http in","z":"4aaba191.2a20b","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["22a2ef22.d2177"]]},{"id":"22a2ef22.d2177","type":"function","z":"4aaba191.2a20b","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["77641d66.173224"]]},{"id":"ab7bfae2.a8e8e8","type":"http response","z":"4aaba191.2a20b","name":"","statusCode":"200","headers":{},"x":780,"y":100,"wires":[]},{"id":"bfc7c06c.7d5b1","type":"function","z":"4aaba191.2a20b","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["77641d66.173224"]]},{"id":"1179540c.79508c","type":"http in","z":"4aaba191.2a20b","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["bfc7c06c.7d5b1"]]},{"id":"2fb69302.e0e9dc","type":"http in","z":"4aaba191.2a20b","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["ea15a7a9.cae9e8"]]},{"id":"ea15a7a9.cae9e8","type":"function","z":"4aaba191.2a20b","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["77641d66.173224"]]},{"id":"77641d66.173224","type":"function","z":"4aaba191.2a20b","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = global.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["ab7bfae2.a8e8e8","5ed88003.f07ef"]]},{"id":"281b196b.adbee6","type":"debug","z":"4aaba191.2a20b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":60,"wires":[]},{"id":"5ed88003.f07ef","type":"change","z":"4aaba191.2a20b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":60,"wires":[["281b196b.adbee6"]]},{"id":"db98335a.db8a5","type":"http in","z":"4aaba191.2a20b","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["77641d66.173224"]]}]