project/backend/management-server/nodered/lib/flows/datasubscriptions instellen.json
[{"id":"7c9721e9.635b3","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["500d1c44.582164"]]},{"id":"500d1c44.582164","type":"function","z":"e1376dd6.d0ef7","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["d3b7fb4.a088008"]]},{"id":"697e1a8c.5ee4d4","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":820,"y":100,"wires":[]},{"id":"ceefe5ef.6b0f18","type":"function","z":"e1376dd6.d0ef7","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["d3b7fb4.a088008"]]},{"id":"3bb87939.17f2c6","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":160,"y":140,"wires":[["ceefe5ef.6b0f18"]]},{"id":"a55fec.e4cdd018","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["d448abde.d6d858"]]},{"id":"d448abde.d6d858","type":"function","z":"e1376dd6.d0ef7","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["d3b7fb4.a088008"]]},{"id":"d3b7fb4.a088008","type":"function","z":"e1376dd6.d0ef7","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = global.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["697e1a8c.5ee4d4","4925c4b9.709e9c"]]},{"id":"18425383.4b944c","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":60,"wires":[]},{"id":"4925c4b9.709e9c","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":60,"wires":[["18425383.4b944c"]]},{"id":"dde68ba.65cfd78","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["d3b7fb4.a088008"]]}]