project/backend/management-server/nodered/lib/flows/drone-fixed2.json
[{"id":"94b7b818.df39f8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":700,"y":60,"wires":[]},{"id":"4f415cb7.2e9b44","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":230,"y":60,"wires":[["2f1399a7.83c686"]]},{"id":"270825fa.d6514a","type":"function","z":"aa3c2b8c.ac8d38","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller].orientation;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["cda8f37a.c3be6"]]},{"id":"afea938f.97d34","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"18460c45.6cdc04","x":1480,"y":260,"wires":[]},{"id":"842d902.381377","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":280,"wires":[["270825fa.d6514a"]]},{"id":"78a2a1be.9ccf2","type":"switch","z":"aa3c2b8c.ac8d38","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":280,"wires":[["842d902.381377"]]},{"id":"cda8f37a.c3be6","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":280,"wires":[["94f5ff81.bf83e"],["407541eb.be1df","9e5aae3c.67c79"]]},{"id":"407541eb.be1df","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"18460c45.6cdc04","x":1260,"y":320,"wires":[]},{"id":"762a36b5.b88f78","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":480,"wires":[]},{"id":"b78c135b.249e7","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"18460c45.6cdc04","x":120,"y":420,"wires":[["8ce36661.027f78","8685d7c9.665c18"]]},{"id":"c23823c7.e59da","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[["afea938f.97d34","e7529d01.ceee"]]},{"id":"94f5ff81.bf83e","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":240,"wires":[["c23823c7.e59da"]]},{"id":"80a55fad.50abf","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"18460c45.6cdc04","x":410,"y":780,"wires":[["f4de87be.2f8ab8"]]},{"id":"6cb11cf2.56bc84","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"18460c45.6cdc04","x":90,"y":640,"wires":[["e2d93740.de1a68","2a8fcca7.e4f6a4"]]},{"id":"3f6edba7.b66ef4","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"18460c45.6cdc04","x":410,"y":660,"wires":[["f4de87be.2f8ab8"]]},{"id":"4e03803c.6ad99","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"18460c45.6cdc04","x":430,"y":700,"wires":[["f4de87be.2f8ab8"]]},{"id":"d25e9d46.959e5","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"18460c45.6cdc04","x":420,"y":740,"wires":[["f4de87be.2f8ab8"]]},{"id":"7eb189c6.5b03b8","type":"function","z":"aa3c2b8c.ac8d38","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":660,"wires":[["fbcb06ed.5ded78","560ad74.6b87a28"]]},{"id":"5d112de4.9fcce4","type":"function","z":"aa3c2b8c.ac8d38","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":660,"wires":[["7eb189c6.5b03b8"]]},{"id":"ff431db9.c80d9","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1460,"wires":[["ec87969d.bf6808"]]},{"id":"ec87969d.bf6808","type":"function","z":"aa3c2b8c.ac8d38","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1460,"wires":[["ba4de4eb.9d3418"]]},{"id":"61dad0e4.dac96","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":760,"y":1500,"wires":[]},{"id":"ecbd4cc3.d3dac","type":"function","z":"aa3c2b8c.ac8d38","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":1540,"wires":[["ba4de4eb.9d3418"]]},{"id":"fbcb06ed.5ded78","type":"websocket out","z":"aa3c2b8c.ac8d38","name":"","server":"80c800e0.8d6a5","client":"","x":1190,"y":660,"wires":[]},{"id":"e2039beb.09b0e8","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1540,"wires":[["ecbd4cc3.d3dac"]]},{"id":"2478527c.3d0eee","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":110,"y":1580,"wires":[["eb9e105b.dfd7e"]]},{"id":"eb9e105b.dfd7e","type":"function","z":"aa3c2b8c.ac8d38","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1580,"wires":[["ba4de4eb.9d3418"]]},{"id":"ba4de4eb.9d3418","type":"function","z":"aa3c2b8c.ac8d38","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1500,"wires":[["61dad0e4.dac96","a80db128.46aa2"]]},{"id":"26e1c6ef.3d536a","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":120,"y":860,"wires":[["78c70837.1a8668"]]},{"id":"456f59b4.40fc78","type":"function","z":"aa3c2b8c.ac8d38","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":900,"wires":[["5d112de4.9fcce4","530baedd.f4b77","a9e5938.9788f7"]]},{"id":"78c70837.1a8668","type":"template","z":"aa3c2b8c.ac8d38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":300,"y":860,"wires":[["456f59b4.40fc78","87dd7c46.33d8a"]]},{"id":"530baedd.f4b77","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":900,"wires":[]},{"id":"f4de87be.2f8ab8","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":660,"wires":[["5d112de4.9fcce4"]]},{"id":"81fe124c.d4d3e","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1460,"wires":[]},{"id":"a80db128.46aa2","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1460,"wires":[["81fe124c.d4d3e"]]},{"id":"14d53611.1ee80a","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1500,"wires":[["ba4de4eb.9d3418"]]},{"id":"560ad74.6b87a28","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":620,"wires":[]},{"id":"47d9c2ad.90c85c","type":"link in","z":"aa3c2b8c.ac8d38","name":"drone/position","links":["e2d93740.de1a68"],"x":175,"y":280,"wires":[["3582a747.0dddd8"]]},{"id":"e2d93740.de1a68","type":"link out","z":"aa3c2b8c.ac8d38","name":"","links":["47d9c2ad.90c85c","564378f7.a20f48"],"x":235,"y":640,"wires":[]},{"id":"87dd7c46.33d8a","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":840,"wires":[]},{"id":"c5a15d41.84a86","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"18460c45.6cdc04","x":430,"y":560,"wires":[["1bcf96b4.4b5dd9"]]},{"id":"1bcf96b4.4b5dd9","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":560,"wires":[["8a8094aa.51e038"]]},{"id":"8a8094aa.51e038","type":"function","z":"aa3c2b8c.ac8d38","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":560,"wires":[["7eb189c6.5b03b8"]]},{"id":"a9e5938.9788f7","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":660,"y":940,"wires":[]},{"id":"486e4191.9929c","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1140,"wires":[["278ce923.66e056"]]},{"id":"c0741d05.47d57","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1240,"wires":[["76bf99fd.d44308"]]},{"id":"76bf99fd.d44308","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1240,"wires":[["e4d22f2.4b3fcd","c9c82de4.45a34"]]},{"id":"278ce923.66e056","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1140,"wires":[["98ee7ea3.41b58"],["ee0fa17e.8be2c"]]},{"id":"ee0fa17e.8be2c","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":540,"y":1160,"wires":[]},{"id":"98ee7ea3.41b58","type":"function","z":"aa3c2b8c.ac8d38","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1120,"wires":[["2882e59d.89c28a","5ad94cc7.ed3e94","69876dbb.3b2314"]]},{"id":"e4d22f2.4b3fcd","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":560,"y":1220,"wires":[]},{"id":"3582a747.0dddd8","type":"switch","z":"aa3c2b8c.ac8d38","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":280,"wires":[["78a2a1be.9ccf2"]]},{"id":"c9c82de4.45a34","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"18460c45.6cdc04","x":570,"y":1260,"wires":[]},{"id":"2f1399a7.83c686","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["94b7b818.df39f8","328a76a3.8af83a"]]},{"id":"2882e59d.89c28a","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","retain":"","broker":"18460c45.6cdc04","x":850,"y":1040,"wires":[]},{"id":"6401d2c7.bd589c","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1060,"wires":[["41caa41b.519f8c"]]},{"id":"41caa41b.519f8c","type":"function","z":"aa3c2b8c.ac8d38","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1060,"wires":[["6d11a292.487bcc"]]},{"id":"6d11a292.487bcc","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":530,"y":1060,"wires":[]},{"id":"164ce876.19a428","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":490,"y":100,"wires":[["c8f002ad.d44a6"]]},{"id":"b50bc79c.f855d8","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":240,"y":100,"wires":[["164ce876.19a428"]]},{"id":"2b351711.b99dc8","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":60,"wires":[["368e0b3d.d19f04"]]},{"id":"c8f002ad.d44a6","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":100,"wires":[["2b351711.b99dc8"],["60fa4b07.1d6484"]]},{"id":"60fa4b07.1d6484","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["ff350b3.fe841f8"]]},{"id":"368e0b3d.d19f04","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":1180,"y":60,"wires":[]},{"id":"ff350b3.fe841f8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":1180,"y":120,"wires":[]},{"id":"5ad94cc7.ed3e94","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":840,"y":1120,"wires":[]},{"id":"22c22a85.2ac796","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1320,"wires":[["633f9af8.1d1e14"]]},{"id":"633f9af8.1d1e14","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1320,"wires":[["82ec83.fe75338","670b620a.053fdc"]]},{"id":"82ec83.fe75338","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":520,"y":1320,"wires":[]},{"id":"670b620a.053fdc","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"18460c45.6cdc04","x":510,"y":1360,"wires":[]},{"id":"e7529d01.ceee","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":220,"wires":[]},{"id":"9e5aae3c.67c79","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":400,"wires":[]},{"id":"2a8fcca7.e4f6a4","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":720,"wires":[]},{"id":"69876dbb.3b2314","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1000,"wires":[]},{"id":"946f5baf.3b46f8","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"18460c45.6cdc04","x":1070,"y":1060,"wires":[["b9501c89.b7587"]]},{"id":"b9501c89.b7587","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"18460c45.6cdc04","x":1260,"y":1060,"wires":[]},{"id":"564378f7.a20f48","type":"link in","z":"aa3c2b8c.ac8d38","name":"","links":["e2d93740.de1a68"],"x":475,"y":600,"wires":[["f4de87be.2f8ab8"]]},{"id":"3e0b181f.5b5d68","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":20,"wires":[]},{"id":"328a76a3.8af83a","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":20,"wires":[["3e0b181f.5b5d68"]]},{"id":"9b7bab3b.7a5d58","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{posturl}}/products","tls":"","proxy":"","authType":"basic","x":630,"y":420,"wires":[["762a36b5.b88f78","306bb282.11d63e"]]},{"id":"8ce36661.027f78","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"posturl","pt":"msg","to":"mapid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[["5f8236b0.f79a38"]]},{"id":"6cc83dc2.becb14","type":"comment","z":"aa3c2b8c.ac8d38","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":240,"y":360,"wires":[]},{"id":"306bb282.11d63e","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":420,"wires":[["2c756593.e72e9a"]]},{"id":"8685d7c9.665c18","type":"function","z":"aa3c2b8c.ac8d38","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[[]]},{"id":"5f8236b0.f79a38","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":420,"wires":[["9b7bab3b.7a5d58"]]},{"id":"2c756593.e72e9a","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":420,"wires":[]},{"id":"18460c45.6cdc04","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80c800e0.8d6a5","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]