project/backend/management-server/nodered/lib/flows/drone.json
[{"id":"e0b2f80a.edc8a8","type":"http request","z":"a7fc2351.bb638","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":310,"y":320,"wires":[["8569a149.c29f"]]},{"id":"c17f4dc7.a52e9","type":"http response","z":"a7fc2351.bb638","name":"","statusCode":"200","headers":{},"x":640,"y":300,"wires":[]},{"id":"8569a149.c29f","type":"switch","z":"a7fc2351.bb638","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":320,"wires":[["c17f4dc7.a52e9","dda729ba.b68088"],["1e2d8a98.1852a5"]]},{"id":"d0df4129.c23fd","type":"http in","z":"a7fc2351.bb638","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["e0b2f80a.edc8a8"]]},{"id":"1e2d8a98.1852a5","type":"http response","z":"a7fc2351.bb638","name":"","statusCode":"500","headers":{},"x":640,"y":340,"wires":[]},{"id":"c231e219.c46bd","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"z\":0,\"scan\":false},{\"x\":1000,\"y\":10000,\"z\":0,\"scan\":false},{\"x\":10000,\"y\":20000,\"z\":0,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":260,"wires":[["dda729ba.b68088"]]},{"id":"c2dcd83d.bee038","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"27ab4561.b22d0a","x":840,"y":260,"wires":[]},{"id":"dda729ba.b68088","type":"function","z":"a7fc2351.bb638","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["c2dcd83d.bee038"]]},{"id":"98fa150f.6adbe8","type":"function","z":"a7fc2351.bb638","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["b23b0998.807708","af9badc4.4f135","46c4adc6.70afa4","b7bf62be.086ca","32e88d87.f38c42","17c5f726.0cef79","a760ce7.949313","d0cc9702.4b3648"]]},{"id":"c2efab0f.a27ab8","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"27ab4561.b22d0a","x":1300,"y":400,"wires":[]},{"id":"2d1136ee.dc3a6a","type":"json","z":"a7fc2351.bb638","name":"","property":"payload","action":"","pretty":false,"x":450,"y":440,"wires":[["98fa150f.6adbe8"]]},{"id":"5333597a.483378","type":"switch","z":"a7fc2351.bb638","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":440,"wires":[["2d1136ee.dc3a6a"]]},{"id":"b23b0998.807708","type":"switch","z":"a7fc2351.bb638","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":440,"wires":[["19e115b9.5d559a"],["49b7f952.35fa38"]]},{"id":"49b7f952.35fa38","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"27ab4561.b22d0a","x":960,"y":480,"wires":[]},{"id":"45e0357d.93908c","type":"comment","z":"a7fc2351.bb638","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":500,"wires":[]},{"id":"b84e810.9abf48","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":560,"wires":[]},{"id":"af9badc4.4f135","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":600,"wires":[["ccdfa54.b456c58","9119cb14.927df8"]]},{"id":"46c4adc6.70afa4","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":640,"wires":[["1882bd0b.950243"]]},{"id":"b7bf62be.086ca","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":680,"wires":[["26311960.2e25f6"]]},{"id":"32e88d87.f38c42","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":720,"wires":[["183ab04d.f9dbe"]]},{"id":"17c5f726.0cef79","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":760,"wires":[["610304be.b0624c"]]},{"id":"ccdfa54.b456c58","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":560,"wires":[]},{"id":"9119cb14.927df8","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1080,"y":600,"wires":[]},{"id":"1882bd0b.950243","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1080,"y":640,"wires":[]},{"id":"26311960.2e25f6","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1060,"y":680,"wires":[]},{"id":"183ab04d.f9dbe","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1080,"y":720,"wires":[]},{"id":"610304be.b0624c","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1060,"y":760,"wires":[]},{"id":"a760ce7.949313","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":800,"wires":[["5bb4b262.276a4c"]]},{"id":"5bb4b262.276a4c","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1060,"y":800,"wires":[]},{"id":"d0cc9702.4b3648","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":840,"wires":[["84ca061f.e003d8"]]},{"id":"84ca061f.e003d8","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1060,"y":840,"wires":[]},{"id":"8bae53bf.c622b","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"27ab4561.b22d0a","x":100,"y":560,"wires":[["847da0f.3ec896"]]},{"id":"847da0f.3ec896","type":"function","z":"a7fc2351.bb638","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["b84e810.9abf48"]]},{"id":"dc9d2a29.e486f8","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":400,"wires":[["c2efab0f.a27ab8"]]},{"id":"19e115b9.5d559a","type":"switch","z":"a7fc2351.bb638","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":400,"wires":[["dc9d2a29.e486f8"]]},{"id":"922c3caf.0e96c","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"27ab4561.b22d0a","x":370,"y":1180,"wires":[["1b5be25.5eae81e"]]},{"id":"da8ba4a2.b30538","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"27ab4561.b22d0a","x":90,"y":700,"wires":[["973459c6.01aef8"]]},{"id":"e485fb58.600868","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"27ab4561.b22d0a","x":350,"y":1060,"wires":[["1b5be25.5eae81e"]]},{"id":"d35741da.deaaf","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"27ab4561.b22d0a","x":370,"y":1100,"wires":[["1b5be25.5eae81e"]]},{"id":"7c099898.3a69f8","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"27ab4561.b22d0a","x":360,"y":1140,"wires":[["1b5be25.5eae81e"]]},{"id":"9bf7ba69.b67168","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["9ab462fa.f9b35"]]},{"id":"9ab462fa.f9b35","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/speed","qos":"","retain":"","broker":"27ab4561.b22d0a","x":290,"y":140,"wires":[]},{"id":"10919624.940aca","type":"function","z":"a7fc2351.bb638","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1060,"wires":[["afe3b749.0f0388","3949ae96.6fc1e2"]]},{"id":"3358d13.1d4422e","type":"function","z":"a7fc2351.bb638","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1060,"wires":[["10919624.940aca"]]},{"id":"ae5f697c.4897c8","type":"inject","z":"a7fc2351.bb638","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["f1255c.363e2aa8"]]},{"id":"f1255c.363e2aa8","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/battery","qos":"","retain":"","broker":"27ab4561.b22d0a","x":290,"y":200,"wires":[]},{"id":"a4ac8e14.607e3","type":"http in","z":"a7fc2351.bb638","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1400,"wires":[["9a32387d.455028"]]},{"id":"9a32387d.455028","type":"function","z":"a7fc2351.bb638","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1400,"wires":[["1e2f0046.a45bc"]]},{"id":"32617a1a.cd44b6","type":"http response","z":"a7fc2351.bb638","name":"","statusCode":"200","headers":{},"x":740,"y":1440,"wires":[]},{"id":"39ddbb23.e37d04","type":"function","z":"a7fc2351.bb638","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["1e2f0046.a45bc"]]},{"id":"afe3b749.0f0388","type":"websocket out","z":"a7fc2351.bb638","name":"","server":"c27ef261.e7f3f","client":"","x":1130,"y":1060,"wires":[]},{"id":"c2a5b8a9.755a28","type":"http in","z":"a7fc2351.bb638","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1480,"wires":[["39ddbb23.e37d04"]]},{"id":"3351debc.fc7db2","type":"http in","z":"a7fc2351.bb638","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1520,"wires":[["f9f85fd.c796aa"]]},{"id":"f9f85fd.c796aa","type":"function","z":"a7fc2351.bb638","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1520,"wires":[["1e2f0046.a45bc"]]},{"id":"1e2f0046.a45bc","type":"function","z":"a7fc2351.bb638","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1440,"wires":[["d5cb8b0.43c2978","32617a1a.cd44b6"]]},{"id":"42ecaaa7.7562d4","type":"inject","z":"a7fc2351.bb638","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":40,"wires":[["b8fbc0aa.529ab"]]},{"id":"af12d7e7.f39408","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":80,"wires":[["90cc990e.ba3e98"]]},{"id":"b8fbc0aa.529ab","type":"function","z":"a7fc2351.bb638","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1170,"y":40,"wires":[[]]},{"id":"90cc990e.ba3e98","type":"function","z":"a7fc2351.bb638","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1160,"y":80,"wires":[[]]},{"id":"5cd6f6ea.669fe8","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":120,"wires":[["9edf16a5.eb5f98"]]},{"id":"9edf16a5.eb5f98","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"27ab4561.b22d0a","x":670,"y":80,"wires":[]},{"id":"ed1bdc5e.379e8","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":80,"wires":[["9edf16a5.eb5f98"]]},{"id":"41c6c264.c29bbc","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":40,"wires":[["9edf16a5.eb5f98"]]},{"id":"d896d43.9ac0928","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/position","qos":"","retain":"","broker":"27ab4561.b22d0a","x":300,"y":60,"wires":[]},{"id":"785a7068.b3986","type":"inject","z":"a7fc2351.bb638","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["d896d43.9ac0928"]]},{"id":"b3582fe.c214bd","type":"inject","z":"a7fc2351.bb638","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["d896d43.9ac0928"]]},{"id":"f0686f06.1edfd","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1280,"wires":[["63c5acda.885af4"]]},{"id":"9eb586cc.3177b8","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1320,"wires":[["63c5acda.885af4"]]},{"id":"91863dff.2640b","type":"http in","z":"a7fc2351.bb638","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1240,"wires":[["6ead693a.6e54d8"]]},{"id":"63c5acda.885af4","type":"function","z":"a7fc2351.bb638","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1280,"wires":[["7d28ece1.033664","3358d13.1d4422e"]]},{"id":"6ead693a.6e54d8","type":"template","z":"a7fc2351.bb638","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":260,"y":1240,"wires":[["63c5acda.885af4","5b81bd6.866dc44"]]},{"id":"7d28ece1.033664","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":1280,"wires":[]},{"id":"1b5be25.5eae81e","type":"json","z":"a7fc2351.bb638","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":1060,"wires":[["3358d13.1d4422e"]]},{"id":"5b41a450.5e4fdc","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1360,"wires":[]},{"id":"d5cb8b0.43c2978","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1360,"wires":[["5b41a450.5e4fdc"]]},{"id":"38101cdc.e24644","type":"http in","z":"a7fc2351.bb638","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1440,"wires":[["1e2f0046.a45bc"]]},{"id":"bbbfef1e.2ae39","type":"inject","z":"a7fc2351.bb638","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":120,"wires":[["7f2fe990.c61c38"]]},{"id":"cb2fb1f.2ddf45","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":120,"wires":[]},{"id":"7f2fe990.c61c38","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":120,"wires":[["cb2fb1f.2ddf45"]]},{"id":"3949ae96.6fc1e2","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":1020,"wires":[]},{"id":"4cb1bc16.62fe94","type":"link in","z":"a7fc2351.bb638","name":"drone/position","links":["973459c6.01aef8"],"x":155,"y":440,"wires":[["5333597a.483378"]]},{"id":"973459c6.01aef8","type":"link out","z":"a7fc2351.bb638","name":"","links":["4cb1bc16.62fe94","784a2748.2714b8"],"x":235,"y":700,"wires":[]},{"id":"784a2748.2714b8","type":"link in","z":"a7fc2351.bb638","name":"","links":["973459c6.01aef8"],"x":415,"y":1000,"wires":[["1b5be25.5eae81e"]]},{"id":"5b81bd6.866dc44","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1220,"wires":[]},{"id":"7903a60a.6a4518","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"27ab4561.b22d0a","x":370,"y":940,"wires":[["649aa630.ddb0a8"]]},{"id":"649aa630.ddb0a8","type":"json","z":"a7fc2351.bb638","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":940,"wires":[["6e9f60e6.9e3cb"]]},{"id":"6e9f60e6.9e3cb","type":"function","z":"a7fc2351.bb638","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":940,"wires":[["10919624.940aca"]]},{"id":"27ab4561.b22d0a","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c27ef261.e7f3f","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]