project/backend/management-server/nodered/lib/flows/drone.json
[{"id":"5b9072e5.dc1e2c","type":"http request","z":"b43e3f90.85795","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":440,"wires":[["c36f2488.f14e98"]]},{"id":"ca77422a.b1f7c","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":680,"y":60,"wires":[]},{"id":"100b7304.c80a9d","type":"http in","z":"b43e3f90.85795","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":60,"wires":[["20e97728.6bdd78"]]},{"id":"d7234a1a.e708c8","type":"function","z":"b43e3f90.85795","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["f4eb076a.0848b8"]]},{"id":"a8f680e0.14be4","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"add2d9ef.105438","x":1840,"y":240,"wires":[]},{"id":"7f5f6801.95da98","type":"json","z":"b43e3f90.85795","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":280,"wires":[["d7234a1a.e708c8"]]},{"id":"db4bac19.e9126","type":"switch","z":"b43e3f90.85795","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":280,"wires":[["7f5f6801.95da98"]]},{"id":"faea98be.013298","type":"switch","z":"b43e3f90.85795","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":260,"wires":[["5777aad2.5a6724"],["789844d.49b67bc"]]},{"id":"789844d.49b67bc","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"add2d9ef.105438","x":1280,"y":280,"wires":[]},{"id":"e9606c28.1cbc6","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"add2d9ef.105438","x":100,"y":420,"wires":[["cfe19b16.4793e8","8caea887.19e058"]]},{"id":"d6cf3670.768378","type":"change","z":"b43e3f90.85795","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":220,"wires":[["a523b9ab.3825c8"]]},{"id":"5777aad2.5a6724","type":"switch","z":"b43e3f90.85795","name":"arrived?","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":220,"wires":[["d6cf3670.768378"]]},{"id":"9dd3511.c1f5bb","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"add2d9ef.105438","x":390,"y":780,"wires":[["bc7fafef.b203c"]]},{"id":"879a75b2.d9efc8","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"add2d9ef.105438","x":70,"y":640,"wires":[["8376b8b0.e36148","4984579e.7bee18"]]},{"id":"32bc0d7a.c359a2","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"add2d9ef.105438","x":390,"y":660,"wires":[["bc7fafef.b203c"]]},{"id":"331db90d.4418f6","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"add2d9ef.105438","x":410,"y":700,"wires":[["bc7fafef.b203c"]]},{"id":"3698386f.3c8148","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"add2d9ef.105438","x":400,"y":740,"wires":[["bc7fafef.b203c"]]},{"id":"36757868.ab8218","type":"function","z":"b43e3f90.85795","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["3af93f33.afb09","b3048e18.0b3ee"]]},{"id":"6c8304d9.70064c","type":"function","z":"b43e3f90.85795","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":660,"wires":[["36757868.ab8218"]]},{"id":"ae33b9e9.dd9ca8","type":"http in","z":"b43e3f90.85795","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1460,"wires":[["65a6974e.c6ef78"]]},{"id":"65a6974e.c6ef78","type":"function","z":"b43e3f90.85795","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1460,"wires":[["d7c245e7.d13b78"]]},{"id":"153ae7be.4a1ea8","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":740,"y":1500,"wires":[]},{"id":"b6b6dd8c.9e738","type":"function","z":"b43e3f90.85795","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1540,"wires":[["d7c245e7.d13b78"]]},{"id":"3af93f33.afb09","type":"websocket out","z":"b43e3f90.85795","name":"","server":"84d968fc.3cb1d8","client":"","x":1170,"y":660,"wires":[]},{"id":"20e2675a.3aa528","type":"http in","z":"b43e3f90.85795","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1540,"wires":[["b6b6dd8c.9e738"]]},{"id":"8f87152b.a8f968","type":"http in","z":"b43e3f90.85795","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1580,"wires":[["ab913c0a.3ca29"]]},{"id":"ab913c0a.3ca29","type":"function","z":"b43e3f90.85795","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1580,"wires":[["d7c245e7.d13b78"]]},{"id":"d7c245e7.d13b78","type":"function","z":"b43e3f90.85795","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1500,"wires":[["153ae7be.4a1ea8","ed9dfe59.7d94"]]},{"id":"1e6814c5.583e4b","type":"http in","z":"b43e3f90.85795","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["965e8670.0e6ac8"]]},{"id":"bfe4a6ec.dd4188","type":"function","z":"b43e3f90.85795","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":900,"wires":[["6c8304d9.70064c","dd964de8.7b5cd","a18339eb.62af28"]]},{"id":"965e8670.0e6ac8","type":"template","z":"b43e3f90.85795","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":860,"wires":[["bfe4a6ec.dd4188","44b1c35f.c7c0cc"]]},{"id":"dd964de8.7b5cd","type":"debug","z":"b43e3f90.85795","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":900,"wires":[]},{"id":"bc7fafef.b203c","type":"json","z":"b43e3f90.85795","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":660,"wires":[["6c8304d9.70064c"]]},{"id":"7d57a839.ff9e18","type":"debug","z":"b43e3f90.85795","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1460,"wires":[]},{"id":"ed9dfe59.7d94","type":"change","z":"b43e3f90.85795","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1460,"wires":[["7d57a839.ff9e18"]]},{"id":"55460d8b.c2e154","type":"http in","z":"b43e3f90.85795","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1500,"wires":[["d7c245e7.d13b78"]]},{"id":"b3048e18.0b3ee","type":"debug","z":"b43e3f90.85795","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":620,"wires":[]},{"id":"6841371c.9f4dd8","type":"link in","z":"b43e3f90.85795","name":"drone/position","links":["8376b8b0.e36148"],"x":155,"y":280,"wires":[["d1904466.9a5908"]]},{"id":"8376b8b0.e36148","type":"link out","z":"b43e3f90.85795","name":"","links":["6841371c.9f4dd8","6f2c3052.b3196"],"x":215,"y":640,"wires":[]},{"id":"44b1c35f.c7c0cc","type":"debug","z":"b43e3f90.85795","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":840,"wires":[]},{"id":"e03c7250.16983","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"add2d9ef.105438","x":410,"y":560,"wires":[["7ac9e5bd.0d43bc"]]},{"id":"7ac9e5bd.0d43bc","type":"json","z":"b43e3f90.85795","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":560,"wires":[["2ec8ef69.4ba3"]]},{"id":"2ec8ef69.4ba3","type":"function","z":"b43e3f90.85795","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":560,"wires":[["36757868.ab8218"]]},{"id":"a18339eb.62af28","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":640,"y":940,"wires":[]},{"id":"2995194e.937b66","type":"http in","z":"b43e3f90.85795","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1140,"wires":[["a80ff1ef.c983a"]]},{"id":"923ff03.621341","type":"http in","z":"b43e3f90.85795","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1240,"wires":[["f42fdfa9.3e239"]]},{"id":"f42fdfa9.3e239","type":"function","z":"b43e3f90.85795","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1240,"wires":[["6b78b00e.f334c","62bf09b1.4c8228"]]},{"id":"a80ff1ef.c983a","type":"switch","z":"b43e3f90.85795","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1140,"wires":[["89dd7189.2631e"],["e58aa133.189d"]]},{"id":"e58aa133.189d","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"500","headers":{},"x":520,"y":1160,"wires":[]},{"id":"89dd7189.2631e","type":"function","z":"b43e3f90.85795","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1120,"wires":[["9f961fbb.e0e9f","72a00206.657bac","50e73165.161c6"]]},{"id":"6b78b00e.f334c","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":540,"y":1220,"wires":[]},{"id":"d1904466.9a5908","type":"switch","z":"b43e3f90.85795","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":280,"wires":[["db4bac19.e9126"]]},{"id":"62bf09b1.4c8228","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"add2d9ef.105438","x":550,"y":1260,"wires":[]},{"id":"20e97728.6bdd78","type":"function","z":"b43e3f90.85795","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["ca77422a.b1f7c","b01ece.a778813"]]},{"id":"9f961fbb.e0e9f","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/start","qos":"1","retain":"","broker":"add2d9ef.105438","x":830,"y":1040,"wires":[]},{"id":"f05bd69e.596758","type":"http in","z":"b43e3f90.85795","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1060,"wires":[["57669a71.ff6274"]]},{"id":"57669a71.ff6274","type":"function","z":"b43e3f90.85795","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1060,"wires":[["b109d02c.b894c"]]},{"id":"b109d02c.b894c","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":510,"y":1060,"wires":[]},{"id":"78c2393d.e13eb8","type":"http request","z":"b43e3f90.85795","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":100,"wires":[["5e6225d8.d91dec"]]},{"id":"6e0dff50.1ed74","type":"http in","z":"b43e3f90.85795","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["78c2393d.e13eb8"]]},{"id":"dc744395.9aa8f","type":"function","z":"b43e3f90.85795","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["c662273f.234c98"]]},{"id":"5e6225d8.d91dec","type":"switch","z":"b43e3f90.85795","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":100,"wires":[["dc744395.9aa8f"],["774f90b.be47b7"]]},{"id":"774f90b.be47b7","type":"function","z":"b43e3f90.85795","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["b62e10ee.bb2eb"]]},{"id":"c662273f.234c98","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":1160,"y":60,"wires":[]},{"id":"b62e10ee.bb2eb","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"500","headers":{},"x":1160,"y":120,"wires":[]},{"id":"72a00206.657bac","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":820,"y":1120,"wires":[]},{"id":"64c7bf41.2ed82","type":"http in","z":"b43e3f90.85795","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1320,"wires":[["36a69842.4bb5b8"]]},{"id":"36a69842.4bb5b8","type":"function","z":"b43e3f90.85795","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1320,"wires":[["a0cd33e5.b7ae8","2c363b75.8f8154"]]},{"id":"a0cd33e5.b7ae8","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":500,"y":1320,"wires":[]},{"id":"2c363b75.8f8154","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"add2d9ef.105438","x":490,"y":1360,"wires":[]},{"id":"ab50964f.ac60b8","type":"debug","z":"b43e3f90.85795","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1830,"y":200,"wires":[]},{"id":"4984579e.7bee18","type":"debug","z":"b43e3f90.85795","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":720,"wires":[]},{"id":"50e73165.161c6","type":"debug","z":"b43e3f90.85795","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1000,"wires":[]},{"id":"dc43638a.63d04","type":"mqtt in","z":"b43e3f90.85795","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"add2d9ef.105438","x":1050,"y":1060,"wires":[["9a7e522e.1a0ef"]]},{"id":"9a7e522e.1a0ef","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"add2d9ef.105438","x":1240,"y":1060,"wires":[]},{"id":"6f2c3052.b3196","type":"link in","z":"b43e3f90.85795","name":"","links":["8376b8b0.e36148"],"x":455,"y":600,"wires":[["bc7fafef.b203c"]]},{"id":"94809f9.2ada56","type":"debug","z":"b43e3f90.85795","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":20,"wires":[]},{"id":"b01ece.a778813","type":"change","z":"b43e3f90.85795","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":20,"wires":[["94809f9.2ada56"]]},{"id":"8785271d.72e478","type":"comment","z":"b43e3f90.85795","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":360,"wires":[]},{"id":"c36f2488.f14e98","type":"switch","z":"b43e3f90.85795","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":420,"wires":[["1a93142d.20c86c"]]},{"id":"cfe19b16.4793e8","type":"function","z":"b43e3f90.85795","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    stop = true;\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["6ade317f.eecbc"]]},{"id":"1a93142d.20c86c","type":"debug","z":"b43e3f90.85795","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":420,"wires":[]},{"id":"6ade317f.eecbc","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"add2d9ef.105438","x":550,"y":480,"wires":[]},{"id":"a523b9ab.3825c8","type":"switch","z":"b43e3f90.85795","name":"needs scanning?","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":220,"wires":[["a8f680e0.14be4","ab50964f.ac60b8"]]},{"id":"8caea887.19e058","type":"json","z":"b43e3f90.85795","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":420,"wires":[["dfd2c1ec.dfb58"]]},{"id":"dfd2c1ec.dfb58","type":"function","z":"b43e3f90.85795","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = flow.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["9511a38d.46b53"]]},{"id":"9511a38d.46b53","type":"switch","z":"b43e3f90.85795","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":420,"wires":[["d5041d3f.b9b01"],["5b9072e5.dc1e2c"]]},{"id":"d5041d3f.b9b01","type":"http request","z":"b43e3f90.85795","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":400,"wires":[["c36f2488.f14e98"]]},{"id":"f4eb076a.0848b8","type":"switch","z":"b43e3f90.85795","name":"stop?","property":"stop","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":280,"wires":[["faea98be.013298"],["753e87fd.39d878"]]},{"id":"7f824ebd.5b05f","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/pause","qos":"","retain":"","broker":"add2d9ef.105438","x":1270,"y":340,"wires":[]},{"id":"753e87fd.39d878","type":"change","z":"b43e3f90.85795","name":"","rules":[{"t":"set","p":"flying","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":340,"wires":[["7f824ebd.5b05f"]]},{"id":"ce239389.709b8","type":"http in","z":"b43e3f90.85795","name":"","url":"drone/homebase","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1620,"wires":[["74231d9f.088584","4ccdf9ee.4d87c8"]]},{"id":"74231d9f.088584","type":"mqtt out","z":"b43e3f90.85795","name":"","topic":"drone/homebase","qos":"","retain":"","broker":"add2d9ef.105438","x":450,"y":1620,"wires":[]},{"id":"4ccdf9ee.4d87c8","type":"http response","z":"b43e3f90.85795","name":"","statusCode":"200","headers":{},"x":420,"y":1660,"wires":[]},{"id":"add2d9ef.105438","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84d968fc.3cb1d8","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]