project/backend/management-server/nodered/lib/flows/dronebesturing + pad instellen.json
[{"id":"ea844edb.f432d","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":700,"y":100,"wires":[]},{"id":"53324275.d644cc","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":100,"wires":[["539e7457.ba0b2c"]]},{"id":"826fe078.30f04","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["4cd94f42.ab41f"]]},{"id":"c3b39e26.18f5b","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":180,"y":520,"wires":[["2f96aadd.6651f6"]]},{"id":"2f96aadd.6651f6","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["739bd027.a4f87","b834cab.a2abf38"]]},{"id":"4cd94f42.ab41f","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":420,"wires":[["2d4fa45a.707b7c"],["4d580e5c.e25cd"]]},{"id":"4d580e5c.e25cd","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":600,"y":440,"wires":[]},{"id":"2d4fa45a.707b7c","type":"function","z":"aa3c2b8c.ac8d38","name":"send dest + statusinfo","func":"global.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nglobal.set('flying', true);\n\nmsg.payload = global.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":400,"wires":[["2c3220e9.3235f","611d333f.373cdc","c45b113d.a3635"]]},{"id":"739bd027.a4f87","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":620,"y":500,"wires":[]},{"id":"b834cab.a2abf38","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":630,"y":540,"wires":[]},{"id":"539e7457.ba0b2c","type":"function","z":"aa3c2b8c.ac8d38","name":"stel beginparams in","func":"var moveteller = 1;\n\n\nglobal.set('waypoints',msg.payload);\nmsg.payload = global.get('waypoints').waypoints[moveteller++];\nglobal.set('mapid', global.get('waypoints').mapId);\nglobal.set(\"destination\", msg.payload);\nglobal.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nglobal.set('stop',false);\nglobal.set('scanning', false);\nglobal.set('arrived', false);\n\n\nglobal.set('flying', false)\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["ea844edb.f432d","419de62.b968318"]]},{"id":"2c3220e9.3235f","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":910,"y":320,"wires":[]},{"id":"e08e173e.646a98","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":190,"y":340,"wires":[["4cb67700.c796e8"]]},{"id":"4cb67700.c796e8","type":"function","z":"aa3c2b8c.ac8d38","name":"get info","func":"msg.payload = global.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["9e59ae65.24d6f"]]},{"id":"9e59ae65.24d6f","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":590,"y":340,"wires":[]},{"id":"cf1ef63c.136d18","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":140,"wires":[["f871db49.25c568"]]},{"id":"93f5c385.d170d","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":140,"wires":[["cf1ef63c.136d18"]]},{"id":"cf0b2d27.f1626","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"global.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["8655be14.ac72"]]},{"id":"f871db49.25c568","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":140,"wires":[["cf0b2d27.f1626"],["743d4087.1b1d9"]]},{"id":"743d4087.1b1d9","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"global.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":160,"wires":[["7804df15.60ac4"]]},{"id":"8655be14.ac72","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":1160,"y":120,"wires":[]},{"id":"7804df15.60ac4","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":1160,"y":160,"wires":[]},{"id":"611d333f.373cdc","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":900,"y":400,"wires":[]},{"id":"66d35d00.2ea524","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["82c2d90a.96a788"]]},{"id":"82c2d90a.96a788","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["98c092fa.0a09b","c22871b0.92465"]]},{"id":"98c092fa.0a09b","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":580,"y":600,"wires":[]},{"id":"c22871b0.92465","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":570,"y":640,"wires":[]},{"id":"c45b113d.a3635","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":280,"wires":[]},{"id":"4fb5c894.3da058","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"589a5dc9.f0f7f4","x":1100,"y":320,"wires":[["7df783ec.b447bc"]]},{"id":"7df783ec.b447bc","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":1290,"y":320,"wires":[]},{"id":"493086f7.9c78d8","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":60,"wires":[]},{"id":"419de62.b968318","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[["493086f7.9c78d8"]]},{"id":"28f3446e.f7d48c","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/homebase","method":"post","upload":false,"swaggerDoc":"","x":200,"y":740,"wires":[["2354fdbb.2f8fd2","f9fd71e4.bb9e6"]]},{"id":"2354fdbb.2f8fd2","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/homebase","qos":"","retain":"","broker":"b2abb30f.3d446","x":530,"y":740,"wires":[]},{"id":"f9fd71e4.bb9e6","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":500,"y":780,"wires":[]},{"id":"589a5dc9.f0f7f4","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b2abb30f.3d446","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]