project/backend/management-server/nodered/lib/flows/drone-fixed.json
[{"id":"fe722adb.44c9f8","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":680,"y":340,"wires":[]},{"id":"fc08d600.2ea588","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":360,"wires":[["237dc84e.d54408"]]},{"id":"3d0ed87f.ab3c68","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"z\":0,\"scan\":false},{\"x\":1000,\"y\":10000,\"z\":0,\"scan\":false},{\"x\":10000,\"y\":20000,\"z\":0,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":300,"wires":[["237dc84e.d54408"]]},{"id":"238ffbc5.ef9a64","type":"function","z":"7fce8acf.ab6434","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["f510c2ff.759"]]},{"id":"e2e79ff8.ea7e7","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"91bc28fb.0bf118","x":1460,"y":620,"wires":[]},{"id":"549b3d2c.91d7f4","type":"json","z":"7fce8acf.ab6434","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":640,"wires":[["238ffbc5.ef9a64"]]},{"id":"de3eead0.a5e768","type":"switch","z":"7fce8acf.ab6434","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":640,"wires":[["549b3d2c.91d7f4"]]},{"id":"f510c2ff.759","type":"switch","z":"7fce8acf.ab6434","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":640,"wires":[["2215ab91.d76754"],["d45187ff.2b2368","14f9b104.26b8df"]]},{"id":"d45187ff.2b2368","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"91bc28fb.0bf118","x":1100,"y":680,"wires":[]},{"id":"1cd66a7c.11a966","type":"comment","z":"7fce8acf.ab6434","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":700,"wires":[]},{"id":"618c7152.b664b","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":760,"wires":[]},{"id":"914d8bd8.9e0ef8","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"91bc28fb.0bf118","x":100,"y":760,"wires":[["94eb56c8.c0bca8"]]},{"id":"94eb56c8.c0bca8","type":"function","z":"7fce8acf.ab6434","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":760,"wires":[["618c7152.b664b"]]},{"id":"7e8236f6.cb4fe8","type":"change","z":"7fce8acf.ab6434","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":600,"wires":[["e2e79ff8.ea7e7","8abe85f1.324408"]]},{"id":"2215ab91.d76754","type":"switch","z":"7fce8acf.ab6434","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":600,"wires":[["7e8236f6.cb4fe8"]]},{"id":"3058ba.4fa6d746","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"91bc28fb.0bf118","x":390,"y":1080,"wires":[["98bf7b6d.1bc508"]]},{"id":"51d6b2e8.94cafc","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"91bc28fb.0bf118","x":70,"y":940,"wires":[["130d663c.d60afa","2d5c261a.e3a55a"]]},{"id":"b4f1c1ca.79152","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"91bc28fb.0bf118","x":390,"y":960,"wires":[["98bf7b6d.1bc508"]]},{"id":"89234ed8.7f7b4","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"91bc28fb.0bf118","x":410,"y":1000,"wires":[["98bf7b6d.1bc508"]]},{"id":"4620274.5cc54d8","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"91bc28fb.0bf118","x":400,"y":1040,"wires":[["98bf7b6d.1bc508"]]},{"id":"81171419.2b2508","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["4435c783.3cf118"]]},{"id":"4435c783.3cf118","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/speed","qos":"","retain":"","broker":"91bc28fb.0bf118","x":310,"y":140,"wires":[]},{"id":"cfd7c216.1b0e5","type":"function","z":"7fce8acf.ab6434","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":960,"wires":[["4469b1b3.ffe33","e3b99b44.36ffa8"]]},{"id":"9b84d05.aa6253","type":"function","z":"7fce8acf.ab6434","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":960,"wires":[["cfd7c216.1b0e5"]]},{"id":"b3d452eb.c3a94","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["83ec4673.7c1cb8"]]},{"id":"83ec4673.7c1cb8","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/battery","qos":"","retain":"","broker":"91bc28fb.0bf118","x":310,"y":200,"wires":[]},{"id":"b0d89702.105ea8","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1760,"wires":[["22a07424.06d94c"]]},{"id":"22a07424.06d94c","type":"function","z":"7fce8acf.ab6434","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1760,"wires":[["9fc3cbdf.9ce038"]]},{"id":"b8930656.1ec578","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":740,"y":1800,"wires":[]},{"id":"2558df7f.b2679","type":"function","z":"7fce8acf.ab6434","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1840,"wires":[["9fc3cbdf.9ce038"]]},{"id":"4469b1b3.ffe33","type":"websocket out","z":"7fce8acf.ab6434","name":"","server":"26fd5d9.37920a2","client":"","x":1170,"y":960,"wires":[]},{"id":"f96bff30.bbd6e","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1840,"wires":[["2558df7f.b2679"]]},{"id":"440027f2.c06f68","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1880,"wires":[["5671b87e.beaa78"]]},{"id":"5671b87e.beaa78","type":"function","z":"7fce8acf.ab6434","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1880,"wires":[["9fc3cbdf.9ce038"]]},{"id":"9fc3cbdf.9ce038","type":"function","z":"7fce8acf.ab6434","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1800,"wires":[["b8930656.1ec578","d515bb2.8e53a48"]]},{"id":"2f6de5ce.90773a","type":"inject","z":"7fce8acf.ab6434","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":40,"wires":[["f64a332e.4d754"]]},{"id":"4e0639fe.029928","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":80,"wires":[["fe50728c.39f81"]]},{"id":"f64a332e.4d754","type":"function","z":"7fce8acf.ab6434","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1190,"y":40,"wires":[[]]},{"id":"fe50728c.39f81","type":"function","z":"7fce8acf.ab6434","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1180,"y":80,"wires":[[]]},{"id":"f3fd40f.3be35c","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":120,"wires":[["8dd85cf9.e12d3"]]},{"id":"8dd85cf9.e12d3","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"91bc28fb.0bf118","x":690,"y":80,"wires":[]},{"id":"c0ab7884.d8b6c8","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":80,"wires":[["8dd85cf9.e12d3"]]},{"id":"c2a5a31f.ea9e3","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":40,"wires":[["8dd85cf9.e12d3"]]},{"id":"9fe0553c.3d3ec8","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/position","qos":"","retain":"","broker":"91bc28fb.0bf118","x":320,"y":60,"wires":[]},{"id":"4ca7d424.77712c","type":"inject","z":"7fce8acf.ab6434","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["9fe0553c.3d3ec8"]]},{"id":"574bbb08.c15b84","type":"inject","z":"7fce8acf.ab6434","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["9fe0553c.3d3ec8"]]},{"id":"59aaf885.338998","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1200,"wires":[["5e147373.9c11ac"]]},{"id":"4e1b2882.a6bda8","type":"inject","z":"7fce8acf.ab6434","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1240,"wires":[["5e147373.9c11ac"]]},{"id":"a9723b7d.de4f28","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1160,"wires":[["b864a49e.4cc9b8"]]},{"id":"5e147373.9c11ac","type":"function","z":"7fce8acf.ab6434","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1200,"wires":[["9b84d05.aa6253","96818ae2.4bdaa8","ca6e89c0.15eee8"]]},{"id":"b864a49e.4cc9b8","type":"template","z":"7fce8acf.ab6434","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":1160,"wires":[["5e147373.9c11ac","41108eb.b0f197"]]},{"id":"96818ae2.4bdaa8","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1200,"wires":[]},{"id":"98bf7b6d.1bc508","type":"json","z":"7fce8acf.ab6434","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":960,"wires":[["9b84d05.aa6253"]]},{"id":"4d239886.edb8c8","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1760,"wires":[]},{"id":"d515bb2.8e53a48","type":"change","z":"7fce8acf.ab6434","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1760,"wires":[["4d239886.edb8c8"]]},{"id":"972cb7af.257c88","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1800,"wires":[["9fc3cbdf.9ce038"]]},{"id":"f78cb0db.ea97","type":"inject","z":"7fce8acf.ab6434","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":120,"wires":[["a4fc56d.65c3ca8"]]},{"id":"4bfb2257.6a2f6c","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":120,"wires":[]},{"id":"a4fc56d.65c3ca8","type":"change","z":"7fce8acf.ab6434","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":120,"wires":[["4bfb2257.6a2f6c"]]},{"id":"e3b99b44.36ffa8","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":920,"wires":[]},{"id":"ed407609.7f7948","type":"link in","z":"7fce8acf.ab6434","name":"drone/position","links":["130d663c.d60afa"],"x":155,"y":640,"wires":[["f978f72c.a20a28"]]},{"id":"130d663c.d60afa","type":"link out","z":"7fce8acf.ab6434","name":"","links":["ed407609.7f7948","6246d738.b52978"],"x":215,"y":940,"wires":[]},{"id":"6246d738.b52978","type":"link in","z":"7fce8acf.ab6434","name":"","links":["130d663c.d60afa"],"x":455,"y":900,"wires":[["98bf7b6d.1bc508"]]},{"id":"41108eb.b0f197","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1140,"wires":[]},{"id":"20a10a8e.cd2bd6","type":"mqtt in","z":"7fce8acf.ab6434","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"91bc28fb.0bf118","x":410,"y":860,"wires":[["e8119b99.5b05b8"]]},{"id":"e8119b99.5b05b8","type":"json","z":"7fce8acf.ab6434","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":860,"wires":[["fd8f366a.81f6f8"]]},{"id":"fd8f366a.81f6f8","type":"function","z":"7fce8acf.ab6434","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":860,"wires":[["cfd7c216.1b0e5"]]},{"id":"ca6e89c0.15eee8","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":640,"y":1240,"wires":[]},{"id":"8d1b5d76.68d76","type":"http in","z":"7fce8acf.ab6434","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1440,"wires":[["39a0f41d.5d393c"]]},{"id":"a3835fca.49cdd","type":"http in","z":"7fce8acf.ab6434","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1540,"wires":[["dc1f99e5.32f8d8"]]},{"id":"dc1f99e5.32f8d8","type":"function","z":"7fce8acf.ab6434","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1540,"wires":[["bcd22a11.49bec8","fcf95d72.aa4be"]]},{"id":"ebf41b28.e5d1d8","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"91bc28fb.0bf118","x":840,"y":1380,"wires":[]},{"id":"39a0f41d.5d393c","type":"switch","z":"7fce8acf.ab6434","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1440,"wires":[["d3e72b1c.0fdfc8"],["67b6136c.5d74dc"]]},{"id":"67b6136c.5d74dc","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"500","headers":{},"x":520,"y":1460,"wires":[]},{"id":"d3e72b1c.0fdfc8","type":"function","z":"7fce8acf.ab6434","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1420,"wires":[["ebf41b28.e5d1d8","ba0efccb.59fd7","a8eb3235.8e469","2e81f3f1.777f4c"]]},{"id":"bcd22a11.49bec8","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":540,"y":1520,"wires":[]},{"id":"f978f72c.a20a28","type":"switch","z":"7fce8acf.ab6434","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":640,"wires":[["de3eead0.a5e768"]]},{"id":"fcf95d72.aa4be","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"91bc28fb.0bf118","x":550,"y":1560,"wires":[]},{"id":"237dc84e.d54408","type":"function","z":"7fce8acf.ab6434","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 1;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["fe722adb.44c9f8"]]},{"id":"ba0efccb.59fd7","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/start","qos":"1","retain":"","broker":"91bc28fb.0bf118","x":830,"y":1340,"wires":[]},{"id":"e27052f.9ad36b","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1360,"wires":[["c3e184ef.cc6ca8"]]},{"id":"c3e184ef.cc6ca8","type":"function","z":"7fce8acf.ab6434","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1360,"wires":[["4d0a4902.4c51d8"]]},{"id":"4d0a4902.4c51d8","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":510,"y":1360,"wires":[]},{"id":"cc42a885.860168","type":"http request","z":"7fce8acf.ab6434","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":400,"wires":[["91be046d.428168","21a96dc3.8b9942"]]},{"id":"fec43cff.1a779","type":"http in","z":"7fce8acf.ab6434","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":400,"wires":[["cc42a885.860168"]]},{"id":"591074d7.d4e32c","type":"function","z":"7fce8acf.ab6434","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["da646d0e.01a9c"]]},{"id":"91be046d.428168","type":"switch","z":"7fce8acf.ab6434","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":400,"wires":[["591074d7.d4e32c"],["cd34400b.67754"]]},{"id":"cd34400b.67754","type":"function","z":"7fce8acf.ab6434","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["68149eff.215c2"]]},{"id":"da646d0e.01a9c","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":1160,"y":360,"wires":[]},{"id":"68149eff.215c2","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"500","headers":{},"x":1160,"y":420,"wires":[]},{"id":"a8eb3235.8e469","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":820,"y":1420,"wires":[]},{"id":"21a96dc3.8b9942","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":460,"wires":[]},{"id":"f9d818e1.3a2f58","type":"http in","z":"7fce8acf.ab6434","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1620,"wires":[["192ab183.9e268e"]]},{"id":"192ab183.9e268e","type":"function","z":"7fce8acf.ab6434","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1620,"wires":[["6e2b231e.45c8dc","1ccb1ed8.78a481"]]},{"id":"6e2b231e.45c8dc","type":"http response","z":"7fce8acf.ab6434","name":"","statusCode":"200","headers":{},"x":500,"y":1620,"wires":[]},{"id":"1ccb1ed8.78a481","type":"mqtt out","z":"7fce8acf.ab6434","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"91bc28fb.0bf118","x":490,"y":1660,"wires":[]},{"id":"8abe85f1.324408","type":"debug","z":"7fce8acf.ab6434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":580,"wires":[]},{"id":"14f9b104.26b8df","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":760,"wires":[]},{"id":"2d5c261a.e3a55a","type":"debug","z":"7fce8acf.ab6434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":1020,"wires":[]},{"id":"2e81f3f1.777f4c","type":"debug","z":"7fce8acf.ab6434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1300,"wires":[]},{"id":"91bc28fb.0bf118","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26fd5d9.37920a2","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]