project/backend/management-server/nodered/lib/flows/dronebesturing + pad instellen.json
[{"id":"c8345b48.318d98","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":540,"y":140,"wires":[]},{"id":"a0abb96b.c0cc48","type":"http in","z":"f5015d96.2115d","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["40b2fa18.0adb04"]]},{"id":"cd6aef4c.1d071","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["9cfeb4b1.415d78"]]},{"id":"e6944c8.41df1b","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["caf8bc14.2bf37"]]},{"id":"caf8bc14.2bf37","type":"function","z":"f5015d96.2115d","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["4cc73d9e.d2d234","5178c077.5e5b8"]]},{"id":"9cfeb4b1.415d78","type":"switch","z":"f5015d96.2115d","name":"destination is null?","property":"destination","propertyType":"global","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":240,"wires":[["bc07fc3e.b0a39"],["3fcf4cd4.530f54"]]},{"id":"3fcf4cd4.530f54","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"500","headers":{},"x":560,"y":260,"wires":[]},{"id":"bc07fc3e.b0a39","type":"function","z":"f5015d96.2115d","name":"send dest + statusinfo","func":"global.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nglobal.set('flying', true);\n\nmsg.payload = global.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["f3e325c4.5e4b78","95469048.bfb81"]]},{"id":"4cc73d9e.d2d234","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":520,"y":380,"wires":[]},{"id":"5178c077.5e5b8","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":530,"y":420,"wires":[]},{"id":"40b2fa18.0adb04","type":"function","z":"f5015d96.2115d","name":"stel beginparams in","func":"var moveteller = 1;\n\n\nglobal.set('waypoints',msg.payload);\nmsg.payload = global.get('waypoints').waypoints[moveteller++];\nglobal.set('mapid', global.get('waypoints').mapId);\nglobal.set(\"destination\", msg.payload);\nglobal.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nglobal.set('stop',false);\nglobal.set('scanning', false);\nglobal.set('arrived', false);\n\n\nglobal.set('flying', false)\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["c8345b48.318d98"]],"info":"Nadat het pad getekend en gevalideerd is, gaan de beginparameters ingesteld \nworden zodat alles klaar is voor de vlucht.\n\n - moveteller [global]: wordt gebruikt om de verschillende waypoints te overlopen -\n    word op 1 gezet omdat het eerste waypoint zijn startlocatie is\n - waypoints [global]: de payload bevat de verschillende waypoints van het getekende pad\n - destination [global]: de destination wordt gezet op het eerst volgende waypoint,\n    daarna wordt de moveteller geïncrementeert en terug geset\n - stop [global]: geeft aan of de drone al zijn waypoints heeft afgelopen of niet\n - scanning [global]: geeft aan of de drone op een waypoint zit dat nodig is om te scannen\n - arrived [global]: geeft aan of de drone op zijn waypoint is toegekomen\n - flying [global]: geeft aan of de drone aan het vliegen is\n - statusinfo [global]: geeft de status van de drone aan, in dit geval is het\n    pad al getekend en doorgestuurd naar de drone maar de drone is nog niet gestart"},{"id":"f3e325c4.5e4b78","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/start","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":810,"y":240,"wires":[]},{"id":"2456363.2784dca","type":"http in","z":"f5015d96.2115d","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":720,"wires":[["790abd11.dffc04"]]},{"id":"790abd11.dffc04","type":"function","z":"f5015d96.2115d","name":"get info","func":"msg.payload = global.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["3798e09a.766dc"]]},{"id":"3798e09a.766dc","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":480,"y":720,"wires":[]},{"id":"bf75d5e4.0fe878","type":"http request","z":"f5015d96.2115d","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":350,"y":40,"wires":[["3f8da97f.0a9af6"]]},{"id":"19832f23.c338d1","type":"http in","z":"f5015d96.2115d","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["bf75d5e4.0fe878"]]},{"id":"992bd280.21cbb","type":"function","z":"f5015d96.2115d","name":"set statusinfo validated true","func":"global.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":20,"wires":[["46292820.41d728"]]},{"id":"3f8da97f.0a9af6","type":"switch","z":"f5015d96.2115d","name":"Validating succeeded?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":40,"wires":[["992bd280.21cbb"],["7660a5a2.16bb4c"]]},{"id":"7660a5a2.16bb4c","type":"function","z":"f5015d96.2115d","name":"set statusinfo validated false","func":"global.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":60,"wires":[["f7459f8e.20ce6"]]},{"id":"46292820.41d728","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":1040,"y":20,"wires":[]},{"id":"f7459f8e.20ce6","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"500","headers":{},"x":1040,"y":60,"wires":[]},{"id":"95469048.bfb81","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":800,"y":200,"wires":[]},{"id":"ec1f611c.4ca09","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["ae9fb1af.de592"]]},{"id":"ae9fb1af.de592","type":"function","z":"f5015d96.2115d","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["7078d266.7fce9c","fe1c2041.f83da"]]},{"id":"7078d266.7fce9c","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":520,"y":500,"wires":[]},{"id":"fe1c2041.f83da","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":530,"y":540,"wires":[]},{"id":"63e7a82a.4e2808","type":"mqtt in","z":"f5015d96.2115d","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"b6e7dafc.c46898","x":100,"y":320,"wires":[["16ce8df9.00fab2"]]},{"id":"16ce8df9.00fab2","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":290,"y":320,"wires":[]},{"id":"bb5b3221.0de39","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/homebase","method":"post","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["1b14b95c.d095f7","c683d0cd.d1935"]]},{"id":"1b14b95c.d095f7","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/homebase","qos":"","retain":"","broker":"dd2f5496.bd68f8","x":410,"y":620,"wires":[]},{"id":"c683d0cd.d1935","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":380,"y":660,"wires":[]},{"id":"b6e7dafc.c46898","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd2f5496.bd68f8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]