project/backend/management-server/nodered/lib/flows/drone-fixed.json
[{"id":"9e65e9f.d9ad118","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":680,"y":360,"wires":[]},{"id":"738fc211.ea0a6c","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":380,"wires":[["c62ad880.469d78"]]},{"id":"28dc74a6.42cd8c","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"z\":0,\"scan\":false},{\"x\":1000,\"y\":10000,\"z\":0,\"scan\":false},{\"x\":10000,\"y\":20000,\"z\":0,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":320,"wires":[["c62ad880.469d78"]]},{"id":"6f7c0868.efaae8","type":"function","z":"aa3c2b8c.ac8d38","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":660,"wires":[["99401efa.60633"]]},{"id":"a47c99c8.1510e8","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"3450d878.29efa8","x":1460,"y":640,"wires":[]},{"id":"5b3c7321.1dd1cc","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":660,"wires":[["6f7c0868.efaae8"]]},{"id":"be80ce83.c236d","type":"switch","z":"aa3c2b8c.ac8d38","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":660,"wires":[["5b3c7321.1dd1cc"]]},{"id":"99401efa.60633","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":660,"wires":[["794cc922.740478"],["a3e3a508.a2e9b8","a8cd010b.e9fcc"]]},{"id":"a3e3a508.a2e9b8","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"3450d878.29efa8","x":1100,"y":700,"wires":[]},{"id":"b3110713.b23228","type":"comment","z":"aa3c2b8c.ac8d38","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":720,"wires":[]},{"id":"73f5e30.94a961c","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":780,"wires":[]},{"id":"78beb799.a8aaa8","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"3450d878.29efa8","x":100,"y":780,"wires":[["54f39a57.8fa4d4"]]},{"id":"54f39a57.8fa4d4","type":"function","z":"aa3c2b8c.ac8d38","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":780,"wires":[["73f5e30.94a961c"]]},{"id":"bd498f22.4c202","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":620,"wires":[["a47c99c8.1510e8","5118882d.cffd78"]]},{"id":"794cc922.740478","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":620,"wires":[["bd498f22.4c202"]]},{"id":"81ae268b.d456f8","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"3450d878.29efa8","x":390,"y":1100,"wires":[["46a5b0fd.89a16"]]},{"id":"737c400.a3683c","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"3450d878.29efa8","x":70,"y":960,"wires":[["8bb49515.33df58","24ac83bb.ce402c"]]},{"id":"d1fb42ae.f3cde","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"3450d878.29efa8","x":390,"y":980,"wires":[["46a5b0fd.89a16"]]},{"id":"d88ff61c.ada838","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"3450d878.29efa8","x":410,"y":1020,"wires":[["46a5b0fd.89a16"]]},{"id":"f4c039fb.745348","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"3450d878.29efa8","x":400,"y":1060,"wires":[["46a5b0fd.89a16"]]},{"id":"6423455.15991bc","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["d152e00.219cf2"]]},{"id":"d152e00.219cf2","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/speed","qos":"","retain":"","broker":"3450d878.29efa8","x":310,"y":160,"wires":[]},{"id":"f671cdfa.57322","type":"function","z":"aa3c2b8c.ac8d38","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":980,"wires":[["216056a9.c04bfa","a5c92313.2929d"]]},{"id":"c30ece71.11992","type":"function","z":"aa3c2b8c.ac8d38","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":980,"wires":[["f671cdfa.57322"]]},{"id":"ebb483bd.ab80f","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["377cea40.55ea36"]]},{"id":"377cea40.55ea36","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/battery","qos":"","retain":"","broker":"3450d878.29efa8","x":310,"y":220,"wires":[]},{"id":"64a70971.797628","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1780,"wires":[["6deeb87c.fcf6c8"]]},{"id":"6deeb87c.fcf6c8","type":"function","z":"aa3c2b8c.ac8d38","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1780,"wires":[["48cce131.9fed2"]]},{"id":"1bc2f225.facc2e","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":740,"y":1820,"wires":[]},{"id":"6ed24832.8da0a8","type":"function","z":"aa3c2b8c.ac8d38","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1860,"wires":[["48cce131.9fed2"]]},{"id":"216056a9.c04bfa","type":"websocket out","z":"aa3c2b8c.ac8d38","name":"","server":"72c76c08.3ed3c4","client":"","x":1190,"y":980,"wires":[]},{"id":"21e68edd.878892","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1860,"wires":[["6ed24832.8da0a8"]]},{"id":"c4cae788.d3b478","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1900,"wires":[["147233e3.a7ddec"]]},{"id":"147233e3.a7ddec","type":"function","z":"aa3c2b8c.ac8d38","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1900,"wires":[["48cce131.9fed2"]]},{"id":"48cce131.9fed2","type":"function","z":"aa3c2b8c.ac8d38","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1820,"wires":[["1bc2f225.facc2e","5d5b68e4.b535a8"]]},{"id":"6a11326d.f58cac","type":"inject","z":"aa3c2b8c.ac8d38","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":60,"wires":[["10bac29.0f7273d"]]},{"id":"f6447b4d.929fc8","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":100,"wires":[["8e5624f2.a4ba38"]]},{"id":"10bac29.0f7273d","type":"function","z":"aa3c2b8c.ac8d38","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1190,"y":60,"wires":[[]]},{"id":"8e5624f2.a4ba38","type":"function","z":"aa3c2b8c.ac8d38","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1180,"y":100,"wires":[[]]},{"id":"1106e93d.a545e7","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":140,"wires":[["408fe9c0.7e47c8"]]},{"id":"408fe9c0.7e47c8","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"3450d878.29efa8","x":690,"y":100,"wires":[]},{"id":"cd2a0d39.7920c","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":100,"wires":[["408fe9c0.7e47c8"]]},{"id":"d804f4ab.6aa898","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":60,"wires":[["408fe9c0.7e47c8"]]},{"id":"78c0d2dc.6382fc","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/position","qos":"","retain":"","broker":"3450d878.29efa8","x":320,"y":80,"wires":[]},{"id":"8bc81856.8d1498","type":"inject","z":"aa3c2b8c.ac8d38","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["78c0d2dc.6382fc"]]},{"id":"5729b548.eae30c","type":"inject","z":"aa3c2b8c.ac8d38","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["78c0d2dc.6382fc"]]},{"id":"472d4338.51d34c","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1220,"wires":[["a49d5017.5c49a"]]},{"id":"8f450b3e.f4a598","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1260,"wires":[["a49d5017.5c49a"]]},{"id":"20587fd1.404f1","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1180,"wires":[["851b4404.3737c8"]]},{"id":"a49d5017.5c49a","type":"function","z":"aa3c2b8c.ac8d38","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1220,"wires":[["c30ece71.11992","bdd6cb38.e3c8c8","23275b19.f875a4"]]},{"id":"851b4404.3737c8","type":"template","z":"aa3c2b8c.ac8d38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":1180,"wires":[["a49d5017.5c49a","9a1326d.0f3a2d8"]]},{"id":"bdd6cb38.e3c8c8","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1220,"wires":[]},{"id":"46a5b0fd.89a16","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":980,"wires":[["c30ece71.11992"]]},{"id":"69f78725.9f0b08","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1780,"wires":[]},{"id":"5d5b68e4.b535a8","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1780,"wires":[["69f78725.9f0b08"]]},{"id":"9ffd7157.030c3","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1820,"wires":[["48cce131.9fed2"]]},{"id":"56b8ab28.e6ef24","type":"inject","z":"aa3c2b8c.ac8d38","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":140,"wires":[["920e02f4.9b182"]]},{"id":"bea04ef0.0d3ff","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":140,"wires":[]},{"id":"920e02f4.9b182","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":140,"wires":[["bea04ef0.0d3ff"]]},{"id":"a5c92313.2929d","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":940,"wires":[]},{"id":"a4227f28.26679","type":"link in","z":"aa3c2b8c.ac8d38","name":"drone/position","links":["8bb49515.33df58"],"x":155,"y":660,"wires":[["c45b50c9.41024"]]},{"id":"8bb49515.33df58","type":"link out","z":"aa3c2b8c.ac8d38","name":"","links":["a4227f28.26679","b419d537.6a37f8"],"x":215,"y":960,"wires":[]},{"id":"b419d537.6a37f8","type":"link in","z":"aa3c2b8c.ac8d38","name":"","links":["8bb49515.33df58"],"x":455,"y":920,"wires":[["46a5b0fd.89a16"]]},{"id":"9a1326d.0f3a2d8","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1160,"wires":[]},{"id":"5354bbde.84aff4","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"3450d878.29efa8","x":410,"y":880,"wires":[["86456bb9.db5958"]]},{"id":"86456bb9.db5958","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":880,"wires":[["29efa9fa.d236b6"]]},{"id":"29efa9fa.d236b6","type":"function","z":"aa3c2b8c.ac8d38","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":880,"wires":[["f671cdfa.57322"]]},{"id":"23275b19.f875a4","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":640,"y":1260,"wires":[]},{"id":"2e99a249.7411de","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1460,"wires":[["67d6ecc.008eb14"]]},{"id":"e6b731d6.2ce57","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1560,"wires":[["ca5a2605.1f4938"]]},{"id":"ca5a2605.1f4938","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1560,"wires":[["3442d25e.8433be","4277af65.9a33e"]]},{"id":"67d6ecc.008eb14","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1460,"wires":[["949b7c3a.3301d"],["8e059844.2ab738"]]},{"id":"8e059844.2ab738","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":520,"y":1480,"wires":[]},{"id":"949b7c3a.3301d","type":"function","z":"aa3c2b8c.ac8d38","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1440,"wires":[["7af6a1fd.dc316","8853d40f.9b3188","b9a5646b.cf9c58"]]},{"id":"3442d25e.8433be","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":540,"y":1540,"wires":[]},{"id":"c45b50c9.41024","type":"switch","z":"aa3c2b8c.ac8d38","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":660,"wires":[["be80ce83.c236d"]]},{"id":"4277af65.9a33e","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"3450d878.29efa8","x":550,"y":1580,"wires":[]},{"id":"c62ad880.469d78","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 1;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["9e65e9f.d9ad118"]]},{"id":"7af6a1fd.dc316","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","retain":"","broker":"3450d878.29efa8","x":830,"y":1360,"wires":[]},{"id":"8d8a8063.1fc45","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1380,"wires":[["125379cb.4bf416"]]},{"id":"125379cb.4bf416","type":"function","z":"aa3c2b8c.ac8d38","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1380,"wires":[["67654df2.129214"]]},{"id":"67654df2.129214","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":510,"y":1380,"wires":[]},{"id":"f57dd100.a241a","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":420,"wires":[["d66429e4.4f6738","8b3288e8.a0a088"]]},{"id":"7d527bdf.1809b4","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":420,"wires":[["f57dd100.a241a"]]},{"id":"5924a5a2.bd723c","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["f8b69b9e.c64438"]]},{"id":"d66429e4.4f6738","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":420,"wires":[["5924a5a2.bd723c"],["e18dd4dd.b8b038"]]},{"id":"e18dd4dd.b8b038","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":440,"wires":[["7774cadd.279da4"]]},{"id":"f8b69b9e.c64438","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":1160,"y":380,"wires":[]},{"id":"7774cadd.279da4","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":1160,"y":440,"wires":[]},{"id":"8853d40f.9b3188","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":820,"y":1440,"wires":[]},{"id":"8b3288e8.a0a088","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":480,"wires":[]},{"id":"7ecba0a.13e236","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1640,"wires":[["eeb88ec4.df3c"]]},{"id":"eeb88ec4.df3c","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1640,"wires":[["3b94dba6.45a314","7c1cfb52.e56c54"]]},{"id":"3b94dba6.45a314","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":500,"y":1640,"wires":[]},{"id":"7c1cfb52.e56c54","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"3450d878.29efa8","x":490,"y":1680,"wires":[]},{"id":"5118882d.cffd78","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":600,"wires":[]},{"id":"a8cd010b.e9fcc","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":780,"wires":[]},{"id":"24ac83bb.ce402c","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":1040,"wires":[]},{"id":"b9a5646b.cf9c58","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1320,"wires":[]},{"id":"81b13c2.ea2e1c","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"2","datatype":"auto","broker":"3450d878.29efa8","x":1000,"y":1360,"wires":[["45657aa3.3e1a44"]]},{"id":"45657aa3.3e1a44","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"3450d878.29efa8","x":1220,"y":1360,"wires":[]},{"id":"3450d878.29efa8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72c76c08.3ed3c4","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]