project/backend/management-server/nodered/lib/flows/dronebesturing + pad instellen.json
[{"id":"df3ca299.c66b4","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":580,"y":180,"wires":[]},{"id":"352c17dd.f16708","type":"http in","z":"88d0e0ca.30992","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["cd09df88.05cb"]]},{"id":"b02dc8b4.c9e418","type":"http in","z":"88d0e0ca.30992","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["cf1d8d36.25545"]]},{"id":"ed0054d0.1691c8","type":"http in","z":"88d0e0ca.30992","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["b8e7cbcb.dc0a38"]]},{"id":"b8e7cbcb.dc0a38","type":"function","z":"88d0e0ca.30992","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["88625639.445958","8682e49c.29ac48"]]},{"id":"cf1d8d36.25545","type":"switch","z":"88d0e0ca.30992","name":"destination is null?","property":"destination","propertyType":"global","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":280,"wires":[["4338c0b6.f049"],["d73c8141.b6bc6"]]},{"id":"d73c8141.b6bc6","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"500","headers":{},"x":600,"y":300,"wires":[]},{"id":"4338c0b6.f049","type":"function","z":"88d0e0ca.30992","name":"send dest + statusinfo","func":"global.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nglobal.set('flying', true);\n\nmsg.payload = global.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["64e3e25f.6d157c","20f6b49b.52d78c"]]},{"id":"88625639.445958","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":560,"y":420,"wires":[]},{"id":"8682e49c.29ac48","type":"mqtt out","z":"88d0e0ca.30992","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"a3be8704.2eedb8","x":570,"y":460,"wires":[]},{"id":"cd09df88.05cb","type":"function","z":"88d0e0ca.30992","name":"stel beginparams in","func":"var moveteller = 1;\n\n\nglobal.set('waypoints',msg.payload);\nmsg.payload = global.get('waypoints').waypoints[moveteller++];\nglobal.set('mapid', global.get('waypoints').mapId);\nglobal.set(\"destination\", msg.payload);\nglobal.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nglobal.set('stop',false);\nglobal.set('scanning', false);\nglobal.set('arrived', false);\n\n\nglobal.set('flying', false)\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["df3ca299.c66b4"]],"info":"Nadat het pad getekend en gevalideerd is, gaan de beginparameters ingesteld \nworden zodat alles klaar is voor de vlucht.\n\n - moveteller [global]: wordt gebruikt om de verschillende waypoints te overlopen -\n    word op 1 gezet omdat het eerste waypoint zijn startlocatie is\n - waypoints [global]: de payload bevat de verschillende waypoints van het getekende pad\n - destination [global]: de destination wordt gezet op het eerst volgende waypoint,\n    daarna wordt de moveteller geïncrementeert en terug geset\n - stop [global]: geeft aan of de drone al zijn waypoints heeft afgelopen of niet\n - scanning [global]: geeft aan of de drone op een waypoint zit dat nodig is om te scannen\n - arrived [global]: geeft aan of de drone op zijn waypoint is toegekomen\n - flying [global]: geeft aan of de drone aan het vliegen is\n - statusinfo [global]: geeft de status van de drone aan, in dit geval is het\n    pad al getekend en doorgestuurd naar de drone maar de drone is nog niet gestart"},{"id":"64e3e25f.6d157c","type":"mqtt out","z":"88d0e0ca.30992","name":"","topic":"drone/start","qos":"1","retain":"","broker":"a3be8704.2eedb8","x":850,"y":280,"wires":[]},{"id":"d7fc0efc.54d38","type":"http in","z":"88d0e0ca.30992","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":170,"y":760,"wires":[["7508e98c.b9b038"]]},{"id":"7508e98c.b9b038","type":"function","z":"88d0e0ca.30992","name":"get info","func":"msg.payload = global.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":760,"wires":[["7c39d5be.1e8d7c"]]},{"id":"7c39d5be.1e8d7c","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":520,"y":760,"wires":[]},{"id":"520a50b7.24c5b","type":"http request","z":"88d0e0ca.30992","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":390,"y":80,"wires":[["83b5b020.4c09b"]]},{"id":"279f9214.30608e","type":"http in","z":"88d0e0ca.30992","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["520a50b7.24c5b"]]},{"id":"abcdbbbd.04b9f8","type":"function","z":"88d0e0ca.30992","name":"set statusinfo validated true","func":"global.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":60,"wires":[["45d735ef.0f362c"]]},{"id":"83b5b020.4c09b","type":"switch","z":"88d0e0ca.30992","name":"Validating succeeded?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":80,"wires":[["abcdbbbd.04b9f8"],["31485a33.2f42b6"]]},{"id":"31485a33.2f42b6","type":"function","z":"88d0e0ca.30992","name":"set statusinfo validated false","func":"global.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":100,"wires":[["281850b9.e5f22"]]},{"id":"45d735ef.0f362c","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":1080,"y":60,"wires":[]},{"id":"281850b9.e5f22","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"500","headers":{},"x":1080,"y":100,"wires":[]},{"id":"20f6b49b.52d78c","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":840,"y":240,"wires":[]},{"id":"e4e8c3d8.275e4","type":"http in","z":"88d0e0ca.30992","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":180,"y":560,"wires":[["980494b8.9cfef8"]]},{"id":"980494b8.9cfef8","type":"function","z":"88d0e0ca.30992","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["85cf921f.12469","9ccb7a2e.93ee18"]]},{"id":"85cf921f.12469","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":560,"y":540,"wires":[]},{"id":"9ccb7a2e.93ee18","type":"mqtt out","z":"88d0e0ca.30992","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"a3be8704.2eedb8","x":570,"y":580,"wires":[]},{"id":"a2dfb978.13dc08","type":"mqtt in","z":"88d0e0ca.30992","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"a3be8704.2eedb8","x":140,"y":360,"wires":[["6b2334ab.04ae6c"]]},{"id":"6b2334ab.04ae6c","type":"mqtt out","z":"88d0e0ca.30992","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"a3be8704.2eedb8","x":330,"y":360,"wires":[]},{"id":"aaf8b4c6.5dc338","type":"http in","z":"88d0e0ca.30992","name":"","url":"drone/homebase","method":"post","upload":false,"swaggerDoc":"","x":200,"y":680,"wires":[["2a2369d8.c6ef86","30d8b960.d56f66"]]},{"id":"2a2369d8.c6ef86","type":"mqtt out","z":"88d0e0ca.30992","name":"","topic":"drone/homebase","qos":"","retain":"","broker":"a3be8704.2eedb8","x":450,"y":660,"wires":[]},{"id":"30d8b960.d56f66","type":"http response","z":"88d0e0ca.30992","name":"","statusCode":"200","headers":{},"x":420,"y":700,"wires":[]},{"id":"a3be8704.2eedb8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]