project/backend/management-server/nodered/lib/flows/dronedata opsturen met websocket.json
[{"id":"b18666ae.bf8a48","type":"mqtt in","z":"1f2e560c.8be93a","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"a3be8704.2eedb8","x":190,"y":80,"wires":[["5414530.8ab45ac"]]},{"id":"2114ce87.043ce2","type":"mqtt in","z":"1f2e560c.8be93a","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"a3be8704.2eedb8","x":190,"y":140,"wires":[["5414530.8ab45ac"]]},{"id":"2107c364.093e4c","type":"mqtt in","z":"1f2e560c.8be93a","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"a3be8704.2eedb8","x":210,"y":200,"wires":[["5414530.8ab45ac"]]},{"id":"b750c76e.d04448","type":"mqtt in","z":"1f2e560c.8be93a","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"a3be8704.2eedb8","x":190,"y":260,"wires":[["5414530.8ab45ac"]]},{"id":"de9ebc91.b5487","type":"mqtt in","z":"1f2e560c.8be93a","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"a3be8704.2eedb8","x":200,"y":320,"wires":[["5414530.8ab45ac"]]},{"id":"4d952a49.693594","type":"function","z":"1f2e560c.8be93a","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = global.get('drone/' + key);\n    }\n}\nproperties['radius'] = global.get('drone/radius');\n\nlet position = subs['position'] ? global.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":180,"wires":[["1b18ff11.0b27b1"]]},{"id":"1b18ff11.0b27b1","type":"websocket out","z":"1f2e560c.8be93a","name":"","server":"d38031d9.8ef45","client":"","x":1250,"y":180,"wires":[]},{"id":"22b9e2e9.457ffe","type":"http in","z":"1f2e560c.8be93a","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["4e273f61.30afb"]]},{"id":"dca1c9ca.24f008","type":"function","z":"1f2e560c.8be93a","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["80919998.6efb38","7a6ccdff.fe3a44"]]},{"id":"4e273f61.30afb","type":"template","z":"1f2e560c.8be93a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":380,"y":380,"wires":[["dca1c9ca.24f008"]]},{"id":"5414530.8ab45ac","type":"json","z":"1f2e560c.8be93a","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":180,"wires":[["7a6ccdff.fe3a44"]]},{"id":"80919998.6efb38","type":"http response","z":"1f2e560c.8be93a","name":"","statusCode":"200","headers":{},"x":720,"y":380,"wires":[]},{"id":"7a6ccdff.fe3a44","type":"function","z":"1f2e560c.8be93a","name":"store","func":"global.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["4d952a49.693594"]]},{"id":"a3be8704.2eedb8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d38031d9.8ef45","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]