project/backend/management-server/nodered/lib/flows/dronedata opsturen met websocket.json
[{"id":"f4a4ce1c.e0247","type":"mqtt in","z":"69c3ba86.d10474","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":130,"y":180,"wires":[["854a6eed.1f6cb"]]},{"id":"b184cda.58a053","type":"mqtt in","z":"69c3ba86.d10474","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"8c2c482d.c4ae48","x":130,"y":240,"wires":[["854a6eed.1f6cb"]]},{"id":"e5c7ca35.10a688","type":"mqtt in","z":"69c3ba86.d10474","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":150,"y":300,"wires":[["854a6eed.1f6cb"]]},{"id":"4ef04d41.1089a4","type":"mqtt in","z":"69c3ba86.d10474","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":130,"y":360,"wires":[["854a6eed.1f6cb"]]},{"id":"759e6fbd.dddc1","type":"mqtt in","z":"69c3ba86.d10474","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":140,"y":420,"wires":[["854a6eed.1f6cb"]]},{"id":"58f126c7.e541f8","type":"function","z":"69c3ba86.d10474","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = global.get('drone/' + key);\n    }\n}\nproperties['radius'] = global.get('drone/radius');\n\nlet position = subs['position'] ? global.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":280,"wires":[["bbcce92d.8ba0f8"]]},{"id":"bbcce92d.8ba0f8","type":"websocket out","z":"69c3ba86.d10474","name":"","server":"930d6d7b.b977e","client":"","x":1190,"y":280,"wires":[]},{"id":"a5139a8c.b73608","type":"http in","z":"69c3ba86.d10474","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["da9c68ac.3c83a8"]]},{"id":"2984246f.8d2cec","type":"function","z":"69c3ba86.d10474","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["8856d83b.e39bc8","1b0b67a3.100078"]]},{"id":"da9c68ac.3c83a8","type":"template","z":"69c3ba86.d10474","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":320,"y":480,"wires":[["2984246f.8d2cec"]]},{"id":"854a6eed.1f6cb","type":"json","z":"69c3ba86.d10474","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":280,"wires":[["1b0b67a3.100078"]]},{"id":"8856d83b.e39bc8","type":"http response","z":"69c3ba86.d10474","name":"","statusCode":"200","headers":{},"x":660,"y":480,"wires":[]},{"id":"1b0b67a3.100078","type":"function","z":"69c3ba86.d10474","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["58f126c7.e541f8"]]},{"id":"8c2c482d.c4ae48","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"930d6d7b.b977e","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]