project/backend/management-server/nodered/lib/flows/drone-fixed.json
[{"id":"75d4ee63.a6a28","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":680,"y":40,"wires":[]},{"id":"cbbb361a.4f6af8","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":60,"wires":[["9dc4ade0.39439"]]},{"id":"b630d611.0871f8","type":"function","z":"5c5b34f7.e9781c","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].orientation;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":340,"wires":[["7554fd30.78f8b4"]]},{"id":"fb0fee5.668f01","type":"mqtt out","z":"5c5b34f7.e9781c","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"f738dff8.dac0a","x":1460,"y":320,"wires":[]},{"id":"1a829746.eb4449","type":"json","z":"5c5b34f7.e9781c","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":340,"wires":[["b630d611.0871f8"]]},{"id":"f8213dda.2e9c8","type":"switch","z":"5c5b34f7.e9781c","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":340,"wires":[["1a829746.eb4449"]]},{"id":"7554fd30.78f8b4","type":"switch","z":"5c5b34f7.e9781c","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":340,"wires":[["c417525d.aacd3"],["208eb55c.d5d75a","1f2e333d.ae7d6d"]]},{"id":"208eb55c.d5d75a","type":"mqtt out","z":"5c5b34f7.e9781c","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"f738dff8.dac0a","x":1100,"y":380,"wires":[]},{"id":"837985ad.c454e8","type":"comment","z":"5c5b34f7.e9781c","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":400,"wires":[]},{"id":"ced58eda.770a5","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":460,"wires":[]},{"id":"5884302a.f7b74","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":100,"y":460,"wires":[["8de7b237.dea84"]]},{"id":"8de7b237.dea84","type":"function","z":"5c5b34f7.e9781c","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["ced58eda.770a5"]]},{"id":"6747e764.e0d7e8","type":"change","z":"5c5b34f7.e9781c","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":300,"wires":[["fb0fee5.668f01","c40ea7b7.20ee48"]]},{"id":"c417525d.aacd3","type":"switch","z":"5c5b34f7.e9781c","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":300,"wires":[["6747e764.e0d7e8"]]},{"id":"ab81b54.c747c48","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":390,"y":780,"wires":[["6bffa01b.b3878"]]},{"id":"fc92b664.7e9db8","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"f738dff8.dac0a","x":70,"y":640,"wires":[["1535ca8e.1c9c95","28413b4.47513c4"]]},{"id":"c40ca064.88e05","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":390,"y":660,"wires":[["6bffa01b.b3878"]]},{"id":"e4d12fb8.b97a5","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":410,"y":700,"wires":[["6bffa01b.b3878"]]},{"id":"a466cb09.d24238","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":400,"y":740,"wires":[["6bffa01b.b3878"]]},{"id":"51b71c22.affaa4","type":"function","z":"5c5b34f7.e9781c","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["d8a5e3fc.82a69","71b18b7.0804f74"]]},{"id":"1437b7c4.b7fc68","type":"function","z":"5c5b34f7.e9781c","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":660,"wires":[["51b71c22.affaa4"]]},{"id":"3dd2a83e.e69a28","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1460,"wires":[["80a58bfc.b73268"]]},{"id":"80a58bfc.b73268","type":"function","z":"5c5b34f7.e9781c","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1460,"wires":[["c1aa29ac.541478"]]},{"id":"576687d4.cc8e88","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":740,"y":1500,"wires":[]},{"id":"71eed14c.e97e5","type":"function","z":"5c5b34f7.e9781c","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1540,"wires":[["c1aa29ac.541478"]]},{"id":"d8a5e3fc.82a69","type":"websocket out","z":"5c5b34f7.e9781c","name":"","server":"b3622826.f008e8","client":"","x":1170,"y":660,"wires":[]},{"id":"a2250217.3aa36","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1540,"wires":[["71eed14c.e97e5"]]},{"id":"5253de52.53b1c","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1580,"wires":[["45f3236b.c51adc"]]},{"id":"45f3236b.c51adc","type":"function","z":"5c5b34f7.e9781c","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1580,"wires":[["c1aa29ac.541478"]]},{"id":"c1aa29ac.541478","type":"function","z":"5c5b34f7.e9781c","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1500,"wires":[["576687d4.cc8e88","6a9e6094.d20a8"]]},{"id":"237ee34f.2bd83c","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["100724bf.3f9f9b"]]},{"id":"6c5e331d.a8b2fc","type":"function","z":"5c5b34f7.e9781c","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":900,"wires":[["1437b7c4.b7fc68","76777414.e643bc","8e5e2141.6da49"]]},{"id":"100724bf.3f9f9b","type":"template","z":"5c5b34f7.e9781c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":860,"wires":[["6c5e331d.a8b2fc","5e15c89.bf66b38"]]},{"id":"76777414.e643bc","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":900,"wires":[]},{"id":"6bffa01b.b3878","type":"json","z":"5c5b34f7.e9781c","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":660,"wires":[["1437b7c4.b7fc68"]]},{"id":"4b7f84ae.a33d6c","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1460,"wires":[]},{"id":"6a9e6094.d20a8","type":"change","z":"5c5b34f7.e9781c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1460,"wires":[["4b7f84ae.a33d6c"]]},{"id":"3682c62f.8fe32a","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1500,"wires":[["c1aa29ac.541478"]]},{"id":"71b18b7.0804f74","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":620,"wires":[]},{"id":"54b612cb.0af31c","type":"link in","z":"5c5b34f7.e9781c","name":"drone/position","links":["1535ca8e.1c9c95"],"x":155,"y":340,"wires":[["504dd83c.7cf778"]]},{"id":"1535ca8e.1c9c95","type":"link out","z":"5c5b34f7.e9781c","name":"","links":["54b612cb.0af31c","26ccf0a.5214e1"],"x":215,"y":640,"wires":[]},{"id":"5e15c89.bf66b38","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":840,"wires":[]},{"id":"aba5e377.37545","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":410,"y":560,"wires":[["bcbc3026.34f57"]]},{"id":"bcbc3026.34f57","type":"json","z":"5c5b34f7.e9781c","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":560,"wires":[["929c070b.7923e8"]]},{"id":"929c070b.7923e8","type":"function","z":"5c5b34f7.e9781c","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":560,"wires":[["51b71c22.affaa4"]]},{"id":"8e5e2141.6da49","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":640,"y":940,"wires":[]},{"id":"7244b0dd.9aecf","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1140,"wires":[["3edff965.67cff6"]]},{"id":"725ec31d.15fa5c","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1240,"wires":[["fed22bfd.91de28"]]},{"id":"fed22bfd.91de28","type":"function","z":"5c5b34f7.e9781c","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1240,"wires":[["1d73f761.2fe509","2262c8df.971f48"]]},{"id":"3edff965.67cff6","type":"switch","z":"5c5b34f7.e9781c","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1140,"wires":[["50d8ab27.c452a4"],["fd8da67b.029c28"]]},{"id":"fd8da67b.029c28","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"500","headers":{},"x":520,"y":1160,"wires":[]},{"id":"50d8ab27.c452a4","type":"function","z":"5c5b34f7.e9781c","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1120,"wires":[["2d419726.a21a08","a7e1614f.10bd2","f3bbc5dc.301b38"]]},{"id":"1d73f761.2fe509","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":540,"y":1220,"wires":[]},{"id":"504dd83c.7cf778","type":"switch","z":"5c5b34f7.e9781c","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":340,"wires":[["f8213dda.2e9c8"]]},{"id":"2262c8df.971f48","type":"mqtt out","z":"5c5b34f7.e9781c","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"f738dff8.dac0a","x":550,"y":1260,"wires":[]},{"id":"9dc4ade0.39439","type":"function","z":"5c5b34f7.e9781c","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 1;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["75d4ee63.a6a28"]]},{"id":"2d419726.a21a08","type":"mqtt out","z":"5c5b34f7.e9781c","name":"","topic":"drone/start","qos":"1","retain":"","broker":"f738dff8.dac0a","x":830,"y":1040,"wires":[]},{"id":"1eb9d55d.5ab5fb","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1060,"wires":[["fe33db9b.98cc58"]]},{"id":"fe33db9b.98cc58","type":"function","z":"5c5b34f7.e9781c","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1060,"wires":[["57345d70.251344"]]},{"id":"57345d70.251344","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":510,"y":1060,"wires":[]},{"id":"f2ba22b7.89278","type":"http request","z":"5c5b34f7.e9781c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":100,"wires":[["2fe42645.4e0bba","38cba334.c1dd8c"]]},{"id":"eb1b329d.3f244","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["f2ba22b7.89278"]]},{"id":"e6c1e5fe.db3088","type":"function","z":"5c5b34f7.e9781c","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["66ae803.726558"]]},{"id":"2fe42645.4e0bba","type":"switch","z":"5c5b34f7.e9781c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":100,"wires":[["e6c1e5fe.db3088"],["28b2a5c4.05531a"]]},{"id":"28b2a5c4.05531a","type":"function","z":"5c5b34f7.e9781c","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["6d7c651.186229c"]]},{"id":"66ae803.726558","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":1160,"y":60,"wires":[]},{"id":"6d7c651.186229c","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"500","headers":{},"x":1160,"y":120,"wires":[]},{"id":"a7e1614f.10bd2","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":820,"y":1120,"wires":[]},{"id":"38cba334.c1dd8c","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":160,"wires":[]},{"id":"77da1bd2.695244","type":"http in","z":"5c5b34f7.e9781c","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1320,"wires":[["f9cd036d.bf6b3"]]},{"id":"f9cd036d.bf6b3","type":"function","z":"5c5b34f7.e9781c","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1320,"wires":[["5a3ad7a9.00d568","454601ce.1dc3c"]]},{"id":"5a3ad7a9.00d568","type":"http response","z":"5c5b34f7.e9781c","name":"","statusCode":"200","headers":{},"x":500,"y":1320,"wires":[]},{"id":"454601ce.1dc3c","type":"mqtt out","z":"5c5b34f7.e9781c","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"f738dff8.dac0a","x":490,"y":1360,"wires":[]},{"id":"c40ea7b7.20ee48","type":"debug","z":"5c5b34f7.e9781c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":280,"wires":[]},{"id":"1f2e333d.ae7d6d","type":"debug","z":"5c5b34f7.e9781c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":460,"wires":[]},{"id":"28413b4.47513c4","type":"debug","z":"5c5b34f7.e9781c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":720,"wires":[]},{"id":"f3bbc5dc.301b38","type":"debug","z":"5c5b34f7.e9781c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1000,"wires":[]},{"id":"d4c5e44c.1fcf18","type":"mqtt in","z":"5c5b34f7.e9781c","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"f738dff8.dac0a","x":1050,"y":1060,"wires":[["520328eb.a832b8"]]},{"id":"520328eb.a832b8","type":"mqtt out","z":"5c5b34f7.e9781c","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"f738dff8.dac0a","x":1240,"y":1060,"wires":[]},{"id":"26ccf0a.5214e1","type":"link in","z":"5c5b34f7.e9781c","name":"","links":["1535ca8e.1c9c95"],"x":455,"y":600,"wires":[["6bffa01b.b3878"]]},{"id":"f738dff8.dac0a","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b3622826.f008e8","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]