project/backend/management-server/nodered/lib/flows/dronedata opsturen met websocket.json
[{"id":"c992364d.b837f8","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":90,"y":40,"wires":[["ac018194.50e1e"]]},{"id":"ec5f1c8d.7ac77","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"8c2c482d.c4ae48","x":90,"y":100,"wires":[["ac018194.50e1e"]]},{"id":"64d82a82.c54d04","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":110,"y":160,"wires":[["ac018194.50e1e"]]},{"id":"593da3a4.1c663c","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":90,"y":220,"wires":[["ac018194.50e1e"]]},{"id":"eaa691ae.9b664","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":100,"y":280,"wires":[["ac018194.50e1e"]]},{"id":"c70f50e9.6166d","type":"function","z":"132a8f8e.5b0f6","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = global.get('drone/' + key);\n    }\n}\nproperties['radius'] = global.get('drone/radius');\n\nlet position = subs['position'] ? global.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":140,"wires":[["5650511f.f4ba8"]]},{"id":"5650511f.f4ba8","type":"websocket out","z":"132a8f8e.5b0f6","name":"","server":"637eecce.950424","client":"","x":1150,"y":140,"wires":[]},{"id":"b7e2a3fe.d89ae","type":"http in","z":"132a8f8e.5b0f6","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["a76c657a.a3d9b8"]]},{"id":"adab6898.8629a8","type":"function","z":"132a8f8e.5b0f6","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["c1886047.ab263","c455f990.76b198"]]},{"id":"a76c657a.a3d9b8","type":"template","z":"132a8f8e.5b0f6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":340,"wires":[["adab6898.8629a8"]]},{"id":"ac018194.50e1e","type":"json","z":"132a8f8e.5b0f6","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":140,"wires":[["c455f990.76b198"]]},{"id":"c1886047.ab263","type":"http response","z":"132a8f8e.5b0f6","name":"","statusCode":"200","headers":{},"x":620,"y":340,"wires":[]},{"id":"c455f990.76b198","type":"change","z":"132a8f8e.5b0f6","name":"set msg.topic for caching","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":140,"wires":[["c70f50e9.6166d"]]},{"id":"8c2c482d.c4ae48","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"637eecce.950424","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]