project/backend/management-server/nodered/lib/flows/feedback drone ivm positie en scanstatus opvangen.json
[{"id":"e52a4640.117118","type":"mqtt in","z":"596ff1d0.8ce0d","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"a3be8704.2eedb8","x":160,"y":580,"wires":[["47ab7bca.24e2a4","b6c8df7e.fde7b"]]},{"id":"2a9062d8.de70be","type":"http request","z":"596ff1d0.8ce0d","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":870,"y":600,"wires":[["4406a313.d6cc1c"]]},{"id":"e71bce51.5bfef","type":"comment","z":"596ff1d0.8ce0d","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":280,"y":520,"wires":[]},{"id":"4406a313.d6cc1c","type":"switch","z":"596ff1d0.8ce0d","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":580,"wires":[["a6ee5f4a.e01e4"]]},{"id":"47ab7bca.24e2a4","type":"function","z":"596ff1d0.8ce0d","name":"next destination","func":"var moveteller = global.get('moveteller');\nvar waypoints = global.get('waypoints');\nvar stop = global.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    global.set('destination',msg.payload);\n}\nelse{\n    stop = true;\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nglobal.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["af7cdc9c.c3944"]]},{"id":"a6ee5f4a.e01e4","type":"debug","z":"596ff1d0.8ce0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":580,"wires":[]},{"id":"af7cdc9c.c3944","type":"mqtt out","z":"596ff1d0.8ce0d","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"a3be8704.2eedb8","x":610,"y":640,"wires":[]},{"id":"b6c8df7e.fde7b","type":"json","z":"596ff1d0.8ce0d","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":580,"wires":[["b6977c0d.68af5"]]},{"id":"b6977c0d.68af5","type":"function","z":"596ff1d0.8ce0d","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = global.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["88db2501.36eea8"]]},{"id":"88db2501.36eea8","type":"switch","z":"596ff1d0.8ce0d","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":580,"wires":[["9d612746.bd6168","7b9786dc.df8538"],["2a9062d8.de70be","7b9786dc.df8538"]]},{"id":"9d612746.bd6168","type":"http request","z":"596ff1d0.8ce0d","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":870,"y":560,"wires":[["4406a313.d6cc1c"]]},{"id":"7b9786dc.df8538","type":"debug","z":"596ff1d0.8ce0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":500,"wires":[]},{"id":"92db32e8.c8e4f","type":"function","z":"596ff1d0.8ce0d","name":"radius - arrived?","func":"var stop = global.get('stop') || false;\nvar moveteller = global.get('moveteller');\nvar destination = global.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = global.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    global.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            global.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        global.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        global.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":80,"wires":[["7b0151b2.0bc58"]]},{"id":"7df16529.fd59cc","type":"mqtt out","z":"596ff1d0.8ce0d","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"a3be8704.2eedb8","x":1280,"y":220,"wires":[]},{"id":"35b8dbb5.f03f14","type":"json","z":"596ff1d0.8ce0d","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":80,"wires":[["92db32e8.c8e4f"]]},{"id":"26bd32de.c2939e","type":"switch","z":"596ff1d0.8ce0d","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":80,"wires":[["35b8dbb5.f03f14"]]},{"id":"f65f2dca.bf3b2","type":"switch","z":"596ff1d0.8ce0d","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":240,"wires":[["cf0525a8.0cc158"],["7f3da160.406e6"]]},{"id":"7f3da160.406e6","type":"mqtt out","z":"596ff1d0.8ce0d","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"a3be8704.2eedb8","x":720,"y":260,"wires":[]},{"id":"63d569d6.0b6e68","type":"change","z":"596ff1d0.8ce0d","name":"","rules":[{"t":"set","p":"arrived","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["58d4f473.69764c"]]},{"id":"cf0525a8.0cc158","type":"switch","z":"596ff1d0.8ce0d","name":"arrived?","property":"arrived","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":200,"wires":[["63d569d6.0b6e68"]]},{"id":"9aa3766d.4c3508","type":"switch","z":"596ff1d0.8ce0d","name":"flying?","property":"flying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":80,"wires":[["26bd32de.c2939e"]]},{"id":"fb16975d.66c628","type":"debug","z":"596ff1d0.8ce0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":180,"wires":[]},{"id":"58d4f473.69764c","type":"switch","z":"596ff1d0.8ce0d","name":"needs scanning?","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":200,"wires":[["7df16529.fd59cc","fb16975d.66c628"]]},{"id":"7b0151b2.0bc58","type":"switch","z":"596ff1d0.8ce0d","name":"stop?","property":"stop","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["f65f2dca.bf3b2"],["285c97fa.8795d8"]]},{"id":"af8a5519.1037f8","type":"mqtt out","z":"596ff1d0.8ce0d","name":"","topic":"drone/pause","qos":"","retain":"","broker":"a3be8704.2eedb8","x":710,"y":320,"wires":[]},{"id":"285c97fa.8795d8","type":"change","z":"596ff1d0.8ce0d","name":"","rules":[{"t":"set","p":"flying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["af8a5519.1037f8"]]},{"id":"780c0c00.3d09e4","type":"mqtt in","z":"596ff1d0.8ce0d","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"a3be8704.2eedb8","x":270,"y":80,"wires":[["9aa3766d.4c3508"]]},{"id":"a3be8704.2eedb8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]