project/backend/management-server/nodered/lib/flows/feedback drone ivm positie en scanstatus opvangen.json
[{"id":"f78e59f.29a70a8","type":"mqtt in","z":"86529dac.7803f","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"664a7599.ac057c","x":80,"y":1920,"wires":[["488cfd5a.92ae34","d993c0f9.8cb33"]]},{"id":"ca9c3747.928b78","type":"http request","z":"86529dac.7803f","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":790,"y":1940,"wires":[["79bbfe5e.80605"]]},{"id":"79bbfe5e.80605","type":"switch","z":"86529dac.7803f","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1920,"wires":[["49bdb4f1.cba13c"]]},{"id":"488cfd5a.92ae34","type":"function","z":"86529dac.7803f","name":"next destination","func":"var moveteller = global.get('moveteller');\nvar waypoints = global.get('waypoints');\nvar stop = global.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    global.set('destination',msg.payload);\n}\nelse{\n    stop = true;\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nglobal.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1980,"wires":[["ec9d05db.6bfce8"]]},{"id":"49bdb4f1.cba13c","type":"debug","z":"86529dac.7803f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1920,"wires":[]},{"id":"ec9d05db.6bfce8","type":"mqtt out","z":"86529dac.7803f","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"664a7599.ac057c","x":530,"y":1980,"wires":[]},{"id":"d993c0f9.8cb33","type":"json","z":"86529dac.7803f","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":1920,"wires":[["552eacc0.ebb7f4"]]},{"id":"552eacc0.ebb7f4","type":"function","z":"86529dac.7803f","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = global.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1920,"wires":[["33477380.c16a9c"]]},{"id":"33477380.c16a9c","type":"switch","z":"86529dac.7803f","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1920,"wires":[["cf1ac953.1730d8","1b9e6dd0.6bb582"],["ca9c3747.928b78","1b9e6dd0.6bb582"]]},{"id":"cf1ac953.1730d8","type":"http request","z":"86529dac.7803f","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":790,"y":1900,"wires":[["79bbfe5e.80605"]]},{"id":"1b9e6dd0.6bb582","type":"debug","z":"86529dac.7803f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":1840,"wires":[]},{"id":"4dd3f933.609bd8","type":"function","z":"86529dac.7803f","name":"drone arrived at waypoint within certain radius?","func":"var stop = global.get('stop') || false;\nvar moveteller = global.get('moveteller');\nvar destination = global.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = global.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    global.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            global.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        global.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        global.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1520,"wires":[["e1eb4d7f.1ad14"]]},{"id":"3b1decdb.658834","type":"mqtt out","z":"86529dac.7803f","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"664a7599.ac057c","x":1080,"y":1660,"wires":[]},{"id":"bce39794.9e8e88","type":"json","z":"86529dac.7803f","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":1520,"wires":[["4dd3f933.609bd8"]]},{"id":"69e847dc.c31638","type":"switch","z":"86529dac.7803f","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":1520,"wires":[["bce39794.9e8e88"]]},{"id":"1284c190.0c71ee","type":"switch","z":"86529dac.7803f","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1680,"wires":[["8e41bdb2.20d22"],["a7bddfb9.fb0ad"]]},{"id":"a7bddfb9.fb0ad","type":"mqtt out","z":"86529dac.7803f","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"664a7599.ac057c","x":520,"y":1700,"wires":[]},{"id":"f12bc088.33dc5","type":"change","z":"86529dac.7803f","name":"","rules":[{"t":"set","p":"arrived","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1640,"wires":[["a535e968.ef9a08"]]},{"id":"8e41bdb2.20d22","type":"switch","z":"86529dac.7803f","name":"arrived?","property":"arrived","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1640,"wires":[["f12bc088.33dc5"]]},{"id":"eadf532b.7f43b","type":"switch","z":"86529dac.7803f","name":"flying?","property":"flying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":1520,"wires":[["69e847dc.c31638"]]},{"id":"fba0d53e.8072c8","type":"debug","z":"86529dac.7803f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":1620,"wires":[]},{"id":"a535e968.ef9a08","type":"switch","z":"86529dac.7803f","name":"needs scanning?","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1640,"wires":[["3b1decdb.658834","fba0d53e.8072c8"]]},{"id":"e1eb4d7f.1ad14","type":"switch","z":"86529dac.7803f","name":"stop?","property":"stop","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":1720,"wires":[["1284c190.0c71ee"],["32b9c323.58f9ac"]]},{"id":"4217060e.50e988","type":"mqtt out","z":"86529dac.7803f","name":"","topic":"drone/pause","qos":"","retain":"","broker":"664a7599.ac057c","x":510,"y":1760,"wires":[]},{"id":"32b9c323.58f9ac","type":"change","z":"86529dac.7803f","name":"","rules":[{"t":"set","p":"flying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1760,"wires":[["4217060e.50e988"]]},{"id":"983a41d1.913f","type":"mqtt in","z":"86529dac.7803f","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"664a7599.ac057c","x":70,"y":1520,"wires":[["eadf532b.7f43b"]]},{"id":"664a7599.ac057c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]