project/backend/management-server/nodered/lib/flows/feedback drone ivm positie en scanstatus opvangen.json
[{"id":"8f56efff.65646","type":"mqtt in","z":"69e1d16d.f2373","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"589a5dc9.f0f7f4","x":160,"y":560,"wires":[["4f5dfc7f.4a0194","b42a9386.a3315"]]},{"id":"8769fdd0.8a86d","type":"http request","z":"69e1d16d.f2373","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":870,"y":580,"wires":[["5afae3ef.96867c"]]},{"id":"2aeb8846.7e5118","type":"comment","z":"69e1d16d.f2373","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":280,"y":500,"wires":[]},{"id":"5afae3ef.96867c","type":"switch","z":"69e1d16d.f2373","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":560,"wires":[["c16f51a9.cf1aa"]]},{"id":"4f5dfc7f.4a0194","type":"function","z":"69e1d16d.f2373","name":"next destination","func":"var moveteller = global.get('moveteller');\nvar waypoints = global.get('waypoints');\nvar stop = global.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    global.set('destination',msg.payload);\n}\nelse{\n    stop = true;\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nglobal.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["b66e5471.030eb8"]]},{"id":"c16f51a9.cf1aa","type":"debug","z":"69e1d16d.f2373","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":560,"wires":[]},{"id":"b66e5471.030eb8","type":"mqtt out","z":"69e1d16d.f2373","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"589a5dc9.f0f7f4","x":610,"y":620,"wires":[]},{"id":"b42a9386.a3315","type":"json","z":"69e1d16d.f2373","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":560,"wires":[["c86fb994.8e8f18"]]},{"id":"c86fb994.8e8f18","type":"function","z":"69e1d16d.f2373","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = global.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":560,"wires":[["f994b10b.a9b56"]]},{"id":"f994b10b.a9b56","type":"switch","z":"69e1d16d.f2373","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":560,"wires":[["be2a8b1f.e50bf8","b186cfec.c0254"],["8769fdd0.8a86d","b186cfec.c0254"]]},{"id":"be2a8b1f.e50bf8","type":"http request","z":"69e1d16d.f2373","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":870,"y":540,"wires":[["5afae3ef.96867c"]]},{"id":"b186cfec.c0254","type":"debug","z":"69e1d16d.f2373","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":480,"wires":[]},{"id":"e25195dc.195c08","type":"function","z":"69e1d16d.f2373","name":"radius - arrived?","func":"var stop = global.get('stop') || false;\nvar moveteller = global.get('moveteller');\nvar destination = global.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = global.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    global.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            global.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        global.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        global.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":60,"wires":[["44fb6440.d1b47c"]]},{"id":"586b8ad.9e0fd74","type":"mqtt out","z":"69e1d16d.f2373","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"589a5dc9.f0f7f4","x":1280,"y":200,"wires":[]},{"id":"5c3bf378.7d1fdc","type":"json","z":"69e1d16d.f2373","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":60,"wires":[["e25195dc.195c08"]]},{"id":"ee71fb6f.aac6f8","type":"switch","z":"69e1d16d.f2373","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":60,"wires":[["5c3bf378.7d1fdc"]]},{"id":"92d2de41.9e4ba","type":"switch","z":"69e1d16d.f2373","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":220,"wires":[["cb65beab.8bd35"],["da12854d.892998"]]},{"id":"da12854d.892998","type":"mqtt out","z":"69e1d16d.f2373","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":720,"y":240,"wires":[]},{"id":"44dce818.f45198","type":"change","z":"69e1d16d.f2373","name":"","rules":[{"t":"set","p":"arrived","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["2b6f23dc.9dc20c"]]},{"id":"cb65beab.8bd35","type":"switch","z":"69e1d16d.f2373","name":"arrived?","property":"arrived","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":180,"wires":[["44dce818.f45198"]]},{"id":"8914fa0d.d2c1a8","type":"switch","z":"69e1d16d.f2373","name":"flying?","property":"flying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":60,"wires":[["ee71fb6f.aac6f8"]]},{"id":"4f9f221c.8cf01c","type":"debug","z":"69e1d16d.f2373","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":160,"wires":[]},{"id":"2b6f23dc.9dc20c","type":"switch","z":"69e1d16d.f2373","name":"needs scanning?","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":180,"wires":[["586b8ad.9e0fd74","4f9f221c.8cf01c"]]},{"id":"44fb6440.d1b47c","type":"switch","z":"69e1d16d.f2373","name":"stop?","property":"stop","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":260,"wires":[["92d2de41.9e4ba"],["800baac2.7eeed8"]]},{"id":"a40fc397.9357e","type":"mqtt out","z":"69e1d16d.f2373","name":"","topic":"drone/pause","qos":"","retain":"","broker":"589a5dc9.f0f7f4","x":710,"y":300,"wires":[]},{"id":"800baac2.7eeed8","type":"change","z":"69e1d16d.f2373","name":"","rules":[{"t":"set","p":"flying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["a40fc397.9357e"]]},{"id":"e595dd83.3db8","type":"mqtt in","z":"69e1d16d.f2373","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"589a5dc9.f0f7f4","x":270,"y":60,"wires":[["8914fa0d.d2c1a8"]]},{"id":"589a5dc9.f0f7f4","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]