project/backend/management-server/nodered/lib/flows/Flightpath.json
[{"id":"2eecbaf3.707a9e","type":"http request","z":"a4f541fd.72bf18","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":290,"y":200,"wires":[["fccb496e.035f78"]]},{"id":"a4e38d9d.2132a","type":"http response","z":"a4f541fd.72bf18","name":"","statusCode":"200","headers":{},"x":780,"y":160,"wires":[]},{"id":"fccb496e.035f78","type":"switch","z":"a4f541fd.72bf18","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":200,"wires":[["a4e38d9d.2132a","f949902e.e3d12"],["b5f3bf5f.6ceec"]]},{"id":"8b7f323e.d5c83","type":"http in","z":"a4f541fd.72bf18","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["2eecbaf3.707a9e"]]},{"id":"b5f3bf5f.6ceec","type":"http response","z":"a4f541fd.72bf18","name":"","statusCode":"500","headers":{},"x":780,"y":260,"wires":[]},{"id":"ff12c9fe.27a2e","type":"inject","z":"a4f541fd.72bf18","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":2.2,\"y\":2.2},{\"x\":2.2,\"y\":15.4},{\"x\":10.5,\"y\":15.4}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":80,"wires":[["f949902e.e3d12"]]},{"id":"f8b33421.6e759","type":"mqtt out","z":"a4f541fd.72bf18","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"5cb10d24.bf29b4","x":1000,"y":80,"wires":[]},{"id":"f949902e.e3d12","type":"function","z":"a4f541fd.72bf18","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = flow.get('moveteller') || 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller]\nflow.set(\"destination\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":80,"wires":[["f8b33421.6e759","a50028b4.919218"]]},{"id":"e689ec2f.ddbe18","type":"mqtt in","z":"a4f541fd.72bf18","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"5cb10d24.bf29b4","x":100,"y":400,"wires":[["d451fce0.a22b"]]},{"id":"d451fce0.a22b","type":"function","z":"a4f541fd.72bf18","name":"radius point","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\n\nif(stop === false && (Math.abs(msg.payload.x - flow.get('destination').x <= 0.1 && Math.abs(msg.payload.y - flow.get('destination').y) <= 0.1))) {\n    if(moveteller < flow.get('waypoints').waypoints.length) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller++];\n        flow.set('destination',msg.payload);\n        flow.set('moveteller',moveteller);\n    }\n    else {\n        //positie om terug te keren\n        moveteller -= 2\n        stop = true;\n        flow.set('moveteller', moveteller);\n        flow.set('stop', stop);\n    }\n}\nelse if(stop === true && (Math.abs(msg.payload.x - flow.get('destination').x) <= 0.1 && Math.abs(msg.payload.y - flow.get('destination').y) <= 0.1)) {\n    if(moveteller <= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n        flow.set('moveteller', moveteller);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n        flow.set('stop', stop);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["49a3cb79.1eca74","83141d52.7d3e7","c85b1c9a.69407"]]},{"id":"d6364dcb.f451e","type":"comment","z":"a4f541fd.72bf18","name":"","info":"Aan de hand van een radius checken of hij bij het te bereiken punt ligt. \nZo ja gaat hij het volgende punt doorsturen aan de hand van de moveteller.\nVoorlopig is de radius hardgecodeerd maar zou kunnen ingesteld worden (voorlopig 0.1).\nWanneer hij aan het einde is toegekomen gaan we terug. (reverse zonder te checken of hij moet scannen)","x":240,"y":320,"wires":[]},{"id":"49a3cb79.1eca74","type":"mqtt out","z":"a4f541fd.72bf18","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"5cb10d24.bf29b4","x":640,"y":400,"wires":[]},{"id":"83141d52.7d3e7","type":"change","z":"a4f541fd.72bf18","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["12432548.a0bd2b","fa2fe279.7c3f98"]]},{"id":"12432548.a0bd2b","type":"debug","z":"a4f541fd.72bf18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":480,"wires":[]},{"id":"a50028b4.919218","type":"change","z":"a4f541fd.72bf18","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":160,"wires":[["f346ac8a.c3d6f"]]},{"id":"f346ac8a.c3d6f","type":"debug","z":"a4f541fd.72bf18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":160,"wires":[]},{"id":"fa2fe279.7c3f98","type":"debug","z":"a4f541fd.72bf18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":790,"y":560,"wires":[]},{"id":"c85b1c9a.69407","type":"change","z":"a4f541fd.72bf18","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":640,"wires":[["385929a2.620f4e"]]},{"id":"385929a2.620f4e","type":"debug","z":"a4f541fd.72bf18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":740,"y":640,"wires":[]},{"id":"5cb10d24.bf29b4","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]