project/backend/management-server/nodered/lib/flows/Flightpath.json
[{"id":"556b5764.15f0c8","type":"mqtt out","z":"397e1663.64646a","name":"","topic":"Waypoints","qos":"2","retain":"","broker":"5888488e.5163d8","x":930,"y":700,"wires":[]},{"id":"344de9a0.d02a26","type":"http request","z":"397e1663.64646a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":820,"wires":[["b3a16842.813828"]]},{"id":"559b1171.2aee5","type":"http response","z":"397e1663.64646a","name":"","statusCode":"200","headers":{},"x":920,"y":760,"wires":[]},{"id":"b3a16842.813828","type":"switch","z":"397e1663.64646a","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":820,"wires":[["556b5764.15f0c8","559b1171.2aee5"],["f0d86ed8.956d8"]]},{"id":"708444b7.718f6c","type":"http in","z":"397e1663.64646a","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":200,"y":820,"wires":[["344de9a0.d02a26"]]},{"id":"f0d86ed8.956d8","type":"http response","z":"397e1663.64646a","name":"","statusCode":"500","headers":{},"x":920,"y":860,"wires":[]},{"id":"5888488e.5163d8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]