project/backend/management-server/nodered/lib/flows/Flightpath.json
[{"id":"68bbf782.ef7b4","type":"http request","z":"4a8a55d6.f9d8b4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":290,"y":720,"wires":[["412b56ee.c7e5b"]]},{"id":"e836c812.3ccd38","type":"http response","z":"4a8a55d6.f9d8b4","name":"","statusCode":"200","headers":{},"x":780,"y":680,"wires":[]},{"id":"412b56ee.c7e5b","type":"switch","z":"4a8a55d6.f9d8b4","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":720,"wires":[["e836c812.3ccd38","4c0783cb.62612c"],["c384cc94.c2a21"]]},{"id":"5eaf93f0.8b7f4c","type":"http in","z":"4a8a55d6.f9d8b4","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["68bbf782.ef7b4"]]},{"id":"c384cc94.c2a21","type":"http response","z":"4a8a55d6.f9d8b4","name":"","statusCode":"500","headers":{},"x":780,"y":780,"wires":[]},{"id":"33530476.9c13a4","type":"inject","z":"4a8a55d6.f9d8b4","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":2.2,\"y\":2.2},{\"x\":2.2,\"y\":15.4},{\"x\":10.5,\"y\":15.4}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":600,"wires":[["4c0783cb.62612c"]]},{"id":"7b867773.883088","type":"mqtt out","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"6450003a.114108","x":1180,"y":600,"wires":[]},{"id":"4c0783cb.62612c","type":"function","z":"4a8a55d6.f9d8b4","name":"setvariabelen","func":"flow.waypoints = msg.payload;\nflow.moveteller = 0;\nmsg.payload = flow.waypoints.waypoints[flow.moveteller]\nflow.destination = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":600,"wires":[["7b867773.883088"]]},{"id":"6402499.c46fbb8","type":"mqtt in","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"6450003a.114108","x":100,"y":920,"wires":[["da2b55d2.17d488"]]},{"id":"da2b55d2.17d488","type":"function","z":"4a8a55d6.f9d8b4","name":"radius point","func":"if(Math.abs(message.payload.x - flow.destination.x) < 0.1 && Math.abs(message.payload.y - flow.destination.y) < 0.1) {\n    if(moveteller >= flow.waypoints.waypoints.length) {\n        msg.payload = flow.waypoints.waypoints[flow.moveteller++];\n        msg.stop = false;\n    }\n    else {\n        msg.payload = { \"x\": 2.2, \"y\": 2.2 };\n        msg.stop = true;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":920,"wires":[["aa72786d.6072"]]},{"id":"1fc3bc2.7903b44","type":"comment","z":"4a8a55d6.f9d8b4","name":"","info":"Aan de hand van een radius checken of hij bij het te bereiken punt ligt. \nZo ja gaat hij het volgende punt doorsturen aan de hand van de moveteller.\nVoorlopig is de radius hardgecodeerd maar zou kunnen ingesteld worden (voorlopig 0.1).","x":240,"y":840,"wires":[]},{"id":"aa72786d.6072","type":"mqtt out","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"6450003a.114108","x":620,"y":920,"wires":[]},{"id":"6450003a.114108","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]