project/backend/management-server/nodered/lib/flows/frontend.json
[{"id":"66382e2f.a8a35","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":120,"y":800,"wires":[["764cccaf.7af684"]]},{"id":"db0491a4.1fd67","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"1d7eac46.02c204","x":120,"y":740,"wires":[["764cccaf.7af684","19470c05.a67174"]]},{"id":"9e0afa46.ce2bc8","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":140,"y":560,"wires":[["764cccaf.7af684"]]},{"id":"95e731a2.3d0a9","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":120,"y":620,"wires":[["764cccaf.7af684"]]},{"id":"4c87068f.890a68","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":130,"y":680,"wires":[["764cccaf.7af684"]]},{"id":"d9efa801.45f768","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["301b294b.b77f56"]]},{"id":"301b294b.b77f56","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/speed","qos":"","retain":"","broker":"1d7eac46.02c204","x":340,"y":420,"wires":[]},{"id":"e8ecfc37.c0f19","type":"function","z":"fb8e898e.576658","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet position = flow.get('drone/position')\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":600,"wires":[["15425086.53201f","fd91b97f.6d2688","1bcfcf86.559a3"]]},{"id":"15425086.53201f","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":560,"wires":[]},{"id":"e3f3de3c.d624d","type":"function","z":"fb8e898e.576658","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["e8ecfc37.c0f19","7382050a.f45f9c"]]},{"id":"7382050a.f45f9c","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":560,"wires":[]},{"id":"50cb6b82.2525b4","type":"inject","z":"fb8e898e.576658","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":480,"wires":[["556214ed.01758c"]]},{"id":"556214ed.01758c","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/battery","qos":"","retain":"","broker":"1d7eac46.02c204","x":330,"y":500,"wires":[]},{"id":"a7844744.b2f188","type":"http in","z":"fb8e898e.576658","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1000,"wires":[["3f6dcf9b.d85d"]]},{"id":"3f6dcf9b.d85d","type":"function","z":"fb8e898e.576658","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1000,"wires":[["6b0255c8.06b41c"]]},{"id":"7d490bcb.c455c4","type":"http response","z":"fb8e898e.576658","name":"","statusCode":"200","headers":{},"x":650,"y":1080,"wires":[]},{"id":"fd91b97f.6d2688","type":"debug","z":"fb8e898e.576658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":840,"y":520,"wires":[]},{"id":"24e6af49.57d4a","type":"function","z":"fb8e898e.576658","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["6b0255c8.06b41c"]]},{"id":"1bcfcf86.559a3","type":"websocket out","z":"fb8e898e.576658","name":"","server":"a615ce5b.56619","client":"","x":870,"y":660,"wires":[]},{"id":"d73bb9d0.4e5158","type":"http in","z":"fb8e898e.576658","name":"","url":"/data/all","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["24e6af49.57d4a"]]},{"id":"c93c120b.c6c81","type":"http in","z":"fb8e898e.576658","name":"","url":"/data/none","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["4186d8bf.c171c8"]]},{"id":"4186d8bf.c171c8","type":"function","z":"fb8e898e.576658","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1160,"wires":[["6b0255c8.06b41c"]]},{"id":"6b0255c8.06b41c","type":"function","z":"fb8e898e.576658","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1080,"wires":[["7d490bcb.c455c4"]]},{"id":"cc82fdcc.4048d","type":"inject","z":"fb8e898e.576658","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["6988269f.2350f8"]]},{"id":"ea4ca49b.ae7218","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["4ddecb9c.e631f4"]]},{"id":"6988269f.2350f8","type":"function","z":"fb8e898e.576658","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":400,"y":880,"wires":[[]]},{"id":"4ddecb9c.e631f4","type":"function","z":"fb8e898e.576658","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":390,"y":920,"wires":[[]]},{"id":"2c178c11.56cec4","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["d5d96568.4a4aa8"]]},{"id":"d5d96568.4a4aa8","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"1d7eac46.02c204","x":320,"y":360,"wires":[]},{"id":"b9473281.5a072","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["d5d96568.4a4aa8"]]},{"id":"1ab8d0ed.32a9ef","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["d5d96568.4a4aa8"]]},{"id":"c5dcdacc.80f5d8","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/position","qos":"","retain":"","broker":"1d7eac46.02c204","x":360,"y":160,"wires":[]},{"id":"d5f5ce15.4d619","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":140,"wires":[["c5dcdacc.80f5d8"]]},{"id":"e8e019f1.a929f8","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["c5dcdacc.80f5d8"]]},{"id":"da30f1ce.70404","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["9ff1e088.561a6"]]},{"id":"72ad4a81.88ca74","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":240,"wires":[["9ff1e088.561a6"]]},{"id":"aea7c20c.c5b26","type":"http in","z":"fb8e898e.576658","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":540,"y":120,"wires":[["4c606cfb.204d84"]]},{"id":"9ff1e088.561a6","type":"function","z":"fb8e898e.576658","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["6d54117e.1e95a","e3f3de3c.d624d"]]},{"id":"4c606cfb.204d84","type":"template","z":"fb8e898e.576658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":720,"y":120,"wires":[["9ff1e088.561a6"]]},{"id":"6d54117e.1e95a","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":200,"wires":[]},{"id":"764cccaf.7af684","type":"json","z":"fb8e898e.576658","name":"","property":"payload","action":"obj","pretty":false,"x":320,"y":620,"wires":[["e3f3de3c.d624d"]]},{"id":"19470c05.a67174","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":740,"wires":[]},{"id":"1d7eac46.02c204","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a615ce5b.56619","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]