project/backend/management-server/nodered/lib/flows/mergedFlows.json
[{"id":"2e0934be.b350ac","type":"http request","z":"6ae5cda6.58bcb4","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":330,"y":340,"wires":[["4c181b79.92ccd4"]]},{"id":"de7e25b7.6d3908","type":"http response","z":"6ae5cda6.58bcb4","name":"","statusCode":"200","headers":{},"x":660,"y":320,"wires":[]},{"id":"4c181b79.92ccd4","type":"switch","z":"6ae5cda6.58bcb4","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":340,"wires":[["de7e25b7.6d3908","704e1e02.4281"],["a6047480.048628"]]},{"id":"d5c9668f.885958","type":"http in","z":"6ae5cda6.58bcb4","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["2e0934be.b350ac"]]},{"id":"a6047480.048628","type":"http response","z":"6ae5cda6.58bcb4","name":"","statusCode":"500","headers":{},"x":660,"y":360,"wires":[]},{"id":"4d59fe7d.dc508","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":280,"wires":[["704e1e02.4281"]]},{"id":"3dcebfad.e8b16","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"4b5f32e0.05e94c","x":860,"y":280,"wires":[]},{"id":"704e1e02.4281","type":"function","z":"6ae5cda6.58bcb4","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["3dcebfad.e8b16"]]},{"id":"cec8ff06.c227e","type":"function","z":"6ae5cda6.58bcb4","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":460,"wires":[["35380ad8.f61b46","2d3a5a49.4d62d6","642beea9.a0c01","c087c913.6c2af8","ee089495.5bb9f8","47ca9ed3.43ddb","68b8f5a6.2fd41c","fe970164.2ab7f"]]},{"id":"7d7c6388.783f7c","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"4b5f32e0.05e94c","x":1320,"y":420,"wires":[]},{"id":"61cefda5.92a2c4","type":"json","z":"6ae5cda6.58bcb4","name":"","property":"payload","action":"","pretty":false,"x":470,"y":460,"wires":[["cec8ff06.c227e"]]},{"id":"38e37249.6ae0de","type":"switch","z":"6ae5cda6.58bcb4","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":460,"wires":[["61cefda5.92a2c4"]]},{"id":"35380ad8.f61b46","type":"switch","z":"6ae5cda6.58bcb4","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":460,"wires":[["5c5ebc2a.176b14"],["5456a8b3.c756d8"]]},{"id":"5456a8b3.c756d8","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"4b5f32e0.05e94c","x":980,"y":500,"wires":[]},{"id":"1494caec.e01b75","type":"comment","z":"6ae5cda6.58bcb4","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":240,"y":520,"wires":[]},{"id":"1d93dabb.859d25","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":580,"wires":[]},{"id":"2d3a5a49.4d62d6","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":620,"wires":[["4c4e55cb.cbc89c","85c8291d.140778"]]},{"id":"642beea9.a0c01","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":660,"wires":[["a975fcc2.3e53e"]]},{"id":"c087c913.6c2af8","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":700,"wires":[["9c241561.978978"]]},{"id":"ee089495.5bb9f8","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":740,"wires":[["e3ac877.c83be78"]]},{"id":"47ca9ed3.43ddb","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":780,"wires":[["b44e264c.ed1678"]]},{"id":"4c4e55cb.cbc89c","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":580,"wires":[]},{"id":"85c8291d.140778","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1100,"y":620,"wires":[]},{"id":"a975fcc2.3e53e","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1100,"y":660,"wires":[]},{"id":"9c241561.978978","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1080,"y":700,"wires":[]},{"id":"e3ac877.c83be78","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1100,"y":740,"wires":[]},{"id":"b44e264c.ed1678","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1080,"y":780,"wires":[]},{"id":"68b8f5a6.2fd41c","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":820,"wires":[["243b75f2.77557a"]]},{"id":"243b75f2.77557a","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1080,"y":820,"wires":[]},{"id":"fe970164.2ab7f","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":860,"wires":[["310de9d8.12d266"]]},{"id":"310de9d8.12d266","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1080,"y":860,"wires":[]},{"id":"fc3f981.a329e68","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"4b5f32e0.05e94c","x":120,"y":580,"wires":[["33493a1b.db2116"]]},{"id":"33493a1b.db2116","type":"function","z":"6ae5cda6.58bcb4","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["1d93dabb.859d25"]]},{"id":"d9544dcb.e3cbe","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":420,"wires":[["7d7c6388.783f7c"]]},{"id":"5c5ebc2a.176b14","type":"switch","z":"6ae5cda6.58bcb4","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":420,"wires":[["d9544dcb.e3cbe"]]},{"id":"9d4093b5.0dcfb","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"5b2b6850.664dc8","x":390,"y":1200,"wires":[["f21b56c3.e355e8"]]},{"id":"b0b83ce3.9c2f6","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"5b2b6850.664dc8","x":110,"y":720,"wires":[["f4f1e036.0c"]]},{"id":"28f0640a.e8caac","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"5b2b6850.664dc8","x":370,"y":1080,"wires":[["f21b56c3.e355e8"]]},{"id":"7b8bc7c8.0c1a38","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"5b2b6850.664dc8","x":390,"y":1120,"wires":[["f21b56c3.e355e8"]]},{"id":"88d467b7.d70748","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"5b2b6850.664dc8","x":380,"y":1160,"wires":[["f21b56c3.e355e8"]]},{"id":"ba18d492.d401f8","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["b60d8b09.cc3538"]]},{"id":"b60d8b09.cc3538","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/speed","qos":"","retain":"","broker":"5b2b6850.664dc8","x":310,"y":160,"wires":[]},{"id":"e367abdf.027d18","type":"function","z":"6ae5cda6.58bcb4","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1080,"wires":[["180a0ac7.34f0d5","8f6643fc.b17a6"]]},{"id":"1196ba8a.e7cae5","type":"function","z":"6ae5cda6.58bcb4","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1080,"wires":[["e367abdf.027d18"]]},{"id":"6eedb738.cad068","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["1b05aec9.e23401"]]},{"id":"1b05aec9.e23401","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/battery","qos":"","retain":"","broker":"5b2b6850.664dc8","x":310,"y":220,"wires":[]},{"id":"bc95d593.3f5748","type":"http in","z":"6ae5cda6.58bcb4","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1420,"wires":[["2123970e.465bc8"]]},{"id":"2123970e.465bc8","type":"function","z":"6ae5cda6.58bcb4","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1420,"wires":[["4f69b9eb.5d9998"]]},{"id":"c11ce4b9.94b4f8","type":"http response","z":"6ae5cda6.58bcb4","name":"","statusCode":"200","headers":{},"x":760,"y":1460,"wires":[]},{"id":"ba30aeb4.6529a","type":"function","z":"6ae5cda6.58bcb4","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":1500,"wires":[["4f69b9eb.5d9998"]]},{"id":"180a0ac7.34f0d5","type":"websocket out","z":"6ae5cda6.58bcb4","name":"","server":"2bd2c878.2162c8","client":"","x":1150,"y":1080,"wires":[]},{"id":"b1947e27.ab821","type":"http in","z":"6ae5cda6.58bcb4","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1500,"wires":[["ba30aeb4.6529a"]]},{"id":"18a45963.5c4e67","type":"http in","z":"6ae5cda6.58bcb4","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":110,"y":1540,"wires":[["a29b3c17.b4045"]]},{"id":"a29b3c17.b4045","type":"function","z":"6ae5cda6.58bcb4","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1540,"wires":[["4f69b9eb.5d9998"]]},{"id":"4f69b9eb.5d9998","type":"function","z":"6ae5cda6.58bcb4","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1460,"wires":[["66a40c1f.b97ad4","c11ce4b9.94b4f8"]]},{"id":"21960f99.a863","type":"inject","z":"6ae5cda6.58bcb4","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":60,"wires":[["625f12fc.8cfd1c"]]},{"id":"3e3ebca2.443c84","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":100,"wires":[["d3022d1e.f458a"]]},{"id":"625f12fc.8cfd1c","type":"function","z":"6ae5cda6.58bcb4","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1190,"y":60,"wires":[[]]},{"id":"d3022d1e.f458a","type":"function","z":"6ae5cda6.58bcb4","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1180,"y":100,"wires":[[]]},{"id":"8ebebe80.38f34","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":140,"wires":[["dc39b903.2dcf78"]]},{"id":"dc39b903.2dcf78","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"5b2b6850.664dc8","x":690,"y":100,"wires":[]},{"id":"3b446a3.631d096","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":100,"wires":[["dc39b903.2dcf78"]]},{"id":"75d4ad55.3ca5b4","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":60,"wires":[["dc39b903.2dcf78"]]},{"id":"7b16661b.725718","type":"mqtt out","z":"6ae5cda6.58bcb4","name":"","topic":"drone/position","qos":"","retain":"","broker":"5b2b6850.664dc8","x":320,"y":80,"wires":[]},{"id":"b16f077f.aa2788","type":"inject","z":"6ae5cda6.58bcb4","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["7b16661b.725718"]]},{"id":"ed1ac44e.da65a8","type":"inject","z":"6ae5cda6.58bcb4","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["7b16661b.725718"]]},{"id":"3f8fb2c8.b5302e","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1300,"wires":[["b5c7bfe8.0c5ac"]]},{"id":"751b454f.a799bc","type":"inject","z":"6ae5cda6.58bcb4","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1340,"wires":[["b5c7bfe8.0c5ac"]]},{"id":"333dc8f4.1ef688","type":"http in","z":"6ae5cda6.58bcb4","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["71c019ef.029b38"]]},{"id":"b5c7bfe8.0c5ac","type":"function","z":"6ae5cda6.58bcb4","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1300,"wires":[["e231be4c.8ac2f","1196ba8a.e7cae5"]]},{"id":"71c019ef.029b38","type":"template","z":"6ae5cda6.58bcb4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":1260,"wires":[["b5c7bfe8.0c5ac","511c92a2.0582cc"]]},{"id":"e231be4c.8ac2f","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1300,"wires":[]},{"id":"f21b56c3.e355e8","type":"json","z":"6ae5cda6.58bcb4","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":1080,"wires":[["1196ba8a.e7cae5"]]},{"id":"9b2f6116.6fd4","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1380,"wires":[]},{"id":"66a40c1f.b97ad4","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1380,"wires":[["9b2f6116.6fd4"]]},{"id":"14ba69d3.4e3996","type":"http in","z":"6ae5cda6.58bcb4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1460,"wires":[["4f69b9eb.5d9998"]]},{"id":"dc75955c.fb1d98","type":"inject","z":"6ae5cda6.58bcb4","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":140,"wires":[["8185255a.e58af8"]]},{"id":"f0c32e70.28aa2","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":140,"wires":[]},{"id":"8185255a.e58af8","type":"change","z":"6ae5cda6.58bcb4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":140,"wires":[["f0c32e70.28aa2"]]},{"id":"8f6643fc.b17a6","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":1040,"wires":[]},{"id":"6097acdd.8902a4","type":"link in","z":"6ae5cda6.58bcb4","name":"drone/position","links":["f4f1e036.0c"],"x":175,"y":460,"wires":[["38e37249.6ae0de"]]},{"id":"f4f1e036.0c","type":"link out","z":"6ae5cda6.58bcb4","name":"","links":["6097acdd.8902a4","90d2b609.d88f18"],"x":255,"y":720,"wires":[]},{"id":"90d2b609.d88f18","type":"link in","z":"6ae5cda6.58bcb4","name":"","links":["f4f1e036.0c"],"x":435,"y":1020,"wires":[["f21b56c3.e355e8"]]},{"id":"511c92a2.0582cc","type":"debug","z":"6ae5cda6.58bcb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1240,"wires":[]},{"id":"9cd1d7dc.c2b8f8","type":"mqtt in","z":"6ae5cda6.58bcb4","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"4b5f32e0.05e94c","x":390,"y":960,"wires":[["5df95cd9.9302b4"]]},{"id":"5df95cd9.9302b4","type":"json","z":"6ae5cda6.58bcb4","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":960,"wires":[["5097315f.48779"]]},{"id":"5097315f.48779","type":"function","z":"6ae5cda6.58bcb4","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":960,"wires":[["e367abdf.027d18"]]},{"id":"4b5f32e0.05e94c","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5b2b6850.664dc8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2bd2c878.2162c8","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]