project/backend/management-server/nodered/lib/flows/MongoDb.json
[{"id":"189d27df.864248","type":"mongodb in","z":"7be1d8d6.35d738","mongodb":"498ebfc0.5d82a","name":"","collection":"maps","operation":"find","x":480,"y":80,"wires":[["f648cabc.34d0b8"]]},{"id":"b0c035a7.c935e8","type":"http in","z":"7be1d8d6.35d738","name":"","url":"/maps","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["189d27df.864248"]]},{"id":"f648cabc.34d0b8","type":"http response","z":"7be1d8d6.35d738","name":"","statusCode":"200","headers":{},"x":780,"y":80,"wires":[]},{"id":"546ba666.ca6408","type":"mongodb in","z":"7be1d8d6.35d738","mongodb":"498ebfc0.5d82a","name":"","collection":"maps","operation":"count","x":740,"y":480,"wires":[["6f58e07c.08d54"]]},{"id":"6f58e07c.08d54","type":"http response","z":"7be1d8d6.35d738","name":"","statusCode":"200","headers":{},"x":1040,"y":480,"wires":[]},{"id":"68f787e.67fc578","type":"http in","z":"7be1d8d6.35d738","name":"","url":"/maps/:mapId","method":"get","upload":false,"swaggerDoc":"","x":180,"y":480,"wires":[["f118d6e1.79fca8"]]},{"id":"1c45c3dd.c64b4c","type":"http in","z":"7be1d8d6.35d738","name":"","url":"/maps","method":"post","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["9c71b31d.eb38a"]]},{"id":"b03c39aa.f55338","type":"mongodb out","z":"7be1d8d6.35d738","mongodb":"498ebfc0.5d82a","name":"","collection":"maps","payonly":true,"upsert":false,"multi":false,"operation":"store","x":900,"y":140,"wires":[]},{"id":"29ebfece.9bcb12","type":"http in","z":"7be1d8d6.35d738","name":"","url":"/maps/:mapId","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":540,"wires":[["948a18a9.918558"]]},{"id":"948a18a9.918558","type":"mongodb out","z":"7be1d8d6.35d738","mongodb":"498ebfc0.5d82a","name":"","collection":"maps","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":540,"y":540,"wires":[]},{"id":"f118d6e1.79fca8","type":"function","z":"7be1d8d6.35d738","name":"","func":"msg.payload = { \"_id\" : msg.req.params.mapId};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["546ba666.ca6408"]]},{"id":"86a15d0a.46eae","type":"http response","z":"7be1d8d6.35d738","name":"","statusCode":"500","headers":{},"x":880,"y":300,"wires":[]},{"id":"9c71b31d.eb38a","type":"function","z":"7be1d8d6.35d738","name":"validate","func":"msg.validatie = false;\nif( typeof msg.payload.sizeX == \"number\" \n    && typeof msg.payload.sizeY == \"number\"\n    && typeof msg.payload.name == \"string\"\n    && Array.isArray(msg.payload.obstacles)\n    && Array.isArray(msg.payload.products)\n    )\n    msg.validatie = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["dfa9c6ec.7a9318"]]},{"id":"dfa9c6ec.7a9318","type":"switch","z":"7be1d8d6.35d738","name":"validate","property":"validatie","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":220,"wires":[["b03c39aa.f55338","8e2e51ae.84ee"],["86a15d0a.46eae"]]},{"id":"8e2e51ae.84ee","type":"http response","z":"7be1d8d6.35d738","name":"","statusCode":"200","headers":{},"x":880,"y":200,"wires":[]},{"id":"498ebfc0.5d82a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"drone1","name":"mongodb"}]