project/backend/management-server/nodered/lib/flows/MqttWsTest.json
[{"id":"d3c91da3.456fd","type":"websocket out","z":"47e75e9a.a4f0a","name":"","server":"d3b62905.644528","client":"","x":570,"y":340,"wires":[]},{"id":"f1106775.aa32c8","type":"mqtt in","z":"47e75e9a.a4f0a","name":"","topic":"Battery","qos":"1","datatype":"auto","broker":"8b774422.710318","x":110,"y":340,"wires":[["88107719.6502b8"]]},{"id":"88107719.6502b8","type":"function","z":"47e75e9a.a4f0a","name":"test","func":"if(msg.topic === \"Battery\")\n    context.set(\"Battery\", msg.payload)\nif(msg.topic === \"Position\")\n    context.set(\"Position\", msg.payload)\nmsg.Battery = context.get(\"Battery\");\nmsg.Position = context.get(\"Position\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["d3c91da3.456fd"]]},{"id":"cb436178.5b9a1","type":"mqtt out","z":"47e75e9a.a4f0a","name":"","topic":"Battery","qos":"1","retain":"","broker":"8b774422.710318","x":610,"y":120,"wires":[]},{"id":"c628585.d9095a8","type":"inject","z":"47e75e9a.a4f0a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["cb436178.5b9a1"]]},{"id":"1c04ae65.e96dd2","type":"mqtt in","z":"47e75e9a.a4f0a","name":"","topic":"Position","qos":"2","datatype":"auto","broker":"8b774422.710318","x":100,"y":420,"wires":[["88107719.6502b8"]]},{"id":"d3b62905.644528","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"true"},{"id":"8b774422.710318","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]