project/backend/management-server/nodered/lib/flows/mqttToWS.json
[{"id":"eda6a16d.3bf15","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":130,"y":780,"wires":[["3cfac4e3.8c5e9c"]]},{"id":"bda7b784.67c2c8","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"c921db66.206da8","x":130,"y":720,"wires":[["3cfac4e3.8c5e9c","836bcaa6.a96e78"]]},{"id":"cabac735.ad3918","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":150,"y":540,"wires":[["3cfac4e3.8c5e9c"]]},{"id":"705ddc0f.10d024","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":130,"y":600,"wires":[["3cfac4e3.8c5e9c"]]},{"id":"a0548635.c72c38","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":140,"y":660,"wires":[["3cfac4e3.8c5e9c"]]},{"id":"e4c47069.b5c08","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["eff11356.d39de"]]},{"id":"eff11356.d39de","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/speed","qos":"","retain":"","broker":"c921db66.206da8","x":350,"y":400,"wires":[]},{"id":"3158a675.aa292a","type":"function","z":"4dd26e5.b88bd9","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet position = flow.get('drone/position')\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["1802978e.3e9948","6d1209e9.8d6718","2eac07d5.541798"]]},{"id":"1802978e.3e9948","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":540,"wires":[]},{"id":"25be2e1a.a25862","type":"function","z":"4dd26e5.b88bd9","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["3158a675.aa292a","57f4f4d5.38b22c"]]},{"id":"57f4f4d5.38b22c","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":540,"wires":[]},{"id":"15551acf.2a9d45","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["f8169575.769dd8"]]},{"id":"f8169575.769dd8","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/battery","qos":"","retain":"","broker":"c921db66.206da8","x":340,"y":480,"wires":[]},{"id":"398341aa.47edce","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":110,"y":980,"wires":[["8629388f.f2efe8"]]},{"id":"8629388f.f2efe8","type":"function","z":"4dd26e5.b88bd9","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":980,"wires":[["b856d626.f4c258"]]},{"id":"1f464142.b988df","type":"http response","z":"4dd26e5.b88bd9","name":"","statusCode":"200","headers":{},"x":840,"y":1060,"wires":[]},{"id":"6d1209e9.8d6718","type":"debug","z":"4dd26e5.b88bd9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":850,"y":500,"wires":[]},{"id":"a9ff0db7.acf94","type":"function","z":"4dd26e5.b88bd9","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1100,"wires":[["b856d626.f4c258"]]},{"id":"2eac07d5.541798","type":"websocket out","z":"4dd26e5.b88bd9","name":"","server":"92139c48.e223d","client":"","x":880,"y":640,"wires":[]},{"id":"ddf8a4b5.79e238","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":120,"y":1100,"wires":[["a9ff0db7.acf94"]]},{"id":"f1c3df9.82b1c2","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":130,"y":1180,"wires":[["a41c32ee.4d697"]]},{"id":"a41c32ee.4d697","type":"function","z":"4dd26e5.b88bd9","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1180,"wires":[["b856d626.f4c258"]]},{"id":"b856d626.f4c258","type":"function","z":"4dd26e5.b88bd9","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1060,"wires":[["fabc65b2.3d4cd8","1f464142.b988df"]]},{"id":"3c00ce41.584832","type":"inject","z":"4dd26e5.b88bd9","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["115bfc48.3244d4"]]},{"id":"efafb16.4a47a5","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[["dc0f6787.80ce98"]]},{"id":"115bfc48.3244d4","type":"function","z":"4dd26e5.b88bd9","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":410,"y":860,"wires":[[]]},{"id":"dc0f6787.80ce98","type":"function","z":"4dd26e5.b88bd9","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":400,"y":900,"wires":[[]]},{"id":"1087999.b801066","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["6b54336d.3b33ac"]]},{"id":"6b54336d.3b33ac","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"c921db66.206da8","x":330,"y":340,"wires":[]},{"id":"38f1cea6.2270f2","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["6b54336d.3b33ac"]]},{"id":"5c9d9a1f.13fe74","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["6b54336d.3b33ac"]]},{"id":"78148c39.79c0b4","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/position","qos":"","retain":"","broker":"c921db66.206da8","x":370,"y":140,"wires":[]},{"id":"d052e54.0b4f218","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":120,"wires":[["78148c39.79c0b4"]]},{"id":"65520c13.6a3f14","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["78148c39.79c0b4"]]},{"id":"c850e0ff.d92e9","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":160,"wires":[["e6c8150c.0235f8"]]},{"id":"dc51c6e2.caa7a8","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":220,"wires":[["e6c8150c.0235f8"]]},{"id":"bf6d9d57.19f55","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":550,"y":100,"wires":[["a11945f1.d8a938"]]},{"id":"e6c8150c.0235f8","type":"function","z":"4dd26e5.b88bd9","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["ec870b56.c069c8","25be2e1a.a25862"]]},{"id":"a11945f1.d8a938","type":"template","z":"4dd26e5.b88bd9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":730,"y":100,"wires":[["e6c8150c.0235f8"]]},{"id":"ec870b56.c069c8","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":180,"wires":[]},{"id":"3cfac4e3.8c5e9c","type":"json","z":"4dd26e5.b88bd9","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":600,"wires":[["25be2e1a.a25862"]]},{"id":"836bcaa6.a96e78","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":720,"wires":[]},{"id":"f7325076.3732f","type":"debug","z":"4dd26e5.b88bd9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":940,"wires":[]},{"id":"fabc65b2.3d4cd8","type":"change","z":"4dd26e5.b88bd9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":980,"wires":[["f7325076.3732f"]]},{"id":"39551b73.c25a24","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1020,"wires":[["b856d626.f4c258"]]},{"id":"c921db66.206da8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92139c48.e223d","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]