project/backend/management-server/nodered/lib/flows/mqttToWS.json
[{"id":"ede5bb95.0d3d38","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":150,"y":780,"wires":[["da240ec9.ea4e4"]]},{"id":"7cf403c2.964dac","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"c921db66.206da8","x":150,"y":720,"wires":[["da240ec9.ea4e4","3aa4090a.574376"]]},{"id":"3b61b155.a5216e","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":170,"y":540,"wires":[["da240ec9.ea4e4"]]},{"id":"b3928f.4b541d7","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":150,"y":600,"wires":[["da240ec9.ea4e4"]]},{"id":"5da702cd.8cd2ec","type":"mqtt in","z":"4dd26e5.b88bd9","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"c921db66.206da8","x":160,"y":660,"wires":[["da240ec9.ea4e4"]]},{"id":"7de55642.65ebd8","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["472296cf.7a8258"]]},{"id":"472296cf.7a8258","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/speed","qos":"","retain":"","broker":"c921db66.206da8","x":370,"y":400,"wires":[]},{"id":"79dc0a86.bdd2e4","type":"function","z":"4dd26e5.b88bd9","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet position = flow.get('drone/position')\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["20faadf7.22ea12","ef794b88.ffd7c8"]]},{"id":"889f0291.71ab8","type":"function","z":"4dd26e5.b88bd9","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[["79dc0a86.bdd2e4"]]},{"id":"2e20700d.3fa2c","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["7254d3fa.88723c"]]},{"id":"7254d3fa.88723c","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/battery","qos":"","retain":"","broker":"c921db66.206da8","x":360,"y":480,"wires":[]},{"id":"e84f6168.8f8a1","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":130,"y":1040,"wires":[["a5c7521.84b88b"]]},{"id":"a5c7521.84b88b","type":"function","z":"4dd26e5.b88bd9","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1040,"wires":[["a6355f7b.3cdc4"]]},{"id":"74b59d2d.d93b34","type":"http response","z":"4dd26e5.b88bd9","name":"","statusCode":"200","headers":{},"x":860,"y":1120,"wires":[]},{"id":"315d7d5f.ac6372","type":"function","z":"4dd26e5.b88bd9","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":1160,"wires":[["a6355f7b.3cdc4"]]},{"id":"20faadf7.22ea12","type":"websocket out","z":"4dd26e5.b88bd9","name":"","server":"92139c48.e223d","client":"","x":900,"y":640,"wires":[]},{"id":"923f8307.9e776","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":140,"y":1160,"wires":[["315d7d5f.ac6372"]]},{"id":"3b1a0314.83cf3c","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":150,"y":1240,"wires":[["205ed913.d5bc56"]]},{"id":"205ed913.d5bc56","type":"function","z":"4dd26e5.b88bd9","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1240,"wires":[["a6355f7b.3cdc4"]]},{"id":"a6355f7b.3cdc4","type":"function","z":"4dd26e5.b88bd9","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1120,"wires":[["f13401a2.045b7","74b59d2d.d93b34"]]},{"id":"e165f6ce.3b0178","type":"inject","z":"4dd26e5.b88bd9","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":860,"wires":[["102165c3.6f38ea"]]},{"id":"107b46af.471dc9","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["893f3f13.40f96"]]},{"id":"102165c3.6f38ea","type":"function","z":"4dd26e5.b88bd9","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":430,"y":860,"wires":[[]]},{"id":"893f3f13.40f96","type":"function","z":"4dd26e5.b88bd9","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":420,"y":900,"wires":[[]]},{"id":"57a29f9e.21712","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["81217cbf.f8455"]]},{"id":"81217cbf.f8455","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"c921db66.206da8","x":350,"y":340,"wires":[]},{"id":"8958dbd.2376628","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["81217cbf.f8455"]]},{"id":"908dc432.e25608","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["81217cbf.f8455"]]},{"id":"cc95e0a9.4f343","type":"mqtt out","z":"4dd26e5.b88bd9","name":"","topic":"drone/position","qos":"","retain":"","broker":"c921db66.206da8","x":390,"y":140,"wires":[]},{"id":"fe930b45.1770b8","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["cc95e0a9.4f343"]]},{"id":"832e0362.ceb56","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["cc95e0a9.4f343"]]},{"id":"8c171aca.af93f8","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":160,"wires":[["3dc723f3.679eec"]]},{"id":"ee90342e.1f49c8","type":"inject","z":"4dd26e5.b88bd9","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":220,"wires":[["3dc723f3.679eec"]]},{"id":"2a05c691.dbac4a","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":570,"y":100,"wires":[["da8ec39a.bdcb6"]]},{"id":"3dc723f3.679eec","type":"function","z":"4dd26e5.b88bd9","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["6448ab06.9e2944","889f0291.71ab8"]]},{"id":"da8ec39a.bdcb6","type":"template","z":"4dd26e5.b88bd9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":750,"y":100,"wires":[["3dc723f3.679eec"]]},{"id":"6448ab06.9e2944","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":180,"wires":[]},{"id":"da240ec9.ea4e4","type":"json","z":"4dd26e5.b88bd9","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":600,"wires":[["889f0291.71ab8"]]},{"id":"3aa4090a.574376","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":720,"wires":[]},{"id":"1b6adff8.b9e61","type":"debug","z":"4dd26e5.b88bd9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1000,"wires":[]},{"id":"f13401a2.045b7","type":"change","z":"4dd26e5.b88bd9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1040,"wires":[["1b6adff8.b9e61"]]},{"id":"165f15f8.ed1e5a","type":"http in","z":"4dd26e5.b88bd9","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1080,"wires":[["a6355f7b.3cdc4"]]},{"id":"947efc1d.9d956","type":"inject","z":"4dd26e5.b88bd9","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":940,"wires":[["467abb59.17ca74"]]},{"id":"16cdc780.d5ca79","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":940,"wires":[]},{"id":"467abb59.17ca74","type":"change","z":"4dd26e5.b88bd9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":940,"wires":[["16cdc780.d5ca79"]]},{"id":"ef794b88.ffd7c8","type":"debug","z":"4dd26e5.b88bd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":520,"wires":[]},{"id":"c921db66.206da8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92139c48.e223d","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]