project/backend/management-server/nodered/lib/flows/MqttNaarWs.json
[{"id":"5628643a.86fadc","type":"mqtt in","z":"ef24413e.4944d","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"1b8b4dac.88f1c2","x":170,"y":580,"wires":[["8f094ed4.c493e"]]},{"id":"fd6b6bf4.1fb6e8","type":"mqtt in","z":"ef24413e.4944d","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"1b8b4dac.88f1c2","x":170,"y":520,"wires":[["8f094ed4.c493e"]]},{"id":"1c94e370.92dd8d","type":"mqtt in","z":"ef24413e.4944d","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"1b8b4dac.88f1c2","x":190,"y":340,"wires":[["8f094ed4.c493e"]]},{"id":"81fd14c0.83dc28","type":"mqtt in","z":"ef24413e.4944d","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"1b8b4dac.88f1c2","x":170,"y":400,"wires":[["8f094ed4.c493e"]]},{"id":"e23800fe.c13b8","type":"mqtt in","z":"ef24413e.4944d","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"1b8b4dac.88f1c2","x":180,"y":460,"wires":[["8f094ed4.c493e"]]},{"id":"ba5b49b3.827d58","type":"inject","z":"ef24413e.4944d","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":80,"wires":[["f4610d58.106f"]]},{"id":"f4610d58.106f","type":"mqtt out","z":"ef24413e.4944d","name":"","topic":"drone/speed","qos":"","retain":"","broker":"1b8b4dac.88f1c2","x":1010,"y":80,"wires":[]},{"id":"329bf4fa.10926c","type":"function","z":"ef24413e.4944d","name":"convertPayload","func":"let subs = global.get(\"subscriptions\") || {};\nmsg.subs = subs;\n\nlet geoJSON = `{\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": {`;\nif(Object.keys(subs).length){\n    for(let key in subs){\n        //if(subs[key] == true)\n            geoJSON += `\"${key}:\" ${flow.get(\"drone/\" + key)},`;\n    }\n    geoJSON = geoJSON.slice(0,-1);\n}\ngeoJSON += \n                `},\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [0, 0, 0]\n                }\n            }]\n        }`;\nmsg.payload = geoJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":440,"wires":[["68c32f5d.0aa7e","3fad75b3.fd058a","514d9d43.11a8d4"]]},{"id":"68c32f5d.0aa7e","type":"debug","z":"ef24413e.4944d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":380,"wires":[]},{"id":"8f094ed4.c493e","type":"function","z":"ef24413e.4944d","name":"store","func":"\nflow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["329bf4fa.10926c","6f42ce1b.efedf"]]},{"id":"6f42ce1b.efedf","type":"debug","z":"ef24413e.4944d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":280,"wires":[]},{"id":"2383c388.6ce31c","type":"inject","z":"ef24413e.4944d","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":140,"wires":[["907985b9.e0e308"]]},{"id":"907985b9.e0e308","type":"mqtt out","z":"ef24413e.4944d","name":"","topic":"drone/battery","qos":"","retain":"","broker":"1b8b4dac.88f1c2","x":1010,"y":140,"wires":[]},{"id":"783fcb98.136914","type":"http in","z":"ef24413e.4944d","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":490,"y":540,"wires":[["3b137da7.6f7be2"]]},{"id":"3b137da7.6f7be2","type":"function","z":"ef24413e.4944d","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":540,"wires":[["a73902ac.da34c"]]},{"id":"9ac841b4.2ee3f","type":"http response","z":"ef24413e.4944d","name":"","statusCode":"200","headers":{},"x":1120,"y":600,"wires":[]},{"id":"3fad75b3.fd058a","type":"debug","z":"ef24413e.4944d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":960,"y":320,"wires":[]},{"id":"102af858.a1f188","type":"function","z":"ef24413e.4944d","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["a73902ac.da34c"]]},{"id":"514d9d43.11a8d4","type":"websocket out","z":"ef24413e.4944d","name":"","server":"fb743c0b.14c93","client":"","x":1010,"y":500,"wires":[]},{"id":"3529f533.856aaa","type":"http in","z":"ef24413e.4944d","name":"","url":"/data/all","method":"get","upload":false,"swaggerDoc":"","x":480,"y":620,"wires":[["102af858.a1f188"]]},{"id":"157478d1.76ae87","type":"http in","z":"ef24413e.4944d","name":"","url":"/data/none","method":"get","upload":false,"swaggerDoc":"","x":470,"y":720,"wires":[["63842df3.46a534"]]},{"id":"63842df3.46a534","type":"function","z":"ef24413e.4944d","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":720,"wires":[["a73902ac.da34c"]]},{"id":"a73902ac.da34c","type":"function","z":"ef24413e.4944d","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":600,"wires":[["9ac841b4.2ee3f"]]},{"id":"4d7f10ba.fd912","type":"inject","z":"ef24413e.4944d","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["4c357b76.f4e814"]]},{"id":"22022225.ae07de","type":"inject","z":"ef24413e.4944d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":920,"wires":[["c659ced9.2bd65"]]},{"id":"4c357b76.f4e814","type":"function","z":"ef24413e.4944d","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":410,"y":820,"wires":[[]]},{"id":"c659ced9.2bd65","type":"function","z":"ef24413e.4944d","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":400,"y":920,"wires":[[]]},{"id":"1b8b4dac.88f1c2","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb743c0b.14c93","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]