project/backend/management-server/nodered/lib/flows/MqttNaarWs.json
[{"id":"29f61856.c0d3f8","type":"websocket out","z":"397e1663.64646a","name":"","server":"5b8b3446.07107c","client":"","x":1090,"y":520,"wires":[]},{"id":"ef04233d.05928","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":170,"y":600,"wires":[["9fc86d18.78da"]]},{"id":"b30d38ec.4bb448","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"5888488e.5163d8","x":170,"y":540,"wires":[["9fc86d18.78da"]]},{"id":"f9a06a8.16cca98","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":190,"y":360,"wires":[["9fc86d18.78da"]]},{"id":"895ab26c.124a2","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":170,"y":420,"wires":[["9fc86d18.78da"]]},{"id":"2e942351.7b158c","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":180,"y":480,"wires":[["9fc86d18.78da"]]},{"id":"5f64f5f1.f5094c","type":"inject","z":"397e1663.64646a","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":100,"wires":[["3ffa409c.d5636"]]},{"id":"3ffa409c.d5636","type":"mqtt out","z":"397e1663.64646a","name":"","topic":"drone/speed","qos":"","retain":"","broker":"5888488e.5163d8","x":1010,"y":100,"wires":[]},{"id":"ba759fb6.1bbf9","type":"function","z":"397e1663.64646a","name":"convertPayload","func":"let subs = global.get(\"subscriptions\") || {};\nmsg.subs = subs;\n\nlet geoJSON = `{\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": {`;\nif(Object.keys(subs).length){\n    for(let key in subs){\n        //if(subs[key] == true)\n            geoJSON += `\"${key}:\" ${flow.get(\"drone/\" + key)},`;\n    }\n    geoJSON = geoJSON.slice(0,-1);\n}\ngeoJSON += \n                `},\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [0, 0, 0]\n                }\n            }]\n        }`;\nmsg.payload = geoJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["a9b1aa58.d2bd88","29f61856.c0d3f8"]]},{"id":"a9b1aa58.d2bd88","type":"debug","z":"397e1663.64646a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":400,"wires":[]},{"id":"9fc86d18.78da","type":"function","z":"397e1663.64646a","name":"store","func":"\nflow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["ba759fb6.1bbf9","f7cd6183.71ae5"]]},{"id":"f7cd6183.71ae5","type":"debug","z":"397e1663.64646a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":300,"wires":[]},{"id":"d30e1176.43459","type":"inject","z":"397e1663.64646a","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":160,"wires":[["6717dc88.426464"]]},{"id":"6717dc88.426464","type":"mqtt out","z":"397e1663.64646a","name":"","topic":"drone/battery","qos":"","retain":"","broker":"5888488e.5163d8","x":1010,"y":160,"wires":[]},{"id":"bf96c152.bf1f5","type":"http in","z":"397e1663.64646a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":780,"wires":[["e210e20e.06c13","25323c12.982d74"]]},{"id":"e210e20e.06c13","type":"function","z":"397e1663.64646a","name":"","func":"let sub = global.subscriptions || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.subscriptions = sub;\n\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["60376ce2.456564","f86fc274.1bb51"]]},{"id":"60376ce2.456564","type":"http response","z":"397e1663.64646a","name":"","statusCode":"200","headers":{},"x":620,"y":780,"wires":[]},{"id":"25323c12.982d74","type":"debug","z":"397e1663.64646a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":680,"wires":[]},{"id":"f86fc274.1bb51","type":"debug","z":"397e1663.64646a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":760,"y":680,"wires":[]},{"id":"5b8b3446.07107c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"5888488e.5163d8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]