project/backend/management-server/nodered/lib/flows/mqttToWS.json
[{"id":"e9498dec.591a8","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"67a81075.0308c","x":190,"y":780,"wires":[["96276c0e.14be3"]]},{"id":"7b0debd5.8e1004","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"67a81075.0308c","x":190,"y":720,"wires":[["96276c0e.14be3","b1d85776.e22a68"]]},{"id":"64dd2fed.cd24a","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"67a81075.0308c","x":210,"y":540,"wires":[["96276c0e.14be3"]]},{"id":"21f7d27d.2c3b8e","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"67a81075.0308c","x":190,"y":600,"wires":[["96276c0e.14be3"]]},{"id":"c7d43f06.35ebd","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"67a81075.0308c","x":200,"y":660,"wires":[["96276c0e.14be3"]]},{"id":"d5d8b668.2077b8","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":400,"wires":[["60a98ae5.e96bd4"]]},{"id":"60a98ae5.e96bd4","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/speed","qos":"","retain":"","broker":"67a81075.0308c","x":410,"y":400,"wires":[]},{"id":"b95bd7e.be20f28","type":"function","z":"fb8e898e.576658","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["1a72b398.8aa44c","b99b795d.4b4b18"]]},{"id":"c7e72559.ee6788","type":"function","z":"fb8e898e.576658","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":600,"wires":[["b95bd7e.be20f28"]]},{"id":"11af6dbc.a977b2","type":"inject","z":"fb8e898e.576658","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":460,"wires":[["c76b8a22.7fe838"]]},{"id":"c76b8a22.7fe838","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/battery","qos":"","retain":"","broker":"67a81075.0308c","x":400,"y":480,"wires":[]},{"id":"6677f562.007b5c","type":"http in","z":"fb8e898e.576658","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":170,"y":1040,"wires":[["adb27419.af0518"]]},{"id":"adb27419.af0518","type":"function","z":"fb8e898e.576658","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1040,"wires":[["17cbb001.48642"]]},{"id":"d56ae43d.889628","type":"http response","z":"fb8e898e.576658","name":"","statusCode":"200","headers":{},"x":900,"y":1120,"wires":[]},{"id":"4cab4f9.1f664b","type":"function","z":"fb8e898e.576658","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1160,"wires":[["17cbb001.48642"]]},{"id":"1a72b398.8aa44c","type":"websocket out","z":"fb8e898e.576658","name":"","server":"78c0a03e.724c9","client":"","x":940,"y":640,"wires":[]},{"id":"1d114008.357f2","type":"http in","z":"fb8e898e.576658","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":180,"y":1160,"wires":[["4cab4f9.1f664b"]]},{"id":"596d206.e4ad6e","type":"http in","z":"fb8e898e.576658","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["126d7e16.c35322"]]},{"id":"126d7e16.c35322","type":"function","z":"fb8e898e.576658","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1240,"wires":[["17cbb001.48642"]]},{"id":"17cbb001.48642","type":"function","z":"fb8e898e.576658","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1120,"wires":[["2f1b74b5.1e29dc","d56ae43d.889628"]]},{"id":"de747db7.c6ee6","type":"inject","z":"fb8e898e.576658","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":860,"wires":[["67edf578.30f48c"]]},{"id":"2559798.d227f86","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":900,"wires":[["54032864.22ed58"]]},{"id":"67edf578.30f48c","type":"function","z":"fb8e898e.576658","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":470,"y":860,"wires":[[]]},{"id":"54032864.22ed58","type":"function","z":"fb8e898e.576658","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":460,"y":900,"wires":[[]]},{"id":"9fa05558.fd82f8","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":320,"wires":[["bd6548ed.cf3af8"]]},{"id":"bd6548ed.cf3af8","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"67a81075.0308c","x":390,"y":340,"wires":[]},{"id":"ea65a59.b806e58","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["bd6548ed.cf3af8"]]},{"id":"152f934e.c4809d","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["bd6548ed.cf3af8"]]},{"id":"8e968d2a.affd6","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/position","qos":"","retain":"","broker":"67a81075.0308c","x":430,"y":140,"wires":[]},{"id":"6a0d75e3.fe3f7c","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["8e968d2a.affd6"]]},{"id":"f5396c23.5094","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["8e968d2a.affd6"]]},{"id":"e4d262f7.e796c","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":160,"wires":[["2bdc5ea9.52fae2"]]},{"id":"23a61e65.768ad2","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":220,"wires":[["2bdc5ea9.52fae2"]]},{"id":"de1875b6.223338","type":"http in","z":"fb8e898e.576658","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":610,"y":100,"wires":[["c4769f3.fa2896"]]},{"id":"2bdc5ea9.52fae2","type":"function","z":"fb8e898e.576658","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["9cb53f76.bf828","c7e72559.ee6788"]]},{"id":"c4769f3.fa2896","type":"template","z":"fb8e898e.576658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":790,"y":100,"wires":[["2bdc5ea9.52fae2"]]},{"id":"9cb53f76.bf828","type":"debug","z":"fb8e898e.576658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":180,"wires":[]},{"id":"96276c0e.14be3","type":"json","z":"fb8e898e.576658","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":600,"wires":[["c7e72559.ee6788"]]},{"id":"b1d85776.e22a68","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":720,"wires":[]},{"id":"c4e5bbc6.704118","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1000,"wires":[]},{"id":"2f1b74b5.1e29dc","type":"change","z":"fb8e898e.576658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1040,"wires":[["c4e5bbc6.704118"]]},{"id":"dd5fc46d.659e08","type":"http in","z":"fb8e898e.576658","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1080,"wires":[["17cbb001.48642"]]},{"id":"f554de0e.2adaa","type":"inject","z":"fb8e898e.576658","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":940,"wires":[["10efabc5.8a5dd4"]]},{"id":"7f6aa60.f35155c","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":940,"wires":[]},{"id":"10efabc5.8a5dd4","type":"change","z":"fb8e898e.576658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":940,"wires":[["7f6aa60.f35155c"]]},{"id":"b99b795d.4b4b18","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":520,"wires":[]},{"id":"67a81075.0308c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78c0a03e.724c9","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"}]