project/backend/management-server/nodered/lib/flows/MqttNaarWs.json
[{"id":"29f61856.c0d3f8","type":"websocket out","z":"397e1663.64646a","name":"","server":"5b8b3446.07107c","client":"","x":1010,"y":520,"wires":[]},{"id":"ef04233d.05928","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":90,"y":600,"wires":[["9fc86d18.78da"]]},{"id":"b30d38ec.4bb448","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"5888488e.5163d8","x":90,"y":540,"wires":[["9fc86d18.78da"]]},{"id":"f9a06a8.16cca98","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":110,"y":360,"wires":[["9fc86d18.78da"]]},{"id":"895ab26c.124a2","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":90,"y":420,"wires":[["9fc86d18.78da"]]},{"id":"2e942351.7b158c","type":"mqtt in","z":"397e1663.64646a","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"5888488e.5163d8","x":100,"y":480,"wires":[["9fc86d18.78da"]]},{"id":"5f64f5f1.f5094c","type":"inject","z":"397e1663.64646a","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":100,"wires":[["3ffa409c.d5636"]]},{"id":"3ffa409c.d5636","type":"mqtt out","z":"397e1663.64646a","name":"","topic":"drone/speed","qos":"","retain":"","broker":"5888488e.5163d8","x":930,"y":100,"wires":[]},{"id":"ba759fb6.1bbf9","type":"function","z":"397e1663.64646a","name":"convertPayload","func":"let geoJSON = `{\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": {\n                    \"speed\": ${flow.get(\"drone/speed\")},\n                    \"battery\": ${flow.get(\"drone/battery\")},\n                    \"acceleration\": ${flow.get(\"drone/acceleration\")},\n                    \"orientation\": ${flow.get(\"drone/orientation\")},\n                    \"position\" : ${flow.get(\"drone/position\")}\n                },\n                \"geometry\": {\n                    \"type\": \"Point\", // LineString gebruiken voor paths\n                    \"coordinates\": [0, 0, 0]\n                }\n            }]\n        }`;\nmsg.payload = geoJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":460,"wires":[["a9b1aa58.d2bd88","29f61856.c0d3f8"]]},{"id":"a9b1aa58.d2bd88","type":"debug","z":"397e1663.64646a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":400,"wires":[]},{"id":"9fc86d18.78da","type":"function","z":"397e1663.64646a","name":"store","func":"\nflow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["ba759fb6.1bbf9","f7cd6183.71ae5"]]},{"id":"f7cd6183.71ae5","type":"debug","z":"397e1663.64646a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":300,"wires":[]},{"id":"d30e1176.43459","type":"inject","z":"397e1663.64646a","name":"","topic":"Battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[["6717dc88.426464"]]},{"id":"6717dc88.426464","type":"mqtt out","z":"397e1663.64646a","name":"","topic":"drone/battery","qos":"","retain":"","broker":"5888488e.5163d8","x":930,"y":160,"wires":[]},{"id":"5b8b3446.07107c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"5888488e.5163d8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]