project/backend/management-server/nodered/lib/flows/ValidatePath.json
[{"id":"8896db0a.2a1218","type":"http in","z":"99738ca1.2b9e2","name":"","url":"/manual","method":"post","upload":false,"swaggerDoc":"","x":230,"y":520,"wires":[["3584b9cb.7744a6"]]},{"id":"9d41245f.e55bf8","type":"mqtt out","z":"99738ca1.2b9e2","name":"","topic":"client/waypoints","qos":"2","retain":"","broker":"5888488e.5163d8","x":960,"y":400,"wires":[]},{"id":"3584b9cb.7744a6","type":"http request","z":"99738ca1.2b9e2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath/validate","tls":"","proxy":"","authType":"basic","x":490,"y":520,"wires":[["2b8c4466.fc421c"]]},{"id":"f6e4b96.e81b848","type":"http response","z":"99738ca1.2b9e2","name":"","statusCode":"200","headers":{},"x":940,"y":460,"wires":[]},{"id":"2b8c4466.fc421c","type":"switch","z":"99738ca1.2b9e2","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":520,"wires":[["f6e4b96.e81b848","9d41245f.e55bf8"],["4e3b14d6.63d79c"]]},{"id":"4e3b14d6.63d79c","type":"http response","z":"99738ca1.2b9e2","name":"","statusCode":"500","headers":{},"x":940,"y":560,"wires":[]},{"id":"5888488e.5163d8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]