docker/drone1-nodejs/src/backend/nodered/flows_WOUTER-LAPTOP.json
[{"id":"e4384a19.99cdd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30314122.4c95ce","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"684ca223.38c41c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"fa82b946.046a08","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":680,"y":20,"wires":[]},{"id":"c05874a5.6bf4b8","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":40,"wires":[["80c2ead2.172718"]]},{"id":"9603e562.88c398","type":"function","z":"e4384a19.99cdd8","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller].orientation;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["ce796130.1e49b"]]},{"id":"8df207f9.bc8548","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"30314122.4c95ce","x":1460,"y":300,"wires":[]},{"id":"e90fe7e6.130158","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":320,"wires":[["9603e562.88c398"]]},{"id":"b080cba9.49b318","type":"switch","z":"e4384a19.99cdd8","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":320,"wires":[["e90fe7e6.130158"]]},{"id":"ce796130.1e49b","type":"switch","z":"e4384a19.99cdd8","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":320,"wires":[["1255e019.2548a"],["bcb9f384.c412a","732a3d3b.ec8984"]]},{"id":"bcb9f384.c412a","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"30314122.4c95ce","x":1100,"y":360,"wires":[]},{"id":"d8b76b55.16c9f8","type":"comment","z":"e4384a19.99cdd8","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":380,"wires":[]},{"id":"fd2a1932.4c3d88","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":440,"wires":[]},{"id":"a741f506.11e928","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":100,"y":440,"wires":[["c719533b.1e0ad"]]},{"id":"c719533b.1e0ad","type":"function","z":"e4384a19.99cdd8","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["fd2a1932.4c3d88"]]},{"id":"d9577372.46733","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":280,"wires":[["8df207f9.bc8548","84153e2c.70c1"]]},{"id":"1255e019.2548a","type":"switch","z":"e4384a19.99cdd8","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":280,"wires":[["d9577372.46733"]]},{"id":"4d091b0c.cad2a4","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":390,"y":760,"wires":[["c3b46d5b.1c4f9"]]},{"id":"cb3c3f28.f69ac","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"30314122.4c95ce","x":70,"y":620,"wires":[["3a6389f3.4e1656","741aa906.d78878"]]},{"id":"56b0a5a1.b4d4ac","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":390,"y":640,"wires":[["c3b46d5b.1c4f9"]]},{"id":"3d24ff42.13313","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":410,"y":680,"wires":[["c3b46d5b.1c4f9"]]},{"id":"72c29033.3b3b9","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":400,"y":720,"wires":[["c3b46d5b.1c4f9"]]},{"id":"bd74f890.158188","type":"function","z":"e4384a19.99cdd8","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":640,"wires":[["75d4b7dc.7fead8","b7c8030a.487b3"]]},{"id":"6d199d.7c34e664","type":"function","z":"e4384a19.99cdd8","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":640,"wires":[["bd74f890.158188"]]},{"id":"3f3eb454.5e11bc","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1440,"wires":[["27fbf655.1689aa"]]},{"id":"27fbf655.1689aa","type":"function","z":"e4384a19.99cdd8","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1440,"wires":[["8f998b66.cbff28"]]},{"id":"a3020177.eb9c3","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":740,"y":1480,"wires":[]},{"id":"3b2c2580.6ff3ea","type":"function","z":"e4384a19.99cdd8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1520,"wires":[["8f998b66.cbff28"]]},{"id":"75d4b7dc.7fead8","type":"websocket out","z":"e4384a19.99cdd8","name":"","server":"684ca223.38c41c","client":"","x":1170,"y":640,"wires":[]},{"id":"9ec25da0.d70e6","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1520,"wires":[["3b2c2580.6ff3ea"]]},{"id":"e2d9d613.bbb9a8","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1560,"wires":[["de6d8f45.0e07f"]]},{"id":"de6d8f45.0e07f","type":"function","z":"e4384a19.99cdd8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1560,"wires":[["8f998b66.cbff28"]]},{"id":"8f998b66.cbff28","type":"function","z":"e4384a19.99cdd8","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1480,"wires":[["a3020177.eb9c3","29572a6.add6ad6"]]},{"id":"ad9dcc3e.a732","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":840,"wires":[["cad43f68.776b2"]]},{"id":"d368d3af.b0c2c","type":"function","z":"e4384a19.99cdd8","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":880,"wires":[["6d199d.7c34e664","a410677b.b4fe38","cc29c63e.38ef18"]]},{"id":"cad43f68.776b2","type":"template","z":"e4384a19.99cdd8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":840,"wires":[["d368d3af.b0c2c","a5ed5db6.6c9a5"]]},{"id":"a410677b.b4fe38","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":880,"wires":[]},{"id":"c3b46d5b.1c4f9","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":640,"wires":[["6d199d.7c34e664"]]},{"id":"93f901e9.26775","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1440,"wires":[]},{"id":"29572a6.add6ad6","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1440,"wires":[["93f901e9.26775"]]},{"id":"2f9ba57e.bfa15a","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["8f998b66.cbff28"]]},{"id":"b7c8030a.487b3","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":600,"wires":[]},{"id":"5cd2144d.74028c","type":"link in","z":"e4384a19.99cdd8","name":"drone/position","links":["3a6389f3.4e1656"],"x":155,"y":320,"wires":[["51787a90.ccff94"]]},{"id":"3a6389f3.4e1656","type":"link out","z":"e4384a19.99cdd8","name":"","links":["5cd2144d.74028c","4487a8fd.931b28"],"x":215,"y":620,"wires":[]},{"id":"a5ed5db6.6c9a5","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":820,"wires":[]},{"id":"55bbc96a.4cdda8","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":410,"y":540,"wires":[["9115e2c2.f5066"]]},{"id":"9115e2c2.f5066","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":540,"wires":[["423ec10d.ded2e"]]},{"id":"423ec10d.ded2e","type":"function","z":"e4384a19.99cdd8","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["bd74f890.158188"]]},{"id":"cc29c63e.38ef18","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":640,"y":920,"wires":[]},{"id":"c909fe8e.7473","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1120,"wires":[["47825f17.816b2"]]},{"id":"d08ff3ab.8f038","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1220,"wires":[["1c69bc0c.c311f4"]]},{"id":"1c69bc0c.c311f4","type":"function","z":"e4384a19.99cdd8","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1220,"wires":[["5db5b2c1.d9942c","b971116b.c04d8"]]},{"id":"47825f17.816b2","type":"switch","z":"e4384a19.99cdd8","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1120,"wires":[["44c2f8f6.13ce18"],["79ecf044.94908"]]},{"id":"79ecf044.94908","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"500","headers":{},"x":520,"y":1140,"wires":[]},{"id":"44c2f8f6.13ce18","type":"function","z":"e4384a19.99cdd8","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1100,"wires":[["74f0c09b.115ef","de9d4441.8251e8","7811e4fe.cad49c"]]},{"id":"5db5b2c1.d9942c","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":540,"y":1200,"wires":[]},{"id":"51787a90.ccff94","type":"switch","z":"e4384a19.99cdd8","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":320,"wires":[["b080cba9.49b318"]]},{"id":"b971116b.c04d8","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"30314122.4c95ce","x":550,"y":1240,"wires":[]},{"id":"80c2ead2.172718","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 1;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["fa82b946.046a08"]]},{"id":"74f0c09b.115ef","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/start","qos":"1","retain":"","broker":"30314122.4c95ce","x":830,"y":1020,"wires":[]},{"id":"566ac945.5ac748","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1040,"wires":[["48bf9ed5.024d"]]},{"id":"48bf9ed5.024d","type":"function","z":"e4384a19.99cdd8","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1040,"wires":[["24378e76.a175a2"]]},{"id":"24378e76.a175a2","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":510,"y":1040,"wires":[]},{"id":"831bcca.6b0283","type":"http request","z":"e4384a19.99cdd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":80,"wires":[["68d8cc68.0aea34","b108db1.94c1628"]]},{"id":"577ff0f7.9c28a","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":80,"wires":[["831bcca.6b0283"]]},{"id":"c1ef0a7.95075f8","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[["f3ef045c.7feba8"]]},{"id":"68d8cc68.0aea34","type":"switch","z":"e4384a19.99cdd8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":80,"wires":[["c1ef0a7.95075f8"],["b50e4ba3.db7be8"]]},{"id":"b50e4ba3.db7be8","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":100,"wires":[["dc24897.3885f78"]]},{"id":"f3ef045c.7feba8","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":1160,"y":40,"wires":[]},{"id":"dc24897.3885f78","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"500","headers":{},"x":1160,"y":100,"wires":[]},{"id":"de9d4441.8251e8","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":820,"y":1100,"wires":[]},{"id":"b108db1.94c1628","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":140,"wires":[]},{"id":"99a9a098.ae5db","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1300,"wires":[["5acfef91.92479"]]},{"id":"5acfef91.92479","type":"function","z":"e4384a19.99cdd8","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1300,"wires":[["fb7fb070.37be","6a90ad96.d6b474"]]},{"id":"fb7fb070.37be","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":500,"y":1300,"wires":[]},{"id":"6a90ad96.d6b474","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"30314122.4c95ce","x":490,"y":1340,"wires":[]},{"id":"84153e2c.70c1","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":260,"wires":[]},{"id":"732a3d3b.ec8984","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":440,"wires":[]},{"id":"741aa906.d78878","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":700,"wires":[]},{"id":"7811e4fe.cad49c","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":980,"wires":[]},{"id":"aee46d46.2f68d","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"30314122.4c95ce","x":1050,"y":1040,"wires":[["dd6c4017.55d9b"]]},{"id":"dd6c4017.55d9b","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"30314122.4c95ce","x":1240,"y":1040,"wires":[]},{"id":"4487a8fd.931b28","type":"link in","z":"e4384a19.99cdd8","name":"","links":["3a6389f3.4e1656"],"x":455,"y":580,"wires":[["c3b46d5b.1c4f9"]]}]