project/backend/management-server/nodered/.flows_MacBook-Pro-3.local.json.backup
[{"id":"4a8a55d6.f9d8b4","type":"tab","label":"Flightpath [positie]","disabled":false,"info":""},{"id":"dfb64072.ff54b","type":"tab","label":"Data frontend","disabled":false,"info":""},{"id":"18177aad.61d695","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6450003a.114108","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5a9684f9.ce6064","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"3dce6376.62b49c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"29f040c2.b44cc","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c0665cee.9c1708","type":"mqtt in","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/position","qos":"1","datatype":"auto","broker":"6450003a.114108","x":2110,"y":300,"wires":[[]]},{"id":"fc2ce99b.c7e89","type":"http request","z":"4a8a55d6.f9d8b4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":310,"y":200,"wires":[["28d8fd11.c7de6a"]]},{"id":"1df32e53.8b95ea","type":"http response","z":"4a8a55d6.f9d8b4","name":"","statusCode":"200","headers":{},"x":800,"y":160,"wires":[]},{"id":"28d8fd11.c7de6a","type":"switch","z":"4a8a55d6.f9d8b4","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":200,"wires":[["1df32e53.8b95ea","ce34eb97.d81a6"],["a3845c34.ccb9"]]},{"id":"d03532b4.b725","type":"http in","z":"4a8a55d6.f9d8b4","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["fc2ce99b.c7e89"]]},{"id":"a3845c34.ccb9","type":"http response","z":"4a8a55d6.f9d8b4","name":"","statusCode":"500","headers":{},"x":800,"y":260,"wires":[]},{"id":"7c844780.7df828","type":"inject","z":"4a8a55d6.f9d8b4","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":2.2,\"y\":2.2},{\"x\":2.2,\"y\":15.4},{\"x\":10.5,\"y\":15.4}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":80,"wires":[["ce34eb97.d81a6"]]},{"id":"e601e112.7e59a8","type":"mqtt out","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"5a9684f9.ce6064","x":1020,"y":80,"wires":[]},{"id":"ce34eb97.d81a6","type":"function","z":"4a8a55d6.f9d8b4","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":80,"wires":[["e601e112.7e59a8","fbe3193f.cea978","3f8eb001.da6d","13752200.ee5296"]]},{"id":"35e9a0a2.786b4","type":"mqtt in","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"5a9684f9.ce6064","x":120,"y":400,"wires":[["e9aa5b5.0988fa8"]]},{"id":"946cadfd.ea7f6","type":"function","z":"4a8a55d6.f9d8b4","name":"radius point","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\n\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller < flow.get('waypoints').waypoints.length) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller++];\n        flow.set('destination',msg.payload);\n    }\n    else {\n        //positie om terug te keren\n        moveteller -= 2;\n        stop = true;\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["e0317ebc.3849a","246ce684.ffe55a","83ea0730.76e798","6bb70293.4fe6cc","c1cfdcf6.e2fb6","80facefd.3480f","15a3b86f.3eaa48"]]},{"id":"ae4fbaa0.a307c","type":"comment","z":"4a8a55d6.f9d8b4","name":"","info":"Aan de hand van een radius checken of hij bij het te bereiken punt ligt. \nZo ja gaat hij het volgende punt doorsturen aan de hand van de moveteller.\nVoorlopig is de radius hardgecodeerd maar zou kunnen ingesteld worden (voorlopig 0.1).\nWanneer hij aan het einde is toegekomen gaan we terug. (reverse zonder te checken of hij moet scannen)","x":260,"y":320,"wires":[]},{"id":"e0317ebc.3849a","type":"mqtt out","z":"4a8a55d6.f9d8b4","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"5a9684f9.ce6064","x":740,"y":400,"wires":[]},{"id":"246ce684.ffe55a","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":480,"wires":[["61992193.673c88","86b395d8.859b48"]]},{"id":"fbe3193f.cea978","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":140,"wires":[["62113ead.a87b9","db62f095.e4356"]]},{"id":"62113ead.a87b9","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":100,"wires":[]},{"id":"83ea0730.76e798","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[["f58ac537.f37ca"]]},{"id":"db62f095.e4356","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1300,"y":140,"wires":[]},{"id":"6bb70293.4fe6cc","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":560,"wires":[["46f1295e.9ed26"]]},{"id":"e9aa5b5.0988fa8","type":"json","z":"4a8a55d6.f9d8b4","name":"","property":"payload","action":"","pretty":false,"x":310,"y":400,"wires":[["946cadfd.ea7f6"]]},{"id":"3f8eb001.da6d","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":180,"wires":[["a740ce1f.4796a"]]},{"id":"a740ce1f.4796a","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1300,"y":180,"wires":[]},{"id":"9519e1b1.73bf","type":"comment","z":"4a8a55d6.f9d8b4","name":"Moveteller!!","info":"fout in de moveteller kan voor problemen zorgen\n(naar verkeerde coo vliegen -> opvangen met collision)","x":350,"y":80,"wires":[]},{"id":"13752200.ee5296","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":220,"wires":[["63224696.b2769"]]},{"id":"63224696.b2769","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1300,"y":220,"wires":[]},{"id":"1d2f7904.6cf867","type":"websocket out","z":"dfb64072.ff54b","name":"","server":"3dce6376.62b49c","client":"","x":990,"y":440,"wires":[]},{"id":"8e4cf038.634f2","type":"mqtt in","z":"dfb64072.ff54b","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"29f040c2.b44cc","x":70,"y":520,"wires":[["8166efc2.a6df6"]]},{"id":"c4630d82.9f58c8","type":"mqtt in","z":"dfb64072.ff54b","name":"","topic":"drone/position","qos":"2","datatype":"auto","broker":"29f040c2.b44cc","x":70,"y":460,"wires":[["8166efc2.a6df6"]]},{"id":"475768ee.c25708","type":"mqtt in","z":"dfb64072.ff54b","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"29f040c2.b44cc","x":90,"y":280,"wires":[["8166efc2.a6df6"]]},{"id":"c51c852c.aeb1a8","type":"mqtt in","z":"dfb64072.ff54b","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"29f040c2.b44cc","x":70,"y":340,"wires":[["8166efc2.a6df6"]]},{"id":"f5274624.1e3af8","type":"mqtt in","z":"dfb64072.ff54b","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"29f040c2.b44cc","x":80,"y":400,"wires":[["8166efc2.a6df6"]]},{"id":"eef52439.acf9b8","type":"inject","z":"dfb64072.ff54b","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":20,"wires":[["48daad79.83f32c"]]},{"id":"48daad79.83f32c","type":"mqtt out","z":"dfb64072.ff54b","name":"","topic":"drone/speed","qos":"","retain":"","broker":"29f040c2.b44cc","x":910,"y":20,"wires":[]},{"id":"78e8409.454914","type":"function","z":"dfb64072.ff54b","name":"convertPayload","func":"let subs = global.get(\"subscriptions\") || {};\nmsg.subs = subs;\n\nlet geoJSON = `{\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": {`;\nif(Object.keys(subs).length){\n    for(let key in subs){\n        //if(subs[key] == true)\n            geoJSON += `\"${key}:\" ${flow.get(\"drone/\" + key)},`;\n    }\n    geoJSON = geoJSON.slice(0,-1);\n}\ngeoJSON += \n                `},\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [0, 0, 0]\n                }\n            }]\n        }`;\nmsg.payload = geoJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["8c50bf2b.f0ead8","1d2f7904.6cf867"]]},{"id":"8c50bf2b.f0ead8","type":"debug","z":"dfb64072.ff54b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1040,"y":320,"wires":[]},{"id":"8166efc2.a6df6","type":"function","z":"dfb64072.ff54b","name":"store","func":"\nflow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["78e8409.454914","9bc9e7d8.8c141"]]},{"id":"9bc9e7d8.8c141","type":"debug","z":"dfb64072.ff54b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":220,"wires":[]},{"id":"fb9a6ff8.8d0c88","type":"inject","z":"dfb64072.ff54b","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":80,"wires":[["6c8fb465.22a7a4"]]},{"id":"6c8fb465.22a7a4","type":"mqtt out","z":"dfb64072.ff54b","name":"","topic":"drone/battery","qos":"","retain":"","broker":"29f040c2.b44cc","x":910,"y":80,"wires":[]},{"id":"6bcc073c.6512b8","type":"http in","z":"dfb64072.ff54b","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":700,"wires":[["bfa23c4b.df06","8579ff28.9de598"]]},{"id":"bfa23c4b.df06","type":"function","z":"dfb64072.ff54b","name":"","func":"let sub = global.subscriptions || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.subscriptions = sub;\n\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":700,"wires":[["a903648a.698448","2173b682.1298a2"]]},{"id":"a903648a.698448","type":"http response","z":"dfb64072.ff54b","name":"","statusCode":"200","headers":{},"x":520,"y":700,"wires":[]},{"id":"8579ff28.9de598","type":"debug","z":"dfb64072.ff54b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":600,"wires":[]},{"id":"2173b682.1298a2","type":"debug","z":"dfb64072.ff54b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":660,"y":600,"wires":[]},{"id":"c1cfdcf6.e2fb6","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":600,"wires":[["1f4bce27.1ecd5a"]]},{"id":"80facefd.3480f","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":640,"wires":[["9eb17c95.54c478"]]},{"id":"61992193.673c88","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":440,"wires":[]},{"id":"86b395d8.859b48","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":960,"y":480,"wires":[]},{"id":"f58ac537.f37ca","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":960,"y":520,"wires":[]},{"id":"46f1295e.9ed26","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":940,"y":560,"wires":[]},{"id":"1f4bce27.1ecd5a","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":960,"y":600,"wires":[]},{"id":"9eb17c95.54c478","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":940,"y":640,"wires":[]},{"id":"15a3b86f.3eaa48","type":"change","z":"4a8a55d6.f9d8b4","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["d5962f04.97f08"]]},{"id":"d5962f04.97f08","type":"debug","z":"4a8a55d6.f9d8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":940,"y":680,"wires":[]}]