project/backend/management-server/nodered/.flows_WOUTER-DESKTOP.json.backup
[{"id":"293e28e9.d5df18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a615ce5b.56619","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"5211311.ae1fcd","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3264c123.6e371e","type":"websocket out","z":"293e28e9.d5df18","name":"","server":"a615ce5b.56619","client":"","x":1110,"y":560,"wires":[]},{"id":"a5515b24.83d418","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"Battery","qos":"1","datatype":"auto","broker":"5211311.ae1fcd","x":210,"y":640,"wires":[["7caea398.6a55fc"]]},{"id":"fc98c8d7.5d99f8","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"Position","qos":"2","datatype":"auto","broker":"5211311.ae1fcd","x":210,"y":580,"wires":[["7caea398.6a55fc"]]},{"id":"bcbb67cb.28f658","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"Acceleration","qos":"1","datatype":"auto","broker":"5211311.ae1fcd","x":230,"y":400,"wires":[["7caea398.6a55fc"]]},{"id":"7ffea90.b0cb658","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"Speed","qos":"1","datatype":"auto","broker":"5211311.ae1fcd","x":210,"y":460,"wires":[["7caea398.6a55fc"]]},{"id":"1ec4e94b.e1ae67","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"Orientation","qos":"1","datatype":"auto","broker":"5211311.ae1fcd","x":220,"y":520,"wires":[["7caea398.6a55fc"]]},{"id":"f39bd9d5.4e1138","type":"inject","z":"293e28e9.d5df18","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":140,"wires":[["450e1151.5da0a"]]},{"id":"450e1151.5da0a","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"Speed","qos":"","retain":"","broker":"5211311.ae1fcd","x":1010,"y":140,"wires":[]},{"id":"6ab2a7b8.e3b618","type":"function","z":"293e28e9.d5df18","name":"convertPayload","func":"let geoJSON = {\n            type: \"FeatureCollection\",\n            features: [{\n                \"type\": \"Feature\",\n                properties: {\n                    speed: flow.get(\"Speed\"),\n                    battery: flow.get(\"Battery\"),\n                    acceleration: flow.get(\"Acceleration\"),\n                    orientation: flow.get(\"Orientation\"),\n                    position: flow.get(\"Position\")\n                },\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [0, 0, 0]\n                }\n            }]\n        };\nmsg.payload = geoJSON;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":500,"wires":[["ddefdde4.c909b","3264c123.6e371e"]]},{"id":"ddefdde4.c909b","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":440,"wires":[]},{"id":"7caea398.6a55fc","type":"function","z":"293e28e9.d5df18","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["6ab2a7b8.e3b618","2ccef71b.f2e4a8"]]},{"id":"2ccef71b.f2e4a8","type":"debug","z":"293e28e9.d5df18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":340,"wires":[]},{"id":"4602142d.7ecf1c","type":"inject","z":"293e28e9.d5df18","name":"","topic":"Battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["a869b585.a25dc8"]]},{"id":"a869b585.a25dc8","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"Battery","qos":"","retain":"","broker":"5211311.ae1fcd","x":1020,"y":200,"wires":[]},{"id":"3aca7e1e.8055f2","type":"inject","z":"293e28e9.d5df18","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":80,"wires":[["fa41958b.b13188"]]},{"id":"fa41958b.b13188","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"Orientation","qos":"","retain":"","broker":"5211311.ae1fcd","x":1030,"y":80,"wires":[]},{"id":"bd71b624.763c38","type":"inject","z":"293e28e9.d5df18","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":20,"wires":[["fd7a6334.61175"]]},{"id":"fd7a6334.61175","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"Orientation","qos":"","retain":"","broker":"5211311.ae1fcd","x":1030,"y":20,"wires":[]}]