project/backend/management-server/nodered/flows_JOCHENLAROYA478.json
[{"id":"52b6bd25.3be634","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5f7ff3d8.f185fc","type":"inject","z":"52b6bd25.3be634","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":200,"wires":[["c8fe9e2b.0995a"]]},{"id":"c8fe9e2b.0995a","type":"debug","z":"52b6bd25.3be634","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":200,"wires":[]},{"id":"3c81ad54.ac9ed2","type":"inject","z":"52b6bd25.3be634","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["c8fe9e2b.0995a"]]}]