project/backend/management-server/nodered/flows_Roel.json
[{"id":"aa3c2b8c.ac8d38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"589a5dc9.f0f7f4","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b63ed86.b28ef28","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"22dff8e3.29e2a8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":680,"y":80,"wires":[]},{"id":"44640adc.6bb2c4","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["79f2da95.c99794"]]},{"id":"cc02b755.a6e988","type":"function","z":"aa3c2b8c.ac8d38","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["3cedab5a.b4e674"]]},{"id":"48fc7181.ec13a","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"589a5dc9.f0f7f4","x":1600,"y":280,"wires":[]},{"id":"f0d91ae8.5e6388","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":300,"wires":[["cc02b755.a6e988"]]},{"id":"60cc13b2.717dcc","type":"switch","z":"aa3c2b8c.ac8d38","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":300,"wires":[["f0d91ae8.5e6388"]]},{"id":"3cedab5a.b4e674","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":300,"wires":[["5602cc02.1d99d4"],["c2dbd5af.b886b8","1a5b908d.d9b15f"]]},{"id":"1a5b908d.d9b15f","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":1200,"y":300,"wires":[]},{"id":"d9d0f91b.8bddc8","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"589a5dc9.f0f7f4","x":100,"y":440,"wires":[["cd60b0bd.61458","63eb07b8.57cc18"]]},{"id":"8f6bd031.7680a","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["f0b88f4d.4a0e2"]]},{"id":"5602cc02.1d99d4","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":260,"wires":[["8f6bd031.7680a"]]},{"id":"4e60752e.c3aafc","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"589a5dc9.f0f7f4","x":390,"y":800,"wires":[["596816c7.b02ab8"]]},{"id":"8d39f32b.29525","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"589a5dc9.f0f7f4","x":70,"y":660,"wires":[["dbb97b7a.11b7d8","8d227bca.0a9d78"]]},{"id":"9b7d78b0.adc0f8","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"589a5dc9.f0f7f4","x":390,"y":680,"wires":[["596816c7.b02ab8"]]},{"id":"9046d10c.745c5","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"589a5dc9.f0f7f4","x":410,"y":720,"wires":[["596816c7.b02ab8"]]},{"id":"fce1b9ef.b74a18","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"589a5dc9.f0f7f4","x":400,"y":760,"wires":[["596816c7.b02ab8"]]},{"id":"6d16ce03.f60a4","type":"function","z":"aa3c2b8c.ac8d38","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["ac8fa93e.c03fa8","9142a11a.7e61a"]]},{"id":"c55d20a9.8ee22","type":"function","z":"aa3c2b8c.ac8d38","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["6d16ce03.f60a4"]]},{"id":"ed797be3.4bcf88","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["3ea8e538.b5d87a"]]},{"id":"3ea8e538.b5d87a","type":"function","z":"aa3c2b8c.ac8d38","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["21dbd636.b240ca"]]},{"id":"71bcc345.68ac1c","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":740,"y":1520,"wires":[]},{"id":"4205141a.e026dc","type":"function","z":"aa3c2b8c.ac8d38","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["21dbd636.b240ca"]]},{"id":"ac8fa93e.c03fa8","type":"websocket out","z":"aa3c2b8c.ac8d38","name":"","server":"b63ed86.b28ef28","client":"","x":1170,"y":680,"wires":[]},{"id":"30a59fbd.2e064","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1560,"wires":[["4205141a.e026dc"]]},{"id":"63c7e000.7786e","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1600,"wires":[["58f61a17.cff1d4"]]},{"id":"58f61a17.cff1d4","type":"function","z":"aa3c2b8c.ac8d38","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1600,"wires":[["21dbd636.b240ca"]]},{"id":"21dbd636.b240ca","type":"function","z":"aa3c2b8c.ac8d38","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1520,"wires":[["71bcc345.68ac1c","d0c656fb.83cbc8"]]},{"id":"1d4c98c9.a58447","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["44532940.8a58a8"]]},{"id":"c6f889f5.18b9f8","type":"function","z":"aa3c2b8c.ac8d38","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["c55d20a9.8ee22","7ebfebf8.a954f4","f0b1b75d.91e7e8"]]},{"id":"44532940.8a58a8","type":"template","z":"aa3c2b8c.ac8d38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":880,"wires":[["c6f889f5.18b9f8","503baefb.cee8c"]]},{"id":"7ebfebf8.a954f4","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":920,"wires":[]},{"id":"596816c7.b02ab8","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":680,"wires":[["c55d20a9.8ee22"]]},{"id":"f4045fa7.b35e6","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1480,"wires":[]},{"id":"d0c656fb.83cbc8","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1480,"wires":[["f4045fa7.b35e6"]]},{"id":"cc832bd0.b5de88","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1520,"wires":[["21dbd636.b240ca"]]},{"id":"9142a11a.7e61a","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":640,"wires":[]},{"id":"f60d5157.a3dd6","type":"link in","z":"aa3c2b8c.ac8d38","name":"drone/position","links":["dbb97b7a.11b7d8"],"x":155,"y":300,"wires":[["24ff694.7ddcb96"]]},{"id":"dbb97b7a.11b7d8","type":"link out","z":"aa3c2b8c.ac8d38","name":"","links":["f60d5157.a3dd6","c4d9b248.6a1b1"],"x":215,"y":660,"wires":[]},{"id":"503baefb.cee8c","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"f2ba9af2.7d5aa8","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"589a5dc9.f0f7f4","x":410,"y":580,"wires":[["5755f3ec.51d73c"]]},{"id":"5755f3ec.51d73c","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":580,"wires":[["925275a.8b14188"]]},{"id":"925275a.8b14188","type":"function","z":"aa3c2b8c.ac8d38","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["6d16ce03.f60a4"]]},{"id":"f0b1b75d.91e7e8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":640,"y":960,"wires":[]},{"id":"873b76fd.d7f898","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["f605f801.39e3f8"]]},{"id":"daee135a.eee42","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["2c7c64e4.25e2cc"]]},{"id":"2c7c64e4.25e2cc","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["7da51e64.3677a","311cf09e.bb324"]]},{"id":"f605f801.39e3f8","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["362adb75.bee524"],["7a55ed40.dde354"]]},{"id":"7a55ed40.dde354","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":520,"y":1180,"wires":[]},{"id":"362adb75.bee524","type":"function","z":"aa3c2b8c.ac8d38","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1140,"wires":[["b8bbefe0.f3071","78e26f3.853489","5b15862a.7d0998"]]},{"id":"7da51e64.3677a","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":540,"y":1240,"wires":[]},{"id":"24ff694.7ddcb96","type":"switch","z":"aa3c2b8c.ac8d38","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["60cc13b2.717dcc"]]},{"id":"311cf09e.bb324","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":550,"y":1280,"wires":[]},{"id":"79f2da95.c99794","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["22dff8e3.29e2a8","ce983d50.58574"]]},{"id":"b8bbefe0.f3071","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":830,"y":1060,"wires":[]},{"id":"72b03368.801cfc","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["7aa95f61.cb249"]]},{"id":"7aa95f61.cb249","type":"function","z":"aa3c2b8c.ac8d38","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1080,"wires":[["528b46b5.d1d1f8"]]},{"id":"528b46b5.d1d1f8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":510,"y":1080,"wires":[]},{"id":"bc571929.2dd2d8","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":120,"wires":[["c6e48d17.b1ed5"]]},{"id":"a79f8692.dfbd08","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["bc571929.2dd2d8"]]},{"id":"eac745e2.34e7d8","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["c9875d1a.23683"]]},{"id":"c6e48d17.b1ed5","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":120,"wires":[["eac745e2.34e7d8"],["8395855f.e92188"]]},{"id":"8395855f.e92188","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["b74f25fb.0461d8"]]},{"id":"c9875d1a.23683","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":1160,"y":80,"wires":[]},{"id":"b74f25fb.0461d8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":1160,"y":140,"wires":[]},{"id":"78e26f3.853489","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":820,"y":1140,"wires":[]},{"id":"abfb7c36.c8533","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1340,"wires":[["96c61075.cf733"]]},{"id":"96c61075.cf733","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1340,"wires":[["ba42350f.444da8","be542b25.e1dc38"]]},{"id":"ba42350f.444da8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":500,"y":1340,"wires":[]},{"id":"be542b25.e1dc38","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":490,"y":1380,"wires":[]},{"id":"ab32455e.9d8058","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":240,"wires":[]},{"id":"c2dbd5af.b886b8","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":340,"wires":[]},{"id":"8d227bca.0a9d78","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":740,"wires":[]},{"id":"5b15862a.7d0998","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1020,"wires":[]},{"id":"5c000d15.1337e4","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"589a5dc9.f0f7f4","x":1050,"y":1080,"wires":[["bcceb577.f9ace8"]]},{"id":"bcceb577.f9ace8","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"589a5dc9.f0f7f4","x":1240,"y":1080,"wires":[]},{"id":"c4d9b248.6a1b1","type":"link in","z":"aa3c2b8c.ac8d38","name":"","links":["dbb97b7a.11b7d8"],"x":455,"y":620,"wires":[["596816c7.b02ab8"]]},{"id":"a252cbb4.e98e98","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":40,"wires":[]},{"id":"ce983d50.58574","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["a252cbb4.e98e98"]]},{"id":"15936cf3.9dc513","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":460,"wires":[["aef66530.671a98"]]},{"id":"beb07447.1df938","type":"comment","z":"aa3c2b8c.ac8d38","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":380,"wires":[]},{"id":"aef66530.671a98","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":440,"wires":[["12afb1c6.11ef2e"]]},{"id":"cd60b0bd.61458","type":"function","z":"aa3c2b8c.ac8d38","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["448a76d7.ad4368"]]},{"id":"12afb1c6.11ef2e","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":440,"wires":[]},{"id":"448a76d7.ad4368","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"589a5dc9.f0f7f4","x":550,"y":500,"wires":[]},{"id":"f0b88f4d.4a0e2","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":260,"wires":[["48fc7181.ec13a","ab32455e.9d8058"]]},{"id":"63eb07b8.57cc18","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":440,"wires":[["a0cfa8ee.bb7928"]]},{"id":"a0cfa8ee.bb7928","type":"function","z":"aa3c2b8c.ac8d38","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = flow.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["849e0bd6.d55688"]]},{"id":"849e0bd6.d55688","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":440,"wires":[["85bf86c.195c178","b3b2a419.0daaa8"],["15936cf3.9dc513","b3b2a419.0daaa8"]]},{"id":"85bf86c.195c178","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":420,"wires":[["aef66530.671a98"]]},{"id":"b3b2a419.0daaa8","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":360,"wires":[]}]