project/backend/management-server/nodered/flows_WOUTER-LAPTOP.json
[{"id":"db7684b1.4266a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc647504.9ec4b8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21083311.d2238c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"ad04ce43.79162","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":110,"y":700,"wires":[["3882eee5.1ff962"]]},{"id":"1bdc7bc3.0bdfd4","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"bc647504.9ec4b8","x":110,"y":640,"wires":[["3882eee5.1ff962"]]},{"id":"a5aa8827.3f2308","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":130,"y":460,"wires":[["3882eee5.1ff962"]]},{"id":"e8c738ad.7a6178","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":110,"y":520,"wires":[["3882eee5.1ff962"]]},{"id":"60dcc25c.01cbec","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":120,"y":580,"wires":[["3882eee5.1ff962"]]},{"id":"a2a0de55.d4208","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["ce705418.49e1a8"]]},{"id":"ce705418.49e1a8","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/speed","qos":"","retain":"","broker":"bc647504.9ec4b8","x":330,"y":320,"wires":[]},{"id":"28943a89.6078f6","type":"function","z":"db7684b1.4266a8","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": flow.get('drone/position')\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":560,"wires":[["623acf0a.5b6af","bd6a8787.702f08","5d57bfeb.2702d"]]},{"id":"623acf0a.5b6af","type":"debug","z":"db7684b1.4266a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":520,"wires":[]},{"id":"3882eee5.1ff962","type":"function","z":"db7684b1.4266a8","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["28943a89.6078f6","76bd1258.9380ac"]]},{"id":"76bd1258.9380ac","type":"debug","z":"db7684b1.4266a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":520,"wires":[]},{"id":"100df6bd.544c09","type":"inject","z":"db7684b1.4266a8","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["2373f48c.62d26c"]]},{"id":"2373f48c.62d26c","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/battery","qos":"","retain":"","broker":"bc647504.9ec4b8","x":330,"y":380,"wires":[]},{"id":"a541cb2c.da5f88","type":"http in","z":"db7684b1.4266a8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":900,"wires":[["42239388.e1ba9c"]]},{"id":"42239388.e1ba9c","type":"function","z":"db7684b1.4266a8","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":900,"wires":[["ca9681d3.3007e"]]},{"id":"3cdfe7b8.3eb978","type":"http response","z":"db7684b1.4266a8","name":"","statusCode":"200","headers":{},"x":640,"y":980,"wires":[]},{"id":"bd6a8787.702f08","type":"debug","z":"db7684b1.4266a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":640,"y":480,"wires":[]},{"id":"157f412a.7f448f","type":"function","z":"db7684b1.4266a8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":980,"wires":[["ca9681d3.3007e"]]},{"id":"5d57bfeb.2702d","type":"websocket out","z":"db7684b1.4266a8","name":"","server":"21083311.d2238c","client":"","x":670,"y":620,"wires":[]},{"id":"80479191.5e4f1","type":"http in","z":"db7684b1.4266a8","name":"","url":"/data/all","method":"get","upload":false,"swaggerDoc":"","x":100,"y":980,"wires":[["157f412a.7f448f"]]},{"id":"edeea062.0fd2c","type":"http in","z":"db7684b1.4266a8","name":"","url":"/data/none","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1060,"wires":[["ce057f47.8aeb3"]]},{"id":"ce057f47.8aeb3","type":"function","z":"db7684b1.4266a8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1060,"wires":[["ca9681d3.3007e"]]},{"id":"ca9681d3.3007e","type":"function","z":"db7684b1.4266a8","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":980,"wires":[["3cdfe7b8.3eb978"]]},{"id":"42aa002.6e8f3","type":"inject","z":"db7684b1.4266a8","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":780,"wires":[["f6702a00.8bb688"]]},{"id":"f21be279.5d2e","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":820,"wires":[["7e97e4f6.79c51c"]]},{"id":"f6702a00.8bb688","type":"function","z":"db7684b1.4266a8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":390,"y":780,"wires":[[]]},{"id":"7e97e4f6.79c51c","type":"function","z":"db7684b1.4266a8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":380,"y":820,"wires":[[]]},{"id":"4d009217.5aebbc","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["f21176c.6d54688"]]},{"id":"f21176c.6d54688","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"bc647504.9ec4b8","x":310,"y":260,"wires":[]},{"id":"aae1a747.fe8768","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["f21176c.6d54688"]]},{"id":"c4e6ffa6.2a62f","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["f21176c.6d54688"]]},{"id":"c89300ea.01524","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"[1000,5000,2500]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["64b4ab5a.169594"]]},{"id":"64b4ab5a.169594","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/position","qos":"","retain":"","broker":"bc647504.9ec4b8","x":320,"y":120,"wires":[]},{"id":"bd86d03e.7aee8","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"[9000,8000,2500]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["64b4ab5a.169594"]]},{"id":"c5088f44.3b37c","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"[0,0,0]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["64b4ab5a.169594"]]}]