project/backend/management-server/nodered/flows_WOUTER-LAPTOP.json
[{"id":"db7684b1.4266a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c4fd01f7.9bd41","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bc647504.9ec4b8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21083311.d2238c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"7bf040d2.5e6b1","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1aa144f2.c5c47b","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ad04ce43.79162","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":120,"y":800,"wires":[[]]},{"id":"1bdc7bc3.0bdfd4","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"bc647504.9ec4b8","x":120,"y":740,"wires":[["23349682.c6481a"]]},{"id":"a5aa8827.3f2308","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":140,"y":560,"wires":[[]]},{"id":"e8c738ad.7a6178","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":120,"y":620,"wires":[[]]},{"id":"60dcc25c.01cbec","type":"mqtt in","z":"db7684b1.4266a8","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"bc647504.9ec4b8","x":130,"y":680,"wires":[[]]},{"id":"a2a0de55.d4208","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["ce705418.49e1a8"]]},{"id":"ce705418.49e1a8","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/speed","qos":"","retain":"","broker":"bc647504.9ec4b8","x":340,"y":420,"wires":[]},{"id":"28943a89.6078f6","type":"function","z":"db7684b1.4266a8","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet position = flow.get('drone/position')\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":600,"wires":[["623acf0a.5b6af","bd6a8787.702f08","5d57bfeb.2702d"]]},{"id":"623acf0a.5b6af","type":"debug","z":"db7684b1.4266a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":560,"wires":[]},{"id":"3882eee5.1ff962","type":"function","z":"db7684b1.4266a8","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["28943a89.6078f6","76bd1258.9380ac"]]},{"id":"76bd1258.9380ac","type":"debug","z":"db7684b1.4266a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":560,"wires":[]},{"id":"100df6bd.544c09","type":"inject","z":"db7684b1.4266a8","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":480,"wires":[["2373f48c.62d26c"]]},{"id":"2373f48c.62d26c","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/battery","qos":"","retain":"","broker":"bc647504.9ec4b8","x":330,"y":500,"wires":[]},{"id":"a541cb2c.da5f88","type":"http in","z":"db7684b1.4266a8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1000,"wires":[["42239388.e1ba9c"]]},{"id":"42239388.e1ba9c","type":"function","z":"db7684b1.4266a8","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1000,"wires":[["ca9681d3.3007e"]]},{"id":"3cdfe7b8.3eb978","type":"http response","z":"db7684b1.4266a8","name":"","statusCode":"200","headers":{},"x":650,"y":1080,"wires":[]},{"id":"bd6a8787.702f08","type":"debug","z":"db7684b1.4266a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":840,"y":520,"wires":[]},{"id":"157f412a.7f448f","type":"function","z":"db7684b1.4266a8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["ca9681d3.3007e"]]},{"id":"5d57bfeb.2702d","type":"websocket out","z":"db7684b1.4266a8","name":"","server":"21083311.d2238c","client":"","x":870,"y":660,"wires":[]},{"id":"80479191.5e4f1","type":"http in","z":"db7684b1.4266a8","name":"","url":"/data/all","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["157f412a.7f448f"]]},{"id":"edeea062.0fd2c","type":"http in","z":"db7684b1.4266a8","name":"","url":"/data/none","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["ce057f47.8aeb3"]]},{"id":"ce057f47.8aeb3","type":"function","z":"db7684b1.4266a8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1160,"wires":[["ca9681d3.3007e"]]},{"id":"ca9681d3.3007e","type":"function","z":"db7684b1.4266a8","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1080,"wires":[["3cdfe7b8.3eb978"]]},{"id":"42aa002.6e8f3","type":"inject","z":"db7684b1.4266a8","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["f6702a00.8bb688"]]},{"id":"f21be279.5d2e","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["7e97e4f6.79c51c"]]},{"id":"f6702a00.8bb688","type":"function","z":"db7684b1.4266a8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":400,"y":880,"wires":[[]]},{"id":"7e97e4f6.79c51c","type":"function","z":"db7684b1.4266a8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":390,"y":920,"wires":[[]]},{"id":"4d009217.5aebbc","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["f21176c.6d54688"]]},{"id":"f21176c.6d54688","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"bc647504.9ec4b8","x":320,"y":360,"wires":[]},{"id":"aae1a747.fe8768","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["f21176c.6d54688"]]},{"id":"c4e6ffa6.2a62f","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["f21176c.6d54688"]]},{"id":"64b4ab5a.169594","type":"mqtt out","z":"db7684b1.4266a8","name":"","topic":"drone/position","qos":"","retain":"","broker":"bc647504.9ec4b8","x":360,"y":160,"wires":[]},{"id":"bd86d03e.7aee8","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":140,"wires":[["64b4ab5a.169594"]]},{"id":"c5088f44.3b37c","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["64b4ab5a.169594"]]},{"id":"4b1b4668.39b518","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["d6ef28d9.3b3c58"]]},{"id":"6cbe3469.dbb1ec","type":"inject","z":"db7684b1.4266a8","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":240,"wires":[["d6ef28d9.3b3c58"]]},{"id":"ec7e8556.154778","type":"http in","z":"db7684b1.4266a8","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":540,"y":120,"wires":[["b7119fe.868126"]]},{"id":"d6ef28d9.3b3c58","type":"function","z":"db7684b1.4266a8","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["3b263ec.a4d15c2"]]},{"id":"b7119fe.868126","type":"template","z":"db7684b1.4266a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":720,"y":120,"wires":[["d6ef28d9.3b3c58"]]},{"id":"3b263ec.a4d15c2","type":"debug","z":"db7684b1.4266a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":200,"wires":[]},{"id":"23349682.c6481a","type":"json","z":"db7684b1.4266a8","name":"","property":"payload","action":"obj","pretty":false,"x":320,"y":620,"wires":[["3882eee5.1ff962"]]},{"id":"7eab319e.1c2b3","type":"http request","z":"c4fd01f7.9bd41","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":330,"y":180,"wires":[["80fd561a.5d8bd8"]]},{"id":"f2b9652d.738b48","type":"http response","z":"c4fd01f7.9bd41","name":"","statusCode":"200","headers":{},"x":660,"y":160,"wires":[]},{"id":"80fd561a.5d8bd8","type":"switch","z":"c4fd01f7.9bd41","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":180,"wires":[["f2b9652d.738b48","e6698319.d8312"],["5f9b4ac8.ed7a14"]]},{"id":"bb408b92.4dc2b8","type":"http in","z":"c4fd01f7.9bd41","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["7eab319e.1c2b3"]]},{"id":"5f9b4ac8.ed7a14","type":"http response","z":"c4fd01f7.9bd41","name":"","statusCode":"500","headers":{},"x":660,"y":200,"wires":[]},{"id":"5c98d971.2a3bc8","type":"inject","z":"c4fd01f7.9bd41","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":120,"wires":[["e6698319.d8312"]]},{"id":"362e226b.25325e","type":"mqtt out","z":"c4fd01f7.9bd41","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"1aa144f2.c5c47b","x":860,"y":120,"wires":[]},{"id":"e6698319.d8312","type":"function","z":"c4fd01f7.9bd41","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["362e226b.25325e"]]},{"id":"ee8c5e7d.a8a1c","type":"mqtt in","z":"c4fd01f7.9bd41","name":"","topic":"drone/position","qos":"1","datatype":"auto","broker":"1aa144f2.c5c47b","x":120,"y":300,"wires":[["3e0f1871.d18c98"]]},{"id":"f588c3fa.e4ace","type":"function","z":"c4fd01f7.9bd41","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["75ca0bb1.6cdb54","fcb3e485.bf1de8","c3b833fd.21f7a","6d29c2a4.d6eb0c","26de4111.78efee","179752b9.aa529d","6291ffcb.a09d1","aa6191b5.6406"]]},{"id":"d5a44b9d.6c12f8","type":"mqtt out","z":"c4fd01f7.9bd41","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"1aa144f2.c5c47b","x":1320,"y":260,"wires":[]},{"id":"953cc16a.8b759","type":"json","z":"c4fd01f7.9bd41","name":"","property":"payload","action":"","pretty":false,"x":470,"y":300,"wires":[["f588c3fa.e4ace"]]},{"id":"93b417a6.c5c658","type":"comment","z":"c4fd01f7.9bd41","name":"Moveteller!!","info":"fout in de moveteller kan voor problemen zorgen\n(naar verkeerde coo vliegen -> opvangen met collision)","x":350,"y":60,"wires":[]},{"id":"3e0f1871.d18c98","type":"switch","z":"c4fd01f7.9bd41","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":300,"wires":[["953cc16a.8b759"]]},{"id":"75ca0bb1.6cdb54","type":"switch","z":"c4fd01f7.9bd41","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":300,"wires":[["78a2592.7b2e9a8"],["9b6867a1.bf3ac8"]]},{"id":"9b6867a1.bf3ac8","type":"mqtt out","z":"c4fd01f7.9bd41","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"1aa144f2.c5c47b","x":980,"y":340,"wires":[]},{"id":"7f174d23.eb9534","type":"comment","z":"c4fd01f7.9bd41","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":240,"y":360,"wires":[]},{"id":"c1791e4a.4b14b","type":"debug","z":"c4fd01f7.9bd41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":420,"wires":[]},{"id":"fcb3e485.bf1de8","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":460,"wires":[["8849b4b3.b987d8","562a6089.d3201"]]},{"id":"c3b833fd.21f7a","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":500,"wires":[["65bf7d78.53cd54"]]},{"id":"6d29c2a4.d6eb0c","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":540,"wires":[["f7f08388.d31ec"]]},{"id":"26de4111.78efee","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":580,"wires":[["14db9f0e.137631"]]},{"id":"179752b9.aa529d","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":620,"wires":[["93cbb4e2.2de828"]]},{"id":"8849b4b3.b987d8","type":"debug","z":"c4fd01f7.9bd41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":420,"wires":[]},{"id":"562a6089.d3201","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1100,"y":460,"wires":[]},{"id":"65bf7d78.53cd54","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1100,"y":500,"wires":[]},{"id":"f7f08388.d31ec","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1080,"y":540,"wires":[]},{"id":"14db9f0e.137631","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1100,"y":580,"wires":[]},{"id":"93cbb4e2.2de828","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1080,"y":620,"wires":[]},{"id":"6291ffcb.a09d1","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["127765c7.48354a"]]},{"id":"127765c7.48354a","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1080,"y":660,"wires":[]},{"id":"aa6191b5.6406","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":700,"wires":[["1245ab55.93c055"]]},{"id":"1245ab55.93c055","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1080,"y":700,"wires":[]},{"id":"f377de96.b3f8e","type":"mqtt in","z":"c4fd01f7.9bd41","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"1aa144f2.c5c47b","x":120,"y":420,"wires":[["f3b8dc25.21f9a"]]},{"id":"f3b8dc25.21f9a","type":"function","z":"c4fd01f7.9bd41","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["c1791e4a.4b14b"]]},{"id":"3cf3c279.3c8d5e","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":260,"wires":[["d5a44b9d.6c12f8"]]},{"id":"78a2592.7b2e9a8","type":"switch","z":"c4fd01f7.9bd41","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":260,"wires":[["3cf3c279.3c8d5e"]]}]