project/backend/management-server/nodered/flows_Roel.json
[{"id":"aa3c2b8c.ac8d38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"55b254df.cbe38c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd5683.00e6f98","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"f725f7eb.e6a878","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca79f6a5.beda58","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f918877.c0d7b8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":700,"y":400,"wires":[]},{"id":"60f3a5e6.5f0b4c","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":230,"y":420,"wires":[["3f9f26ca.623b8a"]]},{"id":"78c35d88.03a6e4","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"z\":0,\"scan\":false},{\"x\":1000,\"y\":10000,\"z\":0,\"scan\":false},{\"x\":10000,\"y\":20000,\"z\":0,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":360,"wires":[["3f9f26ca.623b8a"]]},{"id":"c1257a8a.c3b1f8","type":"function","z":"aa3c2b8c.ac8d38","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop == false && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan == false) {\n        if(moveteller < waypoints.waypoints.length) {\n            moveteller++;\n            msg.payload = waypoints.waypoints[moveteller];\n            flow.set('destination',waypoints.waypoints[moveteller]);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop == true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[--moveteller];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('diffX', diffX);\nflow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":700,"wires":[["a6a2928c.c3071"]]},{"id":"bb280d0d.97a78","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"55b254df.cbe38c","x":1480,"y":800,"wires":[]},{"id":"3114ec97.023784","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":700,"wires":[["c1257a8a.c3b1f8"]]},{"id":"d182dab7.ab7998","type":"switch","z":"aa3c2b8c.ac8d38","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":700,"wires":[["3114ec97.023784"]]},{"id":"a6a2928c.c3071","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":700,"wires":[["67d67458.2794ec"],["b8152b9e.b29b08","5746be3d.682bb"]]},{"id":"b8152b9e.b29b08","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"55b254df.cbe38c","x":1120,"y":740,"wires":[]},{"id":"856062e.bb0a8a","type":"comment","z":"aa3c2b8c.ac8d38","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":240,"y":760,"wires":[]},{"id":"31377903.b6e1a6","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":820,"wires":[]},{"id":"7631d49f.2b3c3c","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"55b254df.cbe38c","x":120,"y":820,"wires":[["90218fae.bde1c"]]},{"id":"90218fae.bde1c","type":"function","z":"aa3c2b8c.ac8d38","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":820,"wires":[["31377903.b6e1a6"]]},{"id":"dc306874.645068","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":660,"wires":[["bb280d0d.97a78","3e895ac9.b167c6"]]},{"id":"67d67458.2794ec","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":660,"wires":[["dc306874.645068"]]},{"id":"d42ec8df.bce358","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"55b254df.cbe38c","x":410,"y":1140,"wires":[["e0c6569c.47a648"]]},{"id":"e02c50a7.c93f7","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"55b254df.cbe38c","x":90,"y":1000,"wires":[["7f614a80.e33124","16e1f095.e9ba2f"]]},{"id":"48aa64fa.09230c","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"55b254df.cbe38c","x":410,"y":1020,"wires":[["e0c6569c.47a648"]]},{"id":"b3d3bc36.f7e4b","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"55b254df.cbe38c","x":430,"y":1060,"wires":[["e0c6569c.47a648"]]},{"id":"2ccebfb0.41672","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"55b254df.cbe38c","x":420,"y":1100,"wires":[["e0c6569c.47a648"]]},{"id":"853bda34.c7f078","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["d83516e3.a81a28"]]},{"id":"d83516e3.a81a28","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/speed","qos":"","retain":"","broker":"55b254df.cbe38c","x":330,"y":200,"wires":[]},{"id":"13f8e89e.d81d07","type":"function","z":"aa3c2b8c.ac8d38","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1020,"wires":[["3da03d5.d4866c2","f8bf6514.b19e28"]]},{"id":"fe445969.3ede28","type":"function","z":"aa3c2b8c.ac8d38","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1020,"wires":[["13f8e89e.d81d07"]]},{"id":"18e6e607.3d6b0a","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["4266a74a.467038"]]},{"id":"4266a74a.467038","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/battery","qos":"","retain":"","broker":"55b254df.cbe38c","x":330,"y":260,"wires":[]},{"id":"bde7ca3.b042f38","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1820,"wires":[["48eb8603.5e06d8"]]},{"id":"48eb8603.5e06d8","type":"function","z":"aa3c2b8c.ac8d38","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1820,"wires":[["bf4e6cb6.a9ac1"]]},{"id":"6ba60851.bc00e8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":760,"y":1860,"wires":[]},{"id":"82104f43.3991","type":"function","z":"aa3c2b8c.ac8d38","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":1900,"wires":[["bf4e6cb6.a9ac1"]]},{"id":"3da03d5.d4866c2","type":"websocket out","z":"aa3c2b8c.ac8d38","name":"","server":"dd5683.00e6f98","client":"","x":1190,"y":1020,"wires":[]},{"id":"bfc3b07c.53b46","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1900,"wires":[["82104f43.3991"]]},{"id":"1e34b545.3c7cdb","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":110,"y":1940,"wires":[["fa4ed6b7.78b808"]]},{"id":"fa4ed6b7.78b808","type":"function","z":"aa3c2b8c.ac8d38","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1940,"wires":[["bf4e6cb6.a9ac1"]]},{"id":"bf4e6cb6.a9ac1","type":"function","z":"aa3c2b8c.ac8d38","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1860,"wires":[["6ba60851.bc00e8","5ad48e48.65556"]]},{"id":"134180ad.6eee7f","type":"inject","z":"aa3c2b8c.ac8d38","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":100,"wires":[["fcc07db6.61cf2"]]},{"id":"34aea932.0d77a6","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":140,"wires":[["c6e9c81d.480758"]]},{"id":"fcc07db6.61cf2","type":"function","z":"aa3c2b8c.ac8d38","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1210,"y":100,"wires":[[]]},{"id":"c6e9c81d.480758","type":"function","z":"aa3c2b8c.ac8d38","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1200,"y":140,"wires":[[]]},{"id":"9a860d41.c4c58","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["20c6a4fa.31d8bc"]]},{"id":"20c6a4fa.31d8bc","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"55b254df.cbe38c","x":710,"y":140,"wires":[]},{"id":"88ab6e66.4e8a7","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":140,"wires":[["20c6a4fa.31d8bc"]]},{"id":"a6e5441d.6acfd8","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":100,"wires":[["20c6a4fa.31d8bc"]]},{"id":"28f2880e.507868","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/position","qos":"","retain":"","broker":"55b254df.cbe38c","x":340,"y":120,"wires":[]},{"id":"4302b19a.e7726","type":"inject","z":"aa3c2b8c.ac8d38","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["28f2880e.507868"]]},{"id":"47780a59.c89434","type":"inject","z":"aa3c2b8c.ac8d38","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["28f2880e.507868"]]},{"id":"f7b97fe7.8fd29","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1260,"wires":[["9305bd49.a9ae2"]]},{"id":"d5f67aca.98b7d8","type":"inject","z":"aa3c2b8c.ac8d38","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1300,"wires":[["9305bd49.a9ae2"]]},{"id":"e26d8580.62b5e8","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":120,"y":1220,"wires":[["9aaf29d7.f3a3e8"]]},{"id":"9305bd49.a9ae2","type":"function","z":"aa3c2b8c.ac8d38","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1260,"wires":[["fe445969.3ede28","347d1e7c.7a9f02","7228d6a7.981b68"]]},{"id":"9aaf29d7.f3a3e8","type":"template","z":"aa3c2b8c.ac8d38","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":300,"y":1220,"wires":[["9305bd49.a9ae2","8ea20eb4.cb56e"]]},{"id":"347d1e7c.7a9f02","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":1260,"wires":[]},{"id":"e0c6569c.47a648","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":1020,"wires":[["fe445969.3ede28"]]},{"id":"99f2f09a.f9b14","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1820,"wires":[]},{"id":"5ad48e48.65556","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1820,"wires":[["99f2f09a.f9b14"]]},{"id":"e4f1de4f.ca904","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1860,"wires":[["bf4e6cb6.a9ac1"]]},{"id":"44ba29f5.f99378","type":"inject","z":"aa3c2b8c.ac8d38","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":180,"wires":[["a782546c.f8a4f8"]]},{"id":"d56826ea.719a98","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":180,"wires":[]},{"id":"a782546c.f8a4f8","type":"change","z":"aa3c2b8c.ac8d38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":180,"wires":[["d56826ea.719a98"]]},{"id":"f8bf6514.b19e28","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":980,"wires":[]},{"id":"c7ef7931.dce058","type":"link in","z":"aa3c2b8c.ac8d38","name":"drone/position","links":["7f614a80.e33124"],"x":175,"y":700,"wires":[["6ca1a890.0779a8"]]},{"id":"7f614a80.e33124","type":"link out","z":"aa3c2b8c.ac8d38","name":"","links":["c7ef7931.dce058","abefd227.178bc"],"x":235,"y":1000,"wires":[]},{"id":"abefd227.178bc","type":"link in","z":"aa3c2b8c.ac8d38","name":"","links":["7f614a80.e33124"],"x":475,"y":960,"wires":[["e0c6569c.47a648"]]},{"id":"8ea20eb4.cb56e","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1200,"wires":[]},{"id":"e70b8b84.a57f98","type":"mqtt in","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"55b254df.cbe38c","x":430,"y":920,"wires":[["70f88e33.31874"]]},{"id":"70f88e33.31874","type":"json","z":"aa3c2b8c.ac8d38","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":920,"wires":[["15e73105.13176f"]]},{"id":"15e73105.13176f","type":"function","z":"aa3c2b8c.ac8d38","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":920,"wires":[["13f8e89e.d81d07"]]},{"id":"7228d6a7.981b68","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":660,"y":1300,"wires":[]},{"id":"ff688dba.c2ec4","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1500,"wires":[["9ef9521d.de1c8"]]},{"id":"f0dbe4fb.471708","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1600,"wires":[["16ac2833.27e0f8"]]},{"id":"16ac2833.27e0f8","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1600,"wires":[["bdd4d7ad.5dc788","2c4b01fb.4fe1ee"]]},{"id":"86ebb8c1.b122a8","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"55b254df.cbe38c","x":860,"y":1440,"wires":[]},{"id":"9ef9521d.de1c8","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1500,"wires":[["96cf6730.3e5378"],["fd964b3f.bb9598"]]},{"id":"fd964b3f.bb9598","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":540,"y":1520,"wires":[]},{"id":"96cf6730.3e5378","type":"function","z":"aa3c2b8c.ac8d38","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1480,"wires":[["86ebb8c1.b122a8","f8c1a4bb.53eb78","fcb3bdc9.4602b"]]},{"id":"bdd4d7ad.5dc788","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":560,"y":1580,"wires":[]},{"id":"6ca1a890.0779a8","type":"switch","z":"aa3c2b8c.ac8d38","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":700,"wires":[["d182dab7.ab7998"]]},{"id":"2c4b01fb.4fe1ee","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"55b254df.cbe38c","x":570,"y":1620,"wires":[]},{"id":"3f9f26ca.623b8a","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["4f918877.c0d7b8"]]},{"id":"f8c1a4bb.53eb78","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/start","qos":"1","retain":"","broker":"55b254df.cbe38c","x":850,"y":1400,"wires":[]},{"id":"71a96384.4228ac","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1420,"wires":[["b926c3fd.5589f"]]},{"id":"b926c3fd.5589f","type":"function","z":"aa3c2b8c.ac8d38","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1420,"wires":[["a577d58e.dd0038"]]},{"id":"a577d58e.dd0038","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":530,"y":1420,"wires":[]},{"id":"92a42d60.32dd5","type":"http request","z":"aa3c2b8c.ac8d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":490,"y":460,"wires":[["e5ff88c9.4ac3d8","3abd7c03.3e1d34"]]},{"id":"16d16cb8.4b8203","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":240,"y":460,"wires":[["92a42d60.32dd5"]]},{"id":"91d44092.2cd54","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":420,"wires":[["289687a2.db40d8"]]},{"id":"e5ff88c9.4ac3d8","type":"switch","z":"aa3c2b8c.ac8d38","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":460,"wires":[["91d44092.2cd54"],["b15924e8.629958"]]},{"id":"b15924e8.629958","type":"function","z":"aa3c2b8c.ac8d38","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":480,"wires":[["5215d59b.4ca49c"]]},{"id":"289687a2.db40d8","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":1180,"y":420,"wires":[]},{"id":"5215d59b.4ca49c","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"500","headers":{},"x":1180,"y":480,"wires":[]},{"id":"fcb3bdc9.4602b","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":840,"y":1500,"wires":[]},{"id":"3abd7c03.3e1d34","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":520,"wires":[]},{"id":"c84b0df6.f3ae3","type":"http in","z":"aa3c2b8c.ac8d38","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1680,"wires":[["b0ccbe3c.16c72"]]},{"id":"b0ccbe3c.16c72","type":"function","z":"aa3c2b8c.ac8d38","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1680,"wires":[["33cd2a1.bcafad6","224de3b.9ca8b1c"]]},{"id":"33cd2a1.bcafad6","type":"http response","z":"aa3c2b8c.ac8d38","name":"","statusCode":"200","headers":{},"x":520,"y":1680,"wires":[]},{"id":"224de3b.9ca8b1c","type":"mqtt out","z":"aa3c2b8c.ac8d38","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"55b254df.cbe38c","x":510,"y":1720,"wires":[]},{"id":"3e895ac9.b167c6","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":560,"wires":[]},{"id":"5746be3d.682bb","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":820,"wires":[]},{"id":"16e1f095.e9ba2f","type":"debug","z":"aa3c2b8c.ac8d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":1080,"wires":[]}]