project/backend/management-server/nodered/flows_WOUTER-DESKTOP.json
[{"id":"293e28e9.d5df18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb8e898e.576658","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a615ce5b.56619","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"233a23e0.58c67c","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1d7eac46.02c204","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8f9ede3.33365","type":"http request","z":"293e28e9.d5df18","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":350,"y":180,"wires":[["d584714f.bc79c"]]},{"id":"cab55aa3.22fd48","type":"http response","z":"293e28e9.d5df18","name":"","statusCode":"200","headers":{},"x":680,"y":160,"wires":[]},{"id":"d584714f.bc79c","type":"switch","z":"293e28e9.d5df18","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":180,"wires":[["cab55aa3.22fd48","f4bd524f.96e28"],["38d6ade6.657492"]]},{"id":"1f9d9c02.39d2e4","type":"http in","z":"293e28e9.d5df18","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["b8f9ede3.33365"]]},{"id":"38d6ade6.657492","type":"http response","z":"293e28e9.d5df18","name":"","statusCode":"500","headers":{},"x":680,"y":200,"wires":[]},{"id":"c20439ca.dc32c8","type":"inject","z":"293e28e9.d5df18","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":120,"wires":[["f4bd524f.96e28"]]},{"id":"117ccdd8.4acc72","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"233a23e0.58c67c","x":880,"y":120,"wires":[]},{"id":"f4bd524f.96e28","type":"function","z":"293e28e9.d5df18","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["117ccdd8.4acc72"]]},{"id":"6782bd05.1f1dc4","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"drone/position","qos":"1","datatype":"auto","broker":"233a23e0.58c67c","x":140,"y":300,"wires":[["acada6b6.4ee928"]]},{"id":"57de1d8a.6b9864","type":"function","z":"293e28e9.d5df18","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["35e7d565.cbad1a","bc4f47da.445288","7b0b824e.ffa21c","f5569a64.2f21f8","ce9ca881.b552c8","b2c97d12.53dac","327828a7.9cee98","784916e1.7167c8"]]},{"id":"eccc7db9.34bd9","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"233a23e0.58c67c","x":1340,"y":260,"wires":[]},{"id":"dd9aeccd.3407a","type":"json","z":"293e28e9.d5df18","name":"","property":"payload","action":"","pretty":false,"x":490,"y":300,"wires":[["57de1d8a.6b9864"]]},{"id":"2bcafa36.0d1cb6","type":"comment","z":"293e28e9.d5df18","name":"Moveteller!!","info":"fout in de moveteller kan voor problemen zorgen\n(naar verkeerde coo vliegen -> opvangen met collision)","x":370,"y":60,"wires":[]},{"id":"acada6b6.4ee928","type":"switch","z":"293e28e9.d5df18","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":300,"wires":[["dd9aeccd.3407a"]]},{"id":"35e7d565.cbad1a","type":"switch","z":"293e28e9.d5df18","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":300,"wires":[["248a2a83.93df36"],["e9e51ae1.746618"]]},{"id":"e9e51ae1.746618","type":"mqtt out","z":"293e28e9.d5df18","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"233a23e0.58c67c","x":1000,"y":340,"wires":[]},{"id":"b13682da.b7104","type":"comment","z":"293e28e9.d5df18","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":260,"y":360,"wires":[]},{"id":"e079bd71.73985","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":420,"wires":[]},{"id":"bc4f47da.445288","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":460,"wires":[["135444de.f00a4b","16aa5d6f.57be73"]]},{"id":"7b0b824e.ffa21c","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":500,"wires":[["bed89976.8e2bd8"]]},{"id":"f5569a64.2f21f8","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":540,"wires":[["c997f6c4.013598"]]},{"id":"ce9ca881.b552c8","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[["7a9b061c.2e0968"]]},{"id":"b2c97d12.53dac","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":620,"wires":[["1b84ad51.f48373"]]},{"id":"135444de.f00a4b","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":420,"wires":[]},{"id":"16aa5d6f.57be73","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1120,"y":460,"wires":[]},{"id":"bed89976.8e2bd8","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1120,"y":500,"wires":[]},{"id":"c997f6c4.013598","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1100,"y":540,"wires":[]},{"id":"7a9b061c.2e0968","type":"debug","z":"293e28e9.d5df18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1120,"y":580,"wires":[]},{"id":"1b84ad51.f48373","type":"debug","z":"293e28e9.d5df18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1100,"y":620,"wires":[]},{"id":"327828a7.9cee98","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":660,"wires":[["3a45e228.38a05e"]]},{"id":"3a45e228.38a05e","type":"debug","z":"293e28e9.d5df18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1100,"y":660,"wires":[]},{"id":"784916e1.7167c8","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":700,"wires":[["9620aba8.c2dc38"]]},{"id":"9620aba8.c2dc38","type":"debug","z":"293e28e9.d5df18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1100,"y":700,"wires":[]},{"id":"40c7af5e.1c025","type":"mqtt in","z":"293e28e9.d5df18","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"233a23e0.58c67c","x":140,"y":420,"wires":[["81aca4af.15e9c8"]]},{"id":"81aca4af.15e9c8","type":"function","z":"293e28e9.d5df18","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["e079bd71.73985"]]},{"id":"e47a884a.3f4bc8","type":"change","z":"293e28e9.d5df18","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":260,"wires":[["eccc7db9.34bd9"]]},{"id":"248a2a83.93df36","type":"switch","z":"293e28e9.d5df18","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":260,"wires":[["e47a884a.3f4bc8"]]},{"id":"66382e2f.a8a35","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":120,"y":800,"wires":[["764cccaf.7af684"]]},{"id":"db0491a4.1fd67","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"1d7eac46.02c204","x":120,"y":740,"wires":[["764cccaf.7af684","19470c05.a67174"]]},{"id":"9e0afa46.ce2bc8","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":140,"y":560,"wires":[["764cccaf.7af684"]]},{"id":"95e731a2.3d0a9","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":120,"y":620,"wires":[["764cccaf.7af684"]]},{"id":"4c87068f.890a68","type":"mqtt in","z":"fb8e898e.576658","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"1d7eac46.02c204","x":130,"y":680,"wires":[["764cccaf.7af684"]]},{"id":"d9efa801.45f768","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["301b294b.b77f56"]]},{"id":"301b294b.b77f56","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/speed","qos":"","retain":"","broker":"1d7eac46.02c204","x":340,"y":420,"wires":[]},{"id":"e8ecfc37.c0f19","type":"function","z":"fb8e898e.576658","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet position = flow.get('drone/position')\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":600,"wires":[["15425086.53201f","fd91b97f.6d2688","1bcfcf86.559a3"]]},{"id":"15425086.53201f","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":560,"wires":[]},{"id":"e3f3de3c.d624d","type":"function","z":"fb8e898e.576658","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["e8ecfc37.c0f19","7382050a.f45f9c"]]},{"id":"7382050a.f45f9c","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":560,"wires":[]},{"id":"50cb6b82.2525b4","type":"inject","z":"fb8e898e.576658","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":480,"wires":[["556214ed.01758c"]]},{"id":"556214ed.01758c","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/battery","qos":"","retain":"","broker":"1d7eac46.02c204","x":330,"y":500,"wires":[]},{"id":"a7844744.b2f188","type":"http in","z":"fb8e898e.576658","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1000,"wires":[["3f6dcf9b.d85d"]]},{"id":"3f6dcf9b.d85d","type":"function","z":"fb8e898e.576658","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.req.query){\n    if(msg.req.query[key] == 'true')\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1000,"wires":[["6b0255c8.06b41c"]]},{"id":"7d490bcb.c455c4","type":"http response","z":"fb8e898e.576658","name":"","statusCode":"200","headers":{},"x":650,"y":1080,"wires":[]},{"id":"fd91b97f.6d2688","type":"debug","z":"fb8e898e.576658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":840,"y":520,"wires":[]},{"id":"24e6af49.57d4a","type":"function","z":"fb8e898e.576658","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":1080,"wires":[["6b0255c8.06b41c"]]},{"id":"1bcfcf86.559a3","type":"websocket out","z":"fb8e898e.576658","name":"","server":"a615ce5b.56619","client":"","x":870,"y":660,"wires":[]},{"id":"d73bb9d0.4e5158","type":"http in","z":"fb8e898e.576658","name":"","url":"/data/all","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["24e6af49.57d4a"]]},{"id":"c93c120b.c6c81","type":"http in","z":"fb8e898e.576658","name":"","url":"/data/none","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["4186d8bf.c171c8"]]},{"id":"4186d8bf.c171c8","type":"function","z":"fb8e898e.576658","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1160,"wires":[["6b0255c8.06b41c"]]},{"id":"6b0255c8.06b41c","type":"function","z":"fb8e898e.576658","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1080,"wires":[["7d490bcb.c455c4"]]},{"id":"cc82fdcc.4048d","type":"inject","z":"fb8e898e.576658","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["6988269f.2350f8"]]},{"id":"ea4ca49b.ae7218","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["4ddecb9c.e631f4"]]},{"id":"6988269f.2350f8","type":"function","z":"fb8e898e.576658","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":400,"y":880,"wires":[[]]},{"id":"4ddecb9c.e631f4","type":"function","z":"fb8e898e.576658","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":390,"y":920,"wires":[[]]},{"id":"2c178c11.56cec4","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["d5d96568.4a4aa8"]]},{"id":"d5d96568.4a4aa8","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"1d7eac46.02c204","x":320,"y":360,"wires":[]},{"id":"b9473281.5a072","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["d5d96568.4a4aa8"]]},{"id":"1ab8d0ed.32a9ef","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["d5d96568.4a4aa8"]]},{"id":"c5dcdacc.80f5d8","type":"mqtt out","z":"fb8e898e.576658","name":"","topic":"drone/position","qos":"","retain":"","broker":"1d7eac46.02c204","x":360,"y":160,"wires":[]},{"id":"d5f5ce15.4d619","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":140,"wires":[["c5dcdacc.80f5d8"]]},{"id":"e8e019f1.a929f8","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["c5dcdacc.80f5d8"]]},{"id":"da30f1ce.70404","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":180,"wires":[["9ff1e088.561a6"]]},{"id":"72ad4a81.88ca74","type":"inject","z":"fb8e898e.576658","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":240,"wires":[["9ff1e088.561a6"]]},{"id":"aea7c20c.c5b26","type":"http in","z":"fb8e898e.576658","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":540,"y":120,"wires":[["4c606cfb.204d84"]]},{"id":"9ff1e088.561a6","type":"function","z":"fb8e898e.576658","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["6d54117e.1e95a","e3f3de3c.d624d"]]},{"id":"4c606cfb.204d84","type":"template","z":"fb8e898e.576658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":720,"y":120,"wires":[["9ff1e088.561a6"]]},{"id":"6d54117e.1e95a","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":200,"wires":[]},{"id":"764cccaf.7af684","type":"json","z":"fb8e898e.576658","name":"","property":"payload","action":"obj","pretty":false,"x":320,"y":620,"wires":[["e3f3de3c.d624d"]]},{"id":"19470c05.a67174","type":"debug","z":"fb8e898e.576658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":740,"wires":[]}]