project/backend/management-server/nodered/flows_JOCHENLAROYA478.json
[{"id":"5c84935c.97f78c","type":"tab","label":"subscriptions","disabled":false,"info":""},{"id":"f5015d96.2115d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"132a8f8e.5b0f6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1a24ff65.334a91","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b6e7dafc.c46898","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd2f5496.bd68f8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c2c482d.c4ae48","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"637eecce.950424","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"95b6aaf2.dbc5e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"588ab8f8.87bb48","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5abe9ca.842268","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["38eeed56.42b5f2"]]},{"id":"38eeed56.42b5f2","type":"function","z":"5c84935c.97f78c","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["8f47a3b0.2f7f5"]]},{"id":"eaf65e2f.7b51d","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":760,"y":80,"wires":[]},{"id":"b93d74d6.921fb8","type":"function","z":"5c84935c.97f78c","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["8f47a3b0.2f7f5"]]},{"id":"988e2b96.f1c318","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["b93d74d6.921fb8"]]},{"id":"b0a5a322.7d339","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["e83d4f80.4568c"]]},{"id":"e83d4f80.4568c","type":"function","z":"5c84935c.97f78c","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["8f47a3b0.2f7f5"]]},{"id":"8f47a3b0.2f7f5","type":"function","z":"5c84935c.97f78c","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = global.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":80,"wires":[["eaf65e2f.7b51d","a892e378.c4e7d"]]},{"id":"9be3f7f9.966c98","type":"debug","z":"5c84935c.97f78c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":40,"wires":[]},{"id":"a892e378.c4e7d","type":"change","z":"5c84935c.97f78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":40,"wires":[["9be3f7f9.966c98"]]},{"id":"7bbe8092.235c8","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["8f47a3b0.2f7f5"]]},{"id":"c8345b48.318d98","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":540,"y":140,"wires":[]},{"id":"a0abb96b.c0cc48","type":"http in","z":"f5015d96.2115d","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["40b2fa18.0adb04"]]},{"id":"cd6aef4c.1d071","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["9cfeb4b1.415d78"]]},{"id":"e6944c8.41df1b","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["caf8bc14.2bf37"]]},{"id":"caf8bc14.2bf37","type":"function","z":"f5015d96.2115d","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["4cc73d9e.d2d234","5178c077.5e5b8"]]},{"id":"9cfeb4b1.415d78","type":"switch","z":"f5015d96.2115d","name":"destination is null?","property":"destination","propertyType":"global","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":240,"wires":[["bc07fc3e.b0a39"],["3fcf4cd4.530f54"]]},{"id":"3fcf4cd4.530f54","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"500","headers":{},"x":560,"y":260,"wires":[]},{"id":"bc07fc3e.b0a39","type":"function","z":"f5015d96.2115d","name":"send dest + statusinfo","func":"global.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nglobal.set('flying', true);\n\nmsg.payload = global.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["f3e325c4.5e4b78","95469048.bfb81"]]},{"id":"4cc73d9e.d2d234","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":520,"y":380,"wires":[]},{"id":"5178c077.5e5b8","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":530,"y":420,"wires":[]},{"id":"40b2fa18.0adb04","type":"function","z":"f5015d96.2115d","name":"stel beginparams in","func":"var moveteller = 1;\n\n\nglobal.set('waypoints',msg.payload);\nmsg.payload = global.get('waypoints').waypoints[moveteller++];\nglobal.set('mapid', global.get('waypoints').mapId);\nglobal.set(\"destination\", msg.payload);\nglobal.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nglobal.set('stop',false);\nglobal.set('scanning', false);\nglobal.set('arrived', false);\n\n\nglobal.set('flying', false)\n\nglobal.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["c8345b48.318d98"]],"info":"Nadat het pad getekend en gevalideerd is, gaan de beginparameters ingesteld \nworden zodat alles klaar is voor de vlucht.\n\n - moveteller [global]: wordt gebruikt om de verschillende waypoints te overlopen -\n    word op 1 gezet omdat het eerste waypoint zijn startlocatie is\n - waypoints [global]: de payload bevat de verschillende waypoints van het getekende pad\n - destination [global]: de destination wordt gezet op het eerst volgende waypoint,\n    daarna wordt de moveteller geïncrementeert en terug geset\n - stop [global]: geeft aan of de drone al zijn waypoints heeft afgelopen of niet\n - scanning [global]: geeft aan of de drone op een waypoint zit dat nodig is om te scannen\n - arrived [global]: geeft aan of de drone op zijn waypoint is toegekomen\n - flying [global]: geeft aan of de drone aan het vliegen is\n - statusinfo [global]: geeft de status van de drone aan, in dit geval is het\n    pad al getekend en doorgestuurd naar de drone maar de drone is nog niet gestart"},{"id":"f3e325c4.5e4b78","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/start","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":810,"y":240,"wires":[]},{"id":"2456363.2784dca","type":"http in","z":"f5015d96.2115d","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":720,"wires":[["790abd11.dffc04"]]},{"id":"790abd11.dffc04","type":"function","z":"f5015d96.2115d","name":"get info","func":"msg.payload = global.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["3798e09a.766dc"]]},{"id":"3798e09a.766dc","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":480,"y":720,"wires":[]},{"id":"bf75d5e4.0fe878","type":"http request","z":"f5015d96.2115d","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":350,"y":40,"wires":[["3f8da97f.0a9af6"]]},{"id":"19832f23.c338d1","type":"http in","z":"f5015d96.2115d","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["bf75d5e4.0fe878"]]},{"id":"992bd280.21cbb","type":"function","z":"f5015d96.2115d","name":"set statusinfo validated true","func":"global.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":20,"wires":[["46292820.41d728"]]},{"id":"3f8da97f.0a9af6","type":"switch","z":"f5015d96.2115d","name":"Validating succeeded?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":40,"wires":[["992bd280.21cbb"],["7660a5a2.16bb4c"]]},{"id":"7660a5a2.16bb4c","type":"function","z":"f5015d96.2115d","name":"set statusinfo validated false","func":"global.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":60,"wires":[["f7459f8e.20ce6"]]},{"id":"46292820.41d728","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":1040,"y":20,"wires":[]},{"id":"f7459f8e.20ce6","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"500","headers":{},"x":1040,"y":60,"wires":[]},{"id":"95469048.bfb81","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":800,"y":200,"wires":[]},{"id":"ec1f611c.4ca09","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["ae9fb1af.de592"]]},{"id":"ae9fb1af.de592","type":"function","z":"f5015d96.2115d","name":"set statusinfo","func":"global.set('flying', false);\n\nglobal.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["7078d266.7fce9c","fe1c2041.f83da"]]},{"id":"7078d266.7fce9c","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":520,"y":500,"wires":[]},{"id":"fe1c2041.f83da","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":530,"y":540,"wires":[]},{"id":"63e7a82a.4e2808","type":"mqtt in","z":"f5015d96.2115d","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"b6e7dafc.c46898","x":100,"y":320,"wires":[["16ce8df9.00fab2"]]},{"id":"16ce8df9.00fab2","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"b6e7dafc.c46898","x":290,"y":320,"wires":[]},{"id":"bb5b3221.0de39","type":"http in","z":"f5015d96.2115d","name":"","url":"drone/homebase","method":"post","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["1b14b95c.d095f7","c683d0cd.d1935"]]},{"id":"1b14b95c.d095f7","type":"mqtt out","z":"f5015d96.2115d","name":"","topic":"drone/homebase","qos":"","retain":"","broker":"dd2f5496.bd68f8","x":410,"y":620,"wires":[]},{"id":"c683d0cd.d1935","type":"http response","z":"f5015d96.2115d","name":"","statusCode":"200","headers":{},"x":380,"y":660,"wires":[]},{"id":"c992364d.b837f8","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":90,"y":40,"wires":[["ac018194.50e1e"]]},{"id":"ec5f1c8d.7ac77","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"8c2c482d.c4ae48","x":90,"y":100,"wires":[["ac018194.50e1e"]]},{"id":"64d82a82.c54d04","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":110,"y":160,"wires":[["ac018194.50e1e"]]},{"id":"593da3a4.1c663c","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":90,"y":220,"wires":[["ac018194.50e1e"]]},{"id":"eaa691ae.9b664","type":"mqtt in","z":"132a8f8e.5b0f6","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"8c2c482d.c4ae48","x":100,"y":280,"wires":[["ac018194.50e1e"]]},{"id":"c70f50e9.6166d","type":"function","z":"132a8f8e.5b0f6","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = global.get('drone/' + key);\n    }\n}\nproperties['radius'] = global.get('drone/radius');\n\nlet position = subs['position'] ? global.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":140,"wires":[["5650511f.f4ba8"]]},{"id":"5650511f.f4ba8","type":"websocket out","z":"132a8f8e.5b0f6","name":"","server":"637eecce.950424","client":"","x":1150,"y":140,"wires":[]},{"id":"b7e2a3fe.d89ae","type":"http in","z":"132a8f8e.5b0f6","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["a76c657a.a3d9b8"]]},{"id":"adab6898.8629a8","type":"function","z":"132a8f8e.5b0f6","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["c1886047.ab263","c455f990.76b198"]]},{"id":"a76c657a.a3d9b8","type":"template","z":"132a8f8e.5b0f6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":340,"wires":[["adab6898.8629a8"]]},{"id":"ac018194.50e1e","type":"json","z":"132a8f8e.5b0f6","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":140,"wires":[["c455f990.76b198"]]},{"id":"c1886047.ab263","type":"http response","z":"132a8f8e.5b0f6","name":"","statusCode":"200","headers":{},"x":620,"y":340,"wires":[]},{"id":"c455f990.76b198","type":"change","z":"132a8f8e.5b0f6","name":"set msg.topic for caching","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":140,"wires":[["c70f50e9.6166d"]]},{"id":"970a91ab.b2e46","type":"mqtt in","z":"1a24ff65.334a91","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"588ab8f8.87bb48","x":100,"y":520,"wires":[["fa8b8e2d.08c95","7bd964e2.98ef6c"]]},{"id":"9fa1a6a0.a42e88","type":"http request","z":"1a24ff65.334a91","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":540,"wires":[["ad1894e7.aa1e98"]]},{"id":"ad1894e7.aa1e98","type":"switch","z":"1a24ff65.334a91","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":520,"wires":[["735c3e4a.2ac2a"]]},{"id":"fa8b8e2d.08c95","type":"function","z":"1a24ff65.334a91","name":"next destination","func":"var moveteller = global.get('moveteller');\nvar waypoints = global.get('waypoints');\nvar stop = global.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    global.set('destination',msg.payload);\n}\nelse{\n    stop = true;\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nglobal.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["f9b10cbc.d8f04"]]},{"id":"735c3e4a.2ac2a","type":"debug","z":"1a24ff65.334a91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":520,"wires":[]},{"id":"f9b10cbc.d8f04","type":"mqtt out","z":"1a24ff65.334a91","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"588ab8f8.87bb48","x":520,"y":580,"wires":[]},{"id":"7bd964e2.98ef6c","type":"json","z":"1a24ff65.334a91","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":520,"wires":[["93516c22.df393"]]},{"id":"93516c22.df393","type":"function","z":"1a24ff65.334a91","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = global.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["f7ca983e.8dfe98"]]},{"id":"f7ca983e.8dfe98","type":"switch","z":"1a24ff65.334a91","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":520,"wires":[["a9f56f9b.335e7"],["9fa1a6a0.a42e88"]]},{"id":"a9f56f9b.335e7","type":"http request","z":"1a24ff65.334a91","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":500,"wires":[["ad1894e7.aa1e98"]]},{"id":"78716b68.3d0924","type":"function","z":"1a24ff65.334a91","name":"drone arrived at his destination within a certain radius?","func":"var stop = global.get('stop') || false;\nvar moveteller = global.get('moveteller');\nvar destination = global.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\n//geeft aan of gescant moet worden op de destination\nvar scan = destination.scan;\nvar waypoints = global.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    global.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            global.set('destination',msg.payload);\n        }\n        else {\n            //alle waypoints zijn doorlopen dus de drone moet stoppen\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        global.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\nglobal.set('moveteller', moveteller);\nglobal.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":40,"wires":[["61511836.049628"]]},{"id":"4c1b412b.52c03","type":"json","z":"1a24ff65.334a91","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":40,"wires":[["78716b68.3d0924"]]},{"id":"eb5f3c0c.d6e27","type":"switch","z":"1a24ff65.334a91","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":40,"wires":[["4c1b412b.52c03"]]},{"id":"98cec778.15af78","type":"switch","z":"1a24ff65.334a91","name":"flying?","property":"flying","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":40,"wires":[["eb5f3c0c.d6e27"]]},{"id":"6be117b0.5806a8","type":"mqtt in","z":"1a24ff65.334a91","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"588ab8f8.87bb48","x":90,"y":40,"wires":[["98cec778.15af78"]]},{"id":"a1252b76.73fd98","type":"mqtt out","z":"1a24ff65.334a91","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"588ab8f8.87bb48","x":1240,"y":240,"wires":[]},{"id":"59d72bfd.cc3354","type":"switch","z":"1a24ff65.334a91","name":"scanning?","property":"scanning","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":260,"wires":[["a0a19f8d.ddd74"],["e5a6e6ae.77a928"]]},{"id":"e5a6e6ae.77a928","type":"mqtt out","z":"1a24ff65.334a91","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"588ab8f8.87bb48","x":620,"y":280,"wires":[]},{"id":"83b87680.1011d8","type":"change","z":"1a24ff65.334a91","name":"arrived = false","rules":[{"t":"set","p":"arrived","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["8022b3c6.da1e6"]]},{"id":"a0a19f8d.ddd74","type":"switch","z":"1a24ff65.334a91","name":"arrived = true?","property":"arrived","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":240,"wires":[["83b87680.1011d8"]]},{"id":"8022b3c6.da1e6","type":"switch","z":"1a24ff65.334a91","name":"needs scanning?","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":240,"wires":[["a1252b76.73fd98"]]},{"id":"61511836.049628","type":"switch","z":"1a24ff65.334a91","name":"stop?","property":"stop","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["59d72bfd.cc3354"],["b2a885ba.f082c8"]]},{"id":"ea83fe0.a920d","type":"mqtt out","z":"1a24ff65.334a91","name":"","topic":"drone/pause","qos":"","retain":"","broker":"588ab8f8.87bb48","x":630,"y":340,"wires":[]},{"id":"b2a885ba.f082c8","type":"change","z":"1a24ff65.334a91","name":"","rules":[{"t":"set","p":"flying","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["ea83fe0.a920d"]]}]