project/backend/management-server/nodered/flows_LAPTOP-FP38HPBU.json
[{"id":"e1376dd6.d0ef7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f37c7624.1fa508","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36a24757.5fd148","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"ff9fd674.836be8","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":460,"wires":[["c630f759.e40888"]]},{"id":"190c93a1.49bfac","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":680,"y":80,"wires":[]},{"id":"15cae1e7.9de40e","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["1d387f81.0bed1"]]},{"id":"bea89165.1f21f","type":"function","z":"e1376dd6.d0ef7","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["c1c08ac.ae70678"]]},{"id":"b57a423c.7b54","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"f37c7624.1fa508","x":1600,"y":280,"wires":[]},{"id":"cf37fb89.fb2228","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":300,"wires":[["bea89165.1f21f"]]},{"id":"96f699d9.df4458","type":"switch","z":"e1376dd6.d0ef7","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":300,"wires":[["cf37fb89.fb2228"]]},{"id":"c1c08ac.ae70678","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":300,"wires":[["25f3e000.064cb"],["d343be1b.c3231"]]},{"id":"257ac77f.fabc28","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"f37c7624.1fa508","x":1820,"y":340,"wires":[]},{"id":"9e3b456f.1d00b8","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"f37c7624.1fa508","x":100,"y":440,"wires":[["c71deaa5.6f1b68","19af0455.fac5bc"]]},{"id":"445ed7fe.f9b1f8","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["1456f2f4.fcf52d"]]},{"id":"25f3e000.064cb","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":260,"wires":[["445ed7fe.f9b1f8"]]},{"id":"3d3d1cb9.e30ba4","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"f37c7624.1fa508","x":390,"y":800,"wires":[["b022d30c.685e6"]]},{"id":"951c631c.103c","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"f37c7624.1fa508","x":70,"y":660,"wires":[["2ec011b8.6e07be","33ab5873.abdd78"]]},{"id":"91e14a73.eee278","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"f37c7624.1fa508","x":390,"y":680,"wires":[["b022d30c.685e6"]]},{"id":"8b004320.6fd01","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"f37c7624.1fa508","x":410,"y":720,"wires":[["b022d30c.685e6"]]},{"id":"17f3ca1b.0da876","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"f37c7624.1fa508","x":400,"y":760,"wires":[["b022d30c.685e6"]]},{"id":"bd264643.eddc28","type":"function","z":"e1376dd6.d0ef7","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["d50deed1.655ff","e782be2.4850f4"]]},{"id":"4ab1d9c1.7d4fd8","type":"function","z":"e1376dd6.d0ef7","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["bd264643.eddc28"]]},{"id":"f26a880c.086e18","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["f637169d.e1fee8"]]},{"id":"f637169d.e1fee8","type":"function","z":"e1376dd6.d0ef7","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["5e6ae05c.ef447"]]},{"id":"28052859.896488","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":740,"y":1520,"wires":[]},{"id":"9595ae97.ba68d","type":"function","z":"e1376dd6.d0ef7","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["5e6ae05c.ef447"]]},{"id":"d50deed1.655ff","type":"websocket out","z":"e1376dd6.d0ef7","name":"","server":"36a24757.5fd148","client":"","x":1170,"y":680,"wires":[]},{"id":"8bb71b96.d34038","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1560,"wires":[["9595ae97.ba68d"]]},{"id":"4a6ffa2a.5fd024","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1600,"wires":[["3a23f5f8.bcc56a"]]},{"id":"3a23f5f8.bcc56a","type":"function","z":"e1376dd6.d0ef7","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1600,"wires":[["5e6ae05c.ef447"]]},{"id":"5e6ae05c.ef447","type":"function","z":"e1376dd6.d0ef7","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1520,"wires":[["28052859.896488","c896e3f4.7b5f4"]]},{"id":"35bf3ea4.b67332","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["4ed75472.c7d39c"]]},{"id":"42630454.2b7b8c","type":"function","z":"e1376dd6.d0ef7","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["4ab1d9c1.7d4fd8","78f9dce9.221b24","132676a1.76eb19"]]},{"id":"4ed75472.c7d39c","type":"template","z":"e1376dd6.d0ef7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":880,"wires":[["42630454.2b7b8c","7158b54a.6c819c"]]},{"id":"78f9dce9.221b24","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":920,"wires":[]},{"id":"b022d30c.685e6","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":680,"wires":[["4ab1d9c1.7d4fd8"]]},{"id":"8295d295.1adc9","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1480,"wires":[]},{"id":"c896e3f4.7b5f4","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1480,"wires":[["8295d295.1adc9"]]},{"id":"21fb5ed8.ce99a2","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1520,"wires":[["5e6ae05c.ef447"]]},{"id":"e782be2.4850f4","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":640,"wires":[]},{"id":"fb762303.d2356","type":"link in","z":"e1376dd6.d0ef7","name":"drone/position","links":["2ec011b8.6e07be"],"x":155,"y":300,"wires":[["ec6cc256.7191f"]]},{"id":"2ec011b8.6e07be","type":"link out","z":"e1376dd6.d0ef7","name":"","links":["fb762303.d2356","2d4e72c5.4c680e"],"x":215,"y":660,"wires":[]},{"id":"7158b54a.6c819c","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"368118d2.fca6d8","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"f37c7624.1fa508","x":410,"y":580,"wires":[["ce360d14.10d0c"]]},{"id":"ce360d14.10d0c","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":580,"wires":[["8d5552ec.37213"]]},{"id":"8d5552ec.37213","type":"function","z":"e1376dd6.d0ef7","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["bd264643.eddc28"]]},{"id":"132676a1.76eb19","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":640,"y":960,"wires":[]},{"id":"4d1fcba7.8c21d4","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["48395914.aad698"]]},{"id":"d6460111.28e03","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["1786bf1a.a6e9a1"]]},{"id":"1786bf1a.a6e9a1","type":"function","z":"e1376dd6.d0ef7","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["1ddd0df5.082662","31404182.b2ad3e"]]},{"id":"48395914.aad698","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["da9f5360.13991"],["3d512cc6.a078d4"]]},{"id":"3d512cc6.a078d4","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"500","headers":{},"x":520,"y":1180,"wires":[]},{"id":"da9f5360.13991","type":"function","z":"e1376dd6.d0ef7","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1140,"wires":[["9ddf0d63.b06ba","e559752a.9f92e8","b8f7336e.d9998"]]},{"id":"1ddd0df5.082662","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":540,"y":1240,"wires":[]},{"id":"ec6cc256.7191f","type":"switch","z":"e1376dd6.d0ef7","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["96f699d9.df4458"]]},{"id":"31404182.b2ad3e","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"f37c7624.1fa508","x":550,"y":1280,"wires":[]},{"id":"1d387f81.0bed1","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["190c93a1.49bfac","3953955c.a5898a"]]},{"id":"9ddf0d63.b06ba","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/start","qos":"1","retain":"","broker":"f37c7624.1fa508","x":830,"y":1060,"wires":[]},{"id":"361e496e.bcd966","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["fb6efea1.646f8"]]},{"id":"fb6efea1.646f8","type":"function","z":"e1376dd6.d0ef7","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1080,"wires":[["8de7c881.a04bc8"]]},{"id":"8de7c881.a04bc8","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":510,"y":1080,"wires":[]},{"id":"e865133d.efd7e","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":120,"wires":[["6ffe51f.d780fb"]]},{"id":"de5cdd77.de0b8","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["e865133d.efd7e"]]},{"id":"57cc3cc4.940704","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["ecc71e19.fb357"]]},{"id":"6ffe51f.d780fb","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":120,"wires":[["57cc3cc4.940704"],["e6cb7570.0a3cd8"]]},{"id":"e6cb7570.0a3cd8","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["9cdc252e.03ba98"]]},{"id":"ecc71e19.fb357","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":1160,"y":80,"wires":[]},{"id":"9cdc252e.03ba98","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"500","headers":{},"x":1160,"y":140,"wires":[]},{"id":"e559752a.9f92e8","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":820,"y":1140,"wires":[]},{"id":"64a6c03a.e2b2c","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1340,"wires":[["c2370a87.cfc7d8"]]},{"id":"c2370a87.cfc7d8","type":"function","z":"e1376dd6.d0ef7","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1340,"wires":[["85529a48.00b468","4046080f.0730a8"]]},{"id":"85529a48.00b468","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":500,"y":1340,"wires":[]},{"id":"4046080f.0730a8","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"f37c7624.1fa508","x":490,"y":1380,"wires":[]},{"id":"36d1bde8.53c8a2","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":240,"wires":[]},{"id":"3c152495.c93f4c","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":480,"wires":[]},{"id":"33ab5873.abdd78","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":740,"wires":[]},{"id":"b8f7336e.d9998","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1020,"wires":[]},{"id":"64b7a3e0.7262dc","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"f37c7624.1fa508","x":1050,"y":1080,"wires":[["2bc52def.dfe192"]]},{"id":"2bc52def.dfe192","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"f37c7624.1fa508","x":1240,"y":1080,"wires":[]},{"id":"2d4e72c5.4c680e","type":"link in","z":"e1376dd6.d0ef7","name":"","links":["2ec011b8.6e07be"],"x":455,"y":620,"wires":[["b022d30c.685e6"]]},{"id":"b9f2c37f.394b7","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":40,"wires":[]},{"id":"3953955c.a5898a","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["b9f2c37f.394b7"]]},{"id":"53b64ba6.db0564","type":"comment","z":"e1376dd6.d0ef7","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":380,"wires":[]},{"id":"c630f759.e40888","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":440,"wires":[["492db690.b829d8"]]},{"id":"c71deaa5.6f1b68","type":"function","z":"e1376dd6.d0ef7","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["2773d553.6028fa"]]},{"id":"492db690.b829d8","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":440,"wires":[]},{"id":"2773d553.6028fa","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"f37c7624.1fa508","x":550,"y":500,"wires":[]},{"id":"1456f2f4.fcf52d","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":260,"wires":[["b57a423c.7b54","36d1bde8.53c8a2"]]},{"id":"19af0455.fac5bc","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":440,"wires":[["2d8dda41.bac656"]]},{"id":"2d8dda41.bac656","type":"function","z":"e1376dd6.d0ef7","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = flow.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["57c3acc8.6b0de4"]]},{"id":"57c3acc8.6b0de4","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":440,"wires":[["ba9b9181.f118d","f44e7a32.381568"],["ff9fd674.836be8","f44e7a32.381568"]]},{"id":"ba9b9181.f118d","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":420,"wires":[["c630f759.e40888"]]},{"id":"f44e7a32.381568","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":360,"wires":[]},{"id":"6f0f13d5.9fcd1c","type":"http request","z":"e1376dd6.d0ef7","name":"get scanzones","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones","tls":"","proxy":"","authType":"basic","x":1240,"y":340,"wires":[["510da38f.4389cc"]]},{"id":"d343be1b.c3231","type":"function","z":"e1376dd6.d0ef7","name":"set mapId","func":"msg.mapid = flow.get('mapid');\nflow.set('res', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[["6f0f13d5.9fcd1c"]]},{"id":"cf4f8480.86bc28","type":"function","z":"e1376dd6.d0ef7","name":"","func":"let scanzones = msg.payload;\nlet res = flow.get('res');\nmsg.payload = null;\nlet i = 0;\nwhile(msg.payload === null && i < scanzones.length){\n    if(Math.abs(scanzones[i].position.x - res.position.x) < 10\n        && Math.abs(scanzones[i].position.y - res.position.y) < 10){\n            msg.payload = scanzones[i];            \n        }\n    i++;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":340,"wires":[["257ac77f.fabc28","ec27ae2b.ad525"]]},{"id":"ec27ae2b.ad525","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1730,"y":420,"wires":[]},{"id":"510da38f.4389cc","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"","pretty":false,"x":1450,"y":340,"wires":[["cf4f8480.86bc28","3c152495.c93f4c"]]}]