project/backend/management-server/nodered/flows_JOCHENLAROYA478.json
[{"id":"5c84935c.97f78c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"42b9b08e.a69ff","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c517e05.bc5432","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"e3bcea2.9822e18","type":"http request","z":"5c84935c.97f78c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":440,"wires":[["25e532c7.53d81e"]]},{"id":"87b9d92c.1f0798","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":680,"y":60,"wires":[]},{"id":"74cbd1e.969023","type":"http in","z":"5c84935c.97f78c","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":60,"wires":[["37e95255.45fb4e"]]},{"id":"bf7b2e7f.5c993","type":"function","z":"5c84935c.97f78c","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["550b38cb.3a83a8"]]},{"id":"1111b73.4c97249","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"42b9b08e.a69ff","x":1720,"y":240,"wires":[]},{"id":"1a0b9949.a9db47","type":"json","z":"5c84935c.97f78c","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":280,"wires":[["bf7b2e7f.5c993"]]},{"id":"d456379e.c51a18","type":"switch","z":"5c84935c.97f78c","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":280,"wires":[["1a0b9949.a9db47"]]},{"id":"4b86b70c.6b76c8","type":"switch","z":"5c84935c.97f78c","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":260,"wires":[["1eb5506b.5d701"],["d96a048d.9c2db8"]]},{"id":"d96a048d.9c2db8","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"42b9b08e.a69ff","x":1220,"y":260,"wires":[]},{"id":"f7b87eca.b14f9","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"42b9b08e.a69ff","x":100,"y":420,"wires":[["817428c.4686ed8","c48b6bd8.bd0058"]]},{"id":"dc3329e5.e656b8","type":"change","z":"5c84935c.97f78c","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":220,"wires":[["229d64db.9dc18c"]]},{"id":"1eb5506b.5d701","type":"switch","z":"5c84935c.97f78c","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":220,"wires":[["dc3329e5.e656b8"]]},{"id":"e2e3d640.e8b938","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"42b9b08e.a69ff","x":390,"y":780,"wires":[["ef21dad6.e07898"]]},{"id":"b4bed092.1b928","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"42b9b08e.a69ff","x":70,"y":640,"wires":[["d3f473f2.e57f4","ada940a6.8cb02"]]},{"id":"f3f8e54b.579848","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"42b9b08e.a69ff","x":390,"y":660,"wires":[["ef21dad6.e07898"]]},{"id":"843bbb87.771fc8","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"42b9b08e.a69ff","x":410,"y":700,"wires":[["ef21dad6.e07898"]]},{"id":"4580b465.42221c","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"42b9b08e.a69ff","x":400,"y":740,"wires":[["ef21dad6.e07898"]]},{"id":"90c18ea3.65018","type":"function","z":"5c84935c.97f78c","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["568847cd.9e63f8","ed5b315e.1f2b"]]},{"id":"31b581ca.b7ed8e","type":"function","z":"5c84935c.97f78c","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":660,"wires":[["90c18ea3.65018"]]},{"id":"fb36e8b4.8a37e8","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1460,"wires":[["755a3780.3d1cb8"]]},{"id":"755a3780.3d1cb8","type":"function","z":"5c84935c.97f78c","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1460,"wires":[["db022514.6ebcd8"]]},{"id":"861aaa11.664b38","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":740,"y":1500,"wires":[]},{"id":"36e8c38c.1965fc","type":"function","z":"5c84935c.97f78c","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1540,"wires":[["db022514.6ebcd8"]]},{"id":"568847cd.9e63f8","type":"websocket out","z":"5c84935c.97f78c","name":"","server":"1c517e05.bc5432","client":"","x":1170,"y":660,"wires":[]},{"id":"c519b54b.2ce898","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1540,"wires":[["36e8c38c.1965fc"]]},{"id":"ef5e53b.b9c69b","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1580,"wires":[["5fd33729.1e3218"]]},{"id":"5fd33729.1e3218","type":"function","z":"5c84935c.97f78c","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1580,"wires":[["db022514.6ebcd8"]]},{"id":"db022514.6ebcd8","type":"function","z":"5c84935c.97f78c","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1500,"wires":[["861aaa11.664b38","631ce60b.60fe38"]]},{"id":"3890d179.4a715e","type":"http in","z":"5c84935c.97f78c","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["42c7fac5.47d814"]]},{"id":"18126bf7.e9ca44","type":"function","z":"5c84935c.97f78c","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":900,"wires":[["31b581ca.b7ed8e","c681af38.e1a53","eee06e5b.eb6e1"]]},{"id":"42c7fac5.47d814","type":"template","z":"5c84935c.97f78c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":860,"wires":[["18126bf7.e9ca44","6efbd8f6.89a268"]]},{"id":"c681af38.e1a53","type":"debug","z":"5c84935c.97f78c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":900,"wires":[]},{"id":"ef21dad6.e07898","type":"json","z":"5c84935c.97f78c","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":660,"wires":[["31b581ca.b7ed8e"]]},{"id":"f59470f1.8a8c5","type":"debug","z":"5c84935c.97f78c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1460,"wires":[]},{"id":"631ce60b.60fe38","type":"change","z":"5c84935c.97f78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1460,"wires":[["f59470f1.8a8c5"]]},{"id":"2141b570.718fda","type":"http in","z":"5c84935c.97f78c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1500,"wires":[["db022514.6ebcd8"]]},{"id":"ed5b315e.1f2b","type":"debug","z":"5c84935c.97f78c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":620,"wires":[]},{"id":"c7f3ee18.0a243","type":"link in","z":"5c84935c.97f78c","name":"drone/position","links":["d3f473f2.e57f4"],"x":155,"y":280,"wires":[["a7863fd8.000f7"]]},{"id":"d3f473f2.e57f4","type":"link out","z":"5c84935c.97f78c","name":"","links":["c7f3ee18.0a243","e7949ae5.ef8938"],"x":215,"y":640,"wires":[]},{"id":"6efbd8f6.89a268","type":"debug","z":"5c84935c.97f78c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":840,"wires":[]},{"id":"e3c5debd.b0906","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"42b9b08e.a69ff","x":410,"y":560,"wires":[["e61aa4d6.63adc8"]]},{"id":"e61aa4d6.63adc8","type":"json","z":"5c84935c.97f78c","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":560,"wires":[["25178c42.6cd264"]]},{"id":"25178c42.6cd264","type":"function","z":"5c84935c.97f78c","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":560,"wires":[["90c18ea3.65018"]]},{"id":"eee06e5b.eb6e1","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":640,"y":940,"wires":[]},{"id":"5a92ef23.703f","type":"http in","z":"5c84935c.97f78c","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1140,"wires":[["179e1565.daaf6b"]]},{"id":"eb8f9cc0.0f003","type":"http in","z":"5c84935c.97f78c","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1240,"wires":[["4e68fdff.9d44a4"]]},{"id":"4e68fdff.9d44a4","type":"function","z":"5c84935c.97f78c","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1240,"wires":[["95f23dd6.86952","ba519110.90c27"]]},{"id":"179e1565.daaf6b","type":"switch","z":"5c84935c.97f78c","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1140,"wires":[["d9a7eed2.ea701"],["a75baffd.b37b8"]]},{"id":"a75baffd.b37b8","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"500","headers":{},"x":520,"y":1160,"wires":[]},{"id":"d9a7eed2.ea701","type":"function","z":"5c84935c.97f78c","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1120,"wires":[["f99132e8.59ddc","b511c253.def36","9bfb88ce.730fd8"]]},{"id":"95f23dd6.86952","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":540,"y":1220,"wires":[]},{"id":"a7863fd8.000f7","type":"switch","z":"5c84935c.97f78c","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":280,"wires":[["d456379e.c51a18"]]},{"id":"ba519110.90c27","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"42b9b08e.a69ff","x":550,"y":1260,"wires":[]},{"id":"37e95255.45fb4e","type":"function","z":"5c84935c.97f78c","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["87b9d92c.1f0798","2e8cd69c.355cca"]]},{"id":"f99132e8.59ddc","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/start","qos":"1","retain":"","broker":"42b9b08e.a69ff","x":830,"y":1040,"wires":[]},{"id":"637e8b5a.a99b34","type":"http in","z":"5c84935c.97f78c","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1060,"wires":[["22492972.2b7226"]]},{"id":"22492972.2b7226","type":"function","z":"5c84935c.97f78c","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1060,"wires":[["2c6518db.78cfa8"]]},{"id":"2c6518db.78cfa8","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":510,"y":1060,"wires":[]},{"id":"e2e13fd9.b7319","type":"http request","z":"5c84935c.97f78c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":100,"wires":[["fdc122d5.b04d9"]]},{"id":"bdc7eae6.c98d48","type":"http in","z":"5c84935c.97f78c","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["e2e13fd9.b7319"]]},{"id":"2ad184ec.c42b4c","type":"function","z":"5c84935c.97f78c","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["2138daa1.0f2c06"]]},{"id":"fdc122d5.b04d9","type":"switch","z":"5c84935c.97f78c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":100,"wires":[["2ad184ec.c42b4c"],["8ce1f2b8.559c8"]]},{"id":"8ce1f2b8.559c8","type":"function","z":"5c84935c.97f78c","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[["bde35420.b67248"]]},{"id":"2138daa1.0f2c06","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":1160,"y":60,"wires":[]},{"id":"bde35420.b67248","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"500","headers":{},"x":1160,"y":120,"wires":[]},{"id":"b511c253.def36","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":820,"y":1120,"wires":[]},{"id":"e294cbd4.ea1f18","type":"http in","z":"5c84935c.97f78c","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1320,"wires":[["c8dc7f3e.e9de"]]},{"id":"c8dc7f3e.e9de","type":"function","z":"5c84935c.97f78c","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1320,"wires":[["fced95ad.4d7b08","3ac3c61e.a9a98a"]]},{"id":"fced95ad.4d7b08","type":"http response","z":"5c84935c.97f78c","name":"","statusCode":"200","headers":{},"x":500,"y":1320,"wires":[]},{"id":"3ac3c61e.a9a98a","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"42b9b08e.a69ff","x":490,"y":1360,"wires":[]},{"id":"afe120d3.ee3fd","type":"debug","z":"5c84935c.97f78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":200,"wires":[]},{"id":"ada940a6.8cb02","type":"debug","z":"5c84935c.97f78c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":720,"wires":[]},{"id":"9bfb88ce.730fd8","type":"debug","z":"5c84935c.97f78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1000,"wires":[]},{"id":"7e6c1290.ff17cc","type":"mqtt in","z":"5c84935c.97f78c","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"42b9b08e.a69ff","x":1050,"y":1060,"wires":[["eb134c1d.1e35d"]]},{"id":"eb134c1d.1e35d","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"42b9b08e.a69ff","x":1240,"y":1060,"wires":[]},{"id":"e7949ae5.ef8938","type":"link in","z":"5c84935c.97f78c","name":"","links":["d3f473f2.e57f4"],"x":455,"y":600,"wires":[["ef21dad6.e07898"]]},{"id":"84a98910.d80998","type":"debug","z":"5c84935c.97f78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":20,"wires":[]},{"id":"2e8cd69c.355cca","type":"change","z":"5c84935c.97f78c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":20,"wires":[["84a98910.d80998"]]},{"id":"68551985.77d108","type":"comment","z":"5c84935c.97f78c","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":360,"wires":[]},{"id":"25e532c7.53d81e","type":"switch","z":"5c84935c.97f78c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":420,"wires":[["45abb2d1.6dfd0c"]]},{"id":"817428c.4686ed8","type":"function","z":"5c84935c.97f78c","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["a56de90.c9b9518"]]},{"id":"45abb2d1.6dfd0c","type":"debug","z":"5c84935c.97f78c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":420,"wires":[]},{"id":"a56de90.c9b9518","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"42b9b08e.a69ff","x":550,"y":480,"wires":[]},{"id":"229d64db.9dc18c","type":"switch","z":"5c84935c.97f78c","name":"","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":220,"wires":[["1111b73.4c97249","afe120d3.ee3fd"]]},{"id":"c48b6bd8.bd0058","type":"json","z":"5c84935c.97f78c","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":420,"wires":[["abb5ce.7ae82a3"]]},{"id":"abb5ce.7ae82a3","type":"function","z":"5c84935c.97f78c","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = flow.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["210f07cb.3e6888"]]},{"id":"210f07cb.3e6888","type":"switch","z":"5c84935c.97f78c","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":420,"wires":[["88288753.902288"],["e3bcea2.9822e18"]]},{"id":"88288753.902288","type":"http request","z":"5c84935c.97f78c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":400,"wires":[["25e532c7.53d81e"]]},{"id":"550b38cb.3a83a8","type":"switch","z":"5c84935c.97f78c","name":"stop?","property":"stop","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":280,"wires":[["4b86b70c.6b76c8"],["9f65c26f.cce61"]]},{"id":"9f65c26f.cce61","type":"mqtt out","z":"5c84935c.97f78c","name":"","topic":"drone/pause","qos":"","retain":"","broker":"42b9b08e.a69ff","x":1070,"y":300,"wires":[]}]