project/backend/management-server/nodered/flows_LAPTOP-FP38HPBU.json
[{"id":"e1376dd6.d0ef7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88d0e0ca.30992","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c632caaf.f9ccf8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56857582.c790fc","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"6b2735f7.b65dec","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":460,"wires":[["6475c31.715653c"]]},{"id":"33aede1c.e55262","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":680,"y":80,"wires":[]},{"id":"15c1369b.7c2139","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["966abeb9.c547b"]]},{"id":"d8da41fd.929a5","type":"function","z":"e1376dd6.d0ef7","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["82c43f9f.6236e"]]},{"id":"c156583.10d34a8","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"c632caaf.f9ccf8","x":1720,"y":260,"wires":[]},{"id":"f0266a49.e22238","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":300,"wires":[["d8da41fd.929a5"]]},{"id":"6647d735.8305d8","type":"switch","z":"e1376dd6.d0ef7","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":300,"wires":[["f0266a49.e22238"]]},{"id":"1745b2f.29e694d","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":280,"wires":[["4b3322e5.f5c8ec"],["ac1f5f96.ada0c"]]},{"id":"ac1f5f96.ada0c","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"c632caaf.f9ccf8","x":1220,"y":280,"wires":[]},{"id":"2b5afd0d.380352","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"c632caaf.f9ccf8","x":100,"y":440,"wires":[["9d6860c8.ba89","16db39ef.b14ee6"]]},{"id":"12c9bd2c.05ee73","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":240,"wires":[["9fcce7fb.201bc8"]]},{"id":"4b3322e5.f5c8ec","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":240,"wires":[["12c9bd2c.05ee73"]]},{"id":"d5fa3d18.2b223","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"c632caaf.f9ccf8","x":390,"y":800,"wires":[["6dcaf1dc.7b19b"]]},{"id":"90904c1d.21a91","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"c632caaf.f9ccf8","x":70,"y":660,"wires":[["6a7490bf.1c087","9dd4ea53.0615a8"]]},{"id":"bd552df0.c1a79","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"c632caaf.f9ccf8","x":390,"y":680,"wires":[["6dcaf1dc.7b19b"]]},{"id":"2ce2f803.223b48","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"c632caaf.f9ccf8","x":410,"y":720,"wires":[["6dcaf1dc.7b19b"]]},{"id":"7b5fbbd6.54ee24","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"c632caaf.f9ccf8","x":400,"y":760,"wires":[["6dcaf1dc.7b19b"]]},{"id":"f4b5b346.1d00f","type":"function","z":"e1376dd6.d0ef7","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["7b34748c.153dbc","241221e4.acd43e"]]},{"id":"bc74d267.80c5a","type":"function","z":"e1376dd6.d0ef7","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["f4b5b346.1d00f"]]},{"id":"3d1742ec.6ef7be","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["adbc6e5a.11c06"]]},{"id":"adbc6e5a.11c06","type":"function","z":"e1376dd6.d0ef7","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["28ac0cf8.816244"]]},{"id":"7dc823db.48c5fc","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":740,"y":1520,"wires":[]},{"id":"43347127.3d749","type":"function","z":"e1376dd6.d0ef7","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["28ac0cf8.816244"]]},{"id":"7b34748c.153dbc","type":"websocket out","z":"e1376dd6.d0ef7","name":"","server":"56857582.c790fc","client":"","x":1170,"y":680,"wires":[]},{"id":"1fa05650.20ff9a","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1560,"wires":[["43347127.3d749"]]},{"id":"1039ceea.4b82f1","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1600,"wires":[["4340ec9a.6fa6f4"]]},{"id":"4340ec9a.6fa6f4","type":"function","z":"e1376dd6.d0ef7","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1600,"wires":[["28ac0cf8.816244"]]},{"id":"28ac0cf8.816244","type":"function","z":"e1376dd6.d0ef7","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1520,"wires":[["7dc823db.48c5fc","4748877e.6b6ca8"]]},{"id":"48a1c447.5181dc","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["116a27d9.5c5b38"]]},{"id":"b5fd7fac.2b109","type":"function","z":"e1376dd6.d0ef7","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["bc74d267.80c5a","9154e46b.f687b8","af5f8733.f05a78"]]},{"id":"116a27d9.5c5b38","type":"template","z":"e1376dd6.d0ef7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":880,"wires":[["b5fd7fac.2b109","814e37f4.bcd138"]]},{"id":"9154e46b.f687b8","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":920,"wires":[]},{"id":"6dcaf1dc.7b19b","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":680,"wires":[["bc74d267.80c5a"]]},{"id":"945b50d1.f61b1","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1480,"wires":[]},{"id":"4748877e.6b6ca8","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1480,"wires":[["945b50d1.f61b1"]]},{"id":"efa84279.88505","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1520,"wires":[["28ac0cf8.816244"]]},{"id":"241221e4.acd43e","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":640,"wires":[]},{"id":"11259545.403c9b","type":"link in","z":"e1376dd6.d0ef7","name":"drone/position","links":["6a7490bf.1c087"],"x":155,"y":300,"wires":[["e50e0539.54eaf8"]]},{"id":"6a7490bf.1c087","type":"link out","z":"e1376dd6.d0ef7","name":"","links":["11259545.403c9b","be06e55.fb54918"],"x":215,"y":660,"wires":[]},{"id":"814e37f4.bcd138","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"82d218d4.4ec228","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"c632caaf.f9ccf8","x":410,"y":580,"wires":[["fd79a19.879206"]]},{"id":"fd79a19.879206","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":580,"wires":[["3947db69.4af664"]]},{"id":"3947db69.4af664","type":"function","z":"e1376dd6.d0ef7","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["f4b5b346.1d00f"]]},{"id":"af5f8733.f05a78","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":640,"y":960,"wires":[]},{"id":"d02bfa8c.97afe8","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["9f7e0c99.5cb3c"]]},{"id":"8f8301e2.5f04a","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["5c837c06.facdb4"]]},{"id":"5c837c06.facdb4","type":"function","z":"e1376dd6.d0ef7","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["22edc42b.f4f13c","2fc907d1.258108"]]},{"id":"9f7e0c99.5cb3c","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["5b7f0150.d50b7"],["6c193160.5c27"]]},{"id":"6c193160.5c27","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"500","headers":{},"x":520,"y":1180,"wires":[]},{"id":"5b7f0150.d50b7","type":"function","z":"e1376dd6.d0ef7","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1140,"wires":[["2919a922.4b7fc6","ddb02f59.1c3f7","ca904bbb.0f4fa8"]]},{"id":"22edc42b.f4f13c","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":540,"y":1240,"wires":[]},{"id":"e50e0539.54eaf8","type":"switch","z":"e1376dd6.d0ef7","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["6647d735.8305d8"]]},{"id":"2fc907d1.258108","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"c632caaf.f9ccf8","x":550,"y":1280,"wires":[]},{"id":"966abeb9.c547b","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["33aede1c.e55262","e1782507.804b08"]]},{"id":"2919a922.4b7fc6","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/start","qos":"1","retain":"","broker":"c632caaf.f9ccf8","x":830,"y":1060,"wires":[]},{"id":"831a6279.4f3a4","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["d3b2aaf3.8eb668"]]},{"id":"d3b2aaf3.8eb668","type":"function","z":"e1376dd6.d0ef7","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1080,"wires":[["83fdd1a7.2664c"]]},{"id":"83fdd1a7.2664c","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":510,"y":1080,"wires":[]},{"id":"5395b808.6240e8","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":120,"wires":[["c4d545a4.8507e8"]]},{"id":"a3fbcce7.839ef","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["5395b808.6240e8"]]},{"id":"b50a6c8b.13b67","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["9ca293f1.be3d2"]]},{"id":"c4d545a4.8507e8","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":120,"wires":[["b50a6c8b.13b67"],["a0da8ba2.6a5a18"]]},{"id":"a0da8ba2.6a5a18","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["ed6e73a2.3f7d6"]]},{"id":"9ca293f1.be3d2","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":1160,"y":80,"wires":[]},{"id":"ed6e73a2.3f7d6","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"500","headers":{},"x":1160,"y":140,"wires":[]},{"id":"ddb02f59.1c3f7","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":820,"y":1140,"wires":[]},{"id":"d900ebd3.e45df8","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1340,"wires":[["3408fa62.3c7006"]]},{"id":"3408fa62.3c7006","type":"function","z":"e1376dd6.d0ef7","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1340,"wires":[["53e9657e.6e1b1c","3ead00b3.5aab9"]]},{"id":"53e9657e.6e1b1c","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":500,"y":1340,"wires":[]},{"id":"3ead00b3.5aab9","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"c632caaf.f9ccf8","x":490,"y":1380,"wires":[]},{"id":"8a2845cf.4e0508","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":220,"wires":[]},{"id":"9dd4ea53.0615a8","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":740,"wires":[]},{"id":"ca904bbb.0f4fa8","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1020,"wires":[]},{"id":"9b76c798.c924f8","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"c632caaf.f9ccf8","x":1050,"y":1080,"wires":[["ba1523d8.2cf92"]]},{"id":"ba1523d8.2cf92","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"c632caaf.f9ccf8","x":1240,"y":1080,"wires":[]},{"id":"be06e55.fb54918","type":"link in","z":"e1376dd6.d0ef7","name":"","links":["6a7490bf.1c087"],"x":455,"y":620,"wires":[["6dcaf1dc.7b19b"]]},{"id":"69289bb2.51f4f4","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":40,"wires":[]},{"id":"e1782507.804b08","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["69289bb2.51f4f4"]]},{"id":"ff04b8ee.a97fd8","type":"comment","z":"e1376dd6.d0ef7","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":380,"wires":[]},{"id":"6475c31.715653c","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":440,"wires":[["1ce09910.82efe7"]]},{"id":"9d6860c8.ba89","type":"function","z":"e1376dd6.d0ef7","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["7e73bc00.779234"]]},{"id":"1ce09910.82efe7","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":440,"wires":[]},{"id":"7e73bc00.779234","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"c632caaf.f9ccf8","x":550,"y":500,"wires":[]},{"id":"9fcce7fb.201bc8","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":240,"wires":[["c156583.10d34a8","8a2845cf.4e0508"]]},{"id":"16db39ef.b14ee6","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":440,"wires":[["bce6fa6c.25dae8"]]},{"id":"bce6fa6c.25dae8","type":"function","z":"e1376dd6.d0ef7","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = flow.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["3ceb512e.70a3de"]]},{"id":"3ceb512e.70a3de","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":440,"wires":[["715d35e3.30601c"],["6b2735f7.b65dec"]]},{"id":"715d35e3.30601c","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":420,"wires":[["6475c31.715653c"]]},{"id":"82c43f9f.6236e","type":"switch","z":"e1376dd6.d0ef7","name":"stop?","property":"stop","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":300,"wires":[["1745b2f.29e694d"],["563e734b.f7c33c"]]},{"id":"563e734b.f7c33c","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/pause","qos":"","retain":"","broker":"c632caaf.f9ccf8","x":1070,"y":320,"wires":[]}]