project/backend/management-server/nodered/flows_WOUTER-LAPTOP.json
[{"id":"c4fd01f7.9bd41","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5f7afc79.985d24","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"831b449a.549d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21083311.d2238c","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"d84529d5.e29698","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7eab319e.1c2b3","type":"http request","z":"c4fd01f7.9bd41","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":330,"y":180,"wires":[["80fd561a.5d8bd8"]]},{"id":"f2b9652d.738b48","type":"http response","z":"c4fd01f7.9bd41","name":"","statusCode":"200","headers":{},"x":660,"y":160,"wires":[]},{"id":"80fd561a.5d8bd8","type":"switch","z":"c4fd01f7.9bd41","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":180,"wires":[["f2b9652d.738b48","e6698319.d8312"],["5f9b4ac8.ed7a14"]]},{"id":"bb408b92.4dc2b8","type":"http in","z":"c4fd01f7.9bd41","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["7eab319e.1c2b3"]]},{"id":"5f9b4ac8.ed7a14","type":"http response","z":"c4fd01f7.9bd41","name":"","statusCode":"500","headers":{},"x":660,"y":200,"wires":[]},{"id":"5c98d971.2a3bc8","type":"inject","z":"c4fd01f7.9bd41","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"z\":0,\"scan\":false},{\"x\":1000,\"y\":10000,\"z\":0,\"scan\":false},{\"x\":10000,\"y\":20000,\"z\":0,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":120,"wires":[["e6698319.d8312"]]},{"id":"362e226b.25325e","type":"mqtt out","z":"c4fd01f7.9bd41","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"d84529d5.e29698","x":860,"y":120,"wires":[]},{"id":"e6698319.d8312","type":"function","z":"c4fd01f7.9bd41","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["362e226b.25325e"]]},{"id":"ee8c5e7d.a8a1c","type":"mqtt in","z":"c4fd01f7.9bd41","name":"","topic":"drone/position","qos":"1","datatype":"auto","broker":"d84529d5.e29698","x":120,"y":300,"wires":[["3e0f1871.d18c98"]]},{"id":"f588c3fa.e4ace","type":"function","z":"c4fd01f7.9bd41","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["75ca0bb1.6cdb54","fcb3e485.bf1de8","c3b833fd.21f7a","6d29c2a4.d6eb0c","26de4111.78efee","179752b9.aa529d","6291ffcb.a09d1","aa6191b5.6406"]]},{"id":"d5a44b9d.6c12f8","type":"mqtt out","z":"c4fd01f7.9bd41","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"d84529d5.e29698","x":1320,"y":260,"wires":[]},{"id":"953cc16a.8b759","type":"json","z":"c4fd01f7.9bd41","name":"","property":"payload","action":"","pretty":false,"x":470,"y":300,"wires":[["f588c3fa.e4ace"]]},{"id":"93b417a6.c5c658","type":"comment","z":"c4fd01f7.9bd41","name":"Moveteller!!","info":"fout in de moveteller kan voor problemen zorgen\n(naar verkeerde coo vliegen -> opvangen met collision)","x":350,"y":60,"wires":[]},{"id":"3e0f1871.d18c98","type":"switch","z":"c4fd01f7.9bd41","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":300,"wires":[["953cc16a.8b759"]]},{"id":"75ca0bb1.6cdb54","type":"switch","z":"c4fd01f7.9bd41","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":300,"wires":[["78a2592.7b2e9a8"],["9b6867a1.bf3ac8"]]},{"id":"9b6867a1.bf3ac8","type":"mqtt out","z":"c4fd01f7.9bd41","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"d84529d5.e29698","x":980,"y":340,"wires":[]},{"id":"7f174d23.eb9534","type":"comment","z":"c4fd01f7.9bd41","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":240,"y":360,"wires":[]},{"id":"c1791e4a.4b14b","type":"debug","z":"c4fd01f7.9bd41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":420,"wires":[]},{"id":"fcb3e485.bf1de8","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":460,"wires":[["8849b4b3.b987d8","562a6089.d3201"]]},{"id":"c3b833fd.21f7a","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":500,"wires":[["65bf7d78.53cd54"]]},{"id":"6d29c2a4.d6eb0c","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":540,"wires":[["f7f08388.d31ec"]]},{"id":"26de4111.78efee","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":580,"wires":[["14db9f0e.137631"]]},{"id":"179752b9.aa529d","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":620,"wires":[["93cbb4e2.2de828"]]},{"id":"8849b4b3.b987d8","type":"debug","z":"c4fd01f7.9bd41","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":420,"wires":[]},{"id":"562a6089.d3201","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1100,"y":460,"wires":[]},{"id":"65bf7d78.53cd54","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1100,"y":500,"wires":[]},{"id":"f7f08388.d31ec","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1080,"y":540,"wires":[]},{"id":"14db9f0e.137631","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1100,"y":580,"wires":[]},{"id":"93cbb4e2.2de828","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1080,"y":620,"wires":[]},{"id":"6291ffcb.a09d1","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["127765c7.48354a"]]},{"id":"127765c7.48354a","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1080,"y":660,"wires":[]},{"id":"aa6191b5.6406","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":700,"wires":[["1245ab55.93c055"]]},{"id":"1245ab55.93c055","type":"debug","z":"c4fd01f7.9bd41","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1080,"y":700,"wires":[]},{"id":"f377de96.b3f8e","type":"mqtt in","z":"c4fd01f7.9bd41","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"d84529d5.e29698","x":120,"y":420,"wires":[["f3b8dc25.21f9a"]]},{"id":"f3b8dc25.21f9a","type":"function","z":"c4fd01f7.9bd41","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["c1791e4a.4b14b"]]},{"id":"3cf3c279.3c8d5e","type":"change","z":"c4fd01f7.9bd41","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":260,"wires":[["d5a44b9d.6c12f8"]]},{"id":"78a2592.7b2e9a8","type":"switch","z":"c4fd01f7.9bd41","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":260,"wires":[["3cf3c279.3c8d5e"]]},{"id":"ec66fdb7.4bf69","type":"mqtt in","z":"831b449a.549d18","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"d84529d5.e29698","x":210,"y":780,"wires":[["a9e99391.1a1ad"]]},{"id":"c9344f96.1170e","type":"mqtt in","z":"831b449a.549d18","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"d84529d5.e29698","x":210,"y":720,"wires":[["a9e99391.1a1ad","9b1224ce.5d8e98"]]},{"id":"97bebb66.4078f8","type":"mqtt in","z":"831b449a.549d18","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"d84529d5.e29698","x":230,"y":540,"wires":[["a9e99391.1a1ad"]]},{"id":"90c1219d.0732f","type":"mqtt in","z":"831b449a.549d18","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"d84529d5.e29698","x":210,"y":600,"wires":[["a9e99391.1a1ad"]]},{"id":"1190442e.ce2a4c","type":"mqtt in","z":"831b449a.549d18","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"d84529d5.e29698","x":220,"y":660,"wires":[["a9e99391.1a1ad"]]},{"id":"5b344db5.6f9d04","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["b5c127ff.145518"]]},{"id":"b5c127ff.145518","type":"mqtt out","z":"831b449a.549d18","name":"","topic":"drone/speed","qos":"","retain":"","broker":"d84529d5.e29698","x":430,"y":400,"wires":[]},{"id":"651e9d18.71e174","type":"function","z":"831b449a.549d18","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        properties[key] = flow.get('drone/' + key);\n    }\n}\n\nlet position = flow.get('drone/position')\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["2c922df9.6f6c92","ffef784f.d68e58","2c27b701.fe84c8"]]},{"id":"2c922df9.6f6c92","type":"debug","z":"831b449a.549d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":540,"wires":[]},{"id":"75d82679.338c88","type":"function","z":"831b449a.549d18","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["651e9d18.71e174","36db60df.ebb46"]]},{"id":"36db60df.ebb46","type":"debug","z":"831b449a.549d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":540,"wires":[]},{"id":"741db46e.c988cc","type":"inject","z":"831b449a.549d18","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":460,"wires":[["5ea36439.6c807c"]]},{"id":"5ea36439.6c807c","type":"mqtt out","z":"831b449a.549d18","name":"","topic":"drone/battery","qos":"","retain":"","broker":"d84529d5.e29698","x":420,"y":480,"wires":[]},{"id":"78bb2ca4.931844","type":"http in","z":"831b449a.549d18","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":190,"y":980,"wires":[["d589e5e7.4df2e8"]]},{"id":"d589e5e7.4df2e8","type":"function","z":"831b449a.549d18","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["e3c984ae.dbd9d8"]]},{"id":"d8dcf42.7113808","type":"http response","z":"831b449a.549d18","name":"","statusCode":"200","headers":{},"x":920,"y":1060,"wires":[]},{"id":"ffef784f.d68e58","type":"debug","z":"831b449a.549d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"subs","targetType":"msg","x":930,"y":500,"wires":[]},{"id":"535dcf43.2aa4b","type":"function","z":"831b449a.549d18","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1100,"wires":[["e3c984ae.dbd9d8"]]},{"id":"2c27b701.fe84c8","type":"websocket out","z":"831b449a.549d18","name":"","server":"21083311.d2238c","client":"","x":960,"y":640,"wires":[]},{"id":"dbb71b49.bf0258","type":"http in","z":"831b449a.549d18","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":200,"y":1100,"wires":[["535dcf43.2aa4b"]]},{"id":"2033d3b0.25d45c","type":"http in","z":"831b449a.549d18","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":210,"y":1180,"wires":[["94a5dcde.ae2e"]]},{"id":"94a5dcde.ae2e","type":"function","z":"831b449a.549d18","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1180,"wires":[["e3c984ae.dbd9d8"]]},{"id":"e3c984ae.dbd9d8","type":"function","z":"831b449a.549d18","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\nmsg.payload = \"\";\nfor(let key of Object.keys(sub)){\n    msg.payload += `${key}: ${sub[key]};\\n`;\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1060,"wires":[["734146f8.697cc8","d8dcf42.7113808"]]},{"id":"24fd54a7.fd715c","type":"inject","z":"831b449a.549d18","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":860,"wires":[["45fa0214.c3d60c"]]},{"id":"6b039959.0351e8","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":900,"wires":[["428686d9.bb8f68"]]},{"id":"45fa0214.c3d60c","type":"function","z":"831b449a.549d18","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":490,"y":860,"wires":[[]]},{"id":"428686d9.bb8f68","type":"function","z":"831b449a.549d18","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":480,"y":900,"wires":[[]]},{"id":"e2abadcb.cba9a","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":320,"wires":[["629fe186.02959"]]},{"id":"629fe186.02959","type":"mqtt out","z":"831b449a.549d18","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"d84529d5.e29698","x":410,"y":340,"wires":[]},{"id":"3bcc1378.b4725c","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["629fe186.02959"]]},{"id":"34108cdb.529484","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["629fe186.02959"]]},{"id":"f8f2d7ee.63ac68","type":"mqtt out","z":"831b449a.549d18","name":"","topic":"drone/position","qos":"","retain":"","broker":"d84529d5.e29698","x":450,"y":140,"wires":[]},{"id":"e74b6457.6b66e8","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["f8f2d7ee.63ac68"]]},{"id":"1f9bff47.fb52d1","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":60,"wires":[["f8f2d7ee.63ac68"]]},{"id":"95755959.73d648","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":160,"wires":[["90eef83f.7045a8"]]},{"id":"615f49d8.01f5e8","type":"inject","z":"831b449a.549d18","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":220,"wires":[["90eef83f.7045a8"]]},{"id":"ee316c34.47dbf","type":"http in","z":"831b449a.549d18","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":630,"y":100,"wires":[["358c3897.719b68"]]},{"id":"90eef83f.7045a8","type":"function","z":"831b449a.549d18","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":180,"wires":[["540799e3.761048","75d82679.338c88"]]},{"id":"358c3897.719b68","type":"template","z":"831b449a.549d18","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":810,"y":100,"wires":[["90eef83f.7045a8"]]},{"id":"540799e3.761048","type":"debug","z":"831b449a.549d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":180,"wires":[]},{"id":"a9e99391.1a1ad","type":"json","z":"831b449a.549d18","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":600,"wires":[["75d82679.338c88"]]},{"id":"9b1224ce.5d8e98","type":"debug","z":"831b449a.549d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":720,"wires":[]},{"id":"93bd3942.f97148","type":"debug","z":"831b449a.549d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":940,"wires":[]},{"id":"734146f8.697cc8","type":"change","z":"831b449a.549d18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":980,"wires":[["93bd3942.f97148"]]},{"id":"b333daa7.ec7708","type":"http in","z":"831b449a.549d18","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1020,"wires":[["e3c984ae.dbd9d8"]]}]