project/backend/management-server/nodered/flows_LAPTOP-FP38HPBU.json
[{"id":"e1376dd6.d0ef7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3b24b3d4.1bfb2c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1916f9af.c38096","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"48f398d6.3a93c8","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":680,"y":140,"wires":[]},{"id":"55dbd409.275f4c","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":140,"wires":[["b0822ad.d016fd8"]]},{"id":"f4baf1d3.30ac2","type":"function","z":"e1376dd6.d0ef7","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].orientation;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":360,"wires":[["e35afb71.570f28"]]},{"id":"c0a750c3.cba3d","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"3b24b3d4.1bfb2c","x":1600,"y":340,"wires":[]},{"id":"69c00cbc.51af14","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":360,"wires":[["f4baf1d3.30ac2"]]},{"id":"3207ef37.8fc7d","type":"switch","z":"e1376dd6.d0ef7","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":360,"wires":[["69c00cbc.51af14"]]},{"id":"e35afb71.570f28","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":360,"wires":[["d58dc285.c8036"],["46fb4530.0578ac","8b1629aa.7ba2e8"]]},{"id":"46fb4530.0578ac","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"3b24b3d4.1bfb2c","x":1240,"y":400,"wires":[]},{"id":"29e62f19.65a0d","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":560,"wires":[]},{"id":"193c0eed.296aa1","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"3b24b3d4.1bfb2c","x":100,"y":500,"wires":[["27e23d32.d837a2","663696af.85ce28"]]},{"id":"8e7f4f7d.bc6e7","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":320,"wires":[["cbf9cccd.25b48"]]},{"id":"d58dc285.c8036","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":320,"wires":[["8e7f4f7d.bc6e7"]]},{"id":"cf762b29.39a008","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"3b24b3d4.1bfb2c","x":390,"y":860,"wires":[["837ba45f.a0b478"]]},{"id":"4be85aa2.db9424","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"3b24b3d4.1bfb2c","x":70,"y":720,"wires":[["8b9e7655.fe3c68","fe938e02.ff482"]]},{"id":"b2d0f86c.eac678","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"3b24b3d4.1bfb2c","x":390,"y":740,"wires":[["837ba45f.a0b478"]]},{"id":"719aab11.d35024","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"3b24b3d4.1bfb2c","x":410,"y":780,"wires":[["837ba45f.a0b478"]]},{"id":"ee61285a.67d408","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"3b24b3d4.1bfb2c","x":400,"y":820,"wires":[["837ba45f.a0b478"]]},{"id":"998652d.bdbadb","type":"function","z":"e1376dd6.d0ef7","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":740,"wires":[["7d8ec6a0.984ad8","9c2e36af.879878"]]},{"id":"63aba309.418f5c","type":"function","z":"e1376dd6.d0ef7","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":740,"wires":[["998652d.bdbadb"]]},{"id":"76903a39.d101f4","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1540,"wires":[["11fa6c0a.720504"]]},{"id":"11fa6c0a.720504","type":"function","z":"e1376dd6.d0ef7","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1540,"wires":[["7fd5277.6496fd8"]]},{"id":"42dbec7.8b88c14","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":740,"y":1580,"wires":[]},{"id":"29a98279.d30b2e","type":"function","z":"e1376dd6.d0ef7","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1620,"wires":[["7fd5277.6496fd8"]]},{"id":"7d8ec6a0.984ad8","type":"websocket out","z":"e1376dd6.d0ef7","name":"","server":"1916f9af.c38096","client":"","x":1170,"y":740,"wires":[]},{"id":"96093584.c6ad68","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1620,"wires":[["29a98279.d30b2e"]]},{"id":"50f26777.9ad0f8","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1660,"wires":[["6c396156.18683"]]},{"id":"6c396156.18683","type":"function","z":"e1376dd6.d0ef7","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1660,"wires":[["7fd5277.6496fd8"]]},{"id":"7fd5277.6496fd8","type":"function","z":"e1376dd6.d0ef7","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1580,"wires":[["42dbec7.8b88c14","6e452012.9ce9f"]]},{"id":"5ca3c66f.72dd88","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":940,"wires":[["e50a0618.92a428"]]},{"id":"b59263dd.e4229","type":"function","z":"e1376dd6.d0ef7","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":980,"wires":[["63aba309.418f5c","49e3ec33.ad5f14","6323c40c.cf2c8c"]]},{"id":"e50a0618.92a428","type":"template","z":"e1376dd6.d0ef7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":940,"wires":[["b59263dd.e4229","5ec061d0.f6a39"]]},{"id":"49e3ec33.ad5f14","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":980,"wires":[]},{"id":"837ba45f.a0b478","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":740,"wires":[["63aba309.418f5c"]]},{"id":"e43b205d.61df9","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1540,"wires":[]},{"id":"6e452012.9ce9f","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1540,"wires":[["e43b205d.61df9"]]},{"id":"2bc82144.41002e","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1580,"wires":[["7fd5277.6496fd8"]]},{"id":"9c2e36af.879878","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":700,"wires":[]},{"id":"3d74fd2f.7b3dd2","type":"link in","z":"e1376dd6.d0ef7","name":"drone/position","links":["8b9e7655.fe3c68"],"x":155,"y":360,"wires":[["db0c26d3.696b58"]]},{"id":"8b9e7655.fe3c68","type":"link out","z":"e1376dd6.d0ef7","name":"","links":["3d74fd2f.7b3dd2","1d83635e.988c6d"],"x":215,"y":720,"wires":[]},{"id":"5ec061d0.f6a39","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":920,"wires":[]},{"id":"b9c122d9.84fea","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"3b24b3d4.1bfb2c","x":410,"y":640,"wires":[["65685305.6d5eec"]]},{"id":"65685305.6d5eec","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":640,"wires":[["528dba.f6d1c248"]]},{"id":"528dba.f6d1c248","type":"function","z":"e1376dd6.d0ef7","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":640,"wires":[["998652d.bdbadb"]]},{"id":"6323c40c.cf2c8c","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":640,"y":1020,"wires":[]},{"id":"9d86bffe.52091","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1220,"wires":[["dc8bdb12.c9a7a8"]]},{"id":"26b71db0.fd7b42","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1320,"wires":[["736ff591.48a49c"]]},{"id":"736ff591.48a49c","type":"function","z":"e1376dd6.d0ef7","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1320,"wires":[["e2ed9050.96d54","8669a57f.89b4c8"]]},{"id":"dc8bdb12.c9a7a8","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1220,"wires":[["5043d42d.65951c"],["9a92c06b.52df9"]]},{"id":"9a92c06b.52df9","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"500","headers":{},"x":520,"y":1240,"wires":[]},{"id":"5043d42d.65951c","type":"function","z":"e1376dd6.d0ef7","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1200,"wires":[["7e939de8.662564","ffee3c0d.398be","265488a8.7bd758"]]},{"id":"e2ed9050.96d54","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":540,"y":1300,"wires":[]},{"id":"db0c26d3.696b58","type":"switch","z":"e1376dd6.d0ef7","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":360,"wires":[["3207ef37.8fc7d"]]},{"id":"8669a57f.89b4c8","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"3b24b3d4.1bfb2c","x":550,"y":1340,"wires":[]},{"id":"b0822ad.d016fd8","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["48f398d6.3a93c8","f1409813.9d0fd8"]]},{"id":"7e939de8.662564","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/start","qos":"1","retain":"","broker":"3b24b3d4.1bfb2c","x":830,"y":1120,"wires":[]},{"id":"c69fc366.41ee3","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1140,"wires":[["20b40d32.4f6af2"]]},{"id":"20b40d32.4f6af2","type":"function","z":"e1376dd6.d0ef7","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1140,"wires":[["7d2a6736.868a88"]]},{"id":"7d2a6736.868a88","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":510,"y":1140,"wires":[]},{"id":"5bc1e80d.6397c8","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":180,"wires":[["88d2f840.55b878"]]},{"id":"e920019f.ae1b8","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["5bc1e80d.6397c8"]]},{"id":"7e1df79a.7a7088","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["aaa6a460.1477a8"]]},{"id":"88d2f840.55b878","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":180,"wires":[["7e1df79a.7a7088"],["dab91f7.bc1e8e"]]},{"id":"dab91f7.bc1e8e","type":"function","z":"e1376dd6.d0ef7","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["53d459ea.5eab78"]]},{"id":"aaa6a460.1477a8","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":1160,"y":140,"wires":[]},{"id":"53d459ea.5eab78","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"500","headers":{},"x":1160,"y":200,"wires":[]},{"id":"ffee3c0d.398be","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":820,"y":1200,"wires":[]},{"id":"3fdfc728.8c09f8","type":"http in","z":"e1376dd6.d0ef7","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1400,"wires":[["6e27655c.bfd55c"]]},{"id":"6e27655c.bfd55c","type":"function","z":"e1376dd6.d0ef7","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1400,"wires":[["8f5c8bbd.b8a5b8","2aee6f98.00f56"]]},{"id":"8f5c8bbd.b8a5b8","type":"http response","z":"e1376dd6.d0ef7","name":"","statusCode":"200","headers":{},"x":500,"y":1400,"wires":[]},{"id":"2aee6f98.00f56","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"3b24b3d4.1bfb2c","x":490,"y":1440,"wires":[]},{"id":"74fb35a3.1e0b7c","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":300,"wires":[]},{"id":"8b1629aa.7ba2e8","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":480,"wires":[]},{"id":"fe938e02.ff482","type":"debug","z":"e1376dd6.d0ef7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":800,"wires":[]},{"id":"265488a8.7bd758","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1080,"wires":[]},{"id":"cce3b028.7cd21","type":"mqtt in","z":"e1376dd6.d0ef7","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"3b24b3d4.1bfb2c","x":1050,"y":1140,"wires":[["7fbb8d2a.99c604"]]},{"id":"7fbb8d2a.99c604","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"3b24b3d4.1bfb2c","x":1240,"y":1140,"wires":[]},{"id":"1d83635e.988c6d","type":"link in","z":"e1376dd6.d0ef7","name":"","links":["8b9e7655.fe3c68"],"x":455,"y":680,"wires":[["837ba45f.a0b478"]]},{"id":"e504af0e.93dc1","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":100,"wires":[]},{"id":"f1409813.9d0fd8","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":100,"wires":[["e504af0e.93dc1"]]},{"id":"4fa2f6b8.7df468","type":"http request","z":"e1376dd6.d0ef7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{posturl}}/products","tls":"","proxy":"","authType":"basic","x":610,"y":500,"wires":[["29e62f19.65a0d","753cd82d.cfc458"]]},{"id":"27e23d32.d837a2","type":"change","z":"e1376dd6.d0ef7","name":"","rules":[{"t":"set","p":"posturl","pt":"msg","to":"mapid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":500,"wires":[["696fd0f5.61c"]]},{"id":"447c5459.34db8c","type":"comment","z":"e1376dd6.d0ef7","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":440,"wires":[]},{"id":"753cd82d.cfc458","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":500,"wires":[["ab725548.aab6e8"]]},{"id":"663696af.85ce28","type":"function","z":"e1376dd6.d0ef7","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["225207e1.4b2898","23b72121.666b7e"]]},{"id":"696fd0f5.61c","type":"json","z":"e1376dd6.d0ef7","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":500,"wires":[["4fa2f6b8.7df468"]]},{"id":"ab725548.aab6e8","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":500,"wires":[]},{"id":"225207e1.4b2898","type":"mqtt out","z":"e1376dd6.d0ef7","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"3b24b3d4.1bfb2c","x":550,"y":560,"wires":[]},{"id":"23b72121.666b7e","type":"debug","z":"e1376dd6.d0ef7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"cbf9cccd.25b48","type":"switch","z":"e1376dd6.d0ef7","name":"","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":320,"wires":[["c0a750c3.cba3d","74fb35a3.1e0b7c"]]}]