docker/drone1-nodejs/src/nodered/flows_WOUTER-LAPTOP.json
[{"id":"e4384a19.99cdd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5163232a.b94a7c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6c355a.bbbbcaa8","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"91fc4782.54f698","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":680,"y":80,"wires":[]},{"id":"cfedd2bd.2be34","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["519b7097.e1aec"]]},{"id":"4f229023.1731b","type":"function","z":"e4384a19.99cdd8","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].orientation;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["8e223fb0.33d4e"]]},{"id":"fb46e8f7.188d48","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"5163232a.b94a7c","x":1600,"y":280,"wires":[]},{"id":"7da80994.1aae88","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":300,"wires":[["4f229023.1731b"]]},{"id":"246ae145.e41bae","type":"switch","z":"e4384a19.99cdd8","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":300,"wires":[["7da80994.1aae88"]]},{"id":"8e223fb0.33d4e","type":"switch","z":"e4384a19.99cdd8","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":300,"wires":[["e05c99bf.3ba718"],["6aff4f82.04898","e5de3173.60d68"]]},{"id":"6aff4f82.04898","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"5163232a.b94a7c","x":1240,"y":340,"wires":[]},{"id":"9d3282f4.41ced","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":500,"wires":[]},{"id":"871fcee2.1dd0d","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"5163232a.b94a7c","x":100,"y":440,"wires":[["e3e7216c.954ec","2bc13b15.6d3434"]]},{"id":"b8cd4946.074378","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":260,"wires":[["19036b80.df8715"]]},{"id":"e05c99bf.3ba718","type":"switch","z":"e4384a19.99cdd8","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":260,"wires":[["b8cd4946.074378"]]},{"id":"1eb9048d.3336fb","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"5163232a.b94a7c","x":390,"y":800,"wires":[["56839bff.6815c4"]]},{"id":"ba4a2a89.a54768","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"5163232a.b94a7c","x":70,"y":660,"wires":[["7611b58d.0f1c8c","80b11ae7.cd3238"]]},{"id":"5bb5d43.8a86c2c","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"5163232a.b94a7c","x":390,"y":680,"wires":[["56839bff.6815c4"]]},{"id":"db9ee6c9.03ff08","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"5163232a.b94a7c","x":410,"y":720,"wires":[["56839bff.6815c4"]]},{"id":"d8e30c0d.b4ce3","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"5163232a.b94a7c","x":400,"y":760,"wires":[["56839bff.6815c4"]]},{"id":"fa110ff2.dfb86","type":"function","z":"e4384a19.99cdd8","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["a91b60b8.bee3c","18f6cb0b.720595"]]},{"id":"94db616c.be0c4","type":"function","z":"e4384a19.99cdd8","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["fa110ff2.dfb86"]]},{"id":"f082553c.9f9768","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["80cca3c9.aa7e7"]]},{"id":"80cca3c9.aa7e7","type":"function","z":"e4384a19.99cdd8","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["4268b8.3f141748"]]},{"id":"ddee0f5b.63954","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":740,"y":1520,"wires":[]},{"id":"28c6eaec.a00ac6","type":"function","z":"e4384a19.99cdd8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["4268b8.3f141748"]]},{"id":"a91b60b8.bee3c","type":"websocket out","z":"e4384a19.99cdd8","name":"","server":"6c355a.bbbbcaa8","client":"","x":1170,"y":680,"wires":[]},{"id":"84ce540a.a26ed8","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1560,"wires":[["28c6eaec.a00ac6"]]},{"id":"e816978b.9f5548","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1600,"wires":[["b3cb79be.734d58"]]},{"id":"b3cb79be.734d58","type":"function","z":"e4384a19.99cdd8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1600,"wires":[["4268b8.3f141748"]]},{"id":"4268b8.3f141748","type":"function","z":"e4384a19.99cdd8","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1520,"wires":[["ddee0f5b.63954","328b5063.06931"]]},{"id":"7f009199.94b21","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["1168f4b7.181c1b"]]},{"id":"357c8295.470b7e","type":"function","z":"e4384a19.99cdd8","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["94db616c.be0c4","b8b47739.8771a8","89ac507a.6009d"]]},{"id":"1168f4b7.181c1b","type":"template","z":"e4384a19.99cdd8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":880,"wires":[["357c8295.470b7e","7183e55e.fd987c"]]},{"id":"b8b47739.8771a8","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":920,"wires":[]},{"id":"56839bff.6815c4","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":680,"wires":[["94db616c.be0c4"]]},{"id":"55144576.f2a92c","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1480,"wires":[]},{"id":"328b5063.06931","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1480,"wires":[["55144576.f2a92c"]]},{"id":"2627e884.4b74b8","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1520,"wires":[["4268b8.3f141748"]]},{"id":"18f6cb0b.720595","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":640,"wires":[]},{"id":"a8a5b1a5.1642d","type":"link in","z":"e4384a19.99cdd8","name":"drone/position","links":["7611b58d.0f1c8c"],"x":155,"y":300,"wires":[["d91b0a5e.cabb88"]]},{"id":"7611b58d.0f1c8c","type":"link out","z":"e4384a19.99cdd8","name":"","links":["a8a5b1a5.1642d","585915f8.90b18c"],"x":215,"y":660,"wires":[]},{"id":"7183e55e.fd987c","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"adba3754.a30e68","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"5163232a.b94a7c","x":410,"y":580,"wires":[["37589fd7.8aef3"]]},{"id":"37589fd7.8aef3","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":580,"wires":[["82004e32.43574"]]},{"id":"82004e32.43574","type":"function","z":"e4384a19.99cdd8","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["fa110ff2.dfb86"]]},{"id":"89ac507a.6009d","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":640,"y":960,"wires":[]},{"id":"35bece7c.efecb2","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["7f55d3bf.0c15dc"]]},{"id":"a66d76d.ddc7f88","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["aa76e12b.b358c"]]},{"id":"aa76e12b.b358c","type":"function","z":"e4384a19.99cdd8","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["69e8d6d0.56ee28","c319d2e8.1192a"]]},{"id":"7f55d3bf.0c15dc","type":"switch","z":"e4384a19.99cdd8","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["9fa24ce3.1a9ac"],["91aaf689.81b228"]]},{"id":"91aaf689.81b228","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"500","headers":{},"x":520,"y":1180,"wires":[]},{"id":"9fa24ce3.1a9ac","type":"function","z":"e4384a19.99cdd8","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1140,"wires":[["24f37f6d.be351","cbbadb3c.8843a8","c5b51141.ee5b7"]]},{"id":"69e8d6d0.56ee28","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":540,"y":1240,"wires":[]},{"id":"d91b0a5e.cabb88","type":"switch","z":"e4384a19.99cdd8","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["246ae145.e41bae"]]},{"id":"c319d2e8.1192a","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"5163232a.b94a7c","x":550,"y":1280,"wires":[]},{"id":"519b7097.e1aec","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["91fc4782.54f698","abe1824f.ac001"]]},{"id":"24f37f6d.be351","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/start","qos":"1","retain":"","broker":"5163232a.b94a7c","x":830,"y":1060,"wires":[]},{"id":"55617a40.bd3c84","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["9cd335da.e53d18"]]},{"id":"9cd335da.e53d18","type":"function","z":"e4384a19.99cdd8","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1080,"wires":[["261413e0.265d5c"]]},{"id":"261413e0.265d5c","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":510,"y":1080,"wires":[]},{"id":"86f6d278.dc5b5","type":"http request","z":"e4384a19.99cdd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":120,"wires":[["7ba2e355.43b29c"]]},{"id":"51f027e2.d37bf8","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["86f6d278.dc5b5"]]},{"id":"800d06ae.972438","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["72fc653b.0d1a2c"]]},{"id":"7ba2e355.43b29c","type":"switch","z":"e4384a19.99cdd8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":120,"wires":[["800d06ae.972438"],["941efadf.cea6d8"]]},{"id":"941efadf.cea6d8","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["276f6b83.f39ea4"]]},{"id":"72fc653b.0d1a2c","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":1160,"y":80,"wires":[]},{"id":"276f6b83.f39ea4","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"500","headers":{},"x":1160,"y":140,"wires":[]},{"id":"cbbadb3c.8843a8","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":820,"y":1140,"wires":[]},{"id":"e34c1c1f.5069d","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1340,"wires":[["9ccced68.d7af2"]]},{"id":"9ccced68.d7af2","type":"function","z":"e4384a19.99cdd8","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1340,"wires":[["9b1513c9.90a5a","4ab4e69b.8f82f8"]]},{"id":"9b1513c9.90a5a","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":500,"y":1340,"wires":[]},{"id":"4ab4e69b.8f82f8","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"5163232a.b94a7c","x":490,"y":1380,"wires":[]},{"id":"16c9a38f.b9b28c","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":240,"wires":[]},{"id":"e5de3173.60d68","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":420,"wires":[]},{"id":"80b11ae7.cd3238","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":740,"wires":[]},{"id":"c5b51141.ee5b7","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1020,"wires":[]},{"id":"9efbb7b8.604188","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"5163232a.b94a7c","x":1050,"y":1080,"wires":[["3d5676cc.f4a4fa"]]},{"id":"3d5676cc.f4a4fa","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"5163232a.b94a7c","x":1240,"y":1080,"wires":[]},{"id":"585915f8.90b18c","type":"link in","z":"e4384a19.99cdd8","name":"","links":["7611b58d.0f1c8c"],"x":455,"y":620,"wires":[["56839bff.6815c4"]]},{"id":"d4132162.64ce7","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":40,"wires":[]},{"id":"abe1824f.ac001","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["d4132162.64ce7"]]},{"id":"fe3a1303.92e5e","type":"http request","z":"e4384a19.99cdd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{posturl}}/products","tls":"","proxy":"","authType":"basic","x":610,"y":440,"wires":[["9d3282f4.41ced","4075f285.93ec4c"]]},{"id":"e3e7216c.954ec","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"posturl","pt":"msg","to":"mapid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["2e22c08b.fe56d"]]},{"id":"e1f8e3f8.69c5a","type":"comment","z":"e4384a19.99cdd8","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":380,"wires":[]},{"id":"4075f285.93ec4c","type":"switch","z":"e4384a19.99cdd8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":440,"wires":[["3d0abe72.958362"]]},{"id":"2bc13b15.6d3434","type":"function","z":"e4384a19.99cdd8","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["9bf5c312.1f732","49277198.5a099"]]},{"id":"2e22c08b.fe56d","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":440,"wires":[["fe3a1303.92e5e"]]},{"id":"3d0abe72.958362","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":440,"wires":[]},{"id":"9bf5c312.1f732","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"5163232a.b94a7c","x":550,"y":500,"wires":[]},{"id":"19036b80.df8715","type":"switch","z":"e4384a19.99cdd8","name":"","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":260,"wires":[["fb46e8f7.188d48","16c9a38f.b9b28c"]]},{"id":"49277198.5a099","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":360,"wires":[]}]