docker/drone1-nodejs/src/nodered/flows_WOUTER-LAPTOP.json
[{"id":"e4384a19.99cdd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2234de73.c5a622","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f89927f0.fdcf58","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"6e94d369.03fa2c","type":"http request","z":"e4384a19.99cdd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products","tls":"","proxy":"","authType":"basic","x":810,"y":460,"wires":[["9bfa203.394f3e"]]},{"id":"3f50b753.7ac0e8","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":680,"y":80,"wires":[]},{"id":"2cc20a7.0e0cbf6","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/path/set","method":"post","upload":false,"swaggerDoc":"","x":210,"y":80,"wires":[["7bf3a091.504a7"]]},{"id":"b24fa71f.f40c98","type":"function","z":"e4384a19.99cdd8","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar destination = flow.get('destination');\nvar diffX = Math.abs(msg.payload.x - destination.x);\nvar diffY = Math.abs(msg.payload.y - destination.y);\nvar scan = destination.scan;\nvar waypoints = flow.get('waypoints');\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 20 && diffY <= 20)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < waypoints.waypoints.length) {\n            msg.payload = waypoints.waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n        msg.payload = waypoints.waypoints[moveteller-1].scanzone;\n    }\n}\n/*\nif(stop === true && (diffX <= waypoints.radius && diffY <= waypoints.radius)) {\n    if(moveteller >= 0) {\n        msg.payload = waypoints.waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\n*/\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["40e74e5e.1adb3"]]},{"id":"98249c51.b6626","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"2234de73.c5a622","x":1840,"y":260,"wires":[]},{"id":"bf21472a.d5b198","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":300,"wires":[["b24fa71f.f40c98"]]},{"id":"99297f7c.c045d","type":"switch","z":"e4384a19.99cdd8","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":300,"wires":[["bf21472a.d5b198"]]},{"id":"97690763.2aef18","type":"switch","z":"e4384a19.99cdd8","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":280,"wires":[["5fb5f3e3.370adc"],["4473c295.23074c"]]},{"id":"4473c295.23074c","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"2234de73.c5a622","x":1280,"y":300,"wires":[]},{"id":"5e731f1b.74f3c","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"2234de73.c5a622","x":100,"y":440,"wires":[["6cc727cd.35b6c8","492eb04b.18fcd"]]},{"id":"f08ddbd5.2988b8","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":240,"wires":[["bb1f606c.71ab6"]]},{"id":"5fb5f3e3.370adc","type":"switch","z":"e4384a19.99cdd8","name":"arrived?","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":240,"wires":[["f08ddbd5.2988b8"]]},{"id":"55c745f6.a8ad4c","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/battery","qos":"1","datatype":"json","broker":"2234de73.c5a622","x":390,"y":800,"wires":[["b6a5237a.7490d"]]},{"id":"b3588f72.a12","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"2234de73.c5a622","x":70,"y":660,"wires":[["88025806.b8ced8","a45cce3f.80c94"]]},{"id":"77ab5722.f23228","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/acceleration","qos":"1","datatype":"json","broker":"2234de73.c5a622","x":390,"y":680,"wires":[["b6a5237a.7490d"]]},{"id":"6a738f5d.95f74","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/speed","qos":"1","datatype":"json","broker":"2234de73.c5a622","x":410,"y":720,"wires":[["b6a5237a.7490d"]]},{"id":"48e45eab.302be","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/orientation","qos":"1","datatype":"json","broker":"2234de73.c5a622","x":400,"y":760,"wires":[["b6a5237a.7490d"]]},{"id":"ee119d99.1ea8c","type":"function","z":"e4384a19.99cdd8","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : {\"x\":0, \"y\":0, \"z\":0};\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["1e001b35.d20305","745cbfe8.2b382"]]},{"id":"8b62ea5b.a39168","type":"function","z":"e4384a19.99cdd8","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["ee119d99.1ea8c"]]},{"id":"c83b695a.c81c98","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1480,"wires":[["6008be47.4230f"]]},{"id":"6008be47.4230f","type":"function","z":"e4384a19.99cdd8","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["f6c35385.6d685"]]},{"id":"119ce374.4d23ed","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":740,"y":1520,"wires":[]},{"id":"95e4bbc9.4bd7a8","type":"function","z":"e4384a19.99cdd8","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["f6c35385.6d685"]]},{"id":"1e001b35.d20305","type":"websocket out","z":"e4384a19.99cdd8","name":"","server":"f89927f0.fdcf58","client":"","x":1170,"y":680,"wires":[]},{"id":"52843bb3.6f3934","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1560,"wires":[["95e4bbc9.4bd7a8"]]},{"id":"1b162ab0.0942c5","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1600,"wires":[["2f6776ce.bb1eba"]]},{"id":"2f6776ce.bb1eba","type":"function","z":"e4384a19.99cdd8","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1600,"wires":[["f6c35385.6d685"]]},{"id":"f6c35385.6d685","type":"function","z":"e4384a19.99cdd8","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1520,"wires":[["119ce374.4d23ed","6413a7d1.9d7e18"]]},{"id":"b4aa1cda.6800d","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["82981426.0d6008"]]},{"id":"24f5bcce.14af54","type":"function","z":"e4384a19.99cdd8","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["8b62ea5b.a39168","8928a85f.017e98","dc1b88f9.e24f38"]]},{"id":"82981426.0d6008","type":"template","z":"e4384a19.99cdd8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":280,"y":880,"wires":[["24f5bcce.14af54","ae1545b3.25c4a8"]]},{"id":"8928a85f.017e98","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":920,"wires":[]},{"id":"b6a5237a.7490d","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":680,"wires":[["8b62ea5b.a39168"]]},{"id":"3a360a0c.3d0776","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1480,"wires":[]},{"id":"6413a7d1.9d7e18","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1480,"wires":[["3a360a0c.3d0776"]]},{"id":"6c609465.1dcccc","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1520,"wires":[["f6c35385.6d685"]]},{"id":"745cbfe8.2b382","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":640,"wires":[]},{"id":"ff7ecad1.df3c58","type":"link in","z":"e4384a19.99cdd8","name":"drone/position","links":["88025806.b8ced8"],"x":155,"y":300,"wires":[["f2b812c8.d0393"]]},{"id":"88025806.b8ced8","type":"link out","z":"e4384a19.99cdd8","name":"","links":["ff7ecad1.df3c58","f221953.481fd68"],"x":215,"y":660,"wires":[]},{"id":"ae1545b3.25c4a8","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"96bf0761.b954d8","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/multiple","qos":"1","datatype":"auto","broker":"2234de73.c5a622","x":410,"y":580,"wires":[["f939f383.2e205"]]},{"id":"f939f383.2e205","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":580,"wires":[["59fd1e6d.9dbdc"]]},{"id":"59fd1e6d.9dbdc","type":"function","z":"e4384a19.99cdd8","name":"storeAll","func":"for(const key of Object.keys(msg.payload)){\n    flow.set(key, msg.payload[key]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":580,"wires":[["ee119d99.1ea8c"]]},{"id":"dc1b88f9.e24f38","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":640,"y":960,"wires":[]},{"id":"ebcd917.a55da7","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/start","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1160,"wires":[["e86e26a5.e18ba8"]]},{"id":"e99cf476.8dfc98","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/pause","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["53167369.1944cc"]]},{"id":"53167369.1944cc","type":"function","z":"e4384a19.99cdd8","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["67d49b62.f73624","c12db4a8.c1c158"]]},{"id":"e86e26a5.e18ba8","type":"switch","z":"e4384a19.99cdd8","name":"","property":"destination","propertyType":"flow","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1160,"wires":[["f10dba7d.395a88"],["27f6cf39.f5981"]]},{"id":"27f6cf39.f5981","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"500","headers":{},"x":520,"y":1180,"wires":[]},{"id":"f10dba7d.395a88","type":"function","z":"e4384a19.99cdd8","name":"send dest + statusinfo","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": true});\nflow.set('flying', true);\n\nmsg.payload = flow.get('destination');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1140,"wires":[["64ae47bd.7b6f98","ef914b77.68df98","ee619ec3.4818e"]]},{"id":"67d49b62.f73624","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":540,"y":1240,"wires":[]},{"id":"f2b812c8.d0393","type":"switch","z":"e4384a19.99cdd8","name":"flying?","property":"flying","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["99297f7c.c045d"]]},{"id":"c12db4a8.c1c158","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/pause","qos":"1","retain":"","broker":"2234de73.c5a622","x":550,"y":1280,"wires":[]},{"id":"7bf3a091.504a7","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"var moveteller = 1;\n\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++];\nflow.set('mapid', flow.get('waypoints').mapId);\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\n\n\nflow.set('flying', false)\n\nflow.set('statusinfo', {\"validated\": true, \"sent\": true, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["3f50b753.7ac0e8","8bb7df66.9b93a"]]},{"id":"64ae47bd.7b6f98","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/start","qos":"1","retain":"","broker":"2234de73.c5a622","x":830,"y":1060,"wires":[]},{"id":"a8a2d770.55dd08","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/statusinfo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1080,"wires":[["ac5d62c0.f6cb1"]]},{"id":"ac5d62c0.f6cb1","type":"function","z":"e4384a19.99cdd8","name":"get info","func":"msg.payload = flow.get('statusinfo') || {\"validated\": false, \"sent\": false, \"flying\": false};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1080,"wires":[["42f28e8c.d7805"]]},{"id":"42f28e8c.d7805","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":510,"y":1080,"wires":[]},{"id":"5eb72560.d2c5ac","type":"http request","z":"e4384a19.99cdd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":470,"y":120,"wires":[["7bbd4139.83e21"]]},{"id":"250b03d.27db0fc","type":"http in","z":"e4384a19.99cdd8","name":"","url":"/path/validate","method":"post","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["5eb72560.d2c5ac"]]},{"id":"e5924d73.065a6","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": true, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["bd2264f0.63e808"]]},{"id":"7bbd4139.83e21","type":"switch","z":"e4384a19.99cdd8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":120,"wires":[["e5924d73.065a6"],["be8fc241.82724"]]},{"id":"be8fc241.82724","type":"function","z":"e4384a19.99cdd8","name":"setvariabelen","func":"flow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":140,"wires":[["e91f3dd5.7c15f"]]},{"id":"bd2264f0.63e808","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":1160,"y":80,"wires":[]},{"id":"e91f3dd5.7c15f","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"500","headers":{},"x":1160,"y":140,"wires":[]},{"id":"ef914b77.68df98","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":820,"y":1140,"wires":[]},{"id":"f74b09e3.93ad68","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/stop","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1340,"wires":[["45d1daba.d15714"]]},{"id":"45d1daba.d15714","type":"function","z":"e4384a19.99cdd8","name":"set statusinfo","func":"flow.set('flying', false);\n\nflow.set('statusinfo', {\"validated\": false, \"sent\": false, \"flying\": false});\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1340,"wires":[["8fd5987b.0e4f58","90682ab5.47b278"]]},{"id":"8fd5987b.0e4f58","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":500,"y":1340,"wires":[]},{"id":"90682ab5.47b278","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/stop","qos":"1","retain":"","broker":"2234de73.c5a622","x":490,"y":1380,"wires":[]},{"id":"2ba62a69.0b8886","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1830,"y":220,"wires":[]},{"id":"a45cce3f.80c94","type":"debug","z":"e4384a19.99cdd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":160,"y":740,"wires":[]},{"id":"ee619ec3.4818e","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1020,"wires":[]},{"id":"4b9bde04.01bbd","type":"mqtt in","z":"e4384a19.99cdd8","name":"","topic":"drone/start","qos":"1","datatype":"auto","broker":"2234de73.c5a622","x":1050,"y":1080,"wires":[["ed923490.e2bb38"]]},{"id":"ed923490.e2bb38","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"2234de73.c5a622","x":1240,"y":1080,"wires":[]},{"id":"f221953.481fd68","type":"link in","z":"e4384a19.99cdd8","name":"","links":["88025806.b8ced8"],"x":455,"y":620,"wires":[["b6a5237a.7490d"]]},{"id":"37867fab.34bfe","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":40,"wires":[]},{"id":"8bb7df66.9b93a","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["37867fab.34bfe"]]},{"id":"8329fe7e.acd71","type":"comment","z":"e4384a19.99cdd8","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":380,"wires":[]},{"id":"9bfa203.394f3e","type":"switch","z":"e4384a19.99cdd8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":440,"wires":[["5a09b07f.88047"]]},{"id":"6cc727cd.35b6c8","type":"function","z":"e4384a19.99cdd8","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar waypoints = flow.get('waypoints');\nvar stop = flow.get('stop');\n\nif(moveteller < waypoints.waypoints.length) {\n    msg.payload = waypoints.waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\n/*else {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}*/\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["d700f3c3.c5fd1"]]},{"id":"5a09b07f.88047","type":"debug","z":"e4384a19.99cdd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":440,"wires":[]},{"id":"d700f3c3.c5fd1","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"2234de73.c5a622","x":550,"y":500,"wires":[]},{"id":"bb1f606c.71ab6","type":"switch","z":"e4384a19.99cdd8","name":"needs scanning?","property":"payload.scan","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":240,"wires":[["98249c51.b6626","2ba62a69.0b8886"]]},{"id":"492eb04b.18fcd","type":"json","z":"e4384a19.99cdd8","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":440,"wires":[["a8afc4b5.942b68"]]},{"id":"a8afc4b5.942b68","type":"function","z":"e4384a19.99cdd8","name":"set urldata","func":"msg.post = msg.payload.post\n\nmsg.mapid = flow.get('mapid')\nmsg.scanzoneid = msg.payload.scanzoneId\nmsg.productid = msg.payload.product._id\n\nmsg.payload = msg.payload.product\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["305d01a4.87ae5e"]]},{"id":"305d01a4.87ae5e","type":"switch","z":"e4384a19.99cdd8","name":"","property":"post","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":440,"wires":[["5e17998e.6c0a38"],["6e94d369.03fa2c"]]},{"id":"5e17998e.6c0a38","type":"http request","z":"e4384a19.99cdd8","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://localhost:3000/api/maps/{{{mapid}}}/scanzones/{{{scanzoneid}}}/products/{{productid}}","tls":"","proxy":"","authType":"basic","x":810,"y":420,"wires":[["9bfa203.394f3e"]]},{"id":"40e74e5e.1adb3","type":"switch","z":"e4384a19.99cdd8","name":"stop?","property":"stop","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":300,"wires":[["97690763.2aef18"],["992b2764.527c18"]]},{"id":"6839aeee.2ab2f","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/pause","qos":"","retain":"","broker":"2234de73.c5a622","x":1270,"y":360,"wires":[]},{"id":"992b2764.527c18","type":"change","z":"e4384a19.99cdd8","name":"","rules":[{"t":"set","p":"flying","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":360,"wires":[["6839aeee.2ab2f"]]},{"id":"c76bb86d.2b26d8","type":"http in","z":"e4384a19.99cdd8","name":"","url":"drone/homebase","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1640,"wires":[["714f5a5e.ae8524","976b7e43.08237"]]},{"id":"714f5a5e.ae8524","type":"mqtt out","z":"e4384a19.99cdd8","name":"","topic":"drone/homebase","qos":"","retain":"","broker":"2234de73.c5a622","x":450,"y":1640,"wires":[]},{"id":"976b7e43.08237","type":"http response","z":"e4384a19.99cdd8","name":"","statusCode":"200","headers":{},"x":420,"y":1680,"wires":[]}]