docker/drone1-nodejs/src/nodered/flows_WOUTER-LAPTOP.json
[{"id":"a7fc2351.bb638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23de4685.9f2bca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8e94044f.ee7778","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"19f4f3f.fd7390c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fdb40682.2dfce8","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"be32118.3742ff","type":"http request","z":"a7fc2351.bb638","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":290,"y":220,"wires":[["93327578.2a2828"]]},{"id":"230fed4d.ce0562","type":"http response","z":"a7fc2351.bb638","name":"","statusCode":"200","headers":{},"x":620,"y":200,"wires":[]},{"id":"93327578.2a2828","type":"switch","z":"a7fc2351.bb638","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":220,"wires":[["230fed4d.ce0562","9048de76.fe269"],["7029b3af.5bcf3c"]]},{"id":"347e6909.52d3a6","type":"http in","z":"a7fc2351.bb638","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":80,"y":220,"wires":[["be32118.3742ff"]]},{"id":"7029b3af.5bcf3c","type":"http response","z":"a7fc2351.bb638","name":"","statusCode":"500","headers":{},"x":620,"y":240,"wires":[]},{"id":"b8a0fffa.356dd","type":"inject","z":"a7fc2351.bb638","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":160,"wires":[["9048de76.fe269"]]},{"id":"13af43b7.3927cc","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"8e94044f.ee7778","x":820,"y":160,"wires":[]},{"id":"9048de76.fe269","type":"function","z":"a7fc2351.bb638","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["13af43b7.3927cc"]]},{"id":"90339e28.1850c","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/position","qos":"1","datatype":"auto","broker":"8e94044f.ee7778","x":80,"y":340,"wires":[["a09172e2.9dc7d"]]},{"id":"12531425.3e55bc","type":"function","z":"a7fc2351.bb638","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["ce56626f.d67b7","ecd49ed6.37399","4fe2f6c6.146cd8","dd0e15e.bfe09e8","dbdbb533.f72ba8","3ecd45d2.4e27ca","15fe0aab.3f9a55","a77ecba4.39ba78"]]},{"id":"94a9722d.fec8c","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"8e94044f.ee7778","x":1280,"y":300,"wires":[]},{"id":"889b321d.39936","type":"json","z":"a7fc2351.bb638","name":"","property":"payload","action":"","pretty":false,"x":430,"y":340,"wires":[["12531425.3e55bc"]]},{"id":"5915048a.f57ffc","type":"comment","z":"a7fc2351.bb638","name":"Moveteller!!","info":"fout in de moveteller kan voor problemen zorgen\n(naar verkeerde coo vliegen -> opvangen met collision)","x":310,"y":100,"wires":[]},{"id":"a09172e2.9dc7d","type":"switch","z":"a7fc2351.bb638","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":340,"wires":[["889b321d.39936"]]},{"id":"ce56626f.d67b7","type":"switch","z":"a7fc2351.bb638","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":340,"wires":[["553c74f8.41575c"],["317a18c0.4904a8"]]},{"id":"317a18c0.4904a8","type":"mqtt out","z":"a7fc2351.bb638","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"8e94044f.ee7778","x":940,"y":380,"wires":[]},{"id":"46428373.96c9ec","type":"comment","z":"a7fc2351.bb638","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":200,"y":400,"wires":[]},{"id":"c184596d.b86df8","type":"debug","z":"a7fc2351.bb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":460,"wires":[]},{"id":"ecd49ed6.37399","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["c01dca4a.567288","170dcbd4.a36854"]]},{"id":"4fe2f6c6.146cd8","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["75276544.f8f73c"]]},{"id":"dd0e15e.bfe09e8","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":580,"wires":[["23ff6084.87fed"]]},{"id":"dbdbb533.f72ba8","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":620,"wires":[["4cff9a35.026984"]]},{"id":"3ecd45d2.4e27ca","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":660,"wires":[["c2b7cc7.4b3843"]]},{"id":"c01dca4a.567288","type":"debug","z":"a7fc2351.bb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":460,"wires":[]},{"id":"170dcbd4.a36854","type":"debug","z":"a7fc2351.bb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1060,"y":500,"wires":[]},{"id":"75276544.f8f73c","type":"debug","z":"a7fc2351.bb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1060,"y":540,"wires":[]},{"id":"23ff6084.87fed","type":"debug","z":"a7fc2351.bb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1040,"y":580,"wires":[]},{"id":"4cff9a35.026984","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1060,"y":620,"wires":[]},{"id":"c2b7cc7.4b3843","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1040,"y":660,"wires":[]},{"id":"15fe0aab.3f9a55","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":700,"wires":[["637066f5.e6c878"]]},{"id":"637066f5.e6c878","type":"debug","z":"a7fc2351.bb638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1040,"y":700,"wires":[]},{"id":"a77ecba4.39ba78","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":740,"wires":[["aa9908dd.84f638"]]},{"id":"aa9908dd.84f638","type":"debug","z":"a7fc2351.bb638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1040,"y":740,"wires":[]},{"id":"21ae1659.71f9da","type":"mqtt in","z":"a7fc2351.bb638","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"8e94044f.ee7778","x":80,"y":460,"wires":[["1a74addd.dd48c2"]]},{"id":"1a74addd.dd48c2","type":"function","z":"a7fc2351.bb638","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["c184596d.b86df8"]]},{"id":"348387b2.0a3f68","type":"change","z":"a7fc2351.bb638","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":300,"wires":[["94a9722d.fec8c"]]},{"id":"553c74f8.41575c","type":"switch","z":"a7fc2351.bb638","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":300,"wires":[["348387b2.0a3f68"]]},{"id":"1ff3c3c8.91f4dc","type":"mqtt in","z":"23de4685.9f2bca","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"19f4f3f.fd7390c","x":110,"y":780,"wires":[["6201ccd0.14bee4"]]},{"id":"cc4af85c.4e4d78","type":"mqtt in","z":"23de4685.9f2bca","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"19f4f3f.fd7390c","x":110,"y":720,"wires":[["6201ccd0.14bee4","9f1b9a0e.731c08"]]},{"id":"d874e817.c2ffd8","type":"mqtt in","z":"23de4685.9f2bca","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"19f4f3f.fd7390c","x":130,"y":540,"wires":[["6201ccd0.14bee4"]]},{"id":"d925699a.5dc288","type":"mqtt in","z":"23de4685.9f2bca","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"19f4f3f.fd7390c","x":110,"y":600,"wires":[["6201ccd0.14bee4"]]},{"id":"b87ea172.a5c22","type":"mqtt in","z":"23de4685.9f2bca","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"19f4f3f.fd7390c","x":120,"y":660,"wires":[["6201ccd0.14bee4"]]},{"id":"fe32653e.d50838","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["8b40c39a.8d08d"]]},{"id":"8b40c39a.8d08d","type":"mqtt out","z":"23de4685.9f2bca","name":"","topic":"drone/speed","qos":"","retain":"","broker":"19f4f3f.fd7390c","x":330,"y":400,"wires":[]},{"id":"74cb3203.fe913c","type":"function","z":"23de4685.9f2bca","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["9d9725d2.b7be58","935cee48.ce442"]]},{"id":"b50af295.4deeb","type":"function","z":"23de4685.9f2bca","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["74cb3203.fe913c"]]},{"id":"cd5bba19.66d8c8","type":"inject","z":"23de4685.9f2bca","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["224780b5.0ba0c"]]},{"id":"224780b5.0ba0c","type":"mqtt out","z":"23de4685.9f2bca","name":"","topic":"drone/battery","qos":"","retain":"","broker":"19f4f3f.fd7390c","x":320,"y":480,"wires":[]},{"id":"34cc99b8.6cdc96","type":"http in","z":"23de4685.9f2bca","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1040,"wires":[["915e3310.18e45"]]},{"id":"915e3310.18e45","type":"function","z":"23de4685.9f2bca","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1040,"wires":[["5f1a0419.8998bc"]]},{"id":"f7b85ea4.5d958","type":"http response","z":"23de4685.9f2bca","name":"","statusCode":"200","headers":{},"x":820,"y":1120,"wires":[]},{"id":"8305ebcc.446468","type":"function","z":"23de4685.9f2bca","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":1160,"wires":[["5f1a0419.8998bc"]]},{"id":"9d9725d2.b7be58","type":"websocket out","z":"23de4685.9f2bca","name":"","server":"fdb40682.2dfce8","client":"","x":860,"y":640,"wires":[]},{"id":"fc09e7c5.3a4378","type":"http in","z":"23de4685.9f2bca","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":100,"y":1160,"wires":[["8305ebcc.446468"]]},{"id":"b5f3bba9.249ed8","type":"http in","z":"23de4685.9f2bca","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":110,"y":1240,"wires":[["e69dcf5e.e8d1f"]]},{"id":"e69dcf5e.e8d1f","type":"function","z":"23de4685.9f2bca","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1240,"wires":[["5f1a0419.8998bc"]]},{"id":"5f1a0419.8998bc","type":"function","z":"23de4685.9f2bca","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1120,"wires":[["da52db3e.2e60e8","f7b85ea4.5d958"]]},{"id":"35c51d19.4f4ff2","type":"inject","z":"23de4685.9f2bca","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["ac5c37.98e453c8"]]},{"id":"2e25848a.c72c4c","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":900,"wires":[["3f9f9a22.ed0c16"]]},{"id":"ac5c37.98e453c8","type":"function","z":"23de4685.9f2bca","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":390,"y":860,"wires":[[]]},{"id":"3f9f9a22.ed0c16","type":"function","z":"23de4685.9f2bca","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":380,"y":900,"wires":[[]]},{"id":"c95e97ed.113e38","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["9eae18d1.402e78"]]},{"id":"9eae18d1.402e78","type":"mqtt out","z":"23de4685.9f2bca","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"19f4f3f.fd7390c","x":310,"y":340,"wires":[]},{"id":"c5e53f24.65524","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["9eae18d1.402e78"]]},{"id":"5db6800e.9d5e5","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["9eae18d1.402e78"]]},{"id":"2ebd776e.ae4b78","type":"mqtt out","z":"23de4685.9f2bca","name":"","topic":"drone/position","qos":"","retain":"","broker":"19f4f3f.fd7390c","x":350,"y":140,"wires":[]},{"id":"b492158f.7f24a8","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["2ebd776e.ae4b78"]]},{"id":"a8aa4465.622d28","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["2ebd776e.ae4b78"]]},{"id":"5df05084.322e6","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":160,"wires":[["87fb66fb.087318"]]},{"id":"3848579a.ec2b28","type":"inject","z":"23de4685.9f2bca","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":220,"wires":[["87fb66fb.087318"]]},{"id":"c2fb7b4e.c3a188","type":"http in","z":"23de4685.9f2bca","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":530,"y":100,"wires":[["ffa9af75.53771"]]},{"id":"87fb66fb.087318","type":"function","z":"23de4685.9f2bca","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":180,"wires":[["fa130104.89d63","b50af295.4deeb"]]},{"id":"ffa9af75.53771","type":"template","z":"23de4685.9f2bca","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":710,"y":100,"wires":[["87fb66fb.087318"]]},{"id":"fa130104.89d63","type":"debug","z":"23de4685.9f2bca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":180,"wires":[]},{"id":"6201ccd0.14bee4","type":"json","z":"23de4685.9f2bca","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":600,"wires":[["b50af295.4deeb"]]},{"id":"9f1b9a0e.731c08","type":"debug","z":"23de4685.9f2bca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":720,"wires":[]},{"id":"da4d3a4e.d3d708","type":"debug","z":"23de4685.9f2bca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1000,"wires":[]},{"id":"da52db3e.2e60e8","type":"change","z":"23de4685.9f2bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1040,"wires":[["da4d3a4e.d3d708"]]},{"id":"cc71e399.0f93c","type":"http in","z":"23de4685.9f2bca","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1080,"wires":[["5f1a0419.8998bc"]]},{"id":"fe9bf5d1.72f0a8","type":"inject","z":"23de4685.9f2bca","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":940,"wires":[["7a969094.747be"]]},{"id":"cdfaf5fe.53faf8","type":"debug","z":"23de4685.9f2bca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":940,"wires":[]},{"id":"7a969094.747be","type":"change","z":"23de4685.9f2bca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":940,"wires":[["cdfaf5fe.53faf8"]]},{"id":"935cee48.ce442","type":"debug","z":"23de4685.9f2bca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":520,"wires":[]}]