docker/drone1-nodejs/src/nodered/flows_WOUTER-DESKTOP.json
[{"id":"58729d59.e3f414","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"288f740f.cd3f4c","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"840719d9.c443a8","type":"websocket-listener","z":"","path":"/ws/data","wholemsg":"false"},{"id":"bfee7627.0caca8","type":"http request","z":"58729d59.e3f414","name":"flightpath request","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/api/flightpath","tls":"","proxy":"","authType":"basic","x":310,"y":380,"wires":[["ad833d76.35b88"]]},{"id":"a89cdd27.42c12","type":"http response","z":"58729d59.e3f414","name":"","statusCode":"200","headers":{},"x":640,"y":360,"wires":[]},{"id":"ad833d76.35b88","type":"switch","z":"58729d59.e3f414","name":"","property":"statuscode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":380,"wires":[["a89cdd27.42c12","dad1c453.66e648"],["7867affa.c0cd1"]]},{"id":"28f84a5c.a65906","type":"http in","z":"58729d59.e3f414","name":"","url":"astar","method":"post","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["bfee7627.0caca8"]]},{"id":"7867affa.c0cd1","type":"http response","z":"58729d59.e3f414","name":"","statusCode":"500","headers":{},"x":640,"y":400,"wires":[]},{"id":"31e5b6c3.c310aa","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"{\"waypoints\":[{\"x\":1000,\"y\":1000,\"scan\":false},{\"x\":1000,\"y\":10000,\"scan\":false},{\"x\":10000,\"y\":20000,\"scan\":false}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":320,"wires":[["dad1c453.66e648"]]},{"id":"c294d716.6b40e8","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/moveto","qos":"1","retain":"","broker":"288f740f.cd3f4c","x":840,"y":320,"wires":[]},{"id":"dad1c453.66e648","type":"function","z":"58729d59.e3f414","name":"setvariabelen","func":"var waypoints = flow.get('waypoints') || {};\nvar moveteller = 0;\nvar destination = flow.get(\"destination\") || {};\n\nflow.set('waypoints',msg.payload);\nmsg.payload = flow.get('waypoints').waypoints[moveteller++]\nflow.set(\"destination\", msg.payload);\nflow.set('moveteller', moveteller);\n//reset want nieuwe coo om naartoe te gaan\nflow.set('stop',false);\nflow.set('scanning', false);\nflow.set('arrived', false);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["c294d716.6b40e8"]]},{"id":"a9374563.3b7d18","type":"function","z":"58729d59.e3f414","name":"radius - arrived?","func":"var stop = flow.get('stop') || false;\nvar moveteller = flow.get('moveteller');\nvar diffX = Math.abs(msg.payload.x - flow.get('destination').x);\nvar diffY = Math.abs(msg.payload.y - flow.get('destination').y);\nvar scan = flow.get('destination').scan;\n\n//enkel in de eerste if moet hij checken om te scannen\nif(stop === false && (diffX <= 0.1 && diffY <= 0.1)) {\n    //toegekomen dus eerst checken of hij moet scannen voor hij verder gaat\n    //wnr niet moet gescant worden, zoals anders\n    flow.set('arrived', true);\n    if(scan === false) {\n        if(moveteller < flow.get('waypoints').waypoints.length) {\n            msg.payload = flow.get('waypoints').waypoints[moveteller++];\n            flow.set('destination',msg.payload);\n        }\n        else {\n            //positie om terug te keren\n            moveteller -= 2;\n            stop = true;\n        }\n    }\n    //wnr wel moet gescant worden, wordt de volgende positie ingesteld na de scan\n    else {\n        flow.set('scanning',scan);\n    }\n}\nif(stop === true && (diffX <= 0.1 && diffY <= 0.1)) {\n    if(moveteller >= 0) {\n        msg.payload = flow.get('waypoints').waypoints[moveteller--];\n        flow.set('destination', msg.payload);\n    }\n    else {\n        // hier zal een commando komen om de drone te laten landen, anders gaat hij verder gaan in een loop want stop komt op false\n        stop = false;\n    }\n}\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\n//flow.set('diffX', diffX);\n//flow.set('diffY', diffY);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["284c1bb7.84a254","f210b138.be625","9266606.caa91a","6599113d.f9de2","2666a096.8d5d3","8b308992.130308","458216bc.aa4688","34842448.be230c"]]},{"id":"5906ec56.67a284","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/moveto","qos":"","retain":"","broker":"288f740f.cd3f4c","x":1300,"y":460,"wires":[]},{"id":"df6f8c5e.dd4b3","type":"json","z":"58729d59.e3f414","name":"","property":"payload","action":"","pretty":false,"x":450,"y":500,"wires":[["a9374563.3b7d18"]]},{"id":"2c759955.0cff16","type":"switch","z":"58729d59.e3f414","name":"scanning?","property":"scanning","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":500,"wires":[["df6f8c5e.dd4b3"]]},{"id":"284c1bb7.84a254","type":"switch","z":"58729d59.e3f414","name":"","property":"scanning","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":500,"wires":[["17c1a496.45058b"],["feaa73f5.293b9"]]},{"id":"feaa73f5.293b9","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/scanner","qos":"1","retain":"","broker":"288f740f.cd3f4c","x":960,"y":540,"wires":[]},{"id":"97978a83.4b7b88","type":"comment","z":"58729d59.e3f414","name":"","info":"Eerst moet hij de juiste scangegevens doorsturen naar de drone\nEenmaal gescant, moeten de juiste gegevens in de databank worden opgeslaan (API endpoint)\n-moet nog gebeuren-","x":220,"y":560,"wires":[]},{"id":"f9df3521.cc1298","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":620,"wires":[]},{"id":"f210b138.be625","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"destination","pt":"msg","to":"destination","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["5b0f75ed.57054c","e779f46e.a54638"]]},{"id":"9266606.caa91a","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"moveteller","pt":"msg","to":"moveteller","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":700,"wires":[["16d62b56.2b1375"]]},{"id":"6599113d.f9de2","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"stop","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":740,"wires":[["e2f70c26.ce608"]]},{"id":"2666a096.8d5d3","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"waypoints","pt":"msg","to":"waypoints","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":780,"wires":[["6aabf53d.aaa4cc"]]},{"id":"8b308992.130308","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"diffX","pt":"msg","to":"diffX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":820,"wires":[["72de0bf5.928fa4"]]},{"id":"5b0f75ed.57054c","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":620,"wires":[]},{"id":"e779f46e.a54638","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"destination","targetType":"msg","x":1080,"y":660,"wires":[]},{"id":"16d62b56.2b1375","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moveteller","targetType":"msg","x":1080,"y":700,"wires":[]},{"id":"e2f70c26.ce608","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stop","targetType":"msg","x":1060,"y":740,"wires":[]},{"id":"6aabf53d.aaa4cc","type":"debug","z":"58729d59.e3f414","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"waypoints","targetType":"msg","x":1080,"y":780,"wires":[]},{"id":"72de0bf5.928fa4","type":"debug","z":"58729d59.e3f414","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffX","targetType":"msg","x":1060,"y":820,"wires":[]},{"id":"458216bc.aa4688","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"diffY","pt":"msg","to":"diffY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":860,"wires":[["52ff6acb.f3d904"]]},{"id":"52ff6acb.f3d904","type":"debug","z":"58729d59.e3f414","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"diffY","targetType":"msg","x":1060,"y":860,"wires":[]},{"id":"34842448.be230c","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"scan","pt":"msg","to":"scanning","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":900,"wires":[["a04e96c7.452128"]]},{"id":"a04e96c7.452128","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"scan","targetType":"msg","x":1060,"y":900,"wires":[]},{"id":"cd076875.955f18","type":"mqtt in","z":"58729d59.e3f414","name":"","topic":"drone/scanned","qos":"1","datatype":"auto","broker":"288f740f.cd3f4c","x":100,"y":620,"wires":[["2f826886.67bed8"]]},{"id":"2f826886.67bed8","type":"function","z":"58729d59.e3f414","name":"next destination","func":"var moveteller = flow.get('moveteller');\nvar stop = flow.get('stop');\n\nif(moveteller < flow.get('waypoints').waypoints.length) {\n    msg.payload = flow.get('waypoints').waypoints[moveteller++];\n    flow.set('destination',msg.payload);\n}\nelse {\n    //positie om terug te keren\n    moveteller -= 2;\n    stop = true;\n}\n\nflow.set('moveteller', moveteller);\nflow.set('stop', stop);\nflow.set('scanning', false);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["f9df3521.cc1298"]]},{"id":"72ed8121.5ef3b","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":460,"wires":[["5906ec56.67a284"]]},{"id":"17c1a496.45058b","type":"switch","z":"58729d59.e3f414","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":460,"wires":[["72ed8121.5ef3b"]]},{"id":"f086392b.63d5d8","type":"mqtt in","z":"58729d59.e3f414","name":"","topic":"drone/battery","qos":"1","datatype":"auto","broker":"288f740f.cd3f4c","x":370,"y":1160,"wires":[["9a527a5d.070cf8"]]},{"id":"95ed2ce5.bf985","type":"mqtt in","z":"58729d59.e3f414","name":"","topic":"drone/position","qos":"2","datatype":"json","broker":"288f740f.cd3f4c","x":90,"y":760,"wires":[["8342ebf9.2a28a8"]]},{"id":"bdb9f9b1.e803d8","type":"mqtt in","z":"58729d59.e3f414","name":"","topic":"drone/acceleration","qos":"1","datatype":"auto","broker":"288f740f.cd3f4c","x":350,"y":1040,"wires":[["9a527a5d.070cf8"]]},{"id":"318fb634.855f0a","type":"mqtt in","z":"58729d59.e3f414","name":"","topic":"drone/speed","qos":"1","datatype":"auto","broker":"288f740f.cd3f4c","x":370,"y":1080,"wires":[["9a527a5d.070cf8"]]},{"id":"4dbbb383.cdb86c","type":"mqtt in","z":"58729d59.e3f414","name":"","topic":"drone/orientation","qos":"1","datatype":"auto","broker":"288f740f.cd3f4c","x":360,"y":1120,"wires":[["9a527a5d.070cf8"]]},{"id":"192c2ecb.16feb1","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["1fd35c97.6a03c3"]]},{"id":"1fd35c97.6a03c3","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/speed","qos":"","retain":"","broker":"288f740f.cd3f4c","x":290,"y":200,"wires":[]},{"id":"b3b46d6a.e2842","type":"function","z":"58729d59.e3f414","name":"convertPayload","func":"let subs = global.get('subscriptions') || {};\nmsg.subs = subs;\n\nlet properties = {};\n\nif(Object.keys(subs).length) {\n    for (let key in subs){\n        if(subs[key] === true)\n            properties[key] = flow.get('drone/' + key);\n    }\n}\nproperties['radius'] = flow.get('drone/radius');\n\nlet position = subs['position'] ? flow.get('drone/position') : [0, 0, 0];\n\nlet geoJSON = {\n            \"type\": \"FeatureCollection\",\n            \"features\": [{\n                \"type\": \"Feature\",\n                \"properties\": properties,\n                \"geometry\": {\n                    \"type\": \"Point\",\n                    \"coordinates\": [position.x, position.y, position.z]\n                }\n            }]\n        };\n        \nmsg.payload = geoJSON;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1040,"wires":[["4e5c32e9.17ea4c","4e9d8a0b.0360e4"]]},{"id":"d66e542.f59e5a8","type":"function","z":"58729d59.e3f414","name":"store","func":"flow.set(msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1040,"wires":[["b3b46d6a.e2842"]]},{"id":"68d505ac.a6d0cc","type":"inject","z":"58729d59.e3f414","name":"","topic":"battery","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["b470e9a3.d20628"]]},{"id":"b470e9a3.d20628","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/battery","qos":"","retain":"","broker":"288f740f.cd3f4c","x":290,"y":260,"wires":[]},{"id":"c452aa32.29fdd8","type":"http in","z":"58729d59.e3f414","name":"","url":"/data","method":"put","upload":false,"swaggerDoc":"","x":70,"y":1380,"wires":[["a5c091ac.2013a"]]},{"id":"a5c091ac.2013a","type":"function","z":"58729d59.e3f414","name":"specifySubs","func":"let sub = global.get(\"subscriptions\") || {};\nfor(let key in msg.payload){\n    console.log(key);\n    if(msg.payload[key] == true)\n        sub[key] = true;\n    else sub[key] = false;\n    \n}\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1380,"wires":[["22d335fc.543a0a"]]},{"id":"a1ddc580.fdc028","type":"http response","z":"58729d59.e3f414","name":"","statusCode":"200","headers":{},"x":740,"y":1420,"wires":[]},{"id":"9bb2c93f.c38b98","type":"function","z":"58729d59.e3f414","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nglobal.set(\"subscriptions\", sub);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":1460,"wires":[["22d335fc.543a0a"]]},{"id":"4e5c32e9.17ea4c","type":"websocket out","z":"58729d59.e3f414","name":"","server":"840719d9.c443a8","client":"","x":1130,"y":1040,"wires":[]},{"id":"244be7e4.26a1b8","type":"http in","z":"58729d59.e3f414","name":"","url":"/data/all","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1460,"wires":[["9bb2c93f.c38b98"]]},{"id":"e239cb10.7a1c68","type":"http in","z":"58729d59.e3f414","name":"","url":"/data/none","method":"put","upload":false,"swaggerDoc":"","x":90,"y":1500,"wires":[["3d5117f7.095ee8"]]},{"id":"3d5117f7.095ee8","type":"function","z":"58729d59.e3f414","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1500,"wires":[["22d335fc.543a0a"]]},{"id":"22d335fc.543a0a","type":"function","z":"58729d59.e3f414","name":"generatePayload","func":"let sub = global.get(\"subscriptions\") || {};\n\nfor(let key of Object.keys(sub)){\n    msg.payload[key] = sub[key];\n}\n//msg.payload = flow.get(\"drone/\" + msg.req.query);\nmsg.subs = global.subscriptions;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1420,"wires":[["1bceeca6.d1b453","a1ddc580.fdc028"]]},{"id":"614224fe.1ed04c","type":"inject","z":"58729d59.e3f414","name":"DrukOpDezeKnopWouter!!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":100,"wires":[["39ed2e70.451ac2"]]},{"id":"6f108e59.946c8","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":140,"wires":[["7010424e.6b81cc"]]},{"id":"39ed2e70.451ac2","type":"function","z":"58729d59.e3f414","name":"setAllSubs","func":"let sub = global.get(\"subscriptions\") || {};\nsub.acceleration = true;\nsub.speed = true;\nsub.orientation = true;\nsub.position = true;\nsub.battery = true;\nsub.radius = true;\nglobal.set(\"subscriptions\", sub);\n","outputs":1,"noerr":0,"x":1170,"y":100,"wires":[[]]},{"id":"7010424e.6b81cc","type":"function","z":"58729d59.e3f414","name":"clearSubs","func":"global.set(\"subscriptions\", {});\n","outputs":1,"noerr":0,"x":1160,"y":140,"wires":[[]]},{"id":"7485fa7b.7cdf74","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":180,"wires":[["5170a6ac.78c8e8"]]},{"id":"5170a6ac.78c8e8","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/orientation","qos":"","retain":"","broker":"288f740f.cd3f4c","x":670,"y":140,"wires":[]},{"id":"90503b6b.ba9a68","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"290","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":140,"wires":[["5170a6ac.78c8e8"]]},{"id":"9f668ebc.ed81","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":100,"wires":[["5170a6ac.78c8e8"]]},{"id":"f7f87ff1.a5a2b","type":"mqtt out","z":"58729d59.e3f414","name":"","topic":"drone/position","qos":"","retain":"","broker":"288f740f.cd3f4c","x":300,"y":120,"wires":[]},{"id":"d0a0bb70.ac5bd8","type":"inject","z":"58729d59.e3f414","name":"1000:0:0","topic":"","payload":"{ \"x\":10000, \"y\":0, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["f7f87ff1.a5a2b"]]},{"id":"c243f5ca.7401a8","type":"inject","z":"58729d59.e3f414","name":"1000:1000:0","topic":"","payload":"{ \"x\":1000, \"y\":1000, \"z\":0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["f7f87ff1.a5a2b"]]},{"id":"92f91b00.a1c0d8","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1260,"wires":[["1571512b.cd32cf"]]},{"id":"d6c6f70d.219c78","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1300,"wires":[["1571512b.cd32cf"]]},{"id":"56c6b426.9c2d4c","type":"http in","z":"58729d59.e3f414","name":"","url":"/drone","method":"put","upload":false,"swaggerDoc":"","x":80,"y":1220,"wires":[["69b328b.53517d8"]]},{"id":"1571512b.cd32cf","type":"function","z":"58729d59.e3f414","name":"drone/radius","func":"msg.topic = 'drone/radius';\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1260,"wires":[["b299bd43.35146","d66e542.f59e5a8"]]},{"id":"69b328b.53517d8","type":"template","z":"58729d59.e3f414","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"json","x":260,"y":1220,"wires":[["1571512b.cd32cf"]]},{"id":"b299bd43.35146","type":"debug","z":"58729d59.e3f414","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":1260,"wires":[]},{"id":"9a527a5d.070cf8","type":"json","z":"58729d59.e3f414","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":1040,"wires":[["d66e542.f59e5a8"]]},{"id":"d36a73f7.6fd6e","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1340,"wires":[]},{"id":"1bceeca6.d1b453","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1340,"wires":[["d36a73f7.6fd6e"]]},{"id":"c3a88616.555198","type":"http in","z":"58729d59.e3f414","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1420,"wires":[["22d335fc.543a0a"]]},{"id":"b9f446c3.6a8c98","type":"inject","z":"58729d59.e3f414","name":"checkSubscriptions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":180,"wires":[["a1346de4.e14a9"]]},{"id":"ea813d21.d100a","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":180,"wires":[]},{"id":"a1346de4.e14a9","type":"change","z":"58729d59.e3f414","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"subscriptions","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":180,"wires":[["ea813d21.d100a"]]},{"id":"4e9d8a0b.0360e4","type":"debug","z":"58729d59.e3f414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":1000,"wires":[]},{"id":"3189ebbd.0f6d34","type":"link in","z":"58729d59.e3f414","name":"drone/position","links":["8342ebf9.2a28a8"],"x":155,"y":500,"wires":[["2c759955.0cff16"]]},{"id":"8342ebf9.2a28a8","type":"link out","z":"58729d59.e3f414","name":"","links":["3189ebbd.0f6d34","913b0a48.4f6b78"],"x":235,"y":760,"wires":[]},{"id":"913b0a48.4f6b78","type":"link in","z":"58729d59.e3f414","name":"","links":["8342ebf9.2a28a8"],"x":415,"y":980,"wires":[["9a527a5d.070cf8"]]},{"id":"600d0923.1b6288","type":"inject","z":"58729d59.e3f414","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.05","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["9cd15db7.c1d21"]]},{"id":"9cd15db7.c1d21","type":"function","z":"58729d59.e3f414","name":"","func":"var x1 = flow.get('x');\nvar y1 = flow.get('y');\nvar z1 = flow.get('z');\n\nvar x2 = x1 + (Math.random() * 100);\nvar y2 = y1 + (Math.random() * 100);\nvar z2 = z1 + (Math.random() * 100);\n\nmsg.payload = { \"x\": x2, \"y\": y2, \"z\": z2 }\n\nif (flow.get('x') >= 30000 || flow.get('y') >= 10000) {\n    flow.set('x', 0);\n    flow.set('y', 0);\n    flow.set('z', 0);\n} else {\n    flow.set('x', x2);\n    flow.set('y', y2);\n    flow.set('z', z2);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":40,"wires":[["f7f87ff1.a5a2b"]]}]